.container {
  max-width: 1420px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: var(--blue);
}

.btn__green {
  display: block;
  width: 100%;
  border: none;
  background: var(--btn);
  border-radius: 100px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--white);
  transition: all 0.3s;
  text-align: center;
}
.btn__green:hover {
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  background: var(--btn-hover);
}
.btn__green:active {
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  background: var(--btn-active);
}
.btn__small {
  padding: 13px 0 14px;
  max-width: 220px;
  font-size: 16px;
}
.btn__big {
  font-size: 18px;
  padding: 26px 0;
  max-width: 340px;
}

.nav {
  background: var(--white);
  padding: 20px 0;
}
.nav__menu {
  display: none;
}
.nav__humburger {
  display: none;
}
.nav .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__logo {
  max-width: 220px;
}
.nav__logo img {
  width: 100%;
}
.nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.nav ul li {
  margin: 0 40px 0 0;
}
.nav ul li:last-child {
  margin: 0;
}
.nav ul a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-blc);
  transition: all 0.3s;
}
.nav ul a:hover {
  color: var(--blue);
}
.nav__phone .btn__small {
  padding: 13px 40px 14px;
  margin: 5px 0 0;
}
.nav__phone p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: var(--text-blc);
}

.header {
  padding: 250px 0;
  position: relative;
  background: url("../img/header.jpg") center no-repeat;
  background-size: cover;
}
.header__row {
  transform: translateY(-50%);
}
.header__row .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: stretch;
}
.header__item {
  background: var(--white);
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  border-radius: 15px;
  padding: 20px;
}
.header__item_img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid var(--blue);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item_img img {
  width: 50px;
}
.header__item p {
  margin: 10px 0 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: var(--text-blc);
}
.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__wrapper h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
  max-width: 900px;
}
.header__wrapper p {
  margin: 20px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
  max-width: 680px;
}
.header__wrapper .btn__green {
  margin: 30px auto 0;
}

.price-slider {
  padding: 0px 0 120px;
}
.price-slider__slider {
  margin: 40px 0px 0;
}
.price-slider .price-item {
  padding: 0 10px;
}
.price-slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 150px;
  transform: translate(50%, -50%);
  right: 10px;
  background: var(--blue);
  font-size: 0;
  border: none;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.price-slider .slick-arrow::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/slider_arrow.svg") center no-repeat;
  background-size: contain;
}
.price-slider .slick-arrow:hover {
  background: var(--slider-hover);
}
.price-slider .slick-arrow:active {
  background: var(--slider-active);
}
.price-slider .slick-prev {
  transform: translate(-50%, -50%);
  right: auto;
  left: 10px;
}
.price-slider .slick-prev::before {
  transform: rotate(180deg);
}
.price-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0;
}
.price-slider .slick-dots li {
  margin: 0 5px;
}
.price-slider .slick-dots button {
  padding: 0;
  border-radius: 100%;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid var(--dots);
  background: transparent;
  transition: all 0.3s;
}
.price-slider .slick-dots button:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.price-slider .slick-dots .slick-active button {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.price-slider .btn__green {
  margin: 30px auto 0;
}

.price-item {
  width: 100%;
  outline: none !important;
}
.price-item:hover .price-item__name {
  color: var(--blue);
}
.price-item:hover .price-item__prev img {
  transform: scale(1.1);
}
.price-item__prev {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}
.price-item img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.3s;
  z-index: -1;
}
.price-item__row {
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: start;
}
.price-item__name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-blc);
  transition: all 0.3s;
}
.price-item__price {
  margin: 5px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-grey);
}
.price-item__link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: var(--btn);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.price-item__link:hover {
  background: var(--btn-hover);
}
.price-item__link:active {
  background: var(--btn-active);
}

.input__text {
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-blc);
  padding: 0 0 9px;
  border-bottom: 1px solid var(--text-grey);
  display: block;
  width: 100%;
}
.input__text:not(:-moz-placeholder-shown) {
  border-bottom: 1px solid var(--blue);
}
.input__text:hover, .input__text:not(:placeholder-shown), .input__text:focus {
  border-bottom: 1px solid var(--blue);
}
.input__file {
  position: relative;
  z-index: 2;
}
.input__file_del {
  display: none;
}
.input__file_result {
  margin: 11px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.input__file_result p {
  position: relative;
  margin: 0 13px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #969696;
}
.input__file_result span {
  position: absolute;
  top: -2px;
  right: -12px;
  width: 8px;
  height: 8px;
  background: url("../img/close_gr.svg") center no-repeat;
  background-size: contain;
  cursor: pointer;
  display: block;
  z-index: 1;
}
.input__file_label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input__file_label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  background: url("../img/file.svg") center no-repeat;
  background-size: contain;
}
.input__file input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
}
.input__file p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--text-grey);
}
.input__error {
  position: relative;
}
.input__error span {
  display: block;
  position: absolute;
  right: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--red);
  bottom: 10px;
  transition: all 0.3s;
}
.input__error input {
  border-bottom: 1px solid var(--red);
}
.input__error input::-moz-placeholder {
  color: var(--red);
}
.input__error input::placeholder {
  color: var(--red);
}
.input__error input:not(:-moz-placeholder-shown) + span {
  opacity: 0;
}
.input__error input:not(:placeholder-shown) + span {
  opacity: 0;
}

.form {
  padding: 80px 0;
  background: url("../img/form-bg.jpg") center repeat;
  background-size: 100% auto;
}
.form__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 120px;
  background: var(--white);
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  border-radius: 30px;
}
.form__subtitle {
  margin: 20px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: var(--text-blc);
}
.form__wrapper {
  margin: 60px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.form .btn__green {
  margin: 30px auto 0;
}
.form .input__file {
  margin: 20px 0 0;
}
.form__text {
  margin: 20px auto 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--text-blc);
  max-width: 290px;
}
.form__text a {
  color: var(--blue);
}

.about {
  padding: 120px 0 0;
}
.about__wrapper {
  margin: 40px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.about__info {
  background: var(--about);
  padding: 40px 20px 40px 40px;
  border-radius: 35px 0 0 35px;
  display: grid;
  grid-template-columns: 100%;
  gap: 23px;
  position: relative;
}
.about__info p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-blc);
}
.about__info::before {
  content: "";
  display: block;
  width: 35px;
  height: 100%;
  background: var(--about);
  position: absolute;
  z-index: -1;
  left: 100%;
  top: 0;
  border-radius: 0 35px 35px 0;
}
.about__prev img {
  width: 100%;
  display: block;
  border-radius: 30px;
}

.work-slider {
  padding: 120px 0 0;
}
.work-slider__slider {
  margin: 40px 0 0;
}
.work-slider .price-item {
  padding: 0 10px;
}
.work-slider .price-item img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 95px;
  transform: translateX(50%);
  right: 10px;
  background: var(--blue);
  font-size: 0;
  border: none;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.work-slider .slick-arrow::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/slider_arrow.svg") center no-repeat;
  background-size: contain;
}
.work-slider .slick-arrow:hover {
  background: var(--slider-hover);
}
.work-slider .slick-arrow:active {
  background: var(--slider-active);
}
.work-slider .slick-prev {
  transform: translateX(-50%);
  right: auto;
  left: 10px;
}
.work-slider .slick-prev::before {
  transform: rotate(180deg);
}
.work-slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0;
}
.work-slider .slick-dots li {
  margin: 0 5px;
}
.work-slider .slick-dots button {
  padding: 0;
  border-radius: 100%;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid var(--dots);
  background: transparent;
  transition: all 0.3s;
}
.work-slider .slick-dots button:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.work-slider .slick-dots .slick-active button {
  background: var(--blue);
  border: 1px solid var(--blue);
}

.stage {
  padding: 120px 0 0;
}
.stage__wrapper {
  margin: 58px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 58px;
}
.stage__title {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 10px;
  align-items: center;
}
.stage__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px dashed var(--dots);
}
.stage__num {
  width: 70px;
  height: 70px;
  background: url("../img/stage.svg") center no-repeat;
  background-size: contain;
  position: relative;
}
.stage__num p {
  position: absolute;
  top: -18px;
  left: -2px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  background: radial-gradient(83.59% 83.59% at 52% 16.41%, #307FE2 0%, #94E3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.stage__info {
  margin: 20px 0 0;
}
.stage__name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-blc);
}
.stage__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-grey);
  margin: 10px 0 0;
}

.comment {
  padding: 120px 0 100px;
}
.comment__slider {
  margin: 40px -10px 0;
  width: calc(100% + 20px);
}
.comment .slick-slide {
  padding: 0 10px 60px;
}
.comment .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 30px);
  transform: translate(50%, -50%);
  right: 10px;
  background: var(--blue);
  font-size: 0;
  border: none;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.comment .slick-arrow::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/slider_arrow.svg") center no-repeat;
  background-size: contain;
}
.comment .slick-arrow:hover {
  background: var(--slider-hover);
}
.comment .slick-arrow:active {
  background: var(--slider-active);
}
.comment .slick-prev {
  transform: translate(-50%, -50%);
  right: auto;
  left: 10px;
}
.comment .slick-prev::before {
  transform: rotate(180deg);
}
.comment .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(100% - 30px);
  width: 100%;
}
.comment .slick-dots li {
  margin: 0 5px;
}
.comment .slick-dots button {
  padding: 0;
  border-radius: 100%;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid var(--dots);
  background: transparent;
  transition: all 0.3s;
}
.comment .slick-dots button:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.comment .slick-dots .slick-active button {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.comment__item {
  background: var(--white);
  border-radius: 15px;
  padding: 64px 30px 30px;
  position: relative;
  border: 1px solid #D7E3F2;
}
.comment__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 30px;
  width: 27px;
  height: 30px;
  background: url("../img/comment.svg") center no-repeat;
}
.comment__text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-blc);
}
.comment__name {
  margin: 10px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-grey);
}

.quest {
  padding: 120px 0;
}
.quest__wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  margin: 40px 0 0;
}
.quest__block {
  background: var(--about);
  border-radius: 25px;
}
.quest__name {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 32px;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.quest__name::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/quest_arrow.svg") center no-repeat;
  background-size: contain;
}
.quest__name p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-blc);
}
.quest__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-blc);
  padding: 0 20px 20px;
  display: none;
}
.quest__block.active .quest__name {
  padding-bottom: 10px;
}
.quest__block.active .quest__name::after {
  transform: rotate(180deg);
}
.quest__block.active .quest__info {
  display: block;
}

.contact {
  position: relative;
  z-index: 1;
  padding: 80px 0;
}
.contact iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.contact__block {
  padding: 40px;
  max-width: 460px;
  margin: 0 auto 0 0;
  background: var(--blue);
  border-radius: 35px;
  z-index: 1;
  position: relative;
}
.contact h2 {
  color: var(--white);
  text-align: left;
}
.contact ul {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  max-width: 301px;
}
.contact__name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
}
.contact__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
  opacity: 0.8;
}

.footer {
  background: url("../img/footer_bg.jpg") center repeat;
  background-size: 100% auto;
  padding: 40px 0;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 60px;
  align-items: start;
}
.footer__info img {
  width: 100%;
  max-width: 220px;
}
.footer__info ul {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  margin: 20px 0 0;
  max-width: 301px;
}
.footer__info_name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
}
.footer__info_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
  opacity: 0.8;
}
.footer__list p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
}
.footer__list ul {
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.footer__list ul a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
  opacity: 0.8;
  transition: all 0.3s;
}
.footer__list ul a:hover {
  color: var(--blue);
}
.footer__nav {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.footer__nav a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
  transition: all 0.3s;
}
.footer__nav a:hover {
  color: var(--blue);
}
.footer__contact_name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
  text-align: right;
}
.footer__contact_text {
  margin: 10px 0 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
  text-align: right;
}
.footer__soc {
  margin: 20px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__soc a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--about);
  transition: all 0.3s;
  margin: 0 20px 0 0;
}
.footer__soc a:last-child {
  margin: 0;
}
.footer__soc a svg path {
  transition: all 0.3s;
}
.footer__soc a:hover {
  background: var(--blue);
}
.footer__soc a:hover svg path {
  fill: var(--white);
}
.footer__row {
  margin: 78px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__row p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
}
.footer__row a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--btn);
  border-bottom: 1px solid var(--btn);
}

@media (max-width: 1500px) {
  .price-slider .slick-arrow {
    transform: translateY(-50%);
    right: 20px;
  }
  .price-slider .slick-prev {
    left: 20px;
  }
  .work-slider .slick-arrow {
    transform: none;
    right: 20px;
  }
  .work-slider .slick-prev {
    left: 20px;
  }
  .comment .slick-arrow {
    transform: translateY(-50%);
    right: 20px;
  }
  .comment .slick-prev {
    left: 20px;
  }
}
@media (max-width: 1300px) {
  .nav__logo {
    max-width: 150px;
  }
  .nav ul a {
    font-size: 14px;
  }
  .nav__phone p {
    font-size: 16px;
  }
  .nav__phone .btn__small {
    padding: 9px 20px;
  }
  .header {
    padding: 214px 0;
  }
  .header__row {
    transform: translateY(-100px);
  }
  .header__row .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .price-slider {
    padding: 0 0 100px;
  }
  .form {
    padding: 60px 0;
  }
  .work-slider {
    padding: 100px 0 0;
  }
  .stage {
    padding: 100px 0 0;
  }
  .comment {
    padding: 100px 0;
  }
  .quest {
    padding: 100px 0;
  }
  .contact {
    padding: 60px 0;
  }
}
@media (max-width: 1024px) {
  .footer__wrapper {
    grid-template-columns: 100%;
    gap: 20px;
    justify-items: center;
  }
  .footer__wrapper p {
    text-align: center;
  }
  .footer__info img {
    margin: 0 auto;
    display: block;
  }
  .footer__list ul {
    justify-items: center;
  }
  .footer__list ul a {
    text-align: center;
    display: block;
  }
  .footer__nav {
    justify-items: center;
  }
  .footer__soc {
    justify-content: center;
  }
  .footer__row {
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    justify-items: center;
  }
  .footer__row p,
  .footer__row a {
    text-align: center;
  }
  .about {
    padding: 100px 0 0;
  }
  .about__wrapper {
    grid-template-columns: 100%;
    gap: 40px;
  }
  .about__prev {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    order: -1;
  }
  .about__info {
    background: transparent;
    padding: 0;
  }
  .about__info::before {
    content: none;
  }
  .nav__logo {
    max-width: 220px;
  }
  .nav ul {
    display: none;
  }
  .nav__phone {
    margin: 0 20px 0 auto;
  }
  .nav__phone .btn__green {
    margin: 0;
    padding: 13px 40px 14px;
  }
  .nav__phone p {
    display: none;
  }
  .nav__humburger {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/humburger.svg") center no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  .nav.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    z-index: 100;
    padding: 0;
  }
  .nav.active .container {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav.active .nav__menu {
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--about);
    flex-direction: column;
  }
  .nav.active .nav__menu p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: var(--blue);
    margin: auto auto 0;
  }
  .nav.active .nav__menu ul {
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
    margin: 40px auto auto;
  }
  .nav.active .nav__menu ul li {
    margin: 0;
  }
  .nav.active .nav__menu ul a {
    text-align: center;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: var(--text-blc);
    display: block;
  }
  .nav.active .nav__menu ul a:hover {
    color: var(--blue);
  }
  .nav.active .nav__humburger {
    background: url("../img/close.svg") center no-repeat;
    background-size: contain;
  }
}
@media (max-width: 768px) {
  .header h1 {
    max-width: 540px;
  }
  .form h2 br {
    display: none;
  }
  .form__container {
    padding: 40px 60px;
  }
  .form__wrapper {
    grid-template-columns: 100%;
    margin: 60px 0 0;
  }
  .form .btn__green {
    max-width: 100%;
  }
  .stage__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .comment__slider {
    margin: 40px -20px 0;
    width: calc(100% + 40px);
  }
  .contact__block {
    max-width: 380px;
  }
}
@media (max-width: 600px) {
  .header__wrapper h1 {
    font-size: 32px;
  }
  .header__wrapper p {
    margin: 10px 0 0;
    font-size: 18px;
  }
  .header__row {
    transform: translateY(-30px);
  }
  .header__row .container {
    grid-template-columns: 100%;
  }
  .price-slider {
    padding: 30px 0 60px;
  }
  h2 {
    font-size: 26px;
  }
  .stage__wrapper {
    display: block;
  }
  .stage__item {
    padding: 20px 0 0;
  }
  .stage .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
  }
  .stage .slick-dots li {
    margin: 0 5px;
  }
  .stage .slick-dots button {
    padding: 0;
    border-radius: 100%;
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 1px solid var(--dots);
    background: transparent;
    transition: all 0.3s;
  }
  .stage .slick-dots button:hover {
    background: var(--blue);
    border: 1px solid var(--blue);
  }
  .stage .slick-dots .slick-active button {
    background: var(--blue);
    border: 1px solid var(--blue);
  }
  .stage__title {
    display: grid;
    grid-template-columns: 1fr 70px 1fr;
  }
  .stage__title::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px dashed var(--dots);
  }
  .contact {
    padding-bottom: 0;
  }
  .contact iframe {
    position: relative;
    height: 100vw;
  }
  .contact__block {
    padding: 30px 20px;
    margin: 0 -20px;
    max-width: none;
    width: calc(100% + 40px);
    border-radius: 0;
  }
  .contact__block p {
    text-align: center;
  }
  .contact__block ul {
    margin: 15px auto 0;
  }
  .contact__block h2 {
    text-align: center;
  }
  .price-item img {
    height: 250px;
  }
  .form__container {
    padding: 30px 20px;
  }
  .nav {
    padding: 10px 0;
  }
  .nav__phone {
    display: none;
  }
  .nav__humburger {
    margin: 0 0 0 auto;
  }
  .nav__logo {
    max-width: 150px;
  }
  .nav.active .container {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .nav.active .nav__menu p {
    font-size: 20px;
  }
  .nav.active .nav__menu ul a {
    font-size: 20px;
  }
  .footer__nav a {
    font-size: 18px;
  }
  .footer__list p {
    font-size: 18px;
  }
  .footer__list a {
    font-size: 16px;
  }
  .footer__row p,
  .footer__row a {
    font-size: 14px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 100;
  overflow-y: scroll;
  padding: 20px;
}
.modal__active {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal__overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0.4;
  z-index: -1;
}
.modal__container {
  padding: 40px;
  z-index: 1;
  background: var(--white);
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  border-radius: 30px;
  margin: auto;
  width: 100%;
  max-width: 700px;
  position: relative;
}
.modal__subtitle {
  margin: 10px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: var(--text-blc);
}
.modal__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 40px 0 0;
}
.modal .btn__green {
  margin: 40px auto 0;
}
.modal__text {
  max-width: 290px;
  margin: 10px auto 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--text-blc);
}
.modal__text a {
  color: var(--blue);
}
.modal__close {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: var(--text-blc);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  right: -14px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal__row {
    margin: 30px 0 0;
    grid-template-columns: 100%;
  }
  .modal__container {
    padding: 30px 20px;
  }
  .modal__close {
    width: 60px;
    height: 60px;
    top: -30px;
    right: -10px;
  }
  .modal .btn__green {
    font-size: 16px;
  }
}
.breadcrumbs {
  padding: 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumbs a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--text-grey);
  transition: all 0.3s;
  margin: 0 4px;
}
.breadcrumbs a:hover {
  color: var(--blue);
}
.breadcrumbs p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--text-blc);
  text-align: center;
}

h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  text-align: center;
  color: var(--blue);
}

.contact__container {
  margin: 40px 0 0;
  position: relative;
  padding: 80px 0;
  z-index: 1;
}
.contact__page {
  padding: 60px 0 0;
}

@media (max-width: 1024px) {
  .contact__container {
    padding: 60px 0;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  .contact__container {
    padding: 0;
    margin: 20px 0 0;
  }
  .contact__page {
    padding: 30px 0 0;
  }
}
.service {
  padding: 60px 0 120px;
}
.service__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 40px 0 0;
}

@media (max-width: 1024px) {
  .service__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .service {
    padding: 30px 0 60px;
  }
  .service__wrapper {
    grid-template-columns: 100%;
    margin: 20px 0 0;
  }
}
.price {
  padding: 60px 0 140px;
}
.price__wrapper {
  margin: 40px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 80px;
}
.price__block {
  display: grid;
  grid-template-columns: 57fr 85fr;
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  border-radius: 30px;
  background: var(--white);
  position: relative;
}
.price__block::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% - 40px);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--about);
  border-radius: 30px;
  z-index: -1;
}
.price__block::after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% - 80px);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dots);
  border-radius: 30px;
  z-index: -2;
}
.price__prev img {
  width: 100%;
  height: 1px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  min-height: 100%;
}
.price__info p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}
.price__info h2 {
  padding: 20px;
  text-align: left;
}
.price__info ul li {
  gap: 20px;
  padding: 23px 20px 23px 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: start;
}
.price__info ul li:nth-child(odd) {
  background: var(--about);
}
.price__name {
  color: vra(--text-blc);
}
.price__text {
  text-align: right;
  color: #307FE2;
}

@media (max-width: 1024px) {
  .price {
    padding: 40px 0 120px;
  }
  .price__block {
    grid-template-columns: 100%;
  }
  .price__prev img {
    height: 400px;
  }
  .price__info h2 {
    text-align: center;
  }
  .price__wrapper {
    gap: 60px;
    margin: 40px 0 0;
  }
}
@media (max-width: 600px) {
  .price {
    padding: 30px 0 80px;
  }
  .price__wrapper {
    margin: 20px 0 0;
    gap: 40px;
  }
  .price__prev img {
    height: 250px;
  }
  .price__info h2 {
    font-size: 20px;
  }
  .price__info ul li {
    padding: 20px;
    grid-template-columns: 100%;
    gap: 5px;
  }
  .price__info ul p {
    text-align: center;
    font-size: 16px;
  }
  .price__block::before {
    width: calc(100% - 20px);
  }
  .price__block::after {
    width: calc(100% - 40px);
  }
}
.work-slider__padding {
  padding: 120px 0;
}

.header-service {
  padding: 30px 0 146px;
  background: url("../img/header-service.jpg") center no-repeat;
  background-size: cover;
}
.header-service .breadcrumbs {
  display: flex;
  justify-content: center;
  padding: 0;
}
.header-service .breadcrumbs a {
  color: var(--about);
}
.header-service .breadcrumbs p {
  color: var(--white);
}
.header-service h1 {
  margin: 74px 0 0;
  color: var(--white);
  font-size: 96px;
}
.header-service__subtitle {
  margin: 10px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
}
.header-service .btn__green {
  margin: 20px auto 0;
}

.need {
  padding: 120px 0 0;
}
.need__btn {
  display: none;
}
.need__btn.active {
  display: block;
}
.need__wrapper {
  margin: 40px 0 0;
}
.need__prev {
  max-width: calc(50% - 20px);
  float: right;
}
.need__prev img {
  height: 605px;
  width: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.need__info {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
  grid-template-rows: auto 1fr;
}
.need__info.active .need__info_text {
  max-height: none;
}
.need__info_text {
  height: 100%;
  overflow: hidden;
  max-height: 605px;
}
.need__info_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-grey);
}
.need__info_text p + p {
  margin: 24px 0 0;
}
.need__row {
  margin: 120px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.need__item {
  background: var(--about);
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  border-radius: 15px;
  padding: 20px;
}
.need__item_img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border: 2px solid var(--blue);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.need__item p {
  margin: 10px 0 0;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: var(--text-blc);
}
.need__block {
  margin: 120px 0 0;
}

@media (max-width: 1024px) {
  .header-service {
    padding: 40px 0 80px;
  }
  .header-service h1 {
    font-size: 64px;
    margin: 60px 0 0;
  }
  .header-service__subtitle {
    margin: 20px auto 0;
    max-width: 530px;
  }
  .work-slider__padding {
    padding: 100px 0;
  }
  .need {
    padding: 100px 0 0;
  }
  .need__wrapper {
    grid-template-columns: 100%;
  }
  .need__info_text {
    max-height: 740px;
  }
  .need__info_text p {
    margin: 20px 0 0;
  }
  .need__info_text p + p {
    margin: 15px 0 0;
  }
  .need__prev {
    order: -1;
    float: none;
    max-width: 100%;
  }
  .need__prev img {
    height: 450px;
  }
  .need__info .btn__green {
    margin: 0 auto;
  }
  .need__row {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0 0;
  }
}
@media (max-width: 600px) {
  .header-service {
    padding: 30px 0 99px;
  }
  .header-service h1 {
    font-size: 32px;
  }
  .header-service__subtitle {
    font-size: 18px;
  }
  .header-service .btn__green {
    font-size: 16px;
    padding: 19px 0;
    margin: 30px auto 0;
  }
  .need {
    padding: 60px 0 0;
  }
  .need__wrapper {
    margin: 20px 0 0;
  }
  .need__prev img {
    height: 250px;
  }
  .need__info_text {
    max-height: 540px;
  }
  .need__info p {
    font-size: 16px;
    margin: 15px 0 0 !important;
  }
  .need__row {
    grid-template-columns: 100%;
    margin: 60px 0 0;
  }
  .need__block {
    margin: 60px 0 0;
  }
}
.factory {
  padding: 60px 0 120px;
}
.factory__container {
  margin: 30px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 120px;
}
.factory__wrapper {
  margin: 30px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 30px;
}
.factory__item img {
  width: 100%;
}
.factory__item p {
  margin: 10px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-grey);
}
.factory__prev {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 15px;
}
.factory__prev img {
  z-index: -1;
  transition: all 0.3s;
}
.factory__prev img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .factory {
    padding: 40px 0 100px;
  }
  .factory__container {
    margin: 30px 0 0;
    gap: 100px;
  }
  .factory__wrapper {
    gap: 30px;
    grid-template-columns: 100%;
  }
}
@media (max-width: 600px) {
  .factory {
    padding: 40px 0 60px;
  }
  .factory h2 {
    font-size: 20px;
  }
  .factory__item p {
    font-size: 16px;
  }
  .factory__container {
    margin: 20px 0 0;
    gap: 60px;
  }
}
.error {
  padding: 21px 0 73px;
}
.error__prev {
  position: relative;
  max-width: 679px;
  margin: 0 auto;
}
.error__prev img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.error__subtitle {
  margin: 20px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--text-blc);
}
.error .btn__green {
  margin: 60px auto 0;
}

@media (max-width: 600px) {
  .error {
    padding: 30px 0 60px;
  }
  .error__prev {
    max-width: 280px;
  }
  .error__subtitle {
    margin: 10px 0 0;
    font-size: 16px;
  }
  .error .btn__green {
    font-size: 16px;
    padding: 19px 20px;
    margin: 30px auto 0;
  }
}
.thanks {
  padding: 30px 0 256px;
  background: url("../img/thanks.jpg") center no-repeat;
  background-size: cover;
  background-position: 68% top;
}
.thanks .breadcrumbs {
  display: flex;
  justify-content: center;
}
.thanks h1 {
  margin: 209px 0 0;
}
.thanks__subtitle {
  margin: 20px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--text-blc);
  text-align: center;
}
.thanks .btn__green {
  margin: 60px auto 0;
}

@media (max-width: 1024) {
  .thanks {
    padding: 20px 0 271px;
  }
  .thanks h1 {
    margin: 234px 0 0;
  }
}
@media (max-width: 768px) {
  .thanks {
    background: url("../img/thanks_table.jpg") center no-repeat;
    background-size: cover;
    background-position: right top;
  }
}
@media (max-width: 600px) {
  .thanks {
    padding: 20px 0 125px;
  }
  .thanks h1 {
    margin: 95px 0 0;
  }
  .thanks__subtitle {
    font-size: 16px;
  }
  .thanks .btn__green {
    margin: 20px auto 0;
    font-size: 16px;
    padding: 19px;
  }
}
@media (max-width: 425px) {
  .thanks {
    background: url("../img/thanks_mob.jpg") center no-repeat;
    background-size: cover;
    background-position: right top;
  }
}
.policy {
  padding: 60px 0 120px;
}
.policy__subtitle {
  margin: 30px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-blc);
}
.policy__wrapper {
  margin: 20px 0 0;
}
.policy h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-blc);
  margin: 30px 0 0;
}
.policy ul li {
  display: grid;
  grid-template-columns: 27px 1fr;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-blc);
}
.policy ul li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  margin: 12px auto 0;
  background: var(--text-blc);
  border-radius: 100%;
}

@media (max-width: 720px) {
  .policy h1 {
    font-size: 26px;
  }
  .policy ul li {
    font-size: 16px;
    grid-template-columns: 24px 1fr;
  }
  .policy ul li::before {
    width: 2px;
    height: 2px;
    margin: 10px auto 0;
  }
  .policy h3 {
    font-size: 18px;
  }
}
.page-arrow {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 377px;
  right: 62px;
  z-index: 15;
  background: var(--btn);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.page-arrow.active {
  opacity: 1;
  pointer-events: auto;
}
.page-arrow:hover {
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  background: var(--btn-hover);
}
.page-arrow:active {
  box-shadow: 0px 97px 39px rgba(166, 166, 166, 0.01), 0px 54px 33px rgba(166, 166, 166, 0.05), 0px 24px 24px rgba(166, 166, 166, 0.09), 0px 6px 13px rgba(166, 166, 166, 0.1), 0px 0px 0px rgba(166, 166, 166, 0.1);
  background: var(--btn-active);
}

@media (max-width: 768px) {
  .page-arrow {
    bottom: 50px;
    right: 9px;
  }
}
.mfp-content {
  max-width: 1420px !important;
  width: calc(100% - 120px);
  position: relative;
}

.mfp-title {
  display: none;
}

button.mfp-close {
  position: absolute;
  top: -40px !important;
  right: -40px !important;
  border-radius: 100%;
  background: var(--text-blc) !important;
  width: 80px !important;
  height: 80px !important;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  font-size: 0;
}
button.mfp-close::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/modal-close.svg") center no-repeat;
  background-size: contain;
}

.mfp-img {
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  height: calc(100vh - 120px) !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

button.mfp-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: var(--blue) !important;
  font-size: 0;
  border: none;
  z-index: 4;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: all 0.3s;
  opacity: 1;
  margin: 0 !important;
  z-index: 10000;
}
button.mfp-arrow::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/slider_arrow.svg") center no-repeat;
  background-size: contain;
  margin: 0 !important;
  border: none !important;
  margin: auto !important;
  opacity: 1;
  left: auto;
  top: auto;
  position: relative;
}
button.mfp-arrow::after {
  content: none !important;
}
button.mfp-arrow:hover {
  background: var(--slider-hover) !important;
}
button.mfp-arrow:active {
  background: var(--slider-active) !important;
}
button.mfp-arrow.mfp-arrow-left {
  left: auto;
  right: calc(50% + 680px);
}
button.mfp-arrow.mfp-arrow-left::before {
  transform: rotate(180deg);
}
button.mfp-arrow.mfp-arrow-right {
  right: auto;
  left: calc(50% + 680px);
}

.mfp-container {
  padding: 0 !important;
}

@media (max-width: 1540px) {
  button.mfp-arrow.mfp-arrow-right {
    right: 30px;
    left: auto;
  }
  button.mfp-arrow.mfp-arrow-left {
    right: auto;
    left: 30px;
  }
}
@media (max-width: 800px) {
  button.mfp-close {
    position: absolute !important;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  button.mfp-arrow {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .mfp-content {
    width: calc(100% - 40px);
  }
  .mfp-img {
    height: calc(100vh - 80px) !important;
  }
  button.mfp-close {
    width: 60px !important;
    height: 60px !important;
    top: -26px !important;
    right: -10px !important;
  }
}
@media (max-width: 500px) {
  .work-slider h2 {
    max-width: 320px;
    margin: 0 auto;
  }
  .form h2 {
    max-width: 240px;
    margin: 0 auto;
  }
  .form__subtitle {
    max-width: 200px;
    margin: 10px auto 0;
  }
}
.header h1 br {
  display: none;
}

@media (max-width: 425px) {
  .header h1 br {
    display: block;
  }
}
a {
  outline: none !important;
}/*# sourceMappingURL=style.css.map */