body
    background: #F1F1F2
    position: relative
    min-height: 100vh
.container
    max-width: 1310px
    margin: 0 auto
    box-sizing: content-box
    padding: 0 15px 
.btn
    &__orange
        display: block
        background: #F94E32
        border-radius: 10px
        display: block
        display: flex
        justify-content: center
        align-items: center
        font-family: 'Onest'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 110%
        color: #FFFFFF
        width: 100%
        padding: 15px
        border: none
        transition: all .3s
        &:hover
            background: #FF765A
        &:active
            background: #D1260A

.nav
    padding: 20px 0 0
    &__hamburger
        display: none
    &__wrapper
        display: grid
        grid-template-columns: 1fr auto auto auto auto auto auto 1fr
        gap: 10px
    &__logo
        padding: 15px 20px
        background: #FFFFFF
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
        img
            display: block
            margin: auto
            width: 100%
    &__link
        background: #FFFFFF
        border-radius: 10px
        display: block
        padding: 24px 20px
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 130%
        color: #333333
        transition: all .3s
        &:hover
            background: #F94E32
            color: #FFFFFF
    &__phone
        img
            width: 24px

h1
    font-family: 'Onest'
    font-style: normal
    font-weight: 700
    font-size: 72px
    line-height: 100%
    color: #333333
    
.header
    padding: 11px 0 0
    &__wrapper
        background: linear-gradient(109.49deg, rgba(249, 78, 50, 0.2) 0%, rgba(233, 232, 238, 0.2) 40.65%), #E9E8EE
        border-radius: 10px
        padding: 168px 212px 179px
        position: relative
        overflow: hidden
    h1
        span
            display: block
            margin: 0 0 0 282px
    p
        margin: 20px 0 0 282px
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 130%
        color: #656565
        max-width: 441px
    &__img
        position: absolute
        border-radius: 100%
        &_left
            width: 176px
            left: 212px
            top: 275px
        &_top
            width: 301px
            top: -116px
            right: 126px
        &_right
            width: 156px
            right: 70px
            top: 124px

h2
    font-family: 'Onest'
    font-style: normal
    font-weight: 700
    font-size: 40px
    line-height: 100%
    color: #333333

.advantages
    padding: 10px 0 0
    &__container
        background: #FFFFFF
        border-radius: 10px
        padding: 40px
    &__wrapper
        margin: 20px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 10px
    &__item
        background: #E9E8EE
        border-radius: 10px
        padding: 60px 20px
        img
            display: block
            width: 48px
            margin: 0 auto
        p
            margin: 20px auto 0
            font-family: 'Onest'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 110%
            text-align: center
            color: #333333
            max-width: 260px

.service
    padding: 10px 0 0
    &__container
        background: #E9E8EE
        border-radius: 10px
        padding: 40px
    &__slider
        margin: 20px 0 0
        display: flex
        justify-content: space-between
    &__slide
        padding: 20px 
        background: #FFFFFF
        border-radius: 10px
        max-width: 300px
        height: 508px
        display: grid
        grid-template-columns: 100%
        gap: 10px
        grid-template-rows: 1fr auto
        max-width: calc( 25% - 5px )
        // transition: all .3s
        cursor: pointer
        &.active
            max-width: calc( 50% - 5px )
            .service__info
                p
                    max-height: 500px
    &__img
        img
            height: 1px
            min-height: 100%
            width: 100%
            object-fit: cover
            border-radius: 5px
    &__info
        h3
            font-family: 'Onest'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 110%
            color: #333333
        p
            margin: 5px 0 0
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #656565
            max-height: 0
            overflow: hidden
            // transition: all .3s
    &__title
        display: flex
        justify-content: flex-start
        align-items: center
        position: relative
        .swiper-button-next,
        .swiper-button-prev
            background: #F94E32
            border-radius: 10px
            display: flex
            justify-content: center
            align-items: center
            font-family: 'Onest'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 110%
            color: #FFFFFF
            border: 1px solid #F94E32
            transition: all .3s 
            position: relative
            width: 48px
            height: 48px
            margin: 0
            top: auto
            left: auto
            right: auto
            bottom: auto
            svg
                path
                    transition: all .3s
            &:hover
                background: #FF765A
                border: 1px solid #FF765A
            &:active
                background: #D1260A
                border: 1px solid #D1260A
            &::after
                content: none
        .swiper-button-disabled
            border: 1px solid #656565
            background: transparent
            opacity: 1
            svg
                path
                    stroke: #656565
        .swiper-button-prev
            margin: 0 10px 0 auto
            svg
                transform: rotate(180deg)

.equip
    padding: 10px 0 0
    &__container
        padding: 40px
        background: #FFFFFF
        border-radius: 10px
    &__wrapper
        margin: 40px 0 0
        display: grid
        grid-template-columns: 300px 1fr
        gap: 10px
    &__slider
        width: 100%
        display: none
        &.active
            display: block
    &__info
        display: flex
        flex-direction: column
    &__arrow
        margin: 20px 0 0
        display: flex
        justify-content: flex-start
        align-items: center
        .swiper-button-next,
        .swiper-button-prev
            background: #F94E32
            border-radius: 10px
            display: flex
            justify-content: center
            align-items: center
            font-family: 'Onest'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 110%
            color: #FFFFFF
            border: 1px solid #F94E32
            transition: all .3s 
            position: relative
            width: 48px
            height: 48px
            margin: 0
            top: auto
            left: auto
            right: auto
            bottom: auto
            svg
                path
                    transition: all .3s
            &:hover
                background: #FF765A
                border: 1px solid #FF765A
            &:active
                background: #D1260A
                border: 1px solid #D1260A
            &::after
                content: none
        .swiper-button-disabled
            border: 1px solid #E9E8EE
            background: transparent
            opacity: 1
            svg
                path
                    stroke: #656565
        .swiper-button-prev
            margin: 0 10px 0 0
            svg
                transform: rotate(180deg)
    &__tab
        display: grid
        grid-template-columns: 100%
        gap: 10px
        margin: 0 0 auto
        &_point
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #656565
            cursor: pointer
            // transition: all .3s
            display: grid
            grid-template-columns: 100%
            gap: 5px
            align-items: center
            &::before
                content: none
                display: block
                width: 18px
                height: 18px
                background: url('../img/tab.svg') center no-repeat
                background-size: contain
                opacity: 0
                width: 0
            &.active
                font-family: 'Onest'
                font-style: normal
                font-weight: 700
                font-size: 28px
                line-height: 110%
                color: #F94E32
                grid-template-columns: 18px 1fr
                &::before
                    content: ''
                    opacity: 1
                    width: 18px
    &__slide
        padding: 10px
        background: #E9E8EE
        border-radius: 10px
        transition: all .3s
        img
            width: 100%
            height: 180px
            object-fit: contain
        &_info
            margin: 10px 0 0
            background: #FFFFFF
            border-radius: 10px
            padding: 10px
            h3
                font-family: 'Onest'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 110%
                color: #333333
            p
                margin: 5px 0 0
                font-family: 'Montserrat'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 130%
                color: #656565
            .btn__orange
                margin: 20px 0 0
        &:hover
            background: #F1F1F2

.project
    padding: 10px 0 0
    &__container
        background: #E9E8EE
        border-radius: 10px
        padding: 40px
    &__wrapper
        margin: 20px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 10px
    &__right
        grid-column: 4/5
    &__half
        &_s
            grid-column: 3/5
        &_f
            grid-column: 1/3
    &__width
        grid-column: 1/4
    &__item
        background: #FFFFFF
        border-radius: 10px
        padding: 20px
        height: 548px
        display: grid
        grid-template-columns: 100%
        grid-template-rows: 1fr auto
        gap: 10px
        img
            width: 100%
            height: 1px
            object-fit: cover
            border-radius: 5px
            min-height: 100%
        h3
            font-family: 'Onest'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 110%
            color: #333333
            max-width: 320px
        p
            margin: 5px 0 0
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #656565
    .btn__orange
        max-width: 260px
        margin: 20px auto 0

.export
    padding: 10px 0 0
    &__container
        padding: 40px
        background: #FFFFFF
        border-radius: 10px
    &__wrapper
        margin: 20px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 10px
    &__item
        border: 10px solid #F1F1F2
        border-radius: 10px
        padding: 26px 42px
        img
            width: 100%
            height: 78px
            object-fit: contain

.form
    padding: 10px 0 0
    position: relative
    &__container
        background: #E9E8EE
        border-radius: 10px
        padding: 40px
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 10px
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 170px
            height: 220px
            background: url('../img/form_bg.svg') center no-repeat
            background-size: contain
            position: absolute
            bottom: 30px
            left: 350px
            z-index: -1
    h2
        max-width: 485px
    &__wrapper
        display: grid
        grid-template-columns: 100%
        gap: 10px
        .btn__orange
            padding: 20px
        input
            padding: 20px 20px 19px
            background: #FFFFFF
            border-radius: 5px
            border: none
            box-sizing: border-box
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #656565
    &__text
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 130%
        color: #656565
        a
            color: #f94e32
            text-decoration: underline

.footer
    padding: 10px 0 30px
    position: sticky
    top: 100%
    &__wrapper
        display: grid
        grid-template-columns: 1fr auto auto auto auto auto auto 1fr
        gap: 10px
    &__logo
        padding: 15px 20px
        background: #FFFFFF
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
        img
            display: block
            margin: auto
            width: 100%
    &__link
        background: #FFFFFF
        border-radius: 10px
        display: block
        padding: 24px 20px
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 130%
        color: #333333
        transition: all .3s
        &:hover
            background: #F94E32
            color: #FFFFFF
    &__phone
        img
            width: 24px
    &__row
        display: flex
        justify-content: space-between
        align-items: center
        margin: 40px 0 0
        p
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #656565
        a
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #F94E32
            text-decoration: underline  

@media ( max-width: 1300px )
    .nav
        &__wrapper
            grid-template-columns: 150px auto auto auto auto auto auto 90px
        &__link
            padding: 15px 10px
            text-align: center
            display: flex
            justify-content: center
            align-items: center
        &__logo
            padding: 10px
        &__phone
            padding: 10px
    .header
        &__wrapper
            padding: 150px 100px
        h1
            span
                margin: 0 0 0 200px
                max-width: 600px
        p
            margin: 20px 0 0 200px
        &__img
            &_left
                left: -20px
            &_top
                top: -150px
                right: 0
            &_right
                top: 50px
                right: -56px
    .footer
        &__wrapper
            grid-template-columns: 150px auto auto auto auto auto auto 90px
        &__link
            padding: 15px 10px
            text-align: center
            display: flex
            justify-content: center
            align-items: center
        &__logo
            padding: 10px
        &__up
            padding: 10px

@media ( max-width: 1024px )
    .nav
        &__wrapper
            grid-template-columns: 1fr 60px 60px
        &__link
            display: none
        &__logo
            img
                max-width: 200px
        &__hamburger
            display: flex
            flex-direction: column
            justify-content: center
            position: relative
            padding: 10px
            background-color: #fff
            border-radius: 10px
            cursor: pointer
            &::before,
            &::after,
            span
                content: ''
                display: block
                width: 100%
                height: 1px
                background: #333333
                margin: 3px 0
        &.active
            position: fixed
            top: 0
            left: 0
            padding: 20px 0
            overflow-y: scroll
            width: 100vw
            height: 100vh
            background: #E9E8EE
            z-index: 100
            .nav
                &__link
                    display: flex
                    grid-column: 1/4
                    order: 2
                &__hamburger
                    position: relative
                    span
                        display: none
                    &::before,
                    &::after
                        width: calc( 100% - 20px )
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%) rotate(45deg)
                        margin: 0
                    &::after
                        transform: translate(-50%, -50%) rotate(-45deg)
    h2
        font-size: 24px
    h1
        font-size: 32px
    .header
        &__wrapper
            padding: 150px 20px
        h1
            max-width: 600px
            margin: 0 auto 
            span
                margin: 0 0 0 100px
                max-width: 300px
        p
            margin: 20px auto 0 
            max-width: 400px
    .advantages,
    .service,
    .equip,
    .project,
    .export,
    .form
        h2
            max-width: 300px
        &__container
            padding: 30px 10px
    .footer
        &__wrapper
            grid-template-columns: 1fr 1fr
        &__logo
            order: -2
            img
                max-width: 200px
        &__up
            order: -1
    .advantages
        &__wrapper
            grid-template-columns: 1fr 1fr
        &__item
            padding: 30px 20px
    .service
        &__slide
            padding: 10px
            width: 100%
            max-width: 100%
            &.active
                max-width: 100%
        &__info
            p
                max-height: none
        &__slider
            display: grid
            gap: 10px
            grid-template-columns: 100%
    .equip
        &__wrapper
            grid-template-columns: 100%
            margin: 20px 0 0
        &__tab
            display: flex
            justify-content: flex-start
            align-items: flex-end
            &_point
                &.active
                    font-size: 16px
                    line-height: 130%
                    display: block
                    font-family: "Mont"
                    font-weight: 600
                    &::before
                        content: none
    .project
        &__wrapper
            grid-template-columns: 100%
        &__item
            grid-column: auto
    .export
        &__wrapper
            grid-template-columns: 1fr 1fr

@media ( max-width: 768px )
    .header
        &__img
            display: none
        &__wrapper
            padding: 40px 100px
        h1
            max-width: 300px
            margin: 0
            span
                margin: 0
                max-width: 100%
        p
            margin: 20px 0 0
    .form
        &__container
            grid-template-columns: 100%
            &::before
                content: none

@media ( max-width: 600px )
    .header
        &__wrapper
            padding: 30px 10px
        h1,
        p
            text-align: center
            margin: 0 auto
        p
            margin-top: 20px
    .advantages
        &__wrapper
            grid-template-columns: 100%
    .equip
        &__tab
            grid-template-columns: 100%
            display: grid
    .footer
        &__wrapper
            grid-template-columns: 100%
        &__up
            order: 0
        &__row
            flex-direction: column
            gap: 10px
    .project
        &__item
            padding: 10px

@media ( max-width: 425px )
    .form
        input,
        .btn__orange
            padding: 15px
            font-size: 14px
    .nav
        &__wrapper
            grid-template-columns: 1fr 50px 50px
    .export
        &__item
            border-width: 5px
            padding: 10px 5px
            img
                height: 60px

.modal-call,
.modal-equip
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 100
    justify-content: flex-start
    align-items: flex-start
    overflow-y: scroll
    padding: 20px 15px
    display: none
    &.active
        display: flex
    &__overflow
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        background: #000000
        opacity: 0.5
    &__container
        margin: auto
        max-width: 690px
        width: 100%
        background: #FFFFFF
        border-radius: 10px
        padding: 40px
        position: relative
    &__close
        position: absolute
        top: 20px
        right: 20px
        cursor: pointer
    h2
        text-align: center
    &__input
        margin: 20px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 10px
        input
            padding: 20px 20px 19px
            background: #F1F1F2
            border-radius: 5px
            border: none
            box-sizing: border-box
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #656565
    .btn__orange
        margin: 20px 0 0
        padding: 20px
    &__text
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 130%
        color: #656565
        margin: 10px 0 0
        a
            color: #f94e32
            text-decoration: underline

@media ( max-width: 425px )
    .modal-call,
    .modal-equip
        &__container
            padding: 30px 10px
        &__close
            top: 5px
            right: 5px
        input,
        .btn__orange
            padding: 15px
            font-size: 14px

.breadcrumbs
    p
        text-align: center
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 130%
        color: #656565
    span
        margin: 0 15px
    a
        color: #f94e32

.error
    padding: 40px 0 200px
    position: relative
    overflow: hidden
    z-index: 1
    &__wrapper
        position: relative
        margin: 240px 0 0
        z-index: 1
        &::before
            content: '404'
            display: block
            font-family: 'Onest'
            font-style: normal
            font-weight: 700
            font-size: 500px
            line-height: 100%
            color: #F94E32
            opacity: 0.1
            z-index: -1
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
    h1
        text-align: center
    p
        max-width: 610px
        margin: 10px auto 0
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 130%
        text-align: center
        color: #656565
    .btn__orange
        margin: 168px auto 0
        max-width: 610px

@media ( max-width: 1440px )
    .error
        padding: 40px 0 100px
        &__wrapper
            margin: 100px 0 0
            &::before
                font-size: 300px
        .btn__orange
            margin: 100px auto 0

@media ( max-width: 425px )
    .error
        &__wrapper
            &::before
                font-size: 200px
        .btn__orange
            margin: 50px auto 0

.thanks
    padding: 40px 0 318px
    position: relative
    overflow: hidden
    z-index: 1
    h1
        text-align: center
        margin: 240px 0 0
    p
        max-width: 490px
        margin: 10px auto 0
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 130%
        text-align: center
        color: #656565
    .btn__orange
        margin: 60px auto 0
        max-width: 610px
    &::before
        content: ''
        display: block
        position: absolute
        top: 26px
        left: -188px
        width: 557px
        height: 720px
        background: url('../img/thanks_left.svg') center no-repeat
        background-size: contain
        z-index: -1
    &::after
        content: ''
        display: block
        position: absolute
        top: 86px
        right: -190px
        width: 557px
        height: 720px
        background: url('../img/thanks_right.svg') center no-repeat
        background-size: contain
        z-index: -1

@media ( max-width: 1440px )
    .thanks
        padding: 40px 0 100px
        h1
            margin: 100px 0 0
        &::before,
        &::after
            width: 278px
            height: 350px
        &::before
            left: -90px
        &::after
            right: -90px

@media ( max-width: 425px )
    .thanks
        .btn__orange
            margin: 50px auto 0
        &::after,
        &::before
            content: none

.policy
    padding: 40px 0 0
    &__container
        margin: 40px 0 0
        padding: 40px
        background: #FFFFFF
        border-radius: 10px
    &__text
        margin: 20px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 20px
        p
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 130%
            color: #656565

@media ( max-width: 768px )
    .policy
        &__container
            padding: 30px 10px
        h1
            font-size: 24px