body {
  background: #F1F1F2;
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.btn__orange {
  display: block;
  background: #F94E32;
  border-radius: 10px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  width: 100%;
  padding: 15px;
  border: none;
  transition: all 0.3s;
}
.btn__orange:hover {
  background: #FF765A;
}
.btn__orange:active {
  background: #D1260A;
}

.nav {
  padding: 20px 0 0;
}
.nav__hamburger {
  display: none;
}
.nav__wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto auto 1fr;
  gap: 10px;
}
.nav__logo {
  padding: 15px 20px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__logo img {
  display: block;
  margin: auto;
  width: 100%;
}
.nav__link {
  background: #FFFFFF;
  border-radius: 10px;
  display: block;
  padding: 24px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  transition: all 0.3s;
}
.nav__link:hover {
  background: #F94E32;
  color: #FFFFFF;
}
.nav__phone img {
  width: 24px;
}

h1 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  color: #333333;
}

.header {
  padding: 11px 0 0;
}
.header__wrapper {
  background: linear-gradient(109.49deg, rgba(249, 78, 50, 0.2) 0%, rgba(233, 232, 238, 0.2) 40.65%), #E9E8EE;
  border-radius: 10px;
  padding: 168px 212px 179px;
  position: relative;
  overflow: hidden;
}
.header h1 span {
  display: block;
  margin: 0 0 0 282px;
}
.header p {
  margin: 20px 0 0 282px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
  max-width: 441px;
}
.header__img {
  position: absolute;
  border-radius: 100%;
}
.header__img_left {
  width: 176px;
  left: 212px;
  top: 275px;
}
.header__img_top {
  width: 301px;
  top: -116px;
  right: 126px;
}
.header__img_right {
  width: 156px;
  right: 70px;
  top: 124px;
}

h2 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #333333;
}

.advantages {
  padding: 10px 0 0;
}
.advantages__container {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 40px;
}
.advantages__wrapper {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.advantages__item {
  background: #E9E8EE;
  border-radius: 10px;
  padding: 60px 20px;
}
.advantages__item img {
  display: block;
  width: 48px;
  margin: 0 auto;
}
.advantages__item p {
  margin: 20px auto 0;
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: #333333;
  max-width: 260px;
}

.service {
  padding: 10px 0 0;
}
.service__container {
  background: #E9E8EE;
  border-radius: 10px;
  padding: 40px;
}
.service__slider {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}
.service__slide {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 300px;
  height: 508px;
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  grid-template-rows: 1fr auto;
  max-width: calc(25% - 5px);
  cursor: pointer;
}
.service__slide.active {
  max-width: calc(50% - 5px);
}
.service__slide.active .service__info p {
  max-height: 500px;
}
.service__img img {
  height: 1px;
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.service__info h3 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: #333333;
}
.service__info p {
  margin: 5px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
  max-height: 0;
  overflow: hidden;
}
.service__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.service__title .swiper-button-next,
.service__title .swiper-button-prev {
  background: #F94E32;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  border: 1px solid #F94E32;
  transition: all 0.3s;
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
.service__title .swiper-button-next svg path,
.service__title .swiper-button-prev svg path {
  transition: all 0.3s;
}
.service__title .swiper-button-next:hover,
.service__title .swiper-button-prev:hover {
  background: #FF765A;
  border: 1px solid #FF765A;
}
.service__title .swiper-button-next:active,
.service__title .swiper-button-prev:active {
  background: #D1260A;
  border: 1px solid #D1260A;
}
.service__title .swiper-button-next::after,
.service__title .swiper-button-prev::after {
  content: none;
}
.service__title .swiper-button-disabled {
  border: 1px solid #656565;
  background: transparent;
  opacity: 1;
}
.service__title .swiper-button-disabled svg path {
  stroke: #656565;
}
.service__title .swiper-button-prev {
  margin: 0 10px 0 auto;
}
.service__title .swiper-button-prev svg {
  transform: rotate(180deg);
}

.equip {
  padding: 10px 0 0;
}
.equip__container {
  padding: 40px;
  background: #FFFFFF;
  border-radius: 10px;
}
.equip__wrapper {
  margin: 40px 0 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
}
.equip__slider {
  width: 100%;
  display: none;
}
.equip__slider.active {
  display: block;
}
.equip__info {
  display: flex;
  flex-direction: column;
}
.equip__arrow {
  margin: 20px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.equip__arrow .swiper-button-next,
.equip__arrow .swiper-button-prev {
  background: #F94E32;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: #FFFFFF;
  border: 1px solid #F94E32;
  transition: all 0.3s;
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
.equip__arrow .swiper-button-next svg path,
.equip__arrow .swiper-button-prev svg path {
  transition: all 0.3s;
}
.equip__arrow .swiper-button-next:hover,
.equip__arrow .swiper-button-prev:hover {
  background: #FF765A;
  border: 1px solid #FF765A;
}
.equip__arrow .swiper-button-next:active,
.equip__arrow .swiper-button-prev:active {
  background: #D1260A;
  border: 1px solid #D1260A;
}
.equip__arrow .swiper-button-next::after,
.equip__arrow .swiper-button-prev::after {
  content: none;
}
.equip__arrow .swiper-button-disabled {
  border: 1px solid #E9E8EE;
  background: transparent;
  opacity: 1;
}
.equip__arrow .swiper-button-disabled svg path {
  stroke: #656565;
}
.equip__arrow .swiper-button-prev {
  margin: 0 10px 0 0;
}
.equip__arrow .swiper-button-prev svg {
  transform: rotate(180deg);
}
.equip__tab {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  margin: 0 0 auto;
}
.equip__tab_point {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
  cursor: pointer;
  display: grid;
  grid-template-columns: 100%;
  gap: 5px;
  align-items: center;
}
.equip__tab_point::before {
  content: none;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/tab.svg") center no-repeat;
  background-size: contain;
  opacity: 0;
  width: 0;
}
.equip__tab_point.active {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
  color: #F94E32;
  grid-template-columns: 18px 1fr;
}
.equip__tab_point.active::before {
  content: "";
  opacity: 1;
  width: 18px;
}
.equip__slide {
  padding: 10px;
  background: #E9E8EE;
  border-radius: 10px;
  transition: all 0.3s;
}
.equip__slide img {
  width: 100%;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
.equip__slide_info {
  margin: 10px 0 0;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
}
.equip__slide_info h3 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: #333333;
}
.equip__slide_info p {
  margin: 5px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
}
.equip__slide_info .btn__orange {
  margin: 20px 0 0;
}
.equip__slide:hover {
  background: #F1F1F2;
}

.project {
  padding: 10px 0 0;
}
.project__container {
  background: #E9E8EE;
  border-radius: 10px;
  padding: 40px;
}
.project__wrapper {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.project__right {
  grid-column: 4/5;
}
.project__half_s {
  grid-column: 3/5;
}
.project__half_f {
  grid-column: 1/3;
}
.project__width {
  grid-column: 1/4;
}
.project__item {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  height: 548px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  gap: 10px;
}
.project__item img {
  width: 100%;
  height: 1px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  min-height: 100%;
}
.project__item h3 {
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: #333333;
  max-width: 320px;
}
.project__item p {
  margin: 5px 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
}
.project .btn__orange {
  max-width: 260px;
  margin: 20px auto 0;
}

.export {
  padding: 10px 0 0;
}
.export__container {
  padding: 40px;
  background: #FFFFFF;
  border-radius: 10px;
}
.export__wrapper {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.export__item {
  border: 10px solid #F1F1F2;
  border-radius: 10px;
  padding: 26px 42px;
}
.export__item img {
  width: 100%;
  height: 78px;
  -o-object-fit: contain;
     object-fit: contain;
}

.form {
  padding: 10px 0 0;
  position: relative;
}
.form__container {
  background: #E9E8EE;
  border-radius: 10px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: relative;
  z-index: 1;
}
.form__container::before {
  content: "";
  display: block;
  width: 170px;
  height: 220px;
  background: url("../img/form_bg.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 30px;
  left: 350px;
  z-index: -1;
}
.form h2 {
  max-width: 485px;
}
.form__wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.form__wrapper .btn__orange {
  padding: 20px;
}
.form__wrapper input {
  padding: 20px 20px 19px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
}
.form__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #656565;
}
.form__text a {
  color: #f94e32;
  text-decoration: underline;
}

.footer {
  padding: 10px 0 30px;
  position: sticky;
  top: 100%;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto auto 1fr;
  gap: 10px;
}
.footer__logo {
  padding: 15px 20px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  display: block;
  margin: auto;
  width: 100%;
}
.footer__link {
  background: #FFFFFF;
  border-radius: 10px;
  display: block;
  padding: 24px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
  transition: all 0.3s;
}
.footer__link:hover {
  background: #F94E32;
  color: #FFFFFF;
}
.footer__phone img {
  width: 24px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0;
}
.footer__row p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
}
.footer__row a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #F94E32;
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .nav__wrapper {
    grid-template-columns: 150px auto auto auto auto auto auto 90px;
  }
  .nav__link {
    padding: 15px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__logo {
    padding: 10px;
  }
  .nav__phone {
    padding: 10px;
  }
  .header__wrapper {
    padding: 150px 100px;
  }
  .header h1 span {
    margin: 0 0 0 200px;
    max-width: 600px;
  }
  .header p {
    margin: 20px 0 0 200px;
  }
  .header__img_left {
    left: -20px;
  }
  .header__img_top {
    top: -150px;
    right: 0;
  }
  .header__img_right {
    top: 50px;
    right: -56px;
  }
  .footer__wrapper {
    grid-template-columns: 150px auto auto auto auto auto auto 90px;
  }
  .footer__link {
    padding: 15px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    padding: 10px;
  }
  .footer__up {
    padding: 10px;
  }
}
@media (max-width: 1024px) {
  .nav__wrapper {
    grid-template-columns: 1fr 60px 60px;
  }
  .nav__link {
    display: none;
  }
  .nav__logo img {
    max-width: 200px;
  }
  .nav__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
  .nav__hamburger::before, .nav__hamburger::after,
  .nav__hamburger span {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #333333;
    margin: 3px 0;
  }
  .nav.active {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    background: #E9E8EE;
    z-index: 100;
  }
  .nav.active .nav__link {
    display: flex;
    grid-column: 1/4;
    order: 2;
  }
  .nav.active .nav__hamburger {
    position: relative;
  }
  .nav.active .nav__hamburger span {
    display: none;
  }
  .nav.active .nav__hamburger::before, .nav.active .nav__hamburger::after {
    width: calc(100% - 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    margin: 0;
  }
  .nav.active .nav__hamburger::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  h2 {
    font-size: 24px;
  }
  h1 {
    font-size: 32px;
  }
  .header__wrapper {
    padding: 150px 20px;
  }
  .header h1 {
    max-width: 600px;
    margin: 0 auto;
  }
  .header h1 span {
    margin: 0 0 0 100px;
    max-width: 300px;
  }
  .header p {
    margin: 20px auto 0;
    max-width: 400px;
  }
  .advantages h2,
  .service h2,
  .equip h2,
  .project h2,
  .export h2,
  .form h2 {
    max-width: 300px;
  }
  .advantages__container,
  .service__container,
  .equip__container,
  .project__container,
  .export__container,
  .form__container {
    padding: 30px 10px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .footer__logo {
    order: -2;
  }
  .footer__logo img {
    max-width: 200px;
  }
  .footer__up {
    order: -1;
  }
  .advantages__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .advantages__item {
    padding: 30px 20px;
  }
  .service__slide {
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }
  .service__slide.active {
    max-width: 100%;
  }
  .service__info p {
    max-height: none;
  }
  .service__slider {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
  }
  .equip__wrapper {
    grid-template-columns: 100%;
    margin: 20px 0 0;
  }
  .equip__tab {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .equip__tab_point.active {
    font-size: 16px;
    line-height: 130%;
    display: block;
    font-family: "Mont";
    font-weight: 600;
  }
  .equip__tab_point.active::before {
    content: none;
  }
  .project__wrapper {
    grid-template-columns: 100%;
  }
  .project__item {
    grid-column: auto;
  }
  .export__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .header__img {
    display: none;
  }
  .header__wrapper {
    padding: 40px 100px;
  }
  .header h1 {
    max-width: 300px;
    margin: 0;
  }
  .header h1 span {
    margin: 0;
    max-width: 100%;
  }
  .header p {
    margin: 20px 0 0;
  }
  .form__container {
    grid-template-columns: 100%;
  }
  .form__container::before {
    content: none;
  }
}
@media (max-width: 600px) {
  .header__wrapper {
    padding: 30px 10px;
  }
  .header h1,
  .header p {
    text-align: center;
    margin: 0 auto;
  }
  .header p {
    margin-top: 20px;
  }
  .advantages__wrapper {
    grid-template-columns: 100%;
  }
  .equip__tab {
    grid-template-columns: 100%;
    display: grid;
  }
  .footer__wrapper {
    grid-template-columns: 100%;
  }
  .footer__up {
    order: 0;
  }
  .footer__row {
    flex-direction: column;
    gap: 10px;
  }
  .project__item {
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .form input,
  .form .btn__orange {
    padding: 15px;
    font-size: 14px;
  }
  .nav__wrapper {
    grid-template-columns: 1fr 50px 50px;
  }
  .export__item {
    border-width: 5px;
    padding: 10px 5px;
  }
  .export__item img {
    height: 60px;
  }
}
.modal-call,
.modal-equip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 20px 15px;
  display: none;
}
.modal-call.active,
.modal-equip.active {
  display: flex;
}
.modal-call__overflow,
.modal-equip__overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000000;
  opacity: 0.5;
}
.modal-call__container,
.modal-equip__container {
  margin: auto;
  max-width: 690px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}
.modal-call__close,
.modal-equip__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-call h2,
.modal-equip h2 {
  text-align: center;
}
.modal-call__input,
.modal-equip__input {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.modal-call__input input,
.modal-equip__input input {
  padding: 20px 20px 19px;
  background: #F1F1F2;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
}
.modal-call .btn__orange,
.modal-equip .btn__orange {
  margin: 20px 0 0;
  padding: 20px;
}
.modal-call__text,
.modal-equip__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #656565;
  margin: 10px 0 0;
}
.modal-call__text a,
.modal-equip__text a {
  color: #f94e32;
  text-decoration: underline;
}

@media (max-width: 425px) {
  .modal-call__container,
  .modal-equip__container {
    padding: 30px 10px;
  }
  .modal-call__close,
  .modal-equip__close {
    top: 5px;
    right: 5px;
  }
  .modal-call input,
  .modal-call .btn__orange,
  .modal-equip input,
  .modal-equip .btn__orange {
    padding: 15px;
    font-size: 14px;
  }
}
.breadcrumbs p {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #656565;
}
.breadcrumbs span {
  margin: 0 15px;
}
.breadcrumbs a {
  color: #f94e32;
}

.error {
  padding: 40px 0 200px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.error__wrapper {
  position: relative;
  margin: 240px 0 0;
  z-index: 1;
}
.error__wrapper::before {
  content: "404";
  display: block;
  font-family: "Onest";
  font-style: normal;
  font-weight: 700;
  font-size: 500px;
  line-height: 100%;
  color: #F94E32;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error h1 {
  text-align: center;
}
.error p {
  max-width: 610px;
  margin: 10px auto 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #656565;
}
.error .btn__orange {
  margin: 168px auto 0;
  max-width: 610px;
}

@media (max-width: 1440px) {
  .error {
    padding: 40px 0 100px;
  }
  .error__wrapper {
    margin: 100px 0 0;
  }
  .error__wrapper::before {
    font-size: 300px;
  }
  .error .btn__orange {
    margin: 100px auto 0;
  }
}
@media (max-width: 425px) {
  .error__wrapper::before {
    font-size: 200px;
  }
  .error .btn__orange {
    margin: 50px auto 0;
  }
}
.thanks {
  padding: 40px 0 318px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.thanks h1 {
  text-align: center;
  margin: 240px 0 0;
}
.thanks p {
  max-width: 490px;
  margin: 10px auto 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #656565;
}
.thanks .btn__orange {
  margin: 60px auto 0;
  max-width: 610px;
}
.thanks::before {
  content: "";
  display: block;
  position: absolute;
  top: 26px;
  left: -188px;
  width: 557px;
  height: 720px;
  background: url("../img/thanks_left.svg") center no-repeat;
  background-size: contain;
  z-index: -1;
}
.thanks::after {
  content: "";
  display: block;
  position: absolute;
  top: 86px;
  right: -190px;
  width: 557px;
  height: 720px;
  background: url("../img/thanks_right.svg") center no-repeat;
  background-size: contain;
  z-index: -1;
}

@media (max-width: 1440px) {
  .thanks {
    padding: 40px 0 100px;
  }
  .thanks h1 {
    margin: 100px 0 0;
  }
  .thanks::before, .thanks::after {
    width: 278px;
    height: 350px;
  }
  .thanks::before {
    left: -90px;
  }
  .thanks::after {
    right: -90px;
  }
}
@media (max-width: 425px) {
  .thanks .btn__orange {
    margin: 50px auto 0;
  }
  .thanks::after, .thanks::before {
    content: none;
  }
}
.policy {
  padding: 40px 0 0;
}
.policy__container {
  margin: 40px 0 0;
  padding: 40px;
  background: #FFFFFF;
  border-radius: 10px;
}
.policy__text {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.policy__text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #656565;
}

@media (max-width: 768px) {
  .policy__container {
    padding: 30px 10px;
  }
  .policy h1 {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */