body
    background: #F5F5F5
    
.container
    max-width: 1160px
    margin: 0 auto
    padding: 0 20px
    box-sizing: content-box

h2
    font-family: 'Manrope'
    font-style: normal
    font-weight: 700
    font-size: 40px
    line-height: 100%
    color: #1E1E1E
    display: grid
    grid-template-columns: auto 1fr
    gap: 10px
    &::before
        content: ''
        display: block
        width: 18px
        height: 18px
        background: url('../img/title_star.svg') center no-repeat
        background-size: contain

.btn
    &__red
        display: block
        padding: 10px 0
        background: #C90505
        border: none
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 125%
        color: #FFFFFF
        transform: skewX(-14deg)
        max-width: 160px
        width: 100%
        transition: all .3s
        span
            transform: skewX(14deg)
            display: block
        &:hover
            background: #FB3737
        &:active
            background: #970000
    &__grey
        display: block
        padding: 10px 0
        background: transparent
        border: none
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 125%
        color: #505050
        transform: skewX(-14deg)
        max-width: 160px
        width: 100%
        transition: all .3s
        border: 1px solid #1E1E1E
        span
            transform: skewX(14deg)
            display: block
        &:hover
            background: #FB3737
            color: #fff
            border: 1px solid #FB3737
        &:active
            background: #970000
            color: #fff
            border: 1px solid #970000

.header
    padding: 345px 0
    background: url('../img/header_bg.jpg') center no-repeat
    background-size: cover
    position: relative
    h1
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 80px
        line-height: 100%
        color: #FFFFFF
    &__list
        margin: 20px 0 0
        display: flex
        justify-content: flex-start
        align-items: center
        li
            margin: 0 20px 0 0
            &:last-child
                margin: 0
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 24px
            line-height: 120%
            color: #FFFFFF

.nav
    position: absolute
    top: 28px 
    left: 0
    width: 100%
    &__humburger
        display: none
    &__logo
        max-width: 160px 
        img
            width: 100%
    .container
        display: flex
        justify-content: flex-start
        align-items: center
    ul
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto 
        li
            margin: 0 20px 0 0
            &:last-child
                margin: 0
        a
            font-family: 'Manrope'
            font-style: normal
            font-weight: 700
            font-size: 16px
            line-height: 125%
            color: #FFFFFF
            position: relative
            z-index: 1
            &::before
                content: ''
                display: block
                position: absolute
                top: -10px
                bottom: -10px
                right: -15px
                left: -15px
                background: #C90505
                transform: skewX(-15deg)
                opacity: 0
                transition: all .3s
                z-index: -1
            &:hover
                &::before
                    opacity: 1

.equip
    padding: 150px 0 0
    &__info
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
        align-items: start
        &_prev
            position: relative
            overflow: hidden
            img
                width: 100%
            &::before
                content: ''
                display: block
                background: #C90505
                width: 150px
                height: 100%
                position: absolute
                top: 0
                right: -103px
                transform: skewX(-17deg)
                opacity: 0.7
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 120%
            color: #505050
            margin-left: 28px
            margin-top: 7px 
            &.red
                margin-top: 15px
                color: #C90505
    &__wrapper
        margin: 40px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 40px 
    &__item
        transition: all .3s
        display: grid
        grid-template-columns: 48px 1fr
        gap: 10px
        align-items: center
        background: #FFFFFF
        padding: 40px
        &_wrapper
            position: relative
            input
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                opacity: 0
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 120%
            color: #1E1E1E
            transition: all .3s
        svg
            path
                fill: #C90505
                transition: all .3s
        &_wrapper
            &:nth-child(1)
                svg
                    path
                        fill: transparent
                        stroke: #C90505
        &_wrapper
            input
                &:checked
                    &+.equip
                        &__item
                            background: #C90505
                            box-shadow: 0px 54px 22px rgba(138, 5, 5, 0.01), 0px 31px 18px rgba(138, 5, 5, 0.05), 0px 14px 14px rgba(138, 5, 5, 0.09), 0px 3px 7px rgba(138, 5, 5, 0.1), 0px 0px 0px rgba(138, 5, 5, 0.1)
                            svg
                                path
                                    fill: #fff
                            p
                                color: #FFFFFF
            &:nth-child(1)
                input
                    &:checked
                        &+.equip
                            &__item
                                svg
                                    path
                                        fill: transparent
                                        stroke: #fff
    &__product
        margin: 80px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 40px

.product
    background: #FFFFFF
    padding: 40px
    display: grid
    grid-template-columns: 260px 1fr 170px
    gap: 40px
    transition: all .3s
    &:hover
        box-shadow: 0px 54px 22px rgba(138, 5, 5, 0.01), 0px 31px 18px rgba(138, 5, 5, 0.05), 0px 14px 14px rgba(138, 5, 5, 0.09), 0px 3px 7px rgba(138, 5, 5, 0.1), 0px 0px 0px rgba(138, 5, 5, 0.1)
    &__prev
        img
            width: 100%
    &__name
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 120%
        color: #1E1E1E
    &__list
        margin: 10px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 5px
        max-width: 162px
        li
            display: flex
            justify-content: space-between
            align-items: center
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 120%
            color: #505050
            &+p
                color: #C90505
    &__info
        margin: 15px 0 0
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 120%
        color: #505050
    &__price
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 120%
        color: #C90505
        text-align: right
    .btn
        &__red
            margin: 20px 0 0 auto
        &__grey
            margin: 10px 0 0 auto
    &__show
        margin: 0 auto

.decision
    padding: 150px 0 0
    &__wrapper
        margin: 30px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 40px
    &__name
        position: absolute
        bottom: 0
        left: -23px
        padding: 15px 23px 15px 43px
        background: #FFFFFF
        transform: skewX(-14deg)
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 120%
        color: #1E1E1E
        transition: all .3s
    &__application
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) skewX(-14deg)
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 125%
        color: #1E1E1E
        padding: 10px 52px
        background: #fff
        transition: all .3s
        opacity: 0
    &__item
        position: relative
        overflow: hidden
        transition: all .3s
        img
            width: 100%
            height: 250px
            object-fit: cover
        &:hover
            box-shadow: 0px 54px 22px rgba(138, 5, 5, 0.01), 0px 31px 18px rgba(138, 5, 5, 0.05), 0px 14px 14px rgba(138, 5, 5, 0.09), 0px 3px 7px rgba(138, 5, 5, 0.1), 0px 0px 0px rgba(138, 5, 5, 0.1)
            .decision
                &__name
                    background: #C90505
                    color: #FFFFFF
                &__application
                    opacity: 1
    
.service
    padding: 150px 0 0
    position: relative
    overflow: hidden
    &__wrapper
        margin: 30px auto 0
        max-width: 1460px
        display: flex
        justify-content: space-between
        background: #fff
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 100vw
            height: 100%
            background: #C90505
            position: absolute
            top: 0
            left: calc( 100% - 200px )
            z-index: -1
        &::after
            content: ''
            display: block
            width: 100vw
            height: 100%
            background: #C90505
            position: absolute
            top: 0
            right: calc( 100% - 200px )
            z-index: -1
        div
            width: 40%
            position: relative
            margin: 0 -150px 0 0
            &:last-child
                margin: 0
            img
                width: 100%
            p
                font-family: 'Manrope'
                font-style: normal
                font-weight: 700
                font-size: 18px
                line-height: 120%
                color: #FFFFFF
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                text-align: center

.help
    margin: 150px 0 0
    background: #fff
    padding: 75px 0 
    position: relative
    overflow: hidden
    z-index: 1
    &::before
        content: ''
        display: block
        position: absolute
        height: 100%
        width: calc( 53% + 300px )
        right: -300px
        transform: skew(-14deg)
        background: #C90505
        z-index: -1
        top: 0
    .container
        display: grid
        grid-template-columns: 1fr 49%
        gap: 100px
    &__prev
        h2
            margin: 0 0 0 -28px
        &_text
            margin: 20px 0 0
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 120%
            color: #505050
        .btn__red
            margin: 30px 0 0
    &__info
        ul
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 30px
        li
            display: grid
            grid-template-columns: 48px 1fr
            gap: 10px
            align-items: center
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 120%
            color: #FFFFFF
        img
            width: 100%

.case
    padding: 150px 0 0
    &__wrapper
        margin: 30px -20px 0
        width: calc( 100% + 40px )
    &__item
        margin: 0 20px
        position: relative
        z-index: 1
        transition: all .3s
        img
            width: 100%
            object-fit: cover
        &::before
            content: ''
            display: block
            background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, #1E1E1E 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(.jpg)
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            z-index: 1
            transition: all .3s
        &:hover
            box-shadow: 0px 54px 22px rgba(138, 5, 5, 0.01), 0px 31px 18px rgba(138, 5, 5, 0.05), 0px 14px 14px rgba(138, 5, 5, 0.09), 0px 3px 7px rgba(138, 5, 5, 0.1), 0px 0px 0px rgba(138, 5, 5, 0.1)
            &::before
                background: linear-gradient(180deg, rgba(201, 5, 5, 0) 0%, #C90505 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(.jpg)
    &__name
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 120%
        color: #FFFFFF
        position: absolute
        bottom: 66px
        left: 40px
        z-index: 2
        max-width: 221px
        right: 40px
    &__city
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 120%
        color: #FFFFFF
        opacity: 0.7
        position: absolute
        bottom: 40px
        left: 40px
        z-index: 2
        max-width: 221px
        right: 40px
    &__arrow
        position: absolute
        top: 0
        right: 10px
        display: grid
        grid-template-columns: 70px 70px
        gap: 10px
        button
            max-width: 70px
            svg
                path
                    transition: all .3s
            &:hover,
            &:active
                svg
                    path
                        stroke: #fff
    .container
        position: relative

.company
    padding: 150px 0 0
    &__wrapper
        margin: 30px 0 0
        display: grid
        grid-template-columns: 560fr 600fr
        align-items: center
    &__prev
        img
            width: 100%
    &__info
        padding: 40px 
        background: #FFFFFF
    &__text
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 120%
        color: #505050
        &+p
            margin: 15px 0 0
    &__list
        margin: 40px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
        li
            background: #C90505
            padding: 35px
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 700
            font-size: 32px
            line-height: 100%
            color: #FFFFFF
            text-align: center
            &+p
                font-weight: 500
                font-size: 18px
                line-height: 120%
                margin: 5px 0 0

.export
    padding: 150px 0 150px
    &__wrapper
        margin: 40px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 
        gap: 40px
    &__item
        padding: 36px 20px
        background-color: #fff
        transition: all .3s
        img
            width: 100%
            height: 78px
            object-fit: contain
        &:hover
            box-shadow: 0px 54px 22px rgba(138, 5, 5, 0.01), 0px 31px 18px rgba(138, 5, 5, 0.05), 0px 14px 14px rgba(138, 5, 5, 0.09), 0px 3px 7px rgba(138, 5, 5, 0.1), 0px 0px 0px rgba(138, 5, 5, 0.1)

.form
    background: #fff
    padding: 75px 0 
    position: relative
    overflow: hidden
    z-index: 1
    &::before
        content: ''
        display: block
        position: absolute
        height: 100%
        width: calc( 53% + 300px )
        right: -300px
        transform: skew(-14deg)
        background: #C90505
        z-index: -1
        top: 0
    .container
        display: grid
        grid-template-columns: 1fr 49%
        gap: 80px
    &__form
        display: grid
        grid-template-columns: 100%
        gap: 20px
        input
            padding: 0 0 10px
            border: none
            border-bottom: 1px solid #FFFFFF
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 120%
            color: #FFFFFF
            background: transparent
            &::placeholder
                color: #ffffffb3
    &__btn
        display: block
        padding: 10px 0
        background: transparent
        border: none
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 125%
        color: #FFFFFF
        transform: skewX(-14deg)
        width: 100%
        transition: all .3s
        border: 1px solid #fff
        span
            transform: skewX(14deg)
            display: block
        &:hover
            background: #FB3737
            color: #fff
            border: 1px solid #FB3737
        &:active
            background: #970000
            color: #fff
            border: 1px solid #970000
    &__descr
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 120%
        color: #E1E1E1
        a
            border-bottom: 1px solid #FFFFFF
            color: #fff

.footer
    padding: 54px 0 50px
    &__row
        display: flex
        justify-content: flex-start
        align-items: center
        ul
            display: flex
            justify-content: center
            align-items: center
            margin: 0 auto 
            li
                margin: 0 20px 0 0
                &:last-child
                    margin: 0
            a
                font-family: 'Manrope'
                font-style: normal
                font-weight: 700
                font-size: 16px
                line-height: 125%
                color: #1E1E1E
                position: relative
                z-index: 1
    &__logo
        max-width: 160px 
        img
            width: 100%
    &__info
        margin: 40px 0 0
        display: flex
        justify-content: space-between
    &__law
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 120%
        color: #A5A5A5
    &__politic
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 120%
        color: #1E1E1E
        border-bottom: 1px solid #1E1E1E
    &__develop
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 120%
        color: #A5A5A5
        a
            color: #C90505
            border-bottom: 1px solid #C90505

@media ( max-width: 1024px )
    .header
        padding: 250px 0
        &__list
            flex-wrap: wrap
    .equip
        &__wrapper
            grid-template-columns: 1fr 1fr
    .product
        grid-template-columns: 170px 1fr 170px 
        gap: 20px
    .decision
        &__wrapper
            gap: 20px
        &__name
            padding: 10px 10px 10px 30px
            font-size: 14px
        &__application
            font-size: 14px
            padding: 10px 20px
    .export
        &__wrapper
            gap: 20px
        &__item
            padding: 20px
    .help
        h2
            margin: 0
        .container
            grid-template-columns: 1fr 1fr
            gap: 140px  
        &__info
            ul
                grid-template-columns: 100%
        &::before
            width: calc( 50% + 300px )
    .form
        .container
            grid-template-columns: 1fr 1fr
            gap: 140px  
        &::before
            width: calc( 50% + 300px )
    .nav
        ul
            display: none
        .btn__red
            display: none
        .container
            display: grid
            grid-template-columns: 1fr 45px
        &__logo
            order: -2
        &__humburger
            width: 45px
            height: 30px
            display: flex
            flex-direction: column
            justify-content: space-between
            cursor: pointer
            order: -1
            position: relative
            &::before,
            &::after,
            span
                content: ''
                display: block
                width: 100%
                height: 4px
                background: #fff
        &__active
            position: fixed
            top: 0
            left: 0
            width: 100vw
            height: 100vh
            padding: 30px 0
            background: #1E1E1E
            z-index: 100
            ul
                display: grid
                grid-template-columns: 100%
                gap: 15px
                margin: 40px 0 0
                grid-column: 1/3
                li
                    margin: 0
                    display: flex
                    justify-content: center
            .btn
                &__red
                    margin: 40px auto 0
                    display: block
                    grid-column: 1/3
            .nav
                &__humburger
                    span
                        display: none
                    &::before,
                    &::after
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%) rotate(45deg)
                    &::after
                        transform: translate(-50%, -50%) rotate(-45deg)
    .footer
        &__row
            grid-template-columns: 100%
            display: grid
            justify-items: start
            ul
                display: grid
                grid-template-columns: 100%
                gap: 15px
                margin: 40px 0 0
                grid-column: 1/3
                li
                    margin: 0
            .btn__red
                margin: 40px 0 0

@media ( max-width: 768px )
    h2
        font-size: 24px
    .header
        padding: 150px 0
        h1
            font-size: 30px
        &__list
            p
                font-size: 16px
    .equip
        padding: 70px 0 0
        &__info
            grid-template-columns: 100%
        &__wrapper
            gap: 20px
        &__item
            padding: 20px
            p
                font-size: 14px
    .product
        grid-template-columns: 100%
    .decision
        padding: 70px 0 0
        &__wrapper
            grid-template-columns: 100%
    .service
        padding: 70px 0 0
        &__wrapper
            background: #C90505
            div
                p
                    font-size: 14px
    .help
        margin: 0
        padding: 70px 0 0
        &::before
            content: none
        .container
            grid-template-columns: 100%
            gap: 50px
        &__info
            position: relative
            padding: 0 0 25px
            z-index: 1
            &::before
                content: ''
                display: block
                position: absolute
                bottom: -25px
                left: 50%
                top: -25px
                transform: translateX(-50%)
                width: 100vw
                background: #C90505
                z-index: -1
            ul
                grid-template-columns: 1fr 1fr
                gap: 20px
    .case
        padding: 70px 0 0
    .company
        padding: 70px 0 0
        &__wrapper
            grid-template-columns: 100%
    .export
        padding: 70px 0 0
        &__wrapper
            grid-template-columns: 1fr 1fr
    .form
        padding: 70px 0 0
        background: transparent
        &::before
            content: none
        .container
            grid-template-columns: 100%
            gap: 50px
        &__form
            position: relative
            padding: 0 0 25px
            z-index: 1
            &::before
                content: ''
                display: block
                position: absolute
                bottom: -25px
                left: 50%
                top: -25px
                transform: translateX(-50%)
                width: 100vw
                background: #C90505
                z-index: -1
    .footer
        &__info
            flex-direction: column
            align-items: flex-start
        &__politic
            margin: 20px 0

@media ( max-width: 550px )
    .equip
        &__wrapper
            grid-template-columns: 100%
    .help
        &__info
            ul
                grid-template-columns: 100%
    .case
        &__item
            margin: 0 10px
        &__wrapper
            margin: 30px -10px 0
            width: calc( 100% + 20px )
        &__name,
        &__city
            left: 20px
            right: 20px
    .company
        &__list
            grid-template-columns: 100%

@media ( max-width: 425px )
    .export
        &__wrapper
            grid-template-columns: 100%
    .service__wrapper div p
        font-size: 10px

.modal-product
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow-x: scroll
    z-index: 100
    display: none
    padding: 20px
    &__overflow
        width: 100%
        height: 100%
        left: 0
        top: 0
        position: fixed
        background: rgba(0, 0, 0, 0.75)
        z-index: -1
    &__active
        display: flex
    &__wrapper
        margin: auto
        background: #FFFFFF
        padding: 40px
        position: relative
        max-width: 760px
        width: 100%
    &__close
        top: -20px
        right: -30px
        position: absolute
        max-width: none
        width: auto
        padding: 11px 31px
        cursor: pointer
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 40px
        align-items: start
    &__prev
        img
            width: 100%
            max-width: 260px
    &__name
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 120%
        color: #1E1E1E
    &__price
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 14px
        line-height: 120%
        color: #C90505
        margin: 10px 0 0
    &__list
        margin: 15px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 5px
        max-width: 162px
        li
            display: flex
            justify-content: space-between
            align-items: center
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 120%
            color: #505050
            &+p
                color: #C90505
    &__info
        .btn__red
            margin: 20px 0 0
    &__descr
        grid-column: 1/3
        max-width: 580px
        h3
            font-family: 'Manrope'
            font-style: normal
            font-weight: 600
            font-size: 18px
            line-height: 120%
            color: #1E1E1E
        p
            margin: 5px 0 0
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 120%
            color: #505050
    
.modal-order
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow-x: scroll
    z-index: 100
    display: none
    padding: 20px
    &__overflow
        width: 100%
        height: 100%
        left: 0
        top: 0
        position: fixed
        background: rgba(0, 0, 0, 0.75)
        z-index: -1
    &__active
        display: flex
    &__wrapper
        margin: auto
        background: #FFFFFF
        padding: 40px 100px
        position: relative
        max-width: 760px
        width: 100%
    &__close
        top: -20px
        right: -30px
        position: absolute
        max-width: none
        width: auto
        padding: 11px 31px
        cursor: pointer
    h3
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 100%
        color: #1E1E1E
        text-align: center
    &__subtitle
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 120%
        color: #505050
        margin: 20px 0 0
        text-align: center
    &__form
        margin: 30px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 20px
        input
            padding: 0 0 10px
            border: none
            border-bottom: 1px solid #505050
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 120%
            color: #1E1E1E
            background: transparent
            &::placeholder
                color: #1e1e1eb3
        .btn__red
            max-width: 100%
            padding: 15px
    &__link
        margin: 10px 0 0
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 120%
        color: #505050
        a
            color: #1E1E1E
            border-bottom: 1px solid #1E1E1E

@media ( max-width: 1000px )
    .modal-product
        &__close
            top: 0
            right: 0px
            transform: none
            padding: 7px
            span
                transform: none
        &__wrapper
            max-width: 500px
            padding: 40px 20px
            grid-template-columns: 100%
        &__descr
            grid-column: auto
    .modal-order
        &__close
            top: 0
            right: 0px
            transform: none
            padding: 7px
            span
                transform: none
        &__wrapper
            max-width: 500px
            padding: 40px 20px
            grid-template-columns: 100%

.error
    padding: 145px 0 165px
    position: relative
    overflow: hidden
    img
        width: 100%
        position: absolute
        left: 0
        right: 0
        top: 50%
        transform: translateY(-50%)
    h1
        text-align: center
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 450px
        line-height: 100%
        color: #1E1E1E
    p
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 100%
        color: #1E1E1E
        text-align: center
    .btn__red
        margin: 60px auto 0
        max-width: 560px
        padding: 15px

@media ( max-width: 1440px )
    .error
        h1
            font-size: 250px
        p
            font-size: 30px
        .btn__red
            max-width: 300px

@media ( max-width: 1024px )
    .error
        img
            display: none

@media ( max-width: 768px )
    .error
        h1
            font-size: 150px
        p
            font-size: 24px

.thanks
    position: relative
    padding: 340px 0
    overflow: hidden
    &::before
        content: ''
        display: block
        width: 760px
        height: 100%
        right: -380px
        transform: skewX(-14deg)
        background: #C90505
        position: absolute
        top: 0
    &::after
        content: ''
        display: block
        width: 760px
        height: 100%
        left: -380px
        transform: skewX(-14deg)
        background: #C90505
        position: absolute
        top: 0
    .container
        max-width: 560px
    h1
        font-family: 'Manrope'
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 100%
        color: #1E1E1E
        text-align: center
    p
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 120%
        text-align: center
        color: #505050
        margin: 30px 0 0
        span
            color: #1E1E1E
            font-weight: 700
    .btn__red
        margin: 60px auto 0
        max-width: 100%
        padding: 15px

@media ( max-width: 1440px )
    .thanks
        &::before
            right: -700px
        &::after
            left: -700px

@media ( max-width: 768px )
    .thanks
        padding: 70px 0 
        &::before,
        &::after
            display: none

.nav__politic
    position: relative
    top: auto
    padding: 30px 0 20px
    border-bottom: 1px solid #000000
    ul
        a
            color: #1E1E1E
            &::before
                content: none

.breadcrumbs
    display: flex
    justify-content: flex-start
    align-items: flex-start
    a
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 120%
        color: #505050
    span
        display: block
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 120%
        color: #505050
        margin: 0 10px
    p
        font-family: 'Manrope'
        font-style: normal
        font-weight: 400
        font-size: 13px
        line-height: 120%
        color: #1E1E1E

.politic
    padding: 20px 0 53px
    &__text
        margin: 30px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 15px
        p
            font-family: 'Manrope'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 120%
            color: #414754

@media ( max-width: 1024px )
    .nav__politic
        .nav
            &__humburger
                span,
                &::before,
                &::after
                    background: #1E1E1E
        &.nav__active
            background: #F5F5F5
            border-bottom: none
            position: fixed