

@font-face {
  font-family: 'BaiJamjuree-SemiBold';
  src:url('../fonts/BaiJamjuree-SemiBold.eot?-kwf309');
  src:url('../fonts/BaiJamjuree-SemiBold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-SemiBold.woff?-kwf309') format('woff'),
    url('../fonts/BaiJamjuree-SemiBold.ttf?-kwf309') format('truetype'),
    url('../fonts/BaiJamjuree-SemiBold.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaiJamjuree-Bold';
  src:url('../fonts/BaiJamjuree-Bold.eot?-kwf309');
  src:url('../fonts/BaiJamjuree-Bold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Bold.woff?-kwf309') format('woff'),
    url('../fonts/BaiJamjuree-Bold.ttf?-kwf309') format('truetype'),
    url('../fonts/BaiJamjuree-Bold.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BaiJamjuree-Medium';
  src:url('../fonts/BaiJamjuree-Medium.eot?-kwf309');
  src:url('../fonts/BaiJamjuree-Medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Medium.woff?-kwf309') format('woff'),
    url('../fonts/BaiJamjuree-Medium.ttf?-kwf309') format('truetype'),
    url('../fonts/BaiJamjuree-Medium.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BaiJamjuree-Regular';
  src:url('../fonts/BaiJamjuree-Regular.eot?-kwf309');
  src:url('../fonts/BaiJamjuree-Regular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/BaiJamjuree-Regular.woff?-kwf309') format('woff'),
    url('../fonts/BaiJamjuree-Regular.ttf?-kwf309') format('truetype'),
    url('../fonts/BaiJamjuree-Regular.svg?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'BaiJamjuree-SemiBold';
  background: linear-gradient(180deg, rgba(187, 187, 187, 0.2) 0%, rgba(0, 0, 0, 0.2) 26.66%), #000000;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  
}


/*work*/

.work {

}

.work-wrap {
  display: flex;
}

.work-left {
  padding: 50px 39px 32px 39px;
  background: #151617;
  width: 20%;
  position: relative;
}

.work-nav {
  padding: 94px 0 0 0;
}

.work-li {
  padding: 30px 0 0 0;
}

.work-li2 {
  padding: 30px 0 0 0;
}

.work-li a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.work-li a img {
  padding: 0 14px 0 0;
}

.work-li a img + img {
  display: none;  
  transition: 0.3s;
}

.work-li a:hover img {
  display: none;
  transition: 0.3s;
}

.work-li a:hover img + img {
  display: block;
  transition: 0.3s;
}

.work-li a:hover {
  color: #01AF4F;
}

.work-li2 a:hover {
  color: #01AF4F;
}

.work-li2 a img + img {
  display: none;  
  transition: 0.3s;
}

.work-li2 a:hover img {
  display: none;
  transition: 0.3s;
}

.work-li2 a:hover img + img {
  display: block;
  transition: 0.3s;
}

.work-li2 a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  color: #7A7A7A;
  text-decoration: none;
}

.work-li2 a img {
  padding: 0 14px 0 0;
}

.nav-absolute {
  position: absolute;
  top: 0;
  left: 110px;
  font-size: 10px;
  line-height: 12px;
  color: #01AF4F;
}

.nav-absolute2 {
  position: absolute;
  top: 0;
  left: 110px;
  font-size: 10px;
  line-height: 12px;
  color: #01AF4F;
}

.nav-absolute3 {
  position: absolute;
  top: 0;
  left: 105px;
  font-size: 10px;
  line-height: 12px;
  color: #01AF4F;
}

.social-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.work-social {
  padding: 340px 0 0 15px;
  margin: auto 0 0;
}

.social-li {
  width: 25%;
  padding: 20px 0 0 0;
}



.social-li a img + img {
  display: none;  
  transition: 0.3s;

}

.social-li a:hover img {
  display: none;
  transition: 0.3s;
}

.social-li a:hover img + img {
  margin-top: -4px;
  display: block;
  transition: 0.3s;
}

.work-right {
  width: 80%;
  padding-bottom: 80px;
}

.right-wrap {
  position: relative;
  padding: 50px 75px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.work-link a {
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: #F9F9F9;
  background: #090909;
  border: 1px solid #151515;
  box-shadow: inset 0px 4px 10px rgba(187, 187, 187, 0.2);
  border-radius: 10px;
  width: 150px;
  padding: 5px 0;
}

.work-link a:hover {
  color: #01AF4F;
}

.work-link a img {
  padding: 0 12px 0 0;
}

.work-link2 {
  padding: 0 0 0 30px;
}

.work-link2 a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  background: #01AF4F;
  border: 1px solid #151515;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 150px;
  padding: 8px 0;
}

.work-link2 a:hover {
  color: #01AF4F;
  background: #090909;
  border: 1px solid #151515;
  box-shadow: inset 0px 4px 10px rgba(187, 187, 187, 0.2);

}

.work-link3 {
  padding: 0 0 0 60px;
}

.work-link3 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: #F9F9F9;
}

.work-link3 a img {
  padding: 0 0 0 6px;
}

.work-link4 {
  display: none;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: #F9F9F9;
}

.work-link4 a img {
  padding: 0 0 0 6px;
}

.work-block {
  padding: 70px 0 0 0;
}

.work-border {
  padding: 28px 0 40px 0;
  background: url(../images/work-bg.png) 0 0 no-repeat;
  background-size: cover;
}

.work-title {
  font-family: 'BaiJamjuree-Bold';
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px #029B47;
}

.border-block {
  display: flex;
  justify-content: center;
  padding: 38px 0 0 0;
}

.border-block2 {
  display: none;
  justify-content: center;
  padding: 38px 0 0 0;
}

.block-border {
  background: linear-gradient(180deg, rgba(187, 187, 187, 0.2) 0%, rgba(0, 0, 0, 0) 35.75%), #090909;
  box-shadow: inset 0px 4px 10px rgba(187, 187, 187, 0.2);
  border-radius: 10px;
  padding: 12px 0 20px 0;
  width: 375px;
}

.border-title {
  font-family: 'BaiJamjuree-Bold';
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #F9F9F9;
}

.border-title span {
  color: red;
  font-family: 'BaiJamjuree-SemiBold';
}

.border-link {
  display: flex;
  justify-content: center;
  padding: 15px 0 0 0;
}

.border-link a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  background: #01AF4F;
  border: 1px solid #151515;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 150px;
  padding: 8px 0;
}

.border-link a:hover {
  color: #01AF4F;
  background: #000000;
  border: 1px solid #01AF4F;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
}


/*BURGER*/



.mt-munu-mb {
  padding: 0 0 0 0;
}



.burger {
  position: absolute;
  top: 60px;
  left: 60px;
  display: none !important;
  color: #23f0ff;
  cursor: pointer;
  z-index: 12;
  
}
.burger i:nth-of-type(1) {
  display: block;
}
.burger i:nth-of-type(2) {
  display: none;
}
.burger.burger-open {
  color: #2a3255;
}
.burger.burger-open i:nth-of-type(1) {
  display: none;
}
.burger.burger-open i:nth-of-type(2) {
  display: block;
}

.body-open  {
  overflow: hidden;
}

.mt-mobile {
  position: absolute;
  top: 0;
  z-index: 11;
  left: 0;
  height: auto;
  width: 300px;
  padding: 100px 0 30px 39px;
  background-color: #151617;
  transition: 0.5s ease all;
  clip-path: circle(100%);
}


.mt-mobile.nav-open {
  clip-path: circle(0px at 0px 0%);
}

.burger i svg {

}


/*index2*/

.work-inner {
  display: flex;
  align-items: center;
  padding: 44px 0 0;
  justify-content: center;
  gap: 50px
}

.inner-border {
  background: linear-gradient(180deg, rgba(187, 187, 187, 0.2) 0%, rgba(0, 0, 0, 0) 35.75%), #090909;
  box-shadow: inset 0px 4px 10px rgba(187, 187, 187, 0.2);
  border-radius: 10px;
  padding: 26px 0 25px 0;
  width: 250px;
}

.inner-title {
  font-family: 'BaiJamjuree-Bold';
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #F9F9F9;
}

.inner-title span {
  color: #01AF4F;
}

.inner-suptitle {
  font-family: 'BaiJamjuree-Bold';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #F9F9F9;
}

.inner-suptitle2 {
  font-family: 'BaiJamjuree-Bold';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #01AF4F;
}


.work-link-wrap {
  padding: 200px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-link-wrap2 {
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-link {
  padding: 0 50px;
}

.wrap-link a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  background: #01AF4F;
  border: 1px solid #151515;
  box-shadow: inset 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  padding: 18px 0;
}

.wrap-link a:hover {
  color: #01AF4F;
  background: #000000;
  border: 1px solid #01AF4F;
  box-shadow: inset 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.inner-block2 {
  display: none;
}

.inner-block3 {
  display: none;
}


.work-suptitle {
  padding: 100px 0 0 0;
  text-align: center;
  font-family: 'BaiJamjuree-Medium';
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}

.work-currently {
  display: flex;
  justify-content: center;
  padding: 80px 0 0 0;
}

.currently-border {
  border: 1px solid #01AF4F;
  box-shadow: inset 0px 4px 10px rgba(187, 187, 187, 0.2);
  border-radius: 10px;
  width: 702px;
  padding: 44px 0;
}

.currently-title {
  text-align: center;
  font-family: 'BaiJamjuree-Bold';
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px #029B47;
}


.currently-suptitle {
  padding: 20px 0 0 0;
  font-family: 'BaiJamjuree-Bold';
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.currently-suptitle span {
  color: #01AF4F;
}

.border-block3 {
  padding: 45px 0 0 0;
}

.carbo-title {
  padding: 100px 0 0 0;
  font-family: 'BaiJamjuree-Medium';
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}

.carbo-suptitle {
  text-align: center;
  padding: 20px 0 0 0;
  font-family: 'BaiJamjuree-Bold';
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px #029B47;
}

.carbo-wrap {
  padding: 100px 200px 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.carbo-number {
  font-family: 'BaiJamjuree-Regular';
  font-size: 50px;
  line-height: 62px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px #029B47;
  background: #151617;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  padding: 18px 0;
}

.carbo-block-title {
  padding: 15px 0 0 0;
  text-align: center;
  font-family: 'BaiJamjuree-Bold';
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.work-suptitle br {
  display: none;
}


.social-links {
  
  color: #FFF;
  font-family: sans-serif;
  
}


#lang-form div {
  float: left;
  margin-top: 1px;
}

#lang-form #dropdown-wrapper {
  width: 0;
  margin-top: 20px;
  z-index: 1000;
}

.dropdownbox {
  margin: 0 auto;
  cursor: pointer;
}

.dropdownbox > p {
  display: block;
  user-select: none;
  -moz-user-select: none;
  /* Safari */
  -khtml-user-select: none;
}

ul.menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
  margin: 0 0;
  width: 100px;
  overflow: hidden;
  height: 0;
  margin-left: -37px;
  margin-top: 2px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  /*-moz-transform:scale(0); */
  color: #FFF;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  /* Safari */
  -khtml-user-select: none;
}

ul.menu li {
  padding: 2px 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

ul.menu li:hover {
  padding-left: 10px;
  color: #2E408A;
  /*background: #1F8EC1;*/
}

.menu.showMenu {
  /*-moz-transform:scale(1);*/
  height: 50px;
}




.social-links {
  
  color: #FFF;
  font-family: sans-serif;
  
}


#lang-form2 div {
  float: left;
  margin-top: 1px;
}

#lang-form2 #dropdown-wrapper2 {
  width: 0;
  margin-top: 20px;
  z-index: 1000;
}

.dropdownbox2 {
  margin: 0 auto;
  cursor: pointer;
}

.dropdownbox2 > p {
  display: block;
  user-select: none;
  -moz-user-select: none;
  /* Safari */
  -khtml-user-select: none;
}

ul.menu2 {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
  margin: 0 0;
  width: 100px;
  overflow: hidden;
  height: 0;
  margin-left: -37px;
  margin-top: 2px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  /*-moz-transform:scale(0); */
  color: #FFF;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  /* Safari */
  -khtml-user-select: none;
}

ul.menu2 li {
  padding: 2px 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

ul.menu2 li:hover {
  padding-left: 10px;
  color: #2E408A;
  /*background: #1F8EC1;*/
}

.menu2.showMenu2 {
  /*-moz-transform:scale(1);*/
  height: 50px;
}



