

@media screen and (max-width: 1920px) {
  .container {
    max-width: 100%;
  }
}


@media screen and (max-width: 1366px) {

}


@media screen and (max-width: 1300px) {
  .work-inner {
    padding: 44px 50px 0 50px;
  }

  .carbo-wrap {
    padding: 50px 50px 0 50px;
  }
}



/* стили для md-устройств */
@media screen and (max-width: 1200px) {
	.work-left {
		width: 23%;
	}

	.work-right {
		width: 77%;
	}

  .work-inner {
    padding: 44px 25px 0 25px;
  }
}

@media screen and (max-width: 1024px) {
	.work-left {
		display: none;
	}

	.work-right {
		width: 100%;
	}

  .work {
    padding: 0 0 100px 0;
  }

	/*Burger*/

  .burger {
    display: block !important;
  }

  .mt-munu-mb .header-navigation-wr {
    display: block !important;
  }

  .work-social {
  	padding: 50px 0 0 0;
  }

  .work-nav {
  	padding: 50px 0 0 0;
  }

  .work-title {
  	font-size: 30px;
	line-height: 38px;
  }

  .work-suptitle {
    padding: 50px 0 0 0;
  }

  .work-currently {
    padding: 50px 0 0 0;
  }

  .work-link-wrap2 {
    padding: 50px 0 0 0;
  }
	
}


/* стили для sm-устройств */
@media screen and (max-width: 992px) {
 
  
}


@media screen and (max-width: 800px) {
 
    .inner-border {
      width: 200px;
    }

    .wrap-link {
      padding: 0 20px;
    }

    .wrap-link a {
      width: 200px;
    }

    .work-suptitle {
      font-size: 16px;
    }
}


/* Ipad*/ 
@media screen and (max-width: 768px) {
	.work-link4 {
		display: flex;
	}

	.work-link3 {
		display: none;
	}

	.right-wrap {
		padding: 30px 22px 0 0;
	}

	.work-link {
		padding: 0 0 0 57px;
	}

	.work-link2 {
		padding: 0 0 0 15px;
	}

	.burger {
		top: 40px;
		left: 22px;
	}

	.work-title {
		font-size: 25px;
	}

  .wrap-link a {
      width: 200px;
  }

  .carbo-wrap {
    padding: 50px 20px 0 20px;
  }

  .currently-border {
    width: 600px;
  }
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	.work-title {
		font-size: 20px;
	}

  .work-inner {
    display: none;
  }

  .inner-block2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0 0 0;
  }

  .inner-block3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0 0 0;
  }

  .inner-border {
    width: 250px;
  }

  .inner-border {
    padding: 10px 0;
  }

  .work-link-wrap {
    padding: 50px 0 0 0;
  }

  .carbo-wrap {
    flex-wrap: wrap;
  }

  .carbo-block {
    padding: 0 0 15px 0;
    width: 50%;
  }

  .number-block {
    display: flex;
    justify-content: center;
  }

  .work-suptitle {
    font-size: 12px;
    line-height: 20px;
  }

  .work-currently {
    padding: 30px 0 0 0;
  }

  .currently-border {
    padding: 25px 0;
    width: 200px;
  }

  .currently-title {
    font-size: 12px;
    line-height: 15px;
  }

  .currently-suptitle {
    padding: 5px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .work-link-wrap2 {
    padding: 30px 0 0 0;
  }


}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  .work-link4 a {
  	font-size: 12px;
	line-height: 15px;
  }

  .work-link a {
  	font-size: 10px;
	line-height: 12px;
	width: 100px;
  }

  .work-link a img {
  	width: 25px;
  	height: 14px;
  }

  .work-link2 a {
  	font-size: 10px;
    line-height: 12px;
    width: 100px;
    padding: 6px 0;
  }

  .burger i svg {
  	width: 20px;
  	height: 12px;
  }

  .burger {
  	top: 33px;
  }

  .work-title {
  	font-size: 15px;
	line-height: 19px;
  }

  .work-block {
  	padding: 30px 0 0 0;
  }

  .border-block {
  	display: none;
  }

  .border-block2 {
  	padding: 30px 0 0 0;
  	display: flex;
  }

  .work-border {
  	padding: 33px 0;
  }

  .block-border {
  	width: 300px;
  	padding: 17px 0 10px 0;
  }

  .work-right {
  	padding: 0 0 50px 0;
  }

  .border-title {
  	font-size: 12px;
	line-height: 15px;
  }

  .border-link a {
  	width: 100px;
  	font-size: 10px;
	line-height: 12px;
  }

  .work-logo {
  	display: none;
  }

  .work-nav {
  	padding: 0;
  }

  .work-social {
  	display: none;
  }

  .mt-mobile {
  	width: 208px;
  	padding: 45px 0 30px 22px;
  }

  .work-li a {
  	font-size: 15px;
	line-height: 19px;
  }

  .work-li2 a {
  	font-size: 15px;
	line-height: 19px;
  }

  .nav-absolute {
  	font-size: 7px;
	line-height: 9px;
	left: 98px;
  }

  .nav-absolute2 {
  	font-size: 7px;
	line-height: 9px;
	left: 95px;
  }

  .nav-absolute3 {
  	font-size: 7px;
	line-height: 9px;
	left: 92px;
  }

  .border-block3 {
    display: none;
  }

  .work-link-wrap {
    flex-wrap: wrap;
  }

  .wrap-link {
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0 0 20px 0;
  }

  .inner-title {
    font-size: 12px;
    line-height: 15px;
  }

  .inner-suptitle {
    font-size: 12px;
    line-height: 15px;
  }

  .inner-suptitle2 {
    font-size: 12px;
    line-height: 15px;
  }

  .inner-border {
    width: 300px;
  }

  .wrap-link a {
    padding: 7px 0;
    font-size: 10px;
    line-height: 12px;
  }

  .carbo-title {
    padding: 50px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .carbo-suptitle {
    padding: 10px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .carbo-number {
    font-size: 45px;
    line-height: 56px;
    padding: 8px 0;
    width: 100px;
  }

  .carbo-block-title {
    font-size: 10px;
    line-height: 12px;
  }

  .carbo-block {
    padding: 0 0 20px 0;
  }

  .work-suptitle br {
    display: block;
  }

  
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {
	.work-link {
		padding: 0 0 0 50px;
	}
}

@media screen and (max-width: 350px) {
	.right-wrap {
		padding: 30px 15px 0 0;
	}

	.burger {
		left: 15px;

	}

	.work-link {
		padding: 0 0 0 12px;
	}
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}

@media (max-width: 1320px) {
  .work-block {
    padding: 100px 0 0;
  }
  .work-title {
    font-size: 30px;
    line-height: 38px;
  }
  .work-border {
    padding: 31px 0;
  }
  .border-block {
    padding: 50px 0 0;
  }
  .work-inner {
    padding: 50px 0 0;
    justify-content: center;
    gap: 50px
  }
  .wrap-link a {
    font-size: 20px;
  }
  .wrap-link {
    padding: 0 35px;
  }
  .border-block3 {
    padding: 50px 0 0;
  }
  .border-link {
    padding: 35px 0 0;
  }
  .border-block3 .border-title {
    font-size: 20px;
    line-height: 25px;
  }
  .work-suptitle {
    font-size: 21px;
    line-height: 26px;
    padding: 90px 0 0;
  }
  .work-currently {
    padding: 70px 0 0;
  }
}

@media (min-width: 1800px) {
  .work-link3 {
    padding: 0 0 0 100px;
  }
  .work-title {
    font-size: 40px;
    line-height: 50px;
  }
  .work-border {
    padding: 55px 0;
  }
  .work-block {
    padding: 175px 0 0;
  }
  .border-title {
    font-size: 15px;
    line-height: 19px;
  }
  .block-border {
    padding: 23px 0;
  }
  .border-block {
    padding: 75px 0 0;
  }
  .social-li img {
    width: 25px;
  }
  .inner-border {
    width: 280px;
    padding: 26px 0 32px;
  }
  .inner-title {
    font-size: 15px;
    line-height: 19px;
  }
  .inner-suptitle {
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0 0;
  }
  .work-inner {
    padding: 55px 0 0;
    gap: 80px;
  }
  .work-link-wrap {
    padding: 300px 0 0;
  }
  .wrap-link a {
    font-size: 20px;
  }
  .border-block3 {
    padding: 55px 0 0;
  }
  .border-block3 .border-title {
    font-size: 20px;
    line-height: 25px;
  }
  .border-link {
    padding: 35px 0 0;
  }
  .work-suptitle {
    font-size: 23px;
    line-height: 29px;
  }
  .work-currently {
    padding: 130px 0 0;
  }
  .work-link-wrap2 {
    padding: 130px 0 0;
  }
  .carbo-title {
    font-size: 23px;
    line-height: 29px;
    padding: 150px 0 0;
  }
  .carbo-suptitle {
    padding: 50px 0 0;
    font-size: 23px;
    line-height: 29px;
  }
  .inner-suptitle2 {
    margin: 10px 0 0;
  }
}

@media (min-width: 1900px) {
  .work-link3 {
    padding: 0 0 0 100px;
  }
  .work-block {
    padding: 85px 0 0;
  }
  .work-border {
    padding: 62px 0;
  }
  .work-title {
    font-size: 40px;
    line-height: 50px;
  }
  .border-block {
    padding: 55px 0 0;
  }
  .block-border {
    padding: 23px 0 0;
  }
  .border-title {
    font-size: 15px;
    line-height: 19px;
  }
  .wrap-link {
    padding: 0 75px;
  }
  .border-block3 .border-title {
    font-size: 25px;
    line-height: 31px;
  }
  .work-suptitle {
    padding: 70px 0 0;
  }
  .work-currently {
    padding: 77px 0 0;
  }
  .work-link-wrap2 {
    padding: 100px 0 0;
  }
  .carbo-title {
    padding: 95px 0 0;
  }
  .carbo-suptitle {
    padding: 25px 0 0;
  }
}