button
    width: 100%
    height: 100px
    border: none

.btn
    &__green
        background-color: #00ff48
    &__blue
        background-color: #4800ff
    &__pink
        background-color: #ff00d9