$white: #fff
$error: #ff361b
$text-black: #201b1b
$text-grey: #565656
$text-placeholder: #a6a6a6
$accent-default: #fac800
$accent-hover: #ffde5c
$background-grey: #f2f2f2
$background-yellow: #fff6d1
$background-dark: #333
$background-darkgrey: #4c4c4c
$stroke-grey: #d9d9d9
$font-family: "Roboto", sans-serif
    
body
    background: $white
    font-family: $font-family
h2
    font-weight: 700
    font-size: 36px
    line-height: 1.2
    color: $text-black
.btn
    &__yellow
        padding: 12px 24px
        border: none
        font-weight: 500
        font-size: 16px
        line-height: 1.3
        text-align: center
        color: $text-black
        transition: all .3s
        border-radius: 4px
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12)
        background: $accent-default
        &:hover
            background: $accent-hover
    &__gray
        border: none
        padding: 12px 24px
        font-weight: 500
        font-size: 16px
        line-height: 1.3
        text-align: center
        color: $text-black
        transition: all .3s
        border-radius: 4px
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12)
        background: #ededed
        &:hover
            background: #e3e3e3
    &__light
        padding: 12px 24px
        border: none
        font-weight: 500
        font-size: 16px
        line-height: 1.3
        text-align: center
        color: $text-black
        transition: all .3s
        border-radius: 4px
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12)
        background: $background-yellow
        &:hover
            background: #ffefaf
.container
    max-width: 1200px
    margin: 0 auto 
    padding: 0 16px
    box-sizing: content-box
.nav
    padding: 17px 0
    display: flex
    justify-content: flex-start
    align-items: center
    &__logo
        width: 100%
        max-width: 55px
        display: block
        img
            width: 100%
    &__phone
        display: flex
        justify-content: center
        align-items: center
        gap: 8px
        font-weight: 400
        font-size: 16px
        line-height: 1.3
        color: $white
        transition: all .3s
        margin: 0 16px 0 auto
        svg
            path
                transition: all .3s
        &:hover
            color: $accent-hover
            svg
                path
                    fill: $accent-hover
    
.header
    padding: 0 0 160px
    background: url('../img/header_bg.jpg') right no-repeat    
    background-size: cover
    &__info
        max-width: 515px
        margin: 83px 0 0
    h1
        font-weight: 600
        font-size: 64px
        line-height: 1
        letter-spacing: -0.02em
        color: $white
        span
            color: $accent-default
    &__list
        margin: 36px 0 0
        display: grid
        gap: 13px
        li
            display: grid
            grid-template-columns: 81px 1fr
            gap: 20px
            align-items: center
        p
            font-weight: 700
            font-size: 20px
            line-height: 1.2
            color: $white
    &__img
        border-radius: 100%
        width: 81px
        height: 81px
        border: 5px solid rgba(255, 255, 255, 0.32)
        position: relative
        img
            width: 71px
            height: 71px
            object-fit: contain
            position: relative
    &__row
        margin: 36px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 10px
        button
            width: 100%

.advant
    padding: 100px 0
    position: relative
    overflow: hidden
    h2
        max-width: 500px
    &__title
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__arrow
        position: relative
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
        .swiper-button-prev,
        .swiper-button-next
            position: relative
            inset: auto
            transform: none
            margin: 0
            width: 40px
            height: 40px
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12)
            background: $accent-default
            transition: all .3s
            border-radius: 100%
            &::after
                content: none
            svg
                width: 20px
                height: 20px
            &:hover
                background: $accent-hover
            &.swiper-button-disabled
                opacity: 0.6
                background: $background-grey
    &__slider
        margin: 40px 0 0
        overflow: visible !important
    .swiper
        &-wrapper
            overflow: visible
        &-pagination
            display: none
    &__img
        position: relative
        img
            width: 100%
            height: 200px
            object-fit: cover
            border-radius: 12px
        span
            position: absolute
            top: 12px
            left: 12px
            border-radius: 8px
            background: $white
            padding: 10px
            display: block
            svg
                width: 20px
                height: 20px
    &__slide
        h3
            font-weight: 700
            font-size: 20px
            line-height: 1.2
            color: $text-black
            margin: 12px 0 0
        p
            margin: 12px 0 0
            font-weight: 400
            font-size: 16px
            line-height: 1.3
            color: $text-black

.stock
    padding: 60px 0
    background: $background-grey
    &__wrapper
        margin: 40px 0 0
        display: grid
        grid-template-columns: 1fr
        gap: 20px
    &__item
        border-radius: 16px
        padding: 24px 30px
        box-shadow: 0 2px 15px -2px rgba(0, 0, 0, 0.12)
        background: $white
        display: grid
        grid-template-columns: calc( 50% - 15px ) calc( 50% - 15px )
        gap: 30px
    &__img
        border-radius: 12px
        width: 100%
        overflow: hidden
        position: relative
        &_slide
            border-radius: 12px
            overflow: hidden
            position: relative
            img
                width: 100%
                min-height: 313px
                object-fit: cover
        &_val
            position: absolute
            top: 16px
            left: 16px
            display: flex
            justify-content: center
            align-items: center
            gap: 8px
            padding: 4px 12px
            border-radius: 99px
            box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.13)
            background: $white
            z-index: 5
            p
                font-weight: 400
                font-size: 16px
                line-height: 1.3
                color: $text-black
    .swiper-button-prev,
    .swiper-button-next
        inset: auto
        margin: 0
        width: 20px
        height: 20px
        transition: all .3s
        top: 50%
        left: 8px
        transform: translateY(-50%)
        &::after
            content: none
        svg
            width: 20px
            height: 20px
            path
                transition: all .3s
        &:hover
            path
                fill: $accent-hover
    .swiper-button-next
        left: auto
        right: 8px
    .swiper
        &-pagination
            position: absolute
            transform: none
            margin: 0
            display: flex
            justify-content: center
            align-items: center
            gap: 10px
            inset: auto
            bottom: 16px
            span
                border-radius: 2px
                width: 30px
                height: 5px
                background: $white
                opacity: 0.5
                margin: 0
                transition: all .3s
                &.swiper-pagination-bullet-active
                    opacity: 1
    &__info
        h3
            font-weight: 700
            font-size: 26px
            line-height: 1.2
            color: $text-black
        ul
            margin: 16px 0 0
            display: grid
            gap: 4px
            li
                display: block
                p
                    display: inline
                    font-weight: 400
                    font-size: 16px
                    line-height: 1.3
                    color: $text-grey
                    margin: 0 0 0 8px
                    &+p
                        color: $text-black
        .btn__yellow
            margin: 20px 0 0
            width: 100%
    &__btn
        margin: 8px 0 0 
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 8px
        width: 100%