.form__large__tittle{
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 8px;
}

.form__tittle{
	font-size: 26px;
	line-height: 31px;
	margin-bottom: 11px;
}

.form_input {
    padding: 5px 19px;
}

.form__text {
    margin-bottom: 18px;
}

.form_input_small{
	margin-bottom: 6px;
}

.show-hide {
    display: inline-block;
    width: 100%;
    background-color: #fafafa;
    padding: 12px 3px 10px 0;
    margin-bottom: 7px;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    color: #67717F;
    margin-top: 6px;
    text-align: center;
}

.show::after {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.87687 6.21259L0.258134 2.17788C-0.0860453 1.79318 -0.0860453 1.17065 0.258134 0.787118C0.602313 0.404294 1.16063 0.404294 1.5046 0.787118L4.50011 4.12691L7.49477 0.788058C7.83895 0.404294 8.39705 0.404294 8.74123 0.788058C9.08626 1.17159 9.08626 1.79412 8.74123 2.17788L5.12249 6.21259C4.95051 6.40459 4.72562 6.5 4.50011 6.5C4.27459 6.5 4.04802 6.40459 3.87687 6.21259Z' fill='%2367717F'/%3E%3C/svg%3E%0A");
}
.show-hide::after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 9px;
    height: 9px;
    background-repeat: no-repeat;
    margin-left: 5px;
}

/*.accept_text {
	padding-top: 0;
}*/

.accept_wrap {
    margin-bottom: 11px;
}

.contacn-form .dark-blue_button{
	margin: 0;
    width: 140px;
}

.contacn-form__wrap {
    max-width: 580px;
    padding: 26px 42px 32px 40px;
	margin-bottom: 24px;
	margin-top: 24px;
}

.result__tittle{
	width: 100%;
}

.usefull-articles{
	max-width: 100%;
	width: 100%;
	margin-top: 14px;
}

.articles__tittle,
.articles__read-more{
	margin-bottom: 0;
}

.articles__item{
	max-width: 100%;
	width: 100%;
	margin: 16px 0;
}

.article__img{
	float: right;
	width: 155px;
    height: 105px;
}

.more_bank_product__wrap{
	text-align: center;
	margin-bottom: 10px;
}

.more_bank_product{
	font-size: 18px;
	line-height: 21px;
	color: #4A90E2;
	border-bottom: 1px solid #4A90E2;
	margin: auto;
}

.all-info__wrap{
	background-color: #fff;
	padding: 15px 16px 15px 16px;
	margin-bottom: 16px;
	width: 100%;
}

.about-credit__tittle{
	display: flex;
    flex-wrap: wrap;
}

.bank-head-logo{
	margin-left: auto;
}

.bank-nav__wrap{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
	margin-bottom: 10px;
}

.bank-nav__link{
	border-radius: 21px;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #434343;
    padding: 4px 20px !important;
}

.bank-nav__item{
	margin-right: 19px;
}


.bank-nav__item:last-of-type{
	margin-right: 0px;
}

.bank-nav__link:hover,
.bank-nav__link:focus,
.bank-nav__item.active .bank-nav__link{
	color: #fff;
	background-color: #4A90E2!important;
}

.about-block__tittle{
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #5F5F5F;
	margin-top: 8px;
}

.bank__info_text{
	font-size: 14px;
	line-height: 21px;
	color: #5F5F5F;
	margin-bottom: 3px;
	margin-top: 7px;
}

.bank__info_text p{
	margin-bottom: 0;
}

.product__bullets_wrap{
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	margin: 8px 0 16px;
	padding: 7px 0 16px;
}

.product__bullets {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 16px;
}

.bullets__item:hover {
     box-shadow: none; 
}

.bullets__item{
	max-width: 100%;
    height: 84px;
    margin: auto;
}

.bullets__link{
	display: block;
	width: 100%;
	height: 100%;
}

.bullets__link__icon {
    max-width: 48px;
    max-height: 48px;
    margin-top: 0;
}

.bullets__link__name{
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #434343;
	height: 28px;
	margin-top: 8px;
}

.owl-dots{
	display: none;
}

.owl-next{
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 0!important;
}

.owl-next::after{
	display: block;
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.76936 9.03854L2.73848 15.0698C2.16345 15.6434 1.23292 15.6434 0.659639 15.0698C0.0874121 14.4961 0.0874121 13.5656 0.659639 12.9923L5.6518 7.99982L0.661044 3.00872C0.0874121 2.43508 0.0874121 1.50491 0.661044 0.931277C1.23432 0.356241 2.16485 0.356241 2.73848 0.931277L8.76936 6.96251C9.05635 7.24915 9.19897 7.62396 9.19897 7.99982C9.19897 8.37569 9.05635 8.75331 8.76936 9.03854Z' fill='%23A1A1A1'/%3E%3C/svg%3E%0A");
	width: 10px;
	height: 16px;
    top: 0;
    bottom: 0;
}

.banks__numd{
	font-weight: 500;
	line-height: 19px;
	color: #4A90E2;
	margin-top: 4px;
	margin-bottom: 5px;
}

.banks__numd__item:first-of-type{
	margin-right: 13px;
}

.map__wrap{
	width: 100%;
	max-height: 290px;
}

.map__wrap iframe{
	border: 0;
}

.blue_select_arrow:after {
    bottom: 0px;
}


.article__item__tittle{
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #5F5F5F;
}

.news__date{
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #434343;
	margin-right: 8px;
	vertical-align: super;
}

.article__item__tittle{
	padding: 13px 16px 7px 16px;
	white-space: pre-line;
	max-width: 50%;
}

.block__item__comment{
	padding-left: 16px;
	padding-bottom: 5px;
}

.article__comments__wrap{
	margin-top: 8px;
}

.raiting__info{
	font-weight: 400;
}

.button__wrap{
	width: 100%;
	text-align: right;
	margin-top: 4px;
}

.button__wrap .dark-blue_button{
	display: inline-block;
	margin-right: 17px;
}

.button__wrap .button_green,
.button__wrap .dark-blue_button{
	width: 151px;
	font-size: 12px;
	padding: 9px 0;
}

.main-content__center{
	margin-top: 0;
}

.about-credit__tittle {
    margin-bottom: 13px;
}

.article_tittle__wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.articles__read-more{
	margin: 0;
	float: none;
}

.articles__item {
	margin: 13px 0 2px;
}

.result__tittle_big{
	font-size: 20px;
	line-height: 24px;
	color: #5F5F5F;
	margin: 18px 0 19px;
}

.result__item__head{
	padding-top: 0;
}

.search-credit__result__item__credit{
	padding-top: 5px;
	padding-bottom: 14px;
}

.result__item__main-info_credit_dop {
    padding-bottom: 5px;
}

.show__dop-result{
	padding-right: 0px;
	padding-top: 10px;
}

.result__item__main-info_credit_dop {
    margin-bottom: 15px;
}

.dop-info__list{
	width: 100%;
}

.about-block__tittle .blue_select_arrow::after{
	height: 24px;
    bottom: -3px;
}

@media (max-width: 1024px){

	.bank-nav__link{
		padding: 4px 20px !important;
	}
}

@media (max-width: 991px){
	.form__large__tittle {
	    font-size: 28px;
	}

	.form__tittle {
	    font-size: 22px;
	}

	.result__head-button_credit{
		text-align: right;
	}

	.product-name {
	    font-size: 17px;
	}

	.article__item__tittle {
	    max-width: 52%;
	}

	.bank-nav__item {
	    margin-right: 0px;
	}

	.bank-nav__link{
	    padding: 4px 9px !important;
	}

	.bank-head-logo{
		margin-left: 0;
	}

	.blue_select__wrap{
		margin-left: 5px;
	}

}

@media (max-width: 768px){
	.bank-head-logo{
		margin-left: auto;
	}

	.product-name {
	    font-size: 18px;
	}

	.result__item__dop-info {
	    display: block;
	}

	.button_green_large {
	    font-size: 16px;
	    width: 335px;
	}

	.bullets__item::after{
		display: none;
	}

	.bullets__item {
	    display: inline-block; 
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    height: 84px;
	    text-align: center; 
	    border-bottom: none;
	}

	.bullets__link__icon {
	    left: 0; 
	    margin: 0 auto;
	}

	.bullets__link__name{
		position: absolute;

	}

	.bank-nav__item{
		border-bottom: 0;
	}

	.bank-nav__link{
	    padding: 4px 25px !important;
	}
}


@media (max-width: 767px){

	.bank-nav__link{
	    padding: 4px 15px !important;
	    font-size: 13px;
	}

	.bank-nav__item{
		padding-top: 0;
		padding-bottom: 0;
	}

	.bank__info_text {
	    font-size: 13px;
	}

	.about-block__tittle .blue_select_arrow::after{
		height: 24px;
    	bottom: -3px;
	}

	.button_green_large {
	    font-size: 14px;
	}

	.article__item__tittle {
	    font-size: 14px;
	    line-height: 15px;
        max-width: 45%;
	}

	.search-credit__result__wrap{
		width: 100%;
	}

	.articles_wrap .col-sm-12{
		padding: 0;
	}

	.block__item__comment-md{
		position: relative;
		left: 0;
		bottom: 0;
	}

	.articles__item {
	    margin: 0 0 12px 0!important;
	}

	.news__date{
		font-size: 12px;
	}

	.article__img {
	    width: 120px;
	    height: 76px;
	}

	.article_tittle__wrap{
		margin-bottom: 8px;
	}

	.list__item_inline{
		width: 100%;
	}

	.button__wrap{
		text-align: center;
	}

	.form__large__tittle {
	    font-size: 20px;
	}

	.form__tittle {
	    font-size: 17px;
	}

	.contacn-form__wrap {
	    padding: 16px 30px 16px 30px;
	}
}

@media (max-width: 617px){
	.bank-head-logo{
		display: none;
	}
}

@media (max-width: 550px){
	.bank-nav__link {
	    padding: 4px 10px !important;
	}
}

@media (max-width: 425px){
	.all-info__wrap{
	    padding-left: 12px;
	    padding-right: 12px;
	}

	.bank-nav__link {
	    padding: 4px 5px !important;
	    font-size: 12px;
	}

	.nav__item:first-of-type .nav__link {
	    padding-left: 5px !important;
	}

	.article__item__tittle {
	    max-width: 57%;
	}
}

@media (max-width: 414px){
	.bank-nav__wrap{
		display: none;
	}
}


@media (max-width: 375px){
	.bank-nav__wrap{
		display: none;
	}

	.article__item__tittle{
		font-size: 13px;
	}

	.result__tittle_big {
	    font-size: 18px;
	    margin: 0px 0 12px;
	}

	.article__item__tittle {
	    padding: 13px 3px 7px 11px;
	    max-width: 61%;
	}
}

@media (max-width: 345px){
	.button_green_large {
	    width: 300px;
	}
}

@media (max-width: 330px){
	.article__item__tittle {
	    max-width: 58%;
	}

	.article__img {
	    width: 124px;
	    height: 92px;
	}

	.contacn-form__wrap{
		margin-bottom: 0;
	}
}

@media (max-width: 320px){

	.button_green_large {
	    width: 283px;
	}

	.article__item__tittle {
	    padding-right: 5px;
	}

	.result__tittle_big {
	    font-size: 16px;
	}

	.articles_wrap .col-md-12{
		padding: 0;
	}

	.button__wrap .dark-blue_button {
	    margin-right: 8px;
	}

	.contacn-form__wrap {
	    padding: 16px 16px 16px 16px;
	}

	.form__tittle {
	    font-size: 15px;
	    line-height: 16px;
	}
}

iframe{
	width: 100%;
	height: 290px;
}