.head-bottom {
    padding: 14px 15px 6px;
}
.main-content__center{
	max-width: 100%;
	margin-top: 8px;
	padding-right: 12px!important;
}

.about-user__wrap{
	background-color: #fff;
	padding: 18px 0 9px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	width: 100%;
}

.left-part{
	max-width: 192px;
	margin-right: 8px;
}

.user__avatar{
	width: 100%;
	border-radius: 5px;
}

.change__img{
	margin: 16px 0;
	font-weight: 500;
	line-height: 17px;
}

.change__img_new{
	padding-right: 10px;
	border-right: 1px solid #EEEEEE;
	color: #000000;
}

.change__img_delete{
	padding-left: 7px;
	color: #000000;
}

.change__img_delete:hover,
.change__img_new:hover{
	color: #434343;
}

.personal__data{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.personal__item{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 6px;
	line-height: 17px;
	color: #000000;
}

.personal__icon{
	margin-right: 8px;
}

.personal__value{
	margin-left: auto;
	font-weight: 500;
}
/*
.right-part{
	width: 77.7%;
}*/

.user__name_wrap,
.user__body__info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
}

.user__name{
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #000000;
}

.redact{
	font-weight: 500;
	line-height: 17px;
	color: #67717F;
	cursor: pointer;
	padding-bottom: 0px;
}

.pen_icon{
	margin-right: 8px;
}

.info__list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 50%;
	margin-top: 8px;
}

.info__list_small{
	width: 31.5%;
    padding-top: 22px;
}

.info__list_big{
	width: 100%;
}

.info__item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	line-height: 17px;
	color: #000000;
	text-align: left;
	margin-bottom: 7px;
}

.info__key,
.info__value{
	width: auto;
    text-align: left;
}

.info__value{
	font-weight: 500;
	width: 48%;
}

.info__list_small .info__key{
	width: 50%;
}

.info__list_small .info__value{
	width: auto;
}

.foot__value{
	width: 74%;
}

.raiting{
	color: #66BB6A;
	text-align: right;
}

.place{
	color: #67717F;
	text-align: right;
}

.star__raiting{
	display: inline;
	margin-left: 6px;
}

.star{
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
	/*margin-right: 4px;*/
	background: url('../img/star.svg') center/cover no-repeat;
}

.checked {
	background: url('../img/or-star.svg') center/cover no-repeat;
}

.user__foot__info{
	margin-top: 12px;
}

/*-------------------------------
TABS
-------------------------------*/
.nav-tabs{
	border-bottom: 2px solid #eee;
}

.user__action{
	padding: 3px 16px 3px 16px;
	width: 100%;
}

.action__item{
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.action__link{
	color: #A1A1A1;
	padding: 13px 20px 7px 20px!important;
}

.active .action__link{
	color: #3A3A3A!important;
	border: 1px solid transparent!important;
	border-bottom: 2px solid #4A90E2!important;
}

/*CONTENT*/

.about__comment__item{
	padding: 16px 0 8px;
	border-bottom: 1px solid #eee;
}

.about__comment__item:last-of-type{
	border-bottom: 0;
}

.about__comment__head{
	font-weight: 500;
	line-height: 17px;
}

.news__link{
	color: #4A90E2;
}

.comment__time{
	border-right: 1px solid #eee;
	padding-right: 8px;
}

.comment__tittle{
	padding-left: 8px;
}

.about__comment__content{
	margin-top: 3px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.comment__content{
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.comment__react{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #66BB6A;
}

.plus__icon{
	margin-right: 8px;
}

.show-hide__filters{
	margin-top: 12px;
}

/*PUBLICATION*/
.publication__wrap{
	padding-top: 16px;
}

.light_blue__button{
	display: inline-block;
	border: 2px solid #D9D9D9;
	border-radius: 25px;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #4A90E2;
	padding: 8px 20px;
	transition: all 0.3s ease;
}

.light_blue__button:hover{
	color: #fff;
	background-color: #4A90E2;
	border: 2px solid #4A90E2;
}

.publication__item{
	padding: 16px 0 17px;
	border-bottom: 1px solid #eee;}

.publication__item:last-of-type{
	margin-bottom: 6px;
}

.publication__info{
	padding-left: 3px;
}

.publication__info__head{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.publication__tittle{
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

.publication__img{
	/*width: 144px;*/
	max-height: 96px;
	border-radius: 5px;
	/*margin-right: 18px;*/
}

#publication .comment__react{
	font-size: 18px;
}

.public__date{
	margin-bottom: 7px;
    margin-top: 3px;
}

.redact_m{
	margin-right: 13px;
}

.delete_icon{
	margin-right: 6px;
}

.t_underline{
	border-bottom: 1px solid #67717F;
}

.nav-tabs__wrap {
    margin: 16px 0 9px;
}

@media(max-width: 1024px){
	.main-content__center{
		padding-right: 0!important;
	}
}

@media(max-width: 991px){
	.info__value {
	    width: 57%;
	}
	
	.info__list {
	    width: 68%;
	}
	
	.info__list_small {
    	width: 31.5%;
	}
	
	.info__list_big {
	    width: 100%;
	}

	.main-content__center {
	    padding-right: 12px!important;
	}
	.about-user__wrap {
	    padding: 14px 0 9px 0px;
	}
}

@media(max-width: 767px){
	.about-user__wrap {
    	padding: 16px 16px 9px 16px;
	}
	
	.info__list {
	    width: 100%;
	}
	
	.info__value,
	.info__list_small .info__value {
	    width: 50%;
	    text-align: left;
	}
	
	.publication__tittle {
    	font-size: 16px;
	}
	
	.redact_m {
	    margin-right: 5px;
	}
	
	.comment__time {
	    font-size: 12px;
	}
	
	.comment__content {
    	font-size: 16px;
	}
	
	.pen_icon {
	    margin-right: 3px;
	}

	.head-bottom{
		padding: 0
	}

	.main-content__center{
		margin-top: 0;
	}
}

@media(max-width: 626px){
	.about-user__wrap {
    	padding: 16px 16px 9px 16px;
	}
	
	.info__list {
	    width: 100%;
	}
	
	.info__value {
	    width: 50%;
	}
	
	
	.user__avatar{
		width: 70px;
	    border-radius: 100%;
	    display: inline-block;
	}
	
	.user__avatar img{
	    border-radius: 100%;
	}
	
	.left-part{
		max-width: 100%;
	}
	
	.change__img{
		display: inline-block;
		margin-left: 10px;
	}

	.personal__data{
		display: none;
	}

	.right-part{
		width: 100%;
	}
}

@media (max-width: 320px){
	.star__raiting {
	    margin-left: 0px;
	}
	
	.about-user__wrap {
	    padding: 16px 12px 9px 12px;
	}
	
	.action__link {
	    padding: 13px 12px 7px 12px!important;
	}
	
	.publication__tittle {
	    font-size: 14px;
	}
	
	.publication__info{
		width: 100%;
		padding-left: 12px;
	}
	
	.publication__img{
		display: none;
	}
	
	.comment__react{
	    right: 14px;
	    top: 19px;
	}

	.info__list_small .info__key {
	    width: 46%;
	}

	.info__value,
	.info__list_small .info__value {
	    width: 53%;
	    text-align: left;
	}
	
	.about__comment__head{
		font-size: 11px;
	}
	
	.comment__content {
	    font-size: 14px;
	}
}