.credit__label__phone{
	border: 2px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 21px;
	font-weight: 500;
	line-height: 17px;
	max-width: 200px;
	padding: 6px 12px;
}

.credit__label__phone::placeholder{
	color: #B4B4B4;
}

.phone__wrap{
	margin-top: 11px;
}

.search-credit__wrap{
	margin: 16px 0;
}

.button__wrap_left{
	text-align: left;
}

.articles__read-more,
.articles__tittle{
	margin-top: 0;
}

.main-content__bottom-text{
	margin-top: 12px;
}


@media (max-width: 991px){
	.articles__wrap__inv{
		margin: 0;
		width: 100%;
	}
}

@media (max-width: 768px){
	.search-credit__wrap{
		margin-top: 0;
	}
}

@media (max-width: 767px){
	.investments_page .main-content-wrap {
	    padding-left: 0!important;
	}
	
	.news-wrap{
		padding: 0 12px!important;
	}

	.about-credit__wrap{
		margin-top: 0;
	}

}

	.articles__read-more{
		margin-bottom: 0;
		line-height: 22px;
	}
