.credit__smth-important{
	font-size: 0;
}

.credit__label__select-sort {
    min-width: 159px;
}

.important__wrap {
   	width: 49%;
   	margin: 0;
    font-size: 14px;
    margin-top: 5px;
}

.important__wrap:last-of-type {
    padding-left: 20px;
    width: 51%;
}

.credit__label__tittle{
	font-size: 14px;
}

.important__item {
    margin-bottom: 11px;
}

.list__item__value{
	width: 70%;
}

.show-hide__filters,
.search-credit__result{
	margin-top: 0;
}

.about-credit__wrap{
	margin-bottom: 0;
}

.select-selected {
    width: 156px;
}

@-moz-document url-prefix()
{
	.important__wrap:last-of-type{
		padding-right: 4px;
	}
}

@media (max-width: 991px){
	.important__wrap:last-of-type{
		margin-top: 0;
	}

	.list__item__value {
	    width: 59%;
	}
}

@media (max-width: 768px){
	.result__head-button{
		text-align: left;
	}

	.search-credit__result{
		margin-top: 16px;
	}
}

@media (max-width: 767px){
	.important__wrap:last-of-type,
	.important__wrap{
		padding-left: 0;
		width: 100%;
	}
	
	.credit__label__tittle {
	    font-size: 13px;
	}
}

@media (max-width: 425px){

	.credit__label__tittle {
	    font-size: 12px;
	}
}

@media (max-width: 375px){
	.select__period__wrap_check .select__period_green::before {
    	height: 28%;
	}

	.credit__label__select-sort {
	    min-width: 149px;
	}

	.result__sort__wrap:last-of-type .credit__label__select-sort {
	    min-width: 227px;
	}
}

@media (max-width: 352px){
	.credit__label__select-sort {
	    min-width: 139px;
	}

	.result__sort__wrap:last-of-type .credit__label__select-sort {
	    min-width: 212px;
	}

	.tittle__icon{
		display: none;
	}

	.about-credit__wrap, 
	.search-credit__wrap {
	    padding: 14px 14px 15px 14px;
	}
}

@media (max-width: 320px){
	.credit__label__select-sort {
	    min-width: 140px;
	}

	.select-selected {
	    width: 135px;
	}

}