.head-bottom_new
    .head__search-wrap 
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 10px 0 0 !important
        .select-city
            white-space: nowrap

    .new-nav__item
        display: flex
        justify-content: flex-start
        align-items: center
        max-width: 200px
        p
            margin: 0 0 0 16px
            display: block
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 120%;
            text-transform: uppercase;
            color: #67717F;
            span
                font-weight: 700;
                font-size: 20px;
                span
                    color: #4A90E2;
        &:nth-child(3)
            max-width: 176px

.header-lend
    margin: 10px 0 0
    padding: 30px 0 80px
    border-top: 1px solid #E2E2E2
    &__prev
        display: grid
        grid-template-columns: 60% 38%
        gap: 2%
        align-items: center
        img
            width: 100%
        h1
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            color: #434343;
            max-width: 387px
            margin: 0
            span
                color: #4A90E2;
        ul
            margin: 30px 0 0
            padding: 0
            list-style: none
            display: grid
            gap: 13px
        li
            display: flex
            justify-content: flex-start
            align-items: flex-start
            p
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: #434343;
            span
                font-weight: 700;
            &::before
                content: ''
                display: block
                width: 24px
                height: 24px
                margin: 0 14px 0 0
                background: url('../img/header-lend_icon.svg') center no-repeat
        button
            margin: 30px 0 0
            max-width: 300px
            width: 100%
            height: 56px
            font-size: 14px;
    &__list
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 1px
        background: #E2E2E2
    &__item
        background-color: #fff
        padding: 30px
        div
            display: grid
            grid-template-columns: 1fr 48px
            align-items: center
        h3
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            margin: 0
        p
            margin: 16px 0 0
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #67717F;
            max-width: 252px
    &__work
        margin: 44px 0 0
        display: flex
        justify-content: center
        align-items: center
        &::before
            content: ''
            display: block
            width: 28px
            height: 28px
            margin: 0 16px 0 0
            background: url('../img/header_work.svg') center no-repeat
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            color: #434343;
            margin: 0
            span
                color: #4A90E2;

.debt
    background: #FFFFFF;
    padding: 80px 0
    h2
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        color: #434343;
        margin: 0
        span
            color: #4A90E2;
    p
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #434343;
        margin: 30px 0 0

.lawyers
    padding: 80px 0 0
    h2
        max-width: 515px
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        color: #434343;
        span
            color: #4A90E2;
    &__wrapper
        display: grid
        grid-template-columns: 61% 33%
        gap: 6%
        margin: 40px 0 0
        align-items: end
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #434343;
            margin: 0 0 16px
            span
                font-weight: 700
        img
            width: 100%
    &__stat
        display: grid
        grid-template-columns: 220px auto
        gap: 1px
        background: #E2E2E2
        margin: 30px 0 0
        div
            background-color: #fff
            padding: 20px 30px
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            color: #4A90E2;
            margin: 0
            &+p
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #67717F;
                margin: 20px 0 0
                max-width: 252px
    button
        padding: 21px 40px
        width: auto
        margin: 60px auto 0
        max-width: 424px
        display: block
        font-size: 14px;
    &__bg
        display: block
        margin: 0 auto
        max-width: 920px
        width: 100%
    &__img
        position: relative
    &__zoom
        position: absolute
        bottom: 30px
        right: 30px
        padding: 16px
        border-radius: 100%
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(224, 224, 224, 0.5);
        transition: all .3s
        cursor: pointer
        img
            width: 24px
            height: 24px
            object-fit: contain
        &:hover
            background: #ececec

.team
    padding: 80px 0 
    background-color: #fff
    h2
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        span
            color: #4A90E2;
    &__info
        margin: 30px auto 0
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #434343;
        max-width: 890px
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
        margin: 20px 0 0
    &__pers
        display: grid
        grid-template-columns: 210px auto
        gap: 20px
        align-items: start
        img
            width: 100%
            max-width: 180px
            margin: 0 auto
            display: block
        div
            p
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                text-align: center;
                color: #434343;
                margin: 20px 0 0
                &+p
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    text-align: center;
                    color: #4A90E2;
                    margin: 16px 0 0
    &__desc
        margin: 70px 0 0
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #67717F;

.cost
    padding: 80px 0 
    background: url('../img/cost_bg.jpg') center no-repeat
    background-size: cover
    &__wrapper
        display: grid
        grid-template-columns: auto 340px
        gap: 40px
    &__info
        h2
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            color: #FFFFFF;
            max-width: 400px
            margin: 0
    &__price
        margin: 30px 0 0
        display: inline-block
        padding: 14px 46px 14px 20px
        background: url('../img/cost_price.png') center no-repeat
        background-size: contain
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        text-transform: uppercase;
        color: #FFFFFF;
    &__garant
        margin: 40px 0 0
        display: inline-block
        padding: 30px 170px 30px 30px
        border: 2px solid #FFFFFF;
        position: relative
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: #FFFFFF;
            max-width: 241px
        img
            position: absolute
            right: -70px
            top: -35px
            width: 255px
            height: 200px
            max-height: none
    &__form
        background: #FFFFFF;
        padding: 40px
        h3
            margin: 0 0 30px
            span
                color: #4A90E2;
        label
            margin: 10px 0 0
            position: relative
            input
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                opacity: 0
            span
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 120%;
                color: #67717F;
                display: flex
                justify-content: flex-start
                align-items: flex-start
                &::before
                    content: ''
                    display: block
                    width: 24px
                    height: 24px
                    box-sizing: border-box
                    border: 2px solid #D9D9D9;
                    border-radius: 100%
                    // transition: all .3s
                    margin: 0 12px 0 0
            input:checked+span::before
                background: url('../img/check.svg') center no-repeat
        button
            max-width: 100%
            width: 100%
            margin: 20px 0 0
            padding: 21px 0
            font-size: 14px;
    &__name
        margin: 0 0 10px
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 22px;
        height: 44px
        font-size: 16px;
        padding: 0 20px
    &__list
        margin: 60px 0 0
        display: grid
        grid-template-columns: 245px auto
        gap: 90px
        &_name
            p
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                color: #FFFFFF;
                margin: 0
        &_info
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 40px
            h3
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 100%;
                color: #FFFFFF;
                margin: 0 0 16px
            p
                margin: 0
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
            div
                max-width: 585px
                &:nth-child(3)
                    grid-column: 1/3
                
.service
    padding: 80px 0
    background-color: #fff
    .container
        display: flex
        justify-content: flex-start
        align-items: flex-start
    h2
        max-width: 222px
        margin: 0 auto 0 0
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        span
            color: #4A90E2;
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr 
        gap: 40px
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            text-decoration-line: underline;
            color: #434343;
            margin: 0
            &+p
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                color: #4A90E2;
                margin: 10px 0 0
                text-decoration: none

.result
    padding: 35px 0 80px
    .container
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 17px
        align-items: end
        &::before,
        &::after
            content: none
    &__bg
        width: 100%
    &__img
        &_wrapper
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 1px
            background: #E2E2E2;
            max-width: 440px
    &__item
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(224, 224, 224, 0.5);
        padding: 24px 30px
        display: grid
        grid-template-columns: 36px auto
        gap: 16px
    h2
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        color: #434343;
        margin: 0
        max-width: 240px
        span
            color: #4A90E2;
    &__list
        display: grid
        grid-template-columns: 1fr 1fr
        column-gap: 20px
        row-gap: 40px
        margin: 40px 0 0
        h3
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #434343;
            margin: 0 0 16px
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #67717F;
            margin: 14px 0 0

.aftermath
    padding: 80px 0
    background-color: #fff
    h2
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        margin: 0
        color: #434343;
        max-width: 240px
        span
            color: #4A90E2;
    &__wrapper
        margin: 40px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 25px
    &__item
        background: #F5F5F5;
        padding: 30px 
        h3
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #434343;
            margin: 20px 0 0
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #67717F;
            margin: 16px 0 0

.variant
    padding: 80px 0
    background: url('../img/cost_bg.jpg') center no-repeat
    background-size: cover
    h2
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto
        max-width: 524px
    &__tab
        margin: 40px 0 0
        &_list
            padding: 0
            margin: 0
            list-style: none
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            gap: 25px
        &_point
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            color: #FFFFFF;
            padding: 17px 0
            border: 2px solid #FFFFFF;
            text-align: center
            cursor: pointer
            transition: all .3s
            &:hover
                color: #a7a7a7
                border: 2px solid #a7a7a7
            &_active
                background: #FFFFFF;
                color: #4A90E2;
                &:hover
                    background: #FFFFFF;
                    color: #4A90E2;
                    border: 2px solid #fff
        &_wrapper
            display: none
            grid-template-columns: 1fr 1fr 1fr
            gap: 25px
            margin: 50px 0 0
            align-items: start
            &_active
                display: grid
    &__block
        padding: 30px
        background: #FFFFFF;
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #434343;
            margin: 10px 0 0
        h3
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #434343;
            margin: 0
        ul
            margin: 10px 0 0
            padding: 0
            list-style: none
        li
            padding: 14px 0
            border-top: 1px solid #E2E2E2
            display: grid
            grid-template-columns: 24px auto
            gap: 14px
            margin: 0
            &:nth-child(1)
                border-top: none
            p
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: #67717F;
                margin: 0
            a
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                text-decoration-line: underline;
                color: #4A90E2;
        ul
            &.variant__list_check
                li
                    &::before
                        content: ''
                        display: block
                        width: 24px
                        height: 24px
                        background: url('../img/variant_tab.svg') center no-repeat
                        background-size: contain
            &.variant__list_num
                counter-reset: num
                li
                    &::before
                        counter-increment: num
                        content: counter(num)
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 100%;
                        text-align: center;
                        color: #66BB6A;
                        display: flex
                        justify-content: center
                        align-items: center
                        width: 24px
                        height: 24px
                        border-radius: 100%
                        border: 2px solid #66BB6A;
    &__form
        margin: 60px 0 0
        background: #FFFFFF;
        padding: 30px
        h3
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            text-align: center;
            color: #434343;
            text-align: center
            margin: 0
            span
                color: #4A90E2;
        &_wrapper
            margin: 24px 0 0
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            gap: 10px
            input
                margin: 0
        button
            width: 100%
            font-size: 12px;
        label
            margin: 20px 0 0
            position: relative
            display: flex
            justify-content: center
            input
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                opacity: 0
            span
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 120%;
                color: #67717F;
                display: flex
                justify-content: flex-start
                align-items: center
                &::before
                    content: ''
                    display: block
                    width: 24px
                    height: 24px
                    box-sizing: border-box
                    border: 2px solid #D9D9D9;
                    border-radius: 100%
                    margin: 0 12px 0 0
            input:checked+span::before
                background: url('../img/check.svg') center no-repeat

.conduct
    padding: 80px 0
    h2
        margin: 0
        max-width: 440px
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        span
            color: #4A90E2;
    &__wrapper
        margin: 40px 0 0
    &__item
        img
            width: 100%
        a
            display: flex
            justify-content: center
            align-items: center
            padding: 16px 0
            margin: 16px 0 0
            background: #EAEAEA;
            border-radius: 22px;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #434343;
            &::after
                content: ''
                display: block
                margin: 0 0 0 10px
                width: 12px
                height: 12px
                background: url('../img/conduct_zoom.svg') center no-repeat
    &__write
        margin: 16px 0 0
        display: flex
        justify-content: center
        align-items: center
        &::before
            content: ''
            display: block
            width: 16px
            height: 16px
            margin: 0 8px 0 0
            background: url('../img/conduct_write.svg') center no-repeat
    &__price
        margin: 8px 0 0
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: #4A90E2;
    .owl
        &-next
            width: 24px
            height: 36px
            position: absolute
            top: calc( 50% - 90px )
            transform: translateY(-50%)
            left: calc( 100% + 24px )
            background: url('../img/arrow.svg') center no-repeat !important
            span
                display: none
        &-prev
            display: block !important
            width: 24px
            height: 36px
            position: absolute
            top: calc( 50% - 90px )
            transform: translateY(-50%) rotate(180deg)
            right: calc( 100% + 24px )
            background: url('../img/arrow.svg') center no-repeat !important
            span
                display: none
    &__modal
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        display: none
        z-index: 150
        img
            height: 80%
            max-width: 90%
            object-fit: contain
        &_active
            display: flex
            justify-content: center
            align-items: center
    &__overflow
        background: #00000074
        position: absolute
        top: 0
        left: 0
        z-index: -1
        width: 100%
        height: 100%

.comment
    padding: 80px 0
    background-color: #fff
    .owl
        &-next
            width: 24px
            height: 36px
            position: absolute
            top: 35%
            transform: translateY(-50%)
            left: calc( 100% + 24px )
            background: url('../img/arrow.svg') center no-repeat !important
            span
                display: none
        &-prev
            display: block !important
            width: 24px
            height: 36px
            position: absolute
            top: 35%
            transform: translateY(-50%) rotate(180deg)
            right: calc( 100% + 24px )
            background: url('../img/arrow.svg') center no-repeat !important
            span
                display: none
    h2
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        span
            color: #4A90E2;
    &__wrapper
        margin: 40px 0 0
    &__video
        position: relative
    &__play
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        img
            max-width: 70px
    &__name
        margin: 20px 0 0
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: #434343;
    &__save
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #67717F;
        margin: 10px 0 0
        display: flex
        justify-content: flex-start
        align-items: center
        &::before
            content: ''
            display: block
            width: 14px
            height: 14px
            margin: 0 8px 0 0
            background: url('../img/comment_save.svg') center no-repeat
            background-size: contain
    &__popup
        display: none
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: 100
        iframe
            max-width: 960px
            max-height: 540px
            width: 100%
            height: 100%
            display: none
        &_active
            display: flex
            justify-content: center
            align-items: center
            iframe
                display: block
    &__overflow
        background: #00000074
        position: absolute
        top: 0
        left: 0
        z-index: -1
        width: 100%
        height: 100%

.quest
    padding: 80px 0
    h2
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        span
            color: #4A90E2;
    &__tab
        margin: 30px 0 0
    &__wrapper
        display: none
        background-color: #fff
        padding: 30px
        border-top: 1px solid #E2E2E2
        &_active
            display: grid
            gap: 16px
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #67717F;
            margin: 0
    &__btn
        margin: 10px 0 0
        background-color: #fff
        padding: 16px 30px
        display: grid
        grid-template-columns: 1fr 36px
        gap: 40px
        align-items: center
        cursor: pointer
        p
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            color: #434343;
            margin: 0
    &__close
        width: 36px
        height: 36px
        border: 2px solid #4A90E2;
        border-radius: 100%
        box-sizing: border-box
        transition: all .3s
        position: relative
        &::before
            content: ''
            transition: all .3s
            display: block
            position: absolute
            background: #4A90E2;
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 18px
            height: 2px
            border-radius: 2px
        &::after
            content: ''
            transition: all .3s
            display: block
            position: absolute
            background: #4A90E2;
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 2px
            height: 18px
            border-radius: 2px
    &__btn_active
        .quest__close
            border: 2px solid #67717F;
            transform: rotate(45deg)
            &::before,
            &::after
                background: #67717F

.entry
    padding: 80px 0
    background: url('../img/cost_bg.jpg') center no-repeat
    background-size: cover
    position: relative
    .container
        position: relative
        &::before,
        &::after
            content: none
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__info
        max-width: 354px
        h2
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            color: #FFFFFF;
            margin: 0
            &+p
                margin: 30px 0 0
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
    &__item
        margin: 45px 0 0
        max-width: 155px
        p
            margin: 16px 0 0
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 120%;
            text-transform: uppercase;
            color: #FFFFFF;
    .cost
        &__form
            max-width: 340px
    &__bg
        position: absolute
        bottom: -80px
        left: 160px
        width: 560px
        height: 520px
        max-height: none

.tag
    padding: 80px 0 
    &__wrapper
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: wrap
        gap: 12px
    a
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #434343;
        padding: 11px 20px
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(224, 224, 224, 0.5);
        border-radius: 18px;
        margin: 0
        transition: all .3s
        &:hover
            background: #ececec;

.new-footer
    background: #213246;
    padding: 40px 0
    .container
        &::before,
        &::after
            content: none
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__text
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        margin: 0
    &__link
        display: grid
        grid-template-columns: auto auto auto
        gap: 20px
        img
            height: 20px

@media ( max-width: 1100px )
    .head-bottom_new
        .select-city
            display: none
        .head__search-wrap
            display: none
        .head-bottom__wrap
            justify-content: space-between
            &::before,
            &::after
                content: none
    .header-lend
        &__prev
            align-items: end
            grid-template-columns: 52% 46%
        &__list
            grid-template-columns: 1fr 1fr
    .entry
        &__bg
            display: none
    
@media ( max-width: 991px )
    .team
        &__wrapper
            grid-template-columns: 1fr
    .service
        .container
            flex-direction: column
        &__wrapper
            width: 100%
            margin: 40px 0 0
    .result
        &__img
            display: none
        .container
            display: block
    .aftermath
        &__wrapper
            grid-template-columns: 100%
    .variant
        &__tab
            &_list
                grid-template-columns: 100%
                gap: 10px
            &_wrapper
                grid-template-columns: 100%
        &__form
            &_wrapper
                grid-template-columns: 100%
                button
                    height: 44px

@media ( max-width: 768px )
    .header-lend
        margin: 0
        border: none
        &__prev
            display: block
            img
                display: none
        &__list
            margin: 20px 0 0
    .lawyers
        &__wrapper
            grid-template-columns: 100%
            gap: 20px
    .cost
        &__wrapper
            grid-template-columns: 100%
            // gap: 20px
        &__list
            grid-template-columns: 100%
            gap: 20px
            &_info
                gap: 20px
    .entry
        .container
            display: block
        .cost__form
            margin: 20px auto 0

@media ( max-width: 600px )
    .header-lend
        &__prev
            button
                margin: 30px auto 0
                display: block
        &__list
            gap: 1px
            grid-template-columns: 100%
        &__work
            p
                font-size: 16px
            &::before
                width: 20px
                height: 20px
                background-size: contain
                margin: 0 10px 0 0
    .lawyers
        &__stat
            grid-template-columns: 100%
    .new-footer
        .container
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start
            gap: 20px

@media ( max-width: 425px )
    .header-lend
        &__prev
            h1
                text-align: center  
    .debt
        h2
            text-align: center  
    .lawyers
        h2
            text-align: center
        &__stat
            text-align: center
            p+p
                margin: 20px auto 0
    .cost
        &__info
            h2
                text-align: center
        &__price
            font-size: 20px
            margin: 30px auto 0
        &__garant
            display: block
            p
                text-align: center  
                margin: 0 auto
        &__form
            h3
                text-align: center
    .result
        h2
            margin: 0 auto
            text-align: center
        &__list
            h3
                text-align: center
            p
                text-align: center
    .aftermath
        h2
            text-align: center
            margin: 0 auto
    .team
        &__pers
            grid-template-columns: 100%
        &__desc
            margin: 0
    .cost
        &__list
            &_info
                grid-template-columns: 100%
                div
                    &:nth-child(3)
                        grid-column: auto/auto
        &__garant
            padding: 30px
            img
                display: none
    .service
        h2
            margin: 0 auto
            text-align: center
        &__wrapper
            grid-template-columns: 100%
            gap: 20px
            justify-items: center
            p
                text-align: center
    .result
        &__list
            grid-template-columns: 100%
            gap: 20px
    .comment
        .owl-dots
            display: flex
            justify-content: center
            align-items: center
            margin: 20px 0 0
            button
                width: 10px
                height: 10px
                background: #EAEAEA
                margin: 0 5px
                border-radius: 100%
                transition: all .3s
                &.active
                    background: #4A90E2
    .conduct
        h2
            text-align: center
        .owl-dots
            display: flex
            justify-content: center
            align-items: center
            margin: 20px 0 0
            button
                width: 10px
                height: 10px
                background: #EAEAEA
                margin: 0 5px
                border-radius: 100%
                transition: all .3s
                &.active
                    background: #4A90E2
    .quest
        h2
            text-align: center
    .entry
        &__info
            margin: 0
            max-width: 100%
            h2
                text-align: center
                &+p
                    text-align: center
        &__item
            margin: 30px auto 0
            img
                display: block
                margin: 0 auto
            p
                text-align: center


@keyframes animate_btn 
    from
        left: -25%
    to
        left: 125%

.animate_btn
    position: relative
    overflow: hidden
    &::before
        content: ''
        animation: animate_btn  3s infinite ease-in-out;
        display: block
        height: 100%
        transform: skewX(-25deg)
        position: absolute
        top: 0
        width: 25%
        background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%)

.modal-lend
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    justify-content: center
    align-items: center
    z-index: 150
    display: none
    &__active
        display: flex
    &__overflow
        background-color: #00000074
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
    &__wrapper
        max-width: 340px

.lawyers-modal
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    justify-content: center
    align-items: center
    z-index: 150
    &__active
        display: flex
    &__overflow
        background-color: #00000074
        z-index: -1
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
    img
        height: 80%
        max-width: 90%
        object-fit: contain

@media ( max-width: 501px )
    .team
        .owl-dots
            display: flex
            justify-content: center
            align-items: center
            margin: 20px 0 0
            button
                width: 10px
                height: 10px
                background: #EAEAEA
                margin: 0 5px
                border-radius: 100%
                transition: all .3s
                &.active
                    background: #4A90E2

@media ( max-width: 768px )
    .head-bottom_new
        padding: 15px 0
        .head__search-wrap
            display: flex !important
            width: 100%
            padding: 0 !important
        .head-bottom__wrap
            width: 100%
            margin: 0

@media ( max-width: 425px )
    .head-bottom_new
        .head__search-wrap
            flex-direction: column
            gap: 20px
        .new-nav__item:nth-child(3)
            display: none