@font-face {
  font-family: 'Stem';
  src: local("Stem SemiLight"), local("Stem-SemiLight");
  src: url("../fonts/Stem-SemiLight.woff2") format("woff2");
  src: url("../fonts/Stem-SemiLight.woff") format("woff");
  src: url("../fonts/Stem-SemiLight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: local("Stem Medium"), local("Stem-Medium");
  src: url("../fonts/Stem-Medium.woff2") format("woff2");
  src: url("../fonts/Stem-Medium.woff") format("woff");
  src: url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Stem';
  font-style: normal;
  position: relative;
}

h1 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

h2 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

h3 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.container {
  max-width: 1015px;
  margin: 0 auto;
  padding: 0 20px 0 135px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container__two {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button__blue {
  background: #855CF6;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 64px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.nav {
  padding: 24px 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.nav__container {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  display: block;
}

.registr {
  padding: 65px 0 300px;
}

.registr h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

.registr h2 + p {
  margin: 20px 0 0;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #363636;
}

.registr .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 59%;
      grid-template-columns: 33% 59%;
  gap: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registr__info_wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  margin: 35px 0 0;
  padding: 36px;
}

.registr input {
  margin: 22px 0 0;
  background: #F7F7F7;
  border-radius: 16px;
  height: 64px;
  padding: 0 24px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #979797;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registr button {
  margin: 22px 0 0;
}

.registr a {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #808080;
  margin: 22px 0 0;
  text-align: center;
  display: block;
}

.registr__img {
  position: relative;
  padding: 0 67px 0 92px;
}

.registr__bg {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.registr__bg_first {
  position: absolute;
  left: 0;
  bottom: 0;
}

.registr__bg_second {
  position: absolute;
  left: 92px;
  bottom: -140px;
}

.registr__bg_therd {
  bottom: -60px;
  right: 0;
  position: absolute;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .registr h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .registr h2 + p {
    font-size: 20px;
    line-height: 30px;
  }
  .registr .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .registr__img {
    padding: 0;
  }
  .registr__bg_first {
    bottom: 20px;
    left: -20px;
    width: 100px;
  }
  .registr__bg_second {
    width: 150px;
    bottom: -70px;
  }
  .registr__bg_therd {
    width: 100px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .button__blue {
    height: 50px;
    font-size: 20px;
  }
  .registr__img {
    display: none;
  }
  .registr .container {
    display: block;
  }
  .registr input {
    height: 50px;
    font-size: 20px;
    padding: 0 15px;
  }
  .registr__info_wrapper {
    max-width: 450px;
    margin: 35px auto 0;
  }
  .registr a {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .registr__info_wrapper {
    padding: 30px 10px;
  }
}

@-webkit-keyframes wait {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes wait {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.modal-reg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  z-index: -10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-reg__active {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-reg__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #00000066;
}

.modal-reg__wrapper {
  z-index: 1;
  max-width: 578px;
  padding: 48px;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.modal-reg h2 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.modal-reg h2 + p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #363636;
  margin: 24px auto 0;
  max-width: 350px;
}

.modal-reg__input {
  margin: 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-reg input {
  height: 64px;
  width: 52px;
  text-align: center;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  border: none;
  background: #F7F7F7;
  border-radius: 16px;
  margin: 0 5px 0;
  border: 2px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal-reg input:focus {
  border: 2px solid #855CF6;
}

.modal-reg a {
  margin: 16px 0 0;
  text-align: center;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  display: block;
}

.modal-reg__text_error {
  display: none;
}

.modal-reg__error .modal-reg__text_error {
  display: block;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 16px 0 0;
  text-align: center;
  color: #FB8073;
}

.modal-reg__error input {
  background: #FFF5F4;
}

.modal-reg__wait {
  display: none;
}

.modal-reg__wait_wrapper .modal-reg__wait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffde;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
}

.modal-reg__wait_wrapper .modal-reg__wait img {
  -webkit-animation: wait 2s infinite ease-in-out;
          animation: wait 2s infinite ease-in-out;
}

@media (max-width: 425px) {
  .modal-reg__wrapper {
    height: 100%;
    border-radius: 0;
    padding: 50px 20px;
  }
  .modal-reg h2 {
    font-size: 26px;
  }
  .modal-reg h2 + p {
    font-size: 16px;
    line-height: 20px;
    max-width: 255px;
  }
  .modal-reg input {
    height: 50px;
    font-size: 30px;
    line-height: 1;
    width: 35px;
  }
}
/*# sourceMappingURL=style.css.map */