@font-face {
  font-family: 'Stem';
  src: local("Stem SemiLight"), local("Stem-SemiLight");
  src: url("../fonts/Stem-SemiLight.woff2") format("woff2");
  src: url("../fonts/Stem-SemiLight.woff") format("woff");
  src: url("../fonts/Stem-SemiLight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: local("Stem Medium"), local("Stem-Medium");
  src: url("../fonts/Stem-Medium.woff2") format("woff2");
  src: url("../fonts/Stem-Medium.woff") format("woff");
  src: url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Stem';
  font-style: normal;
  position: relative;
}

h1 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

h2 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

h3 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.container {
  max-width: 1015px;
  margin: 0 auto;
  padding: 0 20px 0 135px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container__two {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button__blue {
  background: #855CF6;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 64px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.button__blue[disabled] {
  opacity: 0.5;
}

.button__pink {
  background: #FEA8D9;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 64px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.button__wht {
  border: 2px solid #000000;
  border-radius: 16px;
  background-color: #fff;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  width: 100%;
  height: 64px;
}

.nav {
  padding: 24px 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.nav__container {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  display: block;
}

.registr {
  padding: 65px 0 300px;
}

.registr h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

.registr h2 + p {
  margin: 20px 0 0;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #363636;
}

.registr .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 59%;
      grid-template-columns: 33% 59%;
  gap: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registr__info_wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  margin: 35px 0 0;
  padding: 36px;
}

.registr input {
  margin: 22px 0 0;
  background: #F7F7F7;
  border-radius: 16px;
  height: 64px;
  padding: 0 24px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #979797;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registr button {
  margin: 22px 0 0;
}

.registr a {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #808080;
  margin: 22px 0 0;
  text-align: center;
  display: block;
}

.registr__img {
  position: relative;
  padding: 0 67px 0 92px;
}

.registr__bg {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.registr__bg_first {
  position: absolute;
  left: 0;
  bottom: 0;
}

.registr__bg_second {
  position: absolute;
  left: 92px;
  bottom: -140px;
}

.registr__bg_therd {
  bottom: -60px;
  right: 0;
  position: absolute;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .registr h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .registr h2 + p {
    font-size: 20px;
    line-height: 30px;
  }
  .registr .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .registr__img {
    padding: 0;
  }
  .registr__bg_first {
    bottom: 20px;
    left: -20px;
    width: 100px;
  }
  .registr__bg_second {
    width: 150px;
    bottom: -70px;
  }
  .registr__bg_therd {
    width: 100px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .button__blue {
    height: 50px;
    font-size: 20px;
  }
  .button__pink {
    height: 50px;
    font-size: 20px;
  }
  .button__wht {
    height: 50px;
    font-size: 20px;
  }
  .registr__img {
    display: none;
  }
  .registr .container {
    display: block;
  }
  .registr input {
    height: 50px;
    font-size: 20px;
    padding: 0 15px;
  }
  .registr__info_wrapper {
    max-width: 450px;
    margin: 35px auto 0;
  }
  .registr a {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .registr__info_wrapper {
    padding: 30px 10px;
  }
}

@-webkit-keyframes wait {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@keyframes wait {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.modal-reg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  z-index: -10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-reg__active {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-reg__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #00000066;
}

.modal-reg__wrapper {
  z-index: 1;
  max-width: 578px;
  padding: 48px;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  position: relative;
  overflow: hidden;
}

.modal-reg h2 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.modal-reg h2 + p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #363636;
  margin: 24px auto 0;
  max-width: 350px;
}

.modal-reg__input {
  margin: 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-reg input {
  height: 64px;
  width: 52px;
  text-align: center;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  border: none;
  background: #F7F7F7;
  border-radius: 16px;
  margin: 0 5px 0;
  border: 2px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal-reg input:focus {
  border: 2px solid #855CF6;
}

.modal-reg a {
  margin: 16px 0 0;
  text-align: center;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #808080;
  display: block;
}

.modal-reg__text_error {
  display: none;
}

.modal-reg__error .modal-reg__text_error {
  display: block;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 16px 0 0;
  text-align: center;
  color: #FB8073;
}

.modal-reg__error input {
  background: #FFF5F4;
}

.modal-reg__wait {
  display: none;
}

.modal-reg__wait_wrapper .modal-reg__wait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffde;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
}

.modal-reg__wait_wrapper .modal-reg__wait img {
  -webkit-animation: wait 2s infinite ease-in-out;
          animation: wait 2s infinite ease-in-out;
}

@media (max-width: 425px) {
  .modal-reg__wrapper {
    height: 100%;
    border-radius: 0;
    padding: 50px 20px;
  }
  .modal-reg h2 {
    font-size: 26px;
  }
  .modal-reg h2 + p {
    font-size: 16px;
    line-height: 20px;
    max-width: 255px;
  }
  .modal-reg input {
    height: 50px;
    font-size: 30px;
    line-height: 1;
    width: 35px;
  }
}

.onboard {
  padding: 50px 0 250px;
}

.onboard__wrapper {
  max-width: 750px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  padding: 50px 75px 68px;
}

.onboard__wrapper h1,
.onboard__wrapper h2 {
  text-align: center;
  margin: 35px 0 0;
}

.onboard__wrapper h1 + p,
.onboard__wrapper h2 + p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #363636;
  margin: 12px 0 0;
}

.onboard__collage {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.onboard__collage img {
  display: block;
  width: 100%;
}

.onboard__collage img:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin: -150px auto 0;
  width: 60%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.onboard__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 36px 0 0;
}

.onboard__link_btn {
  max-width: 260px;
  margin: 36px auto 0;
}

.onboard__link_hello {
  max-width: 370px;
}

.onboard__logo {
  max-width: 400px;
  margin: 0 auto;
}

.onboard__logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.onboard__test {
  margin: 24px 0 0;
}

.onboard__test p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.onboard__test p.error {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FB8073;
  margin: 16px 0 0;
  display: none;
}

.onboard__test input {
  height: 64px;
  width: 52px;
  text-align: center;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  border: none;
  background: #F7F7F7;
  border-radius: 16px;
  margin: 0 5px 0;
  border: 2px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.onboard__test input:focus {
  border: 2px solid #855CF6;
}

.onboard__test div {
  margin: 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.onboard__test div.error input {
  background: #FFF5F4;
}

.onboard__test div.error + p.error {
  display: block;
}

.onboard__slider {
  margin: 48px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.onboard__slider img {
  width: 100%;
}

.onboard__slider div {
  padding: 0 10px;
}

.onboard__arrow {
  margin: 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.onboard__arrow a {
  display: block;
  margin: 0 8px 0;
}

.onboard__arrow_prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.onboard__name {
  margin: 36px auto 0;
  max-width: 370px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 16px;
}

.onboard__name input {
  height: 64px;
  background: #F7F7F7;
  border-radius: 16px;
  border: none;
  padding: 0 24px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.onboard__time {
  margin: 36px auto 0;
  max-width: 450px;
}

.onboard__time h2 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #333333;
}

.onboard__time h2 + p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #787878;
  margin: 12px 0 0;
}

.onboard__time input {
  background: #F7F7F7;
  border-radius: 24px;
  border: none;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  margin: 0 12px 0;
  height: 64px;
}

.onboard__time input + p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.onboard__time div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 22px 0 0;
}

.onboard__hour {
  width: 64px;
}

.onboard__min {
  width: 84px;
}

.onboard__avatar {
  max-width: 170px;
  padding: 4px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(214.05deg, #855CF6 -9.21%, #FEA8D9 88.45%);
  margin: 0 auto;
}

.onboard__avatar img {
  width: 100%;
}

.onboard__profile p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 24px 0 0;
}

.onboard__slide {
  width: 12%;
  opacity: 0.4;
}

.onboard__slide_active {
  width: 20%;
  opacity: 0.6;
}

.onboard__slide_center {
  width: 25%;
}

@media (max-width: 425px) {
  .onboard__wrapper {
    padding: 50px 20px;
  }
  .onboard__slide {
    display: none;
  }
  .onboard__slide_active {
    width: 25%;
  }
  .onboard__slide_center {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .onboard__link {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    max-width: 260px;
    margin: 30px auto 0;
    gap: 15px;
  }
  .onboard__test input {
    height: 50px;
    font-size: 30px;
    line-height: 1;
    width: 35px;
  }
  .onboard__name input {
    height: 50px;
    font-size: 20px;
    padding: 0 15px;
  }
  .onboard__time input {
    height: 50px;
    font-size: 30px;
    line-height: 1;
  }
  .onboard__hour {
    width: 35px;
  }
  .onboard__min {
    width: 70px;
  }
  .onboard__slide {
    width: 15%;
  }
  .onboard__slide_active {
    width: 22%;
  }
}

.onboard-slider .onboard__wrapper {
  max-width: 1200px;
  padding: 68px 230px 48px;
}

.onboard-slider__slide {
  display: none;
  border-radius: 32px;
  max-width: 620px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.onboard-slider__slide img {
  width: 100%;
}

.onboard-slider__slide_active {
  display: block;
}

.onboard-slider__slide_pink {
  border: 8px solid #FEA8D9;
}

.onboard-slider__slide_green {
  border: 8px solid #4ED78B;
}

.onboard-slider__slide_yellow {
  border: 8px solid #FFE772;
}

.onboard-slider__wrapper {
  position: relative;
}

.onboard-slider__arrow {
  width: 48px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.onboard-slider__arrow img {
  width: 100%;
}

.onboard-slider__arrow_next {
  right: -50px;
}

.onboard-slider__arrow_prev {
  left: -50px;
}

.onboard-slider__arrow_prev img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.onboard-slider__arrow_none {
  display: none;
}

.onboard-slider__dots {
  margin: 36px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.onboard-slider__dots li {
  width: 12px;
  height: 12px;
  background: #C4C4C4;
  border-radius: 100%;
  margin: 0 6px 0;
  cursor: pointer;
}

.onboard-slider__dots_active {
  background: #855CF6 !important;
}

@media (max-width: 1024px) {
  .onboard-slider .onboard__wrapper {
    padding: 60px 70px 40px;
  }
}

@media (max-width: 768px) {
  .onboard-slider__arrow {
    display: none;
  }
  .onboard-slider__slide {
    border-width: 4px;
  }
}

@media (max-width: 425px) {
  .onboard-slider .onboard__wrapper {
    padding: 50px 20px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
}

.nav__list p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  opacity: 0.5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list a:hover p {
  opacity: 1;
}

.nav__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__search a {
  display: block;
  background: #F7F7F7;
  border-radius: 24px;
  padding: 19px;
  margin: 0 8px;
}

.main {
  margin: 16px auto 0;
  position: relative;
}

.slider {
  width: 100%;
}

.slider__name {
  width: 66%;
  background: #FFE772;
  position: relative;
  padding: 0 0 0 25px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__name img {
  position: absolute;
  z-index: -1;
}

.slider__name img:nth-child(1) {
  top: 0;
  right: 107px;
}

.slider__name img:nth-child(2) {
  right: 0;
  top: 0;
}

.slider__name img:nth-child(3) {
  bottom: 0;
  right: 150px;
}

.slider__name img:nth-child(4) {
  bottom: 0;
  right: 3px;
}

.slider__name p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #333333;
  display: block;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 47px;
}

.slider__name p:nth-child(5) {
  -webkit-transform: rotate(-8.14deg);
          transform: rotate(-8.14deg);
}

.slider__name p:nth-child(6) {
  -webkit-transform: rotate(5.85deg);
          transform: rotate(5.85deg);
  margin: 0 0 0 65px;
  position: relative;
}

.slider__name p:nth-child(6)::before {
  content: '';
  display: block;
  width: 36px;
  height: 54px;
  position: absolute;
  top: 0;
  left: calc( 100% + 10px);
  background: url("../img/slider_name.svg") center no-repeat;
  -webkit-transform: rotate(-5.85deg);
          transform: rotate(-5.85deg);
}

.slider__slide {
  border-radius: 24px;
  height: 312px;
}

.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.slider__timer {
  width: 32%;
  background: #855CF6;
  padding: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider__timer img {
  position: absolute;
  top: 0;
  right: 30px;
}

.slider__timer img + p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.slider__timer p + p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #333333;
  display: block;
  padding: 10px 17px;
  background: #FFFFFF;
  border-radius: 47px;
  margin: 19px 0 0;
}

.slider__dots {
  margin: 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__dots li {
  width: 10px;
  height: 7px;
  background: #EBEBEB;
  border-radius: 24px;
  margin: 0 2px;
  cursor: pointer;
}

.slider__dots li.active {
  width: 34px;
  background: #C4C4C4;
}

.slider__downloud {
  width: 32%;
  background: #855CF6;
  padding: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider__downloud a {
  display: block;
  padding: 10px 17px;
  background: #FFFFFF;
  border-radius: 47px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #333333;
}

.slider__downloud p {
  margin: 10px 0 0;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.slider__downloud img {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.resume {
  padding: 32px 0 64px;
}

.resume__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume__arrow a {
  margin: 0 8px;
  display: block;
}

.resume__arrow a:nth-child(1) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.resume__arrow a.unactive {
  opacity: 0.3;
}

.resume__wrapper {
  margin: 12px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.video__prev {
  display: block;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}

.video__prev img {
  width: 100%;
}

.video__time {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 3px 12px;
  background: #FFFFFF;
  border-radius: 47px;
}

.video__time p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.video__info {
  margin: 16px 0 0;
  position: relative;
}

.video__name {
  display: block;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  max-width: 90%;
}

.video__autor {
  display: block;
  margin: 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__autor img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 12px 0 0;
  border-radius: 100%;
}

.video__autor p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.video__more {
  position: absolute;
  right: 0;
  top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 4px;
  cursor: pointer;
}

.video__more::before, .video__more::after,
.video__more span {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #000000;
}

.nav-fix {
  position: fixed;
  padding: 160px 0 0;
  height: 100vh;
  top: 0;
  right: calc(50% + 470px);
  width: 250px;
}

.nav-fix li {
  padding: 16px 0 16px 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-fix li img {
  width: 48px;
  margin: 0 12px 0 0;
}

.nav-fix li p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: lowercase;
  color: #787878;
}

.nav-fix li.active {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.07);
  border-radius: 0px 24px 24px 0px;
}

.nav-fix li.active p {
  font-weight: 500;
  color: #000000;
}

.nav-fix__movie {
  margin: 16px 0 0 40px;
  width: 187px;
  height: 55px;
  background: #FFE772;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.nav-fix__pers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 40px;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}

.nav-fix__pers p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: lowercase;
  color: #000000;
}

@media (max-width: 1440px) {
  .nav-fix {
    left: 0;
    right: auto;
  }
  .main.container {
    padding: 0 20px 0 260px;
  }
}

@media (max-width: 1260px) {
  .nav__list {
    gap: 20px;
  }
  .nav__list img {
    width: 30px;
  }
  .nav__list p {
    line-height: 30px;
    font-size: 20px;
  }
  .nav-fix {
    padding: 134px 0 0;
  }
  .slider__name {
    width: 49%;
  }
  .slider__name img {
    display: none;
  }
  .slider__name img:nth-child(4) {
    display: block;
  }
  .slider__name img:nth-child(2) {
    display: block;
  }
  .slider__name p {
    font-size: 20px;
    line-height: 30px;
  }
  .slider__timer {
    width: 49%;
  }
  .slider__downloud {
    width: 49%;
  }
}

@media (max-width: 1024px) {
  .nav__list {
    max-width: 55%;
    overflow-x: scroll;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider__slide {
    height: 270px;
  }
  .main.container {
    padding: 0 20px;
  }
}

.nav__container {
  position: relative;
}

a.nav__search_active {
  background: #855CF6;
}

a.nav__search_active path {
  fill: #fff;
}

.history {
  position: absolute;
  top: calc( 100% + 40px);
  background: #855CF6;
  border-radius: 24px;
  right: 20px;
  z-index: 50;
  max-width: 440px;
  width: 100%;
  display: none;
  padding: 29px 30px 50px;
}

.history__active {
  display: block;
}

.history__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48px;
      grid-template-columns: 1fr 48px;
  gap: 20px;
}

.history__title img {
  width: 100%;
}

.history__title input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.history__title input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.51);
}

.history__title input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.51);
}

.history__title input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.51);
}

.history__title input::placeholder {
  color: rgba(255, 255, 255, 0.51);
}

.history__other {
  margin: 30px 0 0;
}

.history__other h3 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.history__other_wrapper {
  margin: 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__other p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 6px 12px;
  margin: 0 12px 12px 0;
  display: block;
  background: #9D7AFE;
  border-radius: 47px;
}

.history__history {
  margin: 32px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 16px;
}

.history__history_clear {
  margin: 50px 0 0;
  position: relative;
}

.history__history_clear p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  max-width: 300px;
  margin: 74px auto 0;
}

.history__history_clear img:nth-child(1) {
  margin: 0 0 0 30px;
  display: block;
}

.history__history_clear img:nth-child(2) {
  position: absolute;
  top: 40px;
  right: 30px;
}

.history__history a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__history p {
  margin: 0 0 0 12px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.result {
  padding: 0 0 64px;
}

.result__search {
  max-width: 650px;
  margin: 0 auto 32px;
  position: relative;
}

.result__search a {
  display: none;
}

.result__search input {
  width: 100%;
  height: 64px;
  background: #F7F7F7;
  border-radius: 24px;
  border: none;
  padding: 0 24px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  border: 2px solid #F7F7F7;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.result__search input:focus {
  background: #FFFFFF;
  border: 2px solid #855CF6;
  border-bottom: 1px solid #DFDFDF;
  border-radius: 24px 24px 0 0;
}

.result__search input:focus + ul {
  z-index: 1;
  opacity: 1;
}

.result__search ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 16px 24px 32px;
  border: 2px solid #855CF6;
  border-top: none;
  border-radius: 0 0 24px 24px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: -111;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  gap: 16px;
  background-color: #fff;
}

.result__search ul li {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.result__search ul img {
  margin: 0 12px 0 0;
}

.result__search::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url("../img/result_search.svg") center no-repeat;
  background-size: contain;
}

.result__search_active input {
  background: #FFFFFF;
  border: 2px solid #855CF6;
  border-bottom: 1px solid #DFDFDF;
  border-radius: 24px 24px 0 0;
}

.result__search_active::after {
  content: none;
}

.result__search_active a {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
}

.result__search_active ul {
  z-index: 1;
  opacity: 1;
}

.result__clear {
  margin: 112px 0 0;
}

.result__clear img {
  display: block;
  margin: 0 auto;
  max-width: 310px;
  -o-object-fit: contain;
     object-fit: contain;
}

.result__clear h1 {
  max-width: 445px;
  margin: 40px auto 0;
  text-align: center;
}

@media (max-width: 768px) {
  .nav__logo {
    width: 100px;
    min-width: 100px;
  }
  .nav__logo img {
    width: 100%;
  }
  .nav__search a {
    padding: 10px;
  }
  .nav__search img,
  .nav__search svg {
    width: 20px;
    height: 20px;
  }
  .slider__name {
    display: none;
  }
  .slider__timer, .slider__downloud {
    width: 100%;
  }
  .resume__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .resume__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .nav-fix {
    position: relative;
    height: auto;
    padding: 0 0 50px;
    margin: 0;
    width: 100%;
  }
  .nav-fix__pers {
    position: relative;
    bottom: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 30px 0 0;
  }
  .nav-fix__pers p {
    margin: 0 10px;
  }
  .nav-fix li.active {
    border-radius: 24px;
  }
}

@media (max-width: 425px) {
  .nav__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: 100%;
  }
  .nav__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-fix li {
    padding: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-fix__movie {
    margin: 16px auto 0;
  }
  .nav-fix__pers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .history {
    right: 0;
    top: 60px;
  }
  .history__history_clear img {
    width: 50%;
  }
  .history__history_clear img:nth-child(1) {
    margin: 0;
  }
  .history__history_clear img:nth-child(2) {
    right: 0;
  }
  .slider__downloud a {
    font-size: 20px;
    line-height: 25px;
  }
  .result__search_active ul {
    padding: 16px;
  }
  .result__search_active ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .result__clear img {
    width: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__wrapper {
  position: relative;
  width: 100%;
}

.modal__overflow {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal h2 + p {
  max-width: 500px;
  margin: 12px auto 0;
}

.modal__close {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.modal__time p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #333333;
}

.modal__time p + p {
  margin: 12px auto 0;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #787878;
  max-width: 444px;
}

@media (max-width: 1024px) {
  .modal__wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow-y: scroll;
  }
}

@media (max-width: 1024px) {
  .modal__wrapper {
    padding: 90px 20px 50px;
  }
}

.nav-fix {
  z-index: 20;
}

.nav-fix li .hint {
  left: calc(100% + 40px);
  top: -10px;
}

.nav-fix li .hint::before {
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 31px;
  left: -12px;
  background: #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

.nav-fix__pers .hint {
  bottom: -20px;
  left: calc(100% + 40px);
}

.nav-fix__pers .hint::before {
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 14px;
  left: -12px;
  background: #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

.nav__list a {
  position: relative;
}

.nav__list a .hint {
  top: calc( 100% + 50px);
  left: -80px;
  width: 490px;
}

.nav__list a .hint::before {
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 80px;
  top: -12px;
  background: #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

.nav__search a {
  position: relative;
}

.nav__search a .hint {
  top: calc( 100% + 40px);
  right: -70px;
  width: 490px;
}

.nav__search a .hint::before {
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 80px;
  top: -12px;
  background: #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

.hint {
  position: absolute;
  -webkit-box-shadow: 16px 14px 65px rgba(123, 123, 123, 0.38);
          box-shadow: 16px 14px 65px rgba(123, 123, 123, 0.38);
  background-color: #fff;
  background: #FFFFFF;
  border-radius: 24px;
  z-index: 20;
  width: 456px;
  padding: 36px;
}

.hint p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #000000;
  margin: 14px 0 0;
}

.hint__btn {
  display: block;
  background: #000000;
  border-radius: 16px;
  border: none;
  width: 190px;
  height: 50px;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 28px auto 0;
}

.hint__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 68px auto;
      grid-template-columns: 68px auto;
  gap: 12px;
}

.hint__modal {
  position: fixed;
  bottom: 30px;
  left: 40px;
  width: 536px;
}

.hint__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin: 28px auto 0;
  max-width: 400px;
}

.hint__link button {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 768px) {
  .hint__modal {
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 24px 24px 0 0;
  }
}

.player {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 28%;
      grid-template-columns: 70% 28%;
  gap: 2%;
}

.player__more {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 24px;
}

.player__main iframe {
  width: 100%;
  border-radius: 24px;
  height: 400px;
}

.player__title {
  margin: 24px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 115px;
      grid-template-columns: 1fr 115px;
  gap: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.player__title h1 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.player__func {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__func div {
  display: block;
  width: 32px;
  position: relative;
}

.player__func div img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.player__autor {
  margin: 12px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__autor img {
  width: 32px;
}

.player__autor p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 0 12px;
}

.player__info {
  margin: 24px 0 0;
}

.player__info p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.player .player__block {
  position: absolute;
  top: calc(100% + 24px);
  right: 0;
  width: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.14);
  border-radius: 16px 0px 16px 16px;
  padding: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px auto;
      grid-template-columns: 24px auto;
  gap: 10px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .player__block img {
  width: 100%;
}

.player .player__block p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .player {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 24px;
  }
  .player__more {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .player iframe {
    height: 200px;
  }
  .player__title {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .player__func {
    width: 115px;
    margin: 0 0 0 auto;
  }
  .player__more {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.channel__baner {
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  padding: 16px;
}

.channel__baner img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.channel__baner h1 {
  line-height: 60px;
  padding: 0 17px;
  background: #FFFFFF;
  border-radius: 47px;
}

.channel__seting {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.channel__seting::before, .channel__seting::after,
.channel__seting span {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 100%;
}

.channel__seting ul {
  display: none;
}

.channel__seting_active ul {
  display: -ms-grid;
  display: grid;
  position: absolute;
  right: 0;
  top: calc(100% + 24px);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.14);
  border-radius: 16px 0px 16px 16px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 12px;
  padding: 16px;
  z-index: 5;
}

.channel__seting_active li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px auto;
      grid-template-columns: 24px auto;
  gap: 10px;
}

.channel__seting_active img {
  width: 100%;
  height: 24px;
}

.channel__seting_active p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  white-space: nowrap;
}

.channel__tab {
  margin: 36px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.channel__tab li {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  opacity: 0.4;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  position: relative;
}

.channel__tab li:hover {
  opacity: 1;
}

.channel__tab li.active {
  opacity: 1;
}

.channel__tab li.active::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #855CF6;
  border-radius: 26px;
  left: 0;
  top: calc( 100% + 6px);
}

.channel__wrapper {
  position: absolute;
  opacity: 0;
  z-index: -121;
  top: 0;
}

.channel__wrapper_active {
  opacity: 1;
  position: relative;
  z-index: 1;
  top: auto;
}

.channel__about {
  padding: 24px 0 127px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 68% 26%;
      grid-template-columns: 68% 26%;
  gap: 6%;
}

.channel__about_wrapper {
  position: relative;
  padding: 46px 28px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 65px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 65px rgba(0, 0, 0, 0.07);
  border-radius: 24px;
  padding: 46px 173px 58px 28px;
}

.channel__about_wrapper h3 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 10px 17px;
  background: #FB8073;
  border-radius: 47px;
  display: inline-block;
}

.channel__about_wrapper p {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin: 28px 0 0;
}

.channel__about_wrapper img {
  position: absolute;
  right: 0;
}

.channel__about_wrapper img:nth-child(1) {
  top: 0;
  z-index: 1;
}

.channel__about_wrapper img:nth-child(2) {
  bottom: 0;
}

.channel__link h3 {
  font-family: 'Stem';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.channel__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 18px 0 0;
  padding: 10px 0;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  background: #FEA8D9;
  border-radius: 47px;
}

@media (max-width: 768px) {
  .channel__baner {
    height: 150px;
  }
  .channel__about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .channel__baner {
    height: 100px;
    padding: 10px;
  }
  .channel__baner h1 {
    line-height: 40px;
    font-size: 20px;
  }
  .channel__baner img {
    height: 40px;
    width: 40px;
  }
  .channel__about_wrapper {
    padding: 50px 20px;
  }
  .channel__about_wrapper img {
    display: none;
  }
  .channel__seting_active img {
    width: 100%;
    height: 24px;
  }
}

.channel-block {
  position: fixed;
  left: 40px;
  bottom: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 14px 65px rgba(0, 0, 0, 0.14);
  border-radius: 24px;
  width: 350px;
  padding: 35px;
  z-index: 50;
}

.channel-block p {
  margin: 14px 0 0;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.channel-block button {
  width: 187px;
  height: 50px;
  background: #000000;
  border-radius: 16px;
  display: block;
  margin: 28px auto 0;
  font-family: 'Stem';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 425px) {
  .channel-block {
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 24px 24px 0 0;
  }
}
/*# sourceMappingURL=style.css.map */