body {
  font-family: 'Montserrat',Arial,sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  padding: 15px 0;
  background-color: #fff;
  z-index: 90;
}

.nav__humburger {
  display: none;
}

.nav img {
  max-width: 240px;
  width: 100%;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 30px;
}

.nav ul a {
  color: #010f1a;
  font-size: 400px;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav ul a:hover {
  color: #f06124;
}

.nav button {
  border: 1px solid #f06124;
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #fff;
  color: #f06124;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav button:hover {
  color: #fff;
  background-color: #f06124;
}

.nav-fix {
  padding: 15px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -121212;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.nav-fix.show {
  z-index: 100;
  opacity: 1;
}

.nav-fix img {
  max-width: 240px;
  width: 100%;
}

.nav-fix .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-fix ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 30px;
}

.nav-fix ul a {
  color: #010f1a;
  font-size: 400px;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav-fix ul a:hover {
  color: #f06124;
}

.nav-fix button {
  border: 1px solid #f06124;
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #f06124;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav-fix button:hover {
  color: #fff;
  background-color: #a83e10;
}

.header {
  padding: 100px 0;
}

.header h1 {
  line-height: 90px;
  color: #010f1a;
  font-size: 52px;
  font-weight: 600;
  max-width: 760px;
}

.header__btn {
  margin: 35px 0 0;
  height: 60px;
  padding: 0 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  background: #f06124;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__btn:hover {
  background: #a83e10;
}

.header__img {
  height: 400px;
  max-width: 100%;
  padding: 0 40px;
  margin: 70px 0 0;
}

.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.header__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin: 90px 0 0;
}

.header__list img {
  width: 64px;
  height: 64px;
}

.header__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__point p {
  margin: 23px 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #010f1a;
  line-height: 1.3;
}

.product {
  padding: 90px 0 120px;
  background-color: #f2f6fa;
}

.product h2 {
  font-size: 42px;
  text-align: center;
  line-height: 1.2;
  font-weight: 600;
}

.product ul {
  margin: 30px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border-radius: 50px;
  border: 1px solid #f06124;
  overflow: hidden;
}

.product ul li {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-right: 1px solid #f06124;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product ul li:nth-child(3) {
  border-right: none;
}

.product ul li.active {
  color: #fff;
  background-color: #f06124;
}

.product__wrapper {
  margin: 45px 0 0;
}

.product__list {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.product__list.show {
  display: -ms-grid;
  display: grid;
}

.product__list.hide {
  display: none;
}

.product__card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px #0000001a;
          box-shadow: 0px 0px 2px 0px #0000001a;
  background-color: #fff;
  padding: 27px;
  cursor: pointer;
}

.product__card img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__card h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: #010f1a;
  margin: 25px 0 0;
  cursor: default;
}

.product__card p {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #010f1a;
  cursor: default;
}

.product__card p span {
  font-weight: 700;
}

.product__card_active {
  background-color: transparent;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  cursor: default;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__card_active .product__btn {
  display: block;
  color: #ffffff;
  background-color: #f06124;
  border-radius: 50px;
  font-weight: 500;
  height: 45px;
  padding: 0 30px;
  border: none;
  margin: 15px 0 0;
}

.product__card_active .product__card_wrapper {
  z-index: 100;
  max-width: 1240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 20px;
  background-color: #fff;
  width: 100%;
}

.product__card_active .product__card_wrapper p {
  margin: 20px 0 0;
}

.product__card_active .product__card_wrapper h3 {
  font-size: 24px;
}

.product__card_active .product__card_wrapper img {
  float: left;
  width: 50%;
  height: 500px;
}

.product__card_active .product__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010f1ab3;
  z-index: 90;
}

.product__card_active .product__close {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product__card_active .product__close::before, .product__card_active .product__close::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product__card_active .product__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.product__card_active .product__close:hover::before, .product__card_active .product__close:hover::after {
  background-color: #b8b7b7;
}

.product__btn {
  display: none;
}

.company {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 0;
  z-index: 0;
}

.company::before {
  content: '';
  display: block;
  background: -webkit-linear-gradient(top, rgba(1, 15, 26, 0.8), rgba(1, 15, 26, 0.9));
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.company__wrapper {
  max-width: 960px;
  border-radius: 20px;
  padding: 80px 86px 85px;
  background-color: #fff;
  margin: 0 auto;
  z-index: 33;
}

.company h2 {
  font-size: 42px;
  text-align: center;
  color: #010f1a;
  font-weight: 600;
  position: relative;
  padding: 0 0 30px;
}

.company h2::before {
  content: '';
  height: 2px;
  max-width: 120px;
  background-color: #f06124;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.company p {
  margin: 30px 0 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.should {
  padding: 100px 0 0;
}

.should h2 {
  font-size: 42px;
  color: #212121;
  font-weight: 600;
  text-align: center;
}

.should__wrapper {
  margin: 30px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.should__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.should__item img {
  width: 64px;
  height: 64px;
}

.should__item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin: 23px 0 0;
  text-align: center;
  max-width: 360px;
}

.should__item p + p {
  margin: 20px 0 0;
  font-size: 16px;
  font-weight: 300;
  color: #010f1a;
}

.slider {
  padding: 75px 0 90px;
  position: relative;
}

.slider__slide {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.slider__slide img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__slide img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  width: 17px;
  height: 32px;
  border: none;
  background: transparent;
  padding: 0;
}

.slider .slick-arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider .slick-initialized {
  position: static !important;
}

.slider .slick-prev {
  left: 30px;
}

.slider .slick-prev img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.service {
  padding: 90px 0 120px;
  background-color: #f2f6fa;
}

.service h2 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.service__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 45px 0 0;
}

.service__item {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: block;
}

.service__item img {
  width: 60px;
  height: 60px;
}

.service__item span {
  margin: 0 0 0 30px;
  color: #010f1a;
  font-weight: 600;
  font-size: 22px;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.form__bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__wrapper {
  padding: 90px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.form h2 {
  font-size: 42px;
  font-weight: 600;
}

.form h2 + p {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: 300;
}

.form input {
  margin: 30px 0 0;
  border-radius: 5px;
  background-color: #f2f6fa;
  border: none;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.form button {
  background-color: #f06124;
  height: 60px;
  padding: 0 60px;
  border-radius: 50px;
  font-weight: 500;
  color: #fff;
  margin: 30px 0 0;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form button:hover {
  background-color: #a83e10;
}

.form__link {
  margin: 20px 0 0;
  font-size: 15px;
  font-weight: 300;
}

.form__link a {
  color: #000;
  position: relative;
  border-bottom: 1px solid #010f1a;
}

.footer {
  padding: 90px 0 45px;
  background-color: #f2f6fa;
}

.footer h2 {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.footer__info img {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
  display: block;
}

.footer__info a {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  display: block;
  margin: 25px 0 0;
}

.footer__subfooter {
  margin: 90px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subfooter p {
  color: #010f1a;
  font-size: 14px;
}

.footer__subfooter a {
  color: #010f1a;
  border-bottom: 1px solid #010f1a;
  font-size: 14px;
  line-height: 1.3;
  margin: 7px 0 0;
}

@media (max-width: 1440px) {
  .form__wrapper {
    padding: 70px;
  }
  .service__item span {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .slider .container {
    padding: 0 40px;
  }
  .slider__slide {
    gap: 20px;
  }
  .slider .slick-next {
    right: 20px;
  }
  .slider .slick-prev {
    left: 20px;
  }
}

@media (max-width: 950px) {
  .nav-fix {
    display: none;
  }
  body.fix {
    position: relative;
    overflow: hidden;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .nav .container {
    position: relative;
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav ul {
    display: none;
  }
  .nav button {
    display: none;
  }
  .nav__humburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 22px;
    height: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin: 10px 0 0;
  }
  .nav__humburger::before, .nav__humburger::after,
  .nav__humburger span {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f06124;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .nav__active {
    height: 100vh;
  }
  .nav__active .nav__humburger span {
    display: none;
  }
  .nav__active .nav__humburger::before, .nav__active .nav__humburger::after {
    position: absolute;
    top: 6px;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav__active .nav__humburger::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav__active ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    gap: 30px;
  }
  .nav__active ul a {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 30px;
  }
  .nav__active button {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: none;
    font-size: 24px;
  }
  .nav__active button:hover {
    background-color: #fff;
  }
  .header h1 {
    font-size: 30px;
    max-width: 370px;
  }
  .header__btn {
    padding: 0 30px;
  }
  .header__img {
    padding: 0 15px;
  }
  .header__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .product ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-radius: 25px;
  }
  .product ul li {
    border-bottom: 1px solid #f06124;
    height: 36px;
    border-right: none;
  }
  .product ul li:nth-child(3) {
    border-bottom: none;
  }
  .product__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .product__card img {
    height: 150px;
  }
  .company {
    padding: 40px 0;
  }
  .company__wrapper {
    padding: 30px 20px;
  }
  .should__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .should__item p + p {
    font-size: 12px;
  }
  .slider__slide {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .service__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .service__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service__item span {
    margin: 20px 0 0;
    font-size: 18px;
  }
  .form {
    display: block;
  }
  .form__bg {
    display: none;
  }
  .form__wrapper {
    padding: 70px 15px 90px;
  }
  .form h2 {
    text-align: center;
    font-size: 30px;
  }
  .form h2 + p {
    margin: 30px 0 0;
    text-align: center;
  }
  .form button {
    width: 100%;
  }
  .form__link {
    text-align: center;
    font-size: 12px;
    margin: 40px 0 0;
  }
}

.thanks {
  padding: 0px 0 60px;
}

.thanks .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.thanks__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thanks h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 600;
  color: #000;
  position: relative;
  padding: 0 0 26px;
}

.thanks h1::before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #000;
  bottom: 0;
  left: 0;
}

.thanks p {
  max-width: 500px;
  font-size: 20px;
  margin: 20px 0 0;
  line-height: 1.5;
  font-weight: 300;
}

.thanks a {
  color: #ffffff;
  background-color: #f06124;
  border-radius: 50px;
  padding: 22px 60px;
  font-weight: 700;
  margin: 60px 0 0;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.thanks a:hover {
  background-color: #a83e10;
}

.thanks img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .thanks .container {
    gap: 0;
  }
  .thanks p {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .thanks {
    padding: 70px 0;
  }
  .thanks .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 640px;
  }
  .thanks h1 {
    font-size: 38px;
  }
  .thanks a {
    margin: 30px 0 0;
  }
}

.error {
  padding: 60px 0 150px;
}

.error .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error h1 {
  font-size: 92px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-align: center;
}

.error p {
  margin: 25px 0 0;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.error a {
  color: #ffffff;
  background-color: #f06124;
  border-radius: 50px;
  padding: 22px 60px;
  font-weight: 700;
  margin: 60px 0 0;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.error a:hover {
  background-color: #a83e10;
}

@media (max-width: 950px) {
  .error {
    padding: 165px 0 150px;
  }
}

@media (max-width: 425px) {
  .error {
    padding: 90px 0;
  }
  .error p {
    font-size: 28px;
  }
  .error a {
    padding: 22px 30px;
    margin: 40px 0 0;
  }
}

.privacy {
  padding: 50px 0 120px;
}

.privacy .container {
  max-width: 960px;
}

.privacy h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 0 0 50px;
}

.privacy__article {
  margin: 30px 0 0;
}

.privacy p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width: 950px) {
  .privacy {
    padding: 120px 0;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__wrapper {
  background-color: #fff;
  z-index: 100;
  padding: 40px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 560px;
}

.modal__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010f1ab3;
  z-index: 90;
}

.modal h2 {
  font-size: 36px;
  font-weight: 600px;
}

.modal h2 + p {
  font-size: 18px;
  text-align: center;
  margin: 13px 0 0;
  line-height: 1.5;
  font-weight: 300;
  max-width: 389px;
}

.modal input {
  height: 60px;
  margin: 24px 0 0;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f2f6fa;
}

.modal button {
  border-radius: 50px;
  width: 100%;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  background-color: #f06124;
  border: none;
  margin: 24px 0 0;
  color: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal button:hover {
  background-color: #a83e10;
}

.modal__text {
  margin: 20px 0 0;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  color: #000;
}

.modal__text a {
  color: #000;
  border-bottom: 1px solid #000;
}

.modal__close {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal__close::before, .modal__close::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close:hover::before, .modal__close:hover::after {
  background-color: #b8b7b7;
}

.crate {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.crate__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crate__close {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.crate__close::before, .crate__close::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.crate__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.crate__close:hover::before, .crate__close:hover::after {
  background-color: #b8b7b7;
}

.crate__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010f1ab3;
  z-index: 90;
}

.crate__wrapper {
  max-width: 560px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  background-color: #fff;
  z-index: 100;
}

.crate__text {
  margin: 20px 0 0;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  color: #000;
}

.crate__text a {
  color: #000;
  border-bottom: 1px solid #000;
}

.crate h2 {
  font-size: 24px;
  font-weight: 600px;
}

.crate h2 + p {
  font-size: 18px;
  text-align: center;
  margin: 13px 0 0;
  line-height: 1.5;
  font-weight: 300;
  max-width: 389px;
}

.crate input {
  height: 60px;
  margin: 24px 0 0;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f2f6fa;
}

.crate button {
  border-radius: 50px;
  width: 100%;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  background-color: #f06124;
  border: none;
  margin: 24px 0 0;
  color: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.crate button:hover {
  background-color: #105a87;
}

.crate img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.crate__product {
  margin: 30px 0;
  padding: 15px 0;
  border-top: 1px solid #00000033;
  border-bottom: 1px solid #00000033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crate__product a {
  margin: 0 0 0 auto;
}

.crate__product a img {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */