$font-family: "Actay", sans-serif
$second-family: "Actay Wide", sans-serif

body
    font-size: 1px
    background: #000
    color: #fff 
    background: url('../img/header_bg.jpg') center no-repeat 
    background-size: cover
    min-height: 100vh

.container
    max-width: 1140em
    margin: 0 auto

.nav
    padding: 40em 0 0
    .container
        display: flex
        justify-content: flex-start
        align-items: center
    &__logo
        font: 700 32em / .9 $second-family
        color: #fff
        max-width: 4.5em
        display: block
    ul
        margin: 0 auto 0 52em
        display: flex
        justify-content: center
        align-items: center
        gap: 40em
        a
            font: 400 20em / 0.9 $font-family
            color: #fff
            transition: all .3s
            &:hover
                color: #007eec
    &__enter
        font: 400 20em / 1.5 $font-family
        text-transform: uppercase
        color: #fff
        display: grid
        grid-template-columns: 1fr 1em
        gap: 1em
        border-bottom: 1px solid #fff
        transition: all .3s
        align-items: center
        svg
            width: 1em
            height: 1em
            path
                transition: all .3s
        &:hover
            color: #007eec
            border-color: #007eec
            svg
                path
                    fill: #007eec
    &__humburger
        display: none

.header
    padding: 40em 0 110em
    position: relative
    overflow: hidden
    &__arrow
        display: none
    h1
        font: 700 90em $second-family
        color: #fff
        text-align: center
    &__swiper
        position: relative
        overflow: visible
        margin: 48px 0 0
    .swiper
        &-wrapper
            position: relative
            height: 432em
            overflow: visible   
    &__item
        position: absolute
        top: 0
        left: 0
        width: 286em
        height: auto
        &_wrapper
            border: 3em solid #fff
            border-radius: 35em 0
            backdrop-filter: blur(15px)
            background: rgba(255, 255, 255, 0.3)
            padding: 11em
            display: grid
            grid-template-columns: 51em 1fr
            gap: 10em
            align-items: center
            &::before
                content: ''
                display: block
                width: 18em
                height: 31em
                background: url('../img/item_acc.svg')center no-repeat
                background-size: contain
                position: absolute
                left: 100%
                top: -10em
        &_num
            display: flex
            justify-content: center
            align-items: center
            width: 51em
            height: 51em
            border-radius: 100%
            border: 1px solid  #fff
            background: #5e7600
        span
            font: 400 25em / 1 $font-family
            color: #f6ffd2
        img
            width: 100%
        p
            font: 400 14em / 1.3 $font-family
            color: #f6ffd2
        &::after
            content: ''
            display: block
            position: absolute
            z-index: -1
        &:nth-child(6)
            top: 197em
            right: 139em
            left: auto
            &::after
                content: none
        &:nth-child(5)
            top: 41em
            right: 0
            left: auto
            &::after
                width: 213em
                height: 122em
                top: 60em
                left: 78em
                transform: rotate(131deg)
                background: url('../img/way_5.svg') center no-repeat 
                background-size: contain
        &:nth-child(4)
            top: 113em
            left: 355em
            &::after
                width: 226em
                height: 134em
                top: -80em
                left: 260em
                transform: rotate(-34deg)
                background: url('../img/way_4.svg') center no-repeat 
                background-size: contain
        &:nth-child(3)
            bottom: 0
            left: 427em
            top: auto
            &::after
                width: 210em
                height: 122em
                bottom: 90em
                left: 35em
                transform: rotate(104deg)
                background: url('../img/way_3.svg') center no-repeat 
                background-size: contain
        &:nth-child(2)
            left: 77em
            top: 246em
            &::after
                width: 142em
                height: 109em
                top: 60em
                left: 205em
                transform: rotate(68deg)
                background: url('../img/way_2.svg') center no-repeat 
                background-size: contain   
        &:nth-child(1)
            &::after
                width: 210em
                height: 122em
                top: 115em
                left: 15em
                transform: rotate(75deg)
                background: url('../img/way_1.svg') center no-repeat    
                background-size: contain

@media ( max-width: 1280px )
    body
        font-size: calc( 100vw / 1280 )

@media ( max-width: 600px )
    body
        font-size: 1px
    .container
        padding: 0 15px
        width: 100%
    .nav
        padding: 30px 0
        transition: all .3s
        position: absolute
        top: 0
        left: 0
        width: 100vw
        z-index: 50
        &::before
            content: ''
            display: block
            width: 100%
            height: 0
            position: absolute
            top: 0
            left: 0
            background: rgba(0, 0, 0, 0.56)
            transition: all .3s
            z-index: -2
        &::after
            content: ''
            display: block
            width: 100%
            z-index: -1
            background: #fff    
            position: absolute
            top: 0
            left: 0
            height: 100%
            opacity: 0
            pointer-events: none
            transition: all .3s
        .container
            display: grid
            grid-template-columns: 1fr 25px
            gap: 20px
        &__logo
            font-size: 20px
            max-width: 88px
        ul
            display: none
        &__enter
            display: none
        &__humburger
            cursor: pointer
            display: block
            width: 25px
            height: 21px
            position: relative
            display: flex
            justify-content: space-between
            flex-direction: column
            span,
            &::before,
            &::after
                content: ''
                display: block
                width: 100%
                height: 1px
                background: #fff
                border-radius: 1px
        &.active
            background: #fff    
            top: 0
            left: 0
            width: 100vw
            position: fixed
            &::before
                height: 100vh
                z-index: -1
                pointer-events: none
            &::after
                opacity: 1
            ul
                display: block
                grid-column: 1/3
                display: grid
                grid-template-columns: 100%
                gap: 15px
                justify-items: center
                margin: 0
                width: 100%
                a
                    font-size: 14px
                    color: #000
            .nav
                &__logo
                    color: #f2f3ef
                &__humburger
                    span
                        opacity: 0
                    &::before,
                    &::after
                        transform: translate(-50%, -50%) rotate(45deg)
                        background: #000
                        position: absolute
                        top: 50%
                        left: 50%
                    &::after
                        transform: translate(-50%, -50%) rotate(-45deg)
                &__enter
                    grid-column: 1/3
                    display: grid
                    color: #000
                    font-size: 14px
                    min-width: 162px
                    width: max-content
                    margin: 10px auto 0
                    border-color: #000
                    svg
                        width: 16px
                        height: 16px
                        path
                            fill: #000
    .header
        padding: 100px 0 
        h1
            font-size: 35px
        &__swiper
            height: auto
            margin: 30px 0 0
        .swiper
            &-wrapper
                height: auto
        &__item
            position: relative
            inset: 0 !important
            height: 100%
            &::after
                content: none
            &_wrapper
                grid-template-columns: 100%
                gap: 22px
                align-content: center
            img
                width: 74px
                margin: 0 auto
            p
                font-size: 14px
                text-align: center
        &__arrow
            display: flex
            justify-content: space-between
            align-items: center
            margin: 15px 0 0
            .swiper
                &-button
                    &-next,
                    &-prev
                        width: auto
                        height: auto
                        position: relative
                        display: grid
                        grid-template-columns: 1fr 24px
                        gap: 5px
                        align-items: center
                        margin: 0
                        inset: 0
                        transform: none
                        opacity: 1
                        &::after
                            content: none
                        span
                            font: 400 14px / 1.3 $font-family
                            color: #f6ffd2
                            white-space: nowrap
                            display: block
                        svg
                            width: 16px
                            height: 16px
                            transform: rotate(45deg)
                    &-prev
                        grid-template-columns: 24px 1fr
                        svg
                            transform: rotate(-135deg)