@font-face
    font-family: AvantGardeGothicC;
    src: url("../font/AvantGardeGothicC-Bold.otf")

body
    background: #E5E5E5;
    
.container
    padding: 0 20px 
    margin: 0 auto
    max-width: 1140px  

.title
    display: grid
    grid-template-columns: 50% 50% 
    p
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #1B2226;
        opacity: 0.8;

h2
    font-family: 'AvantGardeGothicC';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #1B2226;

.header
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background: url('../img/header_bg.jpg') center no-repeat
    background-size: cover
    p
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffffe6;
    h1
        font-family: 'AvantGardeGothicC';
        font-style: normal;
        font-weight: 700;
        font-size: 100px
        text-align: center;
        color: #FFFFFF;
        margin: 55px 0 0
        &+p
            margin: 55px 0 0

.task
    padding: 125px 0 250px
    &__link
        display: grid
        grid-template-columns: 50% 50%
        margin: 40px 0 0
        align-items: center
        justify-items: start
        img
            display: block
            margin: 0 130px 0 auto
        a
            font-family: 'AvantGardeGothicC';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 57px;
            color: #1B2226;
            border-bottom: 4px solid #0B4050
            position: relative
            &::before
                content: ''
                display: block
                width: 29px
                height: 29px
                position: absolute
                left: calc( 100% + 14px )
                background: url('../img/arrow.svg') center no-repeat
                background-size: contain
                top: 11px
    &__container
        margin: 150px 0 0
        width: 100%
        position: relative
    &__text
        width: 100%
        object-fit: contain
    &__wrapper
        img
            position: absolute
            &:nth-child(1)
                bottom: -6px
                left: 100px
                width: 23%
            &:nth-child(2)
                bottom: -115px
                left: 50%
                width: 23%
            &:nth-child(3)
                top: -50px
                right: 85px
                width: 17%

.realiz
    padding: 0 0 190px
    .container
        position: relative
    &__img
        margin: 88px 0 0
        display: flex
        justify-content: center
        img
            width: 743px
            object-fit: contain
    &__slider
        img
            position: absolute
            height: 489px
            object-fit: contain
    &__slide
        &:nth-child(5)
            img
                bottom: 550px
                right: 0
        &:nth-child(4)
            img
                bottom: 1150px
                left: 0
        &:nth-child(3)
            img
                bottom: 1850px
                right: 0
        &:nth-child(2)
            img
                bottom: 2500px
                left: 0
        &:nth-child(1)
            img
                bottom: 3100px
                left: 0

.collage
    background: #0B4050
    padding: 100px 0 180px
    .title
        grid-template-columns: 1fr 1fr
        gap: 30px
        align-items: center
        img
            max-width: 511px
            width: 100%
        p
            color: #FFFFFF;
    &__wrapper
        margin: 100px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 30px
        img
            width: 100%
            object-fit: contain
    &__column
        display: flex
        flex-direction: column
        gap: 30px
        justify-content: space-between

.horeca
    padding: 170px 0 0
    &__container
        width: 100%
        position: relative
    &__text
        width: 35%
        // left: 50%
        // transform: translateX(-50%)
        display: block
        object-fit: contain
        margin: 0 auto
    &__wrapper
        img
            position: absolute
            &:nth-child(1)
                bottom: -20px
                left: 100px
                width: 23%
            &:nth-child(2)
                bottom: -75px
                left: 50%
                width: 11%
            &:nth-child(3)
                top: 0px
                right: 85px
                width: 23%

.portfolio
    padding: 170px 0 112px
    &__wrapper
        display: grid
        grid-template-columns: 67% 25%
        gap: 8%
        img
            width: 100%
            object-fit: contain
    &__mob
        padding: 60px 0 
        display: flex
        flex-direction: column
        justify-content: space-between
    &__text
        margin: 130px 0 0
        position: relative
        p
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #1B2226;
            opacity: 0.8;
            width: 47%
        img
            width: 350px
            object-fit: contain
            position: absolute
            right: 0
            bottom: -253px
    
.portfolio-collage
    padding: 60px 0 145px
    background: #0B4050;
    p   
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        opacity: 0.8;
        max-width: 40%
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        margin: 65px 0 0
        gap: 20px
    img
        width: 100%
        object-fit: contain

.case
    padding: 170px 0 
    img
        width: 100%
        object-fit: contain
    &__wrapper
        display: grid
        grid-template-columns: 1fr 2fr
        gap: 27px
    .title
        gap: 50px
        grid-template-columns: 100%
    &__mob
        display: grid
        grid-template-columns: 100%
        gap: 50px
        margin: 50px 0 0
        img
            max-width: 279px
    &__info
        margin: 50px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 50px
        p
            font-family: 'Fira Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #1B2226;
            opacity: 0.8;
        img
            max-width: 250px
    &__img
        img
            box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.25)
    &__prev
        margin: 160px 0 0
        img
            width: 100%
            object-fit: cover

@media ( max-width: 1024px )
    .task
        .title
            grid-template-columns: 100%
            gap: 50px
        &__link
            grid-template-columns: 100%
            gap: 50px
            a
                order: -1
            img
                margin: 0
        &__container
            margin: 50px 0 0

@media ( max-width: 768px )
    .title
        grid-template-columns: 100%
        gap: 50px
        p
            font-size: 14px;
            line-height: 24px;
    h2
        font-size: 40px;
        line-height: 48px;
    .header
        h1
            font-size: 70px;
            margin: 20px 0 0
            &+p
                margin: 20px 0 0
    .task
        padding: 50px 0 200px
        position: relative
        overflow: hidden
        &__link
            a
                font-size: 28.0909px;
                line-height: 34px;
                border-bottom: 2.34091px solid #0B4050;
                &::before
                    width: 18px
                    height: 18px
                    top: 8px
                    left: calc( 100% + 8px )
            img
                width: 200px
    .realiz
        padding: 0 0 70px
        &__img
            margin: 50px 0 0
            img
                width: 100%
        &__slider
            margin: 80px 0 0
            img
                position: relative
                bottom: auto !important
                left: 0 !important
                right: auto !important
                height: auto
            .slick
                &-dots
                    display: flex
                    justify-content: center
                    align-items: center
                    margin: 35px 0 0
                    li
                        padding: 0 8px
                    button
                        padding: 0
                        border: none
                        font-size: 0
                        width: 8px
                        height: 8px
                        background: #A2A2A2;
                        border-radius: 100%
                        transition: all .3s
                    .slick-active
                        button
                            background: #0B4050;
        &__slide
            padding: 0 20px
            img
                width: 100%
                object-fit: contain
    .collage
        padding: 90px 0 50px
        .title
            grid-template-columns: 100%
            gap: 50px
            p
                font-size: 14px;
                line-height: 24px;
        &__wrapper
            grid-template-columns: 100%
            gap: 20px
        &__column
            gap: 20px
    .horeca
        padding: 100px 0 0
        &__text
            width: calc( 100% - 60px )
        &__wrapper
            img
                position: absolute
                &:nth-child(1)
                    bottom: -103px
                    left: -17%
                    width: 53%
                &:nth-child(2)
                    bottom: -103px
                    left: 50%
                    width: 43%
                &:nth-child(3)
                    top: -20px
                    right: 0
                    width: 55%
    .portfolio
        padding: 170px 0 80px
        .container
            display: flex
            flex-direction: column-reverse
        &__text
            margin: 0
            p
                width: 100%
            img
                display: none
        &__wrapper
            display: block
            margin: 30px 0 0
        &__mob
            padding: 0
            margin: 97px 0 0
            display: block
            .slick
                &-dots
                    display: flex
                    justify-content: center
                    align-items: center
                    margin: 35px 0 0
                    li
                        padding: 0 8px
                    button
                        padding: 0
                        border: none
                        font-size: 0
                        width: 8px
                        height: 8px
                        background: #A2A2A2;
                        border-radius: 100%
                        transition: all .3s
                    .slick-active
                        button
                            background: #0B4050;
            img
                width: 100%
                object-fit: contain
    .portfolio-collage
        padding: 50px 0 100px
        p
            font-size: 14px;
            line-height: 24px;
            max-width: 100%
        &__wrapper
            margin: 50px 0 0
            grid-template-columns: 1fr 1fr
            gap: 10px
    .case
        padding: 80px 0
        &__wrapper
            grid-template-columns: 100%
        &__mob
            display: block
            img
                max-width: none
            .slick
                &-dots
                    display: flex
                    justify-content: center
                    align-items: center
                    margin: 35px 0 0
                    li
                        padding: 0 8px
                    button
                        padding: 0
                        border: none
                        font-size: 0
                        width: 8px
                        height: 8px
                        background: #A2A2A2;
                        border-radius: 100%
                        transition: all .3s
                    .slick-active
                        button
                            background: #0B4050;
        &__info
            img
                display: block
                margin: 0 auto
                max-width: 250px

@media ( max-width: 425px )
    .task
        &__wrapper
            img
                position: absolute
                &:nth-child(1)
                    bottom: -112px
                    left: -36%
                    width: 61%
                &:nth-child(2)
                    bottom: -115px
                    left: 47%
                    width: 46%
                &:nth-child(3)
                    top: -110px
                    right: -11%
                    width: 34%
    .case
        &__prev
            margin: 60px -20px 0 
            width: calc( 100% + 40px )