@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-Bold.woff2') format('woff2'),
        url('Inter28pt-Bold.woff') format('woff'),
        url('Inter28pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-Medium.woff2') format('woff2'),
        url('Inter28pt-Medium.woff') format('woff'),
        url('Inter28pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-Thin.woff2') format('woff2'),
        url('Inter28pt-Thin.woff') format('woff'),
        url('Inter28pt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-ExtraLight.woff2') format('woff2'),
        url('Inter28pt-ExtraLight.woff') format('woff'),
        url('Inter28pt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-ExtraBold.woff2') format('woff2'),
        url('Inter28pt-ExtraBold.woff') format('woff'),
        url('Inter28pt-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-Regular.woff2') format('woff2'),
        url('Inter28pt-Regular.woff') format('woff'),
        url('Inter28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-SemiBold.woff2') format('woff2'),
        url('Inter28pt-SemiBold.woff') format('woff'),
        url('Inter28pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-ThinItalic.woff2') format('woff2'),
        url('Inter28pt-ThinItalic.woff') format('woff'),
        url('Inter28pt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-Light.woff2') format('woff2'),
        url('Inter28pt-Light.woff') format('woff'),
        url('Inter28pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter28pt-Black.woff2') format('woff2'),
        url('Inter28pt-Black.woff') format('woff'),
        url('Inter28pt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Heavy.woff2') format('woff2'),
        url('SFProDisplay-Heavy.woff') format('woff'),
        url('SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Regular.woff2') format('woff2'),
        url('SFProDisplay-Regular.woff') format('woff'),
        url('SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Ultralight.woff2') format('woff2'),
        url('SFProDisplay-Ultralight.woff') format('woff'),
        url('SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Bold.woff2') format('woff2'),
        url('SFProDisplay-Bold.woff') format('woff'),
        url('SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Light.woff2') format('woff2'),
        url('SFProDisplay-Light.woff') format('woff'),
        url('SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Medium.woff2') format('woff2'),
        url('SFProDisplay-Medium.woff') format('woff'),
        url('SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Semibold.woff2') format('woff2'),
        url('SFProDisplay-Semibold.woff') format('woff'),
        url('SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Thin.woff2') format('woff2'),
        url('SFProDisplay-Thin.woff') format('woff'),
        url('SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Black.woff2') format('woff2'),
        url('SFProDisplay-Black.woff') format('woff'),
        url('SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Black.woff2') format('woff2'),
        url('SFCompactDisplay-Black.woff') format('woff'),
        url('SFCompactDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Medium.woff2') format('woff2'),
        url('SFCompactDisplay-Medium.woff') format('woff'),
        url('SFCompactDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Thin.woff2') format('woff2'),
        url('SFCompactDisplay-Thin.woff') format('woff'),
        url('SFCompactDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Bold.woff2') format('woff2'),
        url('SFCompactDisplay-Bold.woff') format('woff'),
        url('SFCompactDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Regular.woff2') format('woff2'),
        url('SFCompactDisplay-Regular.woff') format('woff'),
        url('SFCompactDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Semibold.woff2') format('woff2'),
        url('SFCompactDisplay-Semibold.woff') format('woff'),
        url('SFCompactDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Heavy.woff2') format('woff2'),
        url('SFCompactDisplay-Heavy.woff') format('woff'),
        url('SFCompactDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Light.woff2') format('woff2'),
        url('SFCompactDisplay-Light.woff') format('woff'),
        url('SFCompactDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('SFCompactDisplay-Ultralight.woff2') format('woff2'),
        url('SFCompactDisplay-Ultralight.woff') format('woff'),
        url('SFCompactDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
