.light-theme {
    --grey: #F4F7FE;
    --white: #fff;
    --font-black: #2B3674;
    --font-grey: #A3AED0;
    --img-blue: #A3D8FF;
    --font-green: #09A66D;
    --font-blue: #4318FF;
    --placholder: #8F9BBA;
    --border: #F2F4F7;
    --orange: #F47A58;
    --input-bg: #FAFCFE;
    --input-border: #E0E5F2;
    --input-text: #E9EAEC;
    --procent-text: #0B1C3F;
    --wallet-bg: #111C44;
}