@font-face {
    font-family: 'Literal';
    src: url('Literal-Bold.woff2') format('woff2'),
        url('Literal-Bold.woff') format('woff'),
        url('Literal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Literal';
    src: url('Literal-Regular.woff2') format('woff2'),
        url('Literal-Regular.woff') format('woff'),
        url('Literal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}