$font-family: "Proxima Nova", sans-serif
$second-family: "Satoshi", sans-serif
html
    font-size: calc(1vw / 19.2)
    height: 100%
    height: -moz-available
    height: -webkit-fill-available
    height: fill-available
body
    position: relative
    font-family: $font-family
    &.wht
        background: #fff
    &.blc
        background: #000
        color: #fff
    &.fix
        overflow: hidden
.container
    max-width: 1300rem
    padding: 0 25px
    box-sizing: content-box 
    margin: 0 auto
.input
    border: 2px solid rgba(141, 141, 161, 0.4)
    border-radius: 100px
    padding: 16rem 24rem
    width: 100%
    box-sizing: border-box  
    color: #000
    font-family: $font-family
    font-weight: 400
    font-size: 20rem
    line-height: 1.6
    letter-spacing: -0.02em
    transition: all .3s
    &::placeholder
        color: #a7a7b1
    &:hover,
    &:focus
        border: 2px solid #000
.btn
    &__down
        font-family: $second-family
        font-weight: 700
        font-size: 20rem
        line-height: 1
        letter-spacing: 0.02em
        text-transform: uppercase
        color: #000
        display: grid
        grid-template-columns: 1fr 56rem
        align-items: center
        transition: all .3s
        gap: 12rem
        white-space: nowrap
        span
            display: flex
            justify-content: center
            align-items: center
            width: 56rem
            height: 56rem
            border-radius: 100%
            background: #000
            transition: all .3s
            img
                width: 32rem
        &:hover
            color: #e75e43
            span
                transform: rotate(135deg)
    &__wht
        border: 1px solid #000
        border-radius: 50rem
        padding: 13rem 30rem
        font-family: $font-family
        font-weight: 400
        font-size: 25rem
        line-height: 1.4
        letter-spacing: -0.02em
        color: #000
        background: transparent
        width: 100%
        max-width: 280rem
        transition: all .3s
        text-align: center
        display: block
        &:hover
            color: #e75e43
.element-animation
    opacity: 0
    transition: all 1s
    transform: translateY(50%)
.element-show
    opacity: 1 !important
    transform: translateY(0) !important

.nav
    padding: 40rem 0 30rem
    z-index: 2
    position: relative
    &::before
        content: ''
        display: block
        max-width: 1300rem
        width: calc( 100% - 50px )
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        height: 1rem
        background: #8d8da1
        opacity: .4
        transition: all .3s
    .container
        display: flex
        justify-content: flex-start
        align-items: center
    &__logo
        display: block
        width: 184rem
        transition: all .3s
        img
            width: 100%
            display: block
    &__lang
        border-radius: 300rem 
        background: #1a1a1b
        margin: 0 40rem 0 auto
        display: grid
        grid-template-columns: auto auto
        transition: all .3s
        p
            padding: 18rem 25rem
            font-weight: 400
            font-size: 10rem
            line-height: 1.2
            letter-spacing: 0.05em
            text-transform: uppercase
            color: #f8f8fa
            border-radius: 300rem
            cursor: pointer
            &.active
                background: #d7d7d7
                color: #1a1a1b
                transition: all .3s
                &:hover
                    opacity: .7
    &__humburger
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 36rem
        cursor: pointer
        position: relative
        width: 70rem
        transition: all .3s
        &::before,
        &::after
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 1rem
            background: #181818
            left: 0
            transition: all .3s
        &::before
            top: 10rem
        &::after
            bottom: 10rem
        &:hover
            opacity: .7
    &-menu
        transform: translateY(-100%)
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        opacity: 0
        transition: all .3s
        background-color: #fff
        z-index: -1
        padding: 120rem 0 90rem
        overflow-y: scroll
        height: -webkit-fill-available
        .container
            display: flex
            flex-direction: column
            min-height: 100%
            align-items: flex-start
            position: relative
            height: max-content
            &::before
                content: ''
                display: block
                position: absolute
                right: 15rem
                height: 84%
                width: 144rem
                background: url('../img/nav_bg.svg') right no-repeat    
                background-size: contain
                top: 50%
                transform: translateY(-50%)
                z-index: -1
        &__list
            margin: auto 0
            a
                display: grid
                grid-template-columns: 90rem 1fr
                align-items: center
                gap: 30rem
                font-family: $font-family
                font-weight: 400
                font-size: 60rem
                line-height: 1.2
                letter-spacing: -0.03em
                color: #000
                transition: all .3s
                span
                    display: block
                    width: 100%
                    padding: 16rem 32rem
                    opacity: 0
                    transition: all .3s
                    height: 56rem
                    border: 1px solid #010205
                    border-radius: 70rem
                    img
                        width: 100%
                        height: 100%
                        display: block
                &:hover
                    color: #e75e43
                    span
                        opacity: 1
        &__contact
            margin: 30rem 0 0
            max-width: 740rem
            font-family: $font-family
            font-weight: 400
            font-size: 24rem
            line-height: 1.2
            color: #000
            a
                color: #e75e43
    &.active
        position: sticky
        top: 0
        left: 0
        width: 100vw
        &::before
            opacity: 0
        .nav
            &__lang
                opacity: 0
                pointer-events: none
            &__humburger
                &::after,
                &::before
                    top: 50%
                    bottom: auto
                &::after
                    transform: rotate(-35deg)
                &::before
                    transform: rotate(35deg)
            &-menu
                opacity: 1
                transform: none
                height: 100vh
    &__dark
        .nav
            &__humburger
                &::before,
                &::after
                    background: #fff
            &__logo
                filter: invert(100%)
        &.active
            .nav
                &__humburger
                    &::before,
                    &::after
                        background: #181818
                &__logo
                    filter: invert(0%)
    &__abs
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: 3
        &.active
            position: fixed

.slider
    padding: 60rem 0 100rem
    position: relative
    overflow: hidden
    &__arrow
        position: absolute
        top: 0
        bottom: 0
        width: calc( (1920px - 846rem)/2 )
        height: auto
        margin: 0
        opacity: 0
        left: auto
        right: auto
    &_prev
        right: calc( 50% + 428rem )
    &_next
        left: calc( 50% + 428rem )
    &__title
        display: flex
        justify-content: space-between
        align-items: flex-end
        h2,
        h1
            font-family: $font-family
            font-weight: 600
            font-size: 80rem
            line-height: 0.95
            color: #000
            opacity: .95
            position: relative
            transform: translateY(100%)
            opacity: 0
            &::before
                content: ''
                display: block
                width: 44rem
                height: 28rem
                background: url('../img/title_hum.svg') center no-repeat
                background-size: contain
                position: absolute
                top: 50%
                transform: translateY(-50%)
                right: calc( 100% + 52rem )
        p
            font-family: $font-family
            font-weight: 600
            font-size: 30rem
            line-height: 1
            text-align: right
            color: rgba(0, 0, 0, 0.55)
            max-width: 505rem
            transform: translateY(100%)
            opacity: 0
    &__slider
        margin: 52rem 0 0
        overflow: visible
    .swiper
        &-slide
            display: flex
            justify-content: center
            align-items: center
            width: 856rem
            height: 808rem
            opacity: .4
            transition: all .3s
            img
                width: 70%
                height: 70%
                object-fit: contain
                transition: all .3s
            &-active
                opacity: 1
                img
                    width: 100%
                    height: 100%
    &__info
        margin: 97rem 0 0
        padding: 0 100rem
        display: flex
        flex-direction: column
        align-items: center
        position: relative
    &__text
        p
            font-family: $font-family
            font-weight: 600
            font-size: 30rem
            line-height: 1.2
            letter-spacing: -0.02em
            text-align: center
            color: #1e1515
    &__link
        display: flex
        justify-content: center
        align-items: center
        gap: 29rem
        margin: 67rem 0 0
    &__icon
        position: absolute
        right: 0
        bottom: 0
        transition: all .3s
        width: 75rem
        img
            width: 100%
        &:hover
            opacity: .8

.footer
    padding: 140rem 0 100rem
    position: relative
    background-color: #fff
    .container
        max-width: 1300rem
    &::before
        content: ''
        display: block
        max-width: 1570rem
        width: calc( 100% - 30rem )
        position: absolute
        top: 60rem
        left: 50%
        transform: translateX(-50%)
        height: 1rem
        background: #8d8da1
        opacity: .4
        transition: all .3s
    h2
        font-family: $font-family
        font-weight: 700
        font-size: 70rem
        line-height: 1.1
        text-transform: uppercase
        text-align: center
        color: #1e1515
    &__search
        margin: 32rem 0 0
        display: grid
        grid-template-columns: 420rem 63rem
        justify-content: center
        gap: 12rem
        align-items: center
        &_btn
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100%
            width: 63rem
            height: 63rem
            background: #000
            border: none
            transition: all .3s
            padding: 0
            transition: all .3s
            img
                width: 36rem
            &:hover
                transform: rotate(45deg)
    &__list
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 20rem
        margin: 80rem 0 0
        &_name
            font-family: $font-family
            font-weight: 700
            font-size: 24rem
            line-height: 1.1
            text-transform: uppercase
            color: #1e1515
        ul
            margin: 16rem 0 0
            display: grid
            grid-template-columns: 100%
            gap: 12rem
            a
                font-family: $font-family
                font-weight: 600
                font-size: 18rem
                line-height: 1.2
                letter-spacing: -0.02em
                color: #1e1515
                display: block
        a
            transition: all .3s
            &:hover
                color: #e75e43
    &__info
        margin: 45rem 0 0
        display: flex
        justify-content: space-between
        align-items: flex-end
        img
            margin: 0 0 30rem
            display: block
            width: 184rem
        p
            font-family: $font-family
            font-weight: 400
            font-size: 18rem
            line-height: 1.2
            text-align: right
            color: rgba(0, 0, 0, 0.3)
            max-width: 540rem
    &__row
        display: flex
        justify-content: space-between
        align-items: center
        margin: 16rem 0 0
        a
            font-family: $font-family
            font-weight: 400
            font-size: 18rem
            line-height: 1.77778
            letter-spacing: -0.02em
            color: #1e1515
            transition: all .3s
            position: relative
            &:hover
                color: #e75e43
            &+a
                margin: 0 0 0 32rem
                &::before
                    content: ''
                    display: block
                    position: absolute
                    right: calc( 100% + 16rem )
                    top: 50%
                    transform: translateY(-50%)
                    width: 1rem
                    height: 20rem
                    background: #000000c3   
        p
            font-family: $font-family
            font-weight: 600
            font-size: 18rem
            line-height: 1.77778
            letter-spacing: -0.02em
            color: #1e1515

@media ( max-width: 1450px )
    .container
        max-width: 1600rem
    .nav
        &::before
            max-width: 1600rem
    .footer
        .container
            max-width: 1600rem

@media ( max-width: 1300px )
    .container
        max-width: 100%
    .nav
        &::before
            max-width: 100%

@media ( max-width: 1024px )
    html
        font-size: calc( 1vw / 14.4 )
    .slider
        &__title
            p
                font-size: 30rem
                max-width: 505rem
            h1,
            h2
                font-size: 75rem

@media ( max-width: 800px )
    .input
        padding: 24rem 35rem
        font-size: 35rem
    .nav
        &__lang
            display: none
        &__humburger
            margin: 0 0 0 auto
        &-menu
            // padding-bottom: 100px
            &__contact
                font-size: 40rem
            &__list
                gap: 50rem
                a
                    font-size: 100rem
        &__logo
            width: 300rem
    .slider
        &__arrow
            display: none
        &__text
            p
                font-size: 35rem
        &__title
            display: grid
            grid-template-columns: 100%
            p
                text-align: left
        .swiper
            &-slide
                width: 100%
                height: auto
                img
                    width: 100%
                    height: 100%
        &__info
            padding: 0
        &__icon
            display: none
        &__link
            flex-direction: column
    .footer
        h2
            font-size: 70rem
        &__search
            grid-template-columns: 1fr 100rem
            &_btn
                width: 100rem
                height: 100rem
                img
                    width: 50rem
        &__info
            gap: 20rem
            flex-direction: column
            align-items: flex-start
            img
                margin: 0
                width: 300rem
            p
                text-align: left
                font-size: 35rem
                max-width: 100%
        &__row
            flex-direction: column
            align-items: center
            p
                text-align: center
                font-size: 35rem
            a
                text-align: center
                font-size: 35rem
                &::before
                    content: none !important
                &+a
                    margin: 0 
            &_link
                display: flex
                flex-direction: column
        &__list
            grid-template-columns: 1fr
            &_name
                font-size: 45rem
            ul
                a
                    font-size: 35rem
        
@media ( max-width: 500px )
    .btn
        &__wht
            font-size: 35rem
            max-width: max-content
    html
        font-size: calc( 1vw / 10 )

.about-header
    position: relative
    z-index: 1
    padding: 0 0 66rem
    .nav
        background: transparent
    &::before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 1080rem
        background: url('../img/about-header.jpg') center no-repeat
        background-size: cover
        z-index: -1
        opacity: .5
    &__text
        max-width: 635rem
        font-family: $font-family
        font-weight: 400
        font-size: 25rem
        line-height: 1.3
        text-align: right
        color: #fff
        margin: 650rem 0 0 auto
    h1
        font-family: $font-family
        font-weight: 700
        font-size: 80rem
        line-height: 0.95
        text-transform: uppercase
        color: #fff
        max-width: 1591rem
        b
            color: #e75e43
        span
            color: #8d8da1
    &__subtitle
        margin: 7rem auto 0
        font-family: $font-family
        font-weight: 700
        font-size: 50rem
        line-height: 0.95
        text-transform: uppercase
        text-align: right
        color: rgba(141, 141, 161, 0.5)
        max-width: max-content
        b
            color: #fff
        span
            color: #8d8da1
    &__har
        margin: 97rem auto 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        max-width: max-content
        gap: 50rem
        &_name
            font-family: $font-family
            font-weight: 700
            font-size: 90rem
            line-height: 0.95
            text-transform: uppercase
            color: #fff
            text-align: center
            span
                color: #e75e43
        &_text
            font-family: $font-family
            font-weight: 400
            font-size: 24rem
            line-height: 1.3
            text-align: center
            color: #fff
        div
            &:nth-child(2),
            &:nth-child(3)
                .about-header
                    &__har               
                        &_name
                            span
                                display: block
                                font-size: 40rem
    &__news
        margin: 16rem 0 0
        display: block
        max-width: 1080rem
        width: 100%
        position: relative
        transition: all .3s
        img
            width: 100%
            opacity: .6
        span
            position: absolute
            bottom: 0
            left: 0
            padding: 33rem 45rem
            background: #000
            font-family: $font-family
            font-weight: 300
            font-size: 26rem
            line-height: 1.3
            text-transform: uppercase
            color: #fff
            transition: all .3s
        &:hover
            span
                color: #e75e43
    &__equip
        margin: 110rem 0 0
        display: grid
        grid-template-columns: 1fr 616rem
        gap: 24rem
        align-items: center
        &_name
            font-family: $font-family
            font-weight: 700
            font-size: 120rem
            line-height: 0.95
            text-transform: uppercase
            color: rgba(255, 255, 255, 0.87)
            text-align: center
            span
                color: #e75e43
        &_text
            margin: 14rem auto 0
            font-family: $font-family
            font-weight: 700
            font-size: 55rem
            line-height: 0.95
            text-align: center
            color: #e75e43
            max-width: 605rem
        &_link
            position: relative
            transition: all .3s
            img
                width: 100%
                opacity: .6
            span
                position: absolute
                bottom: 0
                left: 0
                padding: 33rem 45rem
                background: #000
                font-family: $font-family
                font-weight: 300
                font-size: 26rem
                line-height: 1.3
                text-transform: uppercase
                color: #fff
                transition: all .3s
            &:hover
                span
                    color: #e75e43
    &__ex
        margin: 100rem 0 0
        display: grid
        grid-template-columns: 1fr 800rem
        gap: 24rem
        align-items: center
        &_name
            font-family: $font-family
            font-weight: 700
            font-size: 120rem
            line-height: .4
            text-transform: uppercase
            color: rgba(255, 255, 255, 0.87)
            text-align: center
            span
                color: #e75e43
                font-size: 50rem
                line-height: 1
        &_text
            margin: 14rem auto 0
            font-family: $font-family
            font-weight: 400
            font-size: 30rem
            line-height: 0.95
            text-align: center
            color: #fff
            max-width: 434rem
        &_link
            position: relative
            transition: all .3s
            img
                width: 100%
                opacity: .6
            span
                position: absolute
                bottom: 0
                left: 0
                padding: 33rem 45rem
                background: #000
                font-family: $font-family
                font-weight: 300
                font-size: 26rem
                line-height: 1.3
                text-transform: uppercase
                color: #fff
                transition: all .3s
            &:hover
                span
                    color: #e75e43
    
.about-har
    padding: 170rem 0
    position: relative
    overflow: hidden
    &::after
        content: ''
        display: block
        max-width: 1670rem
        width: calc( 100% - 30rem )
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        height: 1rem
        background: #fff
        transition: all .3s
    &__item
        display: grid
        grid-template-columns: 647rem 75rem
        gap: 75rem
        align-items: center
        position: relative
        justify-content: end
        img
            width: 75rem
            transition: all .3s
        &:hover
            img
                transform: rotate(45deg)
            p
                color: #fff
                span
                    opacity: .8
    &__name
        font-family: $font-family
        font-weight: 700
        font-size: 260rem
        line-height: 0.95
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.87)
        text-align: right
        transition: all .3s
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        pointer-events: none
        span
            transition: all .3s
            opacity: .5
            span
                opacity: .5
    &__text
        font-family: $font-family
        font-weight: 400
        font-size: 32rem
        line-height: 1.3
        color: #fff
    
.center
    padding: 300rem 0 100rem
    background: url('../img/center_bg.svg') center no-repeat
    background-size: cover
    h2
        font-family: $font-family
        font-weight: 700
        font-size: 80rem
        line-height: 0.95
        text-transform: uppercase
        color: #fff
        text-align: center
        span
            color: #8d8da1
    &__soon
        display: block
        margin: 33rem auto 0
        max-width: max-content
        padding: 12rem 40rem
        border: 1px solid rgba(255, 255, 255, 0.87)
        border-radius: 50rem
        font-family: $font-family
        font-weight: 400
        font-size: 16px
        line-height: 1.4
        letter-spacing: -0.02em
        color: #fff
        transition: all .3s
        &:hover
            opacity: .8
    &__arrow
        margin: 100rem auto 0
        display: flex
        justify-content: center
        align-items: center
        background: #e75e43
        width: 90rem
        height: 90rem
        border-radius: 100%
        transition: all .3s
        img
            display: block
            width: 27rem
        &:hover
            opacity: .8

@media ( max-width: 1024px )
    .about-header
        h1
            font-size: 80rem
            max-width: 1061rem
        &__subtitle
            font-size: 50rem
            margin: 10rem 0 0 auto
        &__har
            grid-template-columns: 100%
            &_name
                font-size: 120rem
            div
                &:nth-child(2),
                &:nth-child(3)
                    span
                        font-size: 50rem !important
        &__equip,
        &__ex
            grid-template-columns: 1fr 1fr
            &_name
                font-size: 200rem
            &_text
                font-size: 50rem
        &__ex
            &_text
                font-size: 30rem
    .about-har
        &__name
            font-size: 130rem
    .center
        padding: 200rem 0
        h2
            font-size: 80rem
        &__arrow
            margin: 100rem auto 0

@media ( max-width: 800px )
    .about-header
        &::before
            height: 700rem
        &__text
            margin: 300rem 0 0 
            max-width: 100%
        &__equip,
        &__ex
            grid-template-columns: 100%
    .center
        &__soon
            font-size: 30rem

@media ( max-width: 500px )
    .about-header
        h1
            font-size: 70rem
            margin: 20rem 0 0
        &__text
            margin: 285rem 0 0
            font-size: 30rem
    .about-header
        &__har
            &_text
                font-size: 35rem
        &__ex
            &_text
                max-width: 100%
                font-size: 35rem
    .about-har
        &__name
            display: none

.eng
    &__prev
        padding: 400rem 0 130rem
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            position: absolute
            inset: 0
            background: var(--bg)
            background-size: cover
            opacity: .5
            z-index: -1
    &__tag
        font-family: $font-family
        font-weight: 700
        font-size: 50rem
        line-height: 0.95
        text-transform: uppercase
        color: #e75e43
    h1,
    h2
        margin: 40rem 0 0
        font-family: $font-family
        font-weight: 700
        font-size: 120rem
        line-height: 0.95
        text-transform: uppercase
        color: #fff
        max-width: 1300rem
        span
            color: #8d8da1
    &__text
        margin: 40rem 0 0
        font-family: $font-family
        font-weight: 400
        font-size: 30rem
        line-height: 1.3
        color: #fff
        max-width: 1500rem
    .btn__wht
        margin: 66rem 0 0
        border-color: rgba(255, 255, 255, 0.87)
        color: rgba(255, 255, 255, 0.87)
        font-size: 16rem
        width: max-content
        &:hover
            color: #e75e43
    &__arrow
        position: absolute
        bottom: 65rem
        right: 100rem
        width: 75rem
        transition: all .3s
        img
            width: 100%
        &:hover
            transform: rotate(45deg)
    &__list
        padding: 120rem 0 90rem
        background: url('../img/eng_bg.svg') center repeat
        background-size: contain
        .container
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 100rem
            div
                display: grid
                grid-template-columns: 75rem 1fr
                gap: 75rem
                align-items: start
        img
            width: 100%
        p
            font-family: $font-family
            font-weight: 400
            font-size: 30rem
            line-height: 1.3
            color: #fff

@media ( max-width: 500px )
    .eng
        &__list
            .container
                grid-template-columns: 100%
        h1,
        h2
            font-size: 60rem
            max-width: 650rem
        &__prev
            padding: 200rem 0 130rem
        &__tag
            font-size: 35rem
        &__list
            p
                font-size: 35rem
        &__text
            font-size: 35rem

.news
    &__date
        font-family: $font-family
        font-weight: 700
        font-size: 70rem
        line-height: 0.95
        text-transform: uppercase
        color: #8d8da1
        margin: 0 0 auto
        text-align: right
        transition: all .3s
    &__text
        font-family: $font-family
        font-weight: 400
        font-size: 30rem
        line-height: 1.3
        color: rgba(255, 255, 255, 0.5)
        margin: 40rem 0 0
        max-width: 740rem
        transition: all .3s
    h1,
    h2
        font-family: $font-family
        font-weight: 700
        font-size: 120rem
        line-height: 0.95
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.5)
        transition: all .3s
        margin: 46rem 0 0
        span
            transition: all .3s
    &__block
        display: block
        position: relative
        z-index: 1
        padding: 180rem 0 120rem
        &::before
            content: ''
            display: block
            inset: 0
            background: var(--bg) center no-repeat
            background-size: cover
            position: absolute
            z-index: -1
            opacity: .4
        .container
            min-height: 1000rem
            display: flex
            flex-direction: column
        &:hover
            .news
                &__date
                    color: #e75e43
                &__text
                    color: #fff
            h1,
            h2
                color: #fff
                span
                    color: #e75e43

@media ( max-width: 1024px )
    .news
        &__block
            .container
                min-height: 600rem
        &__date
            font-size: 50rem
        h1,
        h2
            font-size: 80rem

@media ( max-width: 500px )
    .news
        &__text
            font-size: 40rem
            max-width: 100%

.article
    padding: 60rem 0 100rem
    background: url('../img/eng_bg.svg') center repeat
    background-size: contain
    position: relative
    .container
        position: relative
    &__text
        font-family: $font-family
        font-weight: 400
        font-size: 24rem
        line-height: 1.3
        color: #fff
        margin: 30rem 0 0
    h1
        font-family: $font-family
        font-weight: 700
        font-size: 90rem
        line-height: 0.95
        text-transform: uppercase
        color: #fff
        span
            color: #e75e43
    &__date
        top: -10rem
        right: 0
        position: absolute
        font-family: $font-family
        font-weight: 700
        font-size: 40rem
        line-height: 0.95
        text-transform: uppercase
        color: #e75e43
    &__full
        width: 100%
    &__left
        float: left
        margin: 30rem 30rem 0 0
    &__right
        float: right
        margin: 30rem 0 0 30rem
    &__img
        img
            width: 100%

@media ( max-width: 800px )
    .article
        &__text
            font-size: 35rem
        &__img
            width: 100% !important
            float: none
            margin: 30rem 0 0
    
@media ( max-width: 500px )
    .article
        h1
            font-size: 55rem

.contact
    background-color: #fff
    z-index: -1
    padding: 120rem 0 
    height: 100%
    .container
        display: flex
        flex-direction: column
        align-items: flex-start
        position: relative
        height: max-content
        &::before
            content: ''
            display: block
            width: 345rem
            height: 700rem
            position: absolute
            right: 15rem
            top: 50%
            transform: translateY(-50%)
            background: url('../img/contact_bg.svg') center no-repeat   
            background-size: contain
    &__list
        margin: auto 0
        padding: 0 0 0 120rem
        position: relative
        span
            display: block
            padding: 16rem 32rem
            transition: all .3s
            height: 56rem
            border: 1px solid #010205
            border-radius: 70rem
            position: absolute
            top: 0
            left: 0
            width: 90rem
            img
                width: 100%
                height: 100%
                display: block
        a
            font-family: $font-family
            font-weight: 400
            font-size: 40rem
            line-height: 1.2
            letter-spacing: -0.03em
            color: #e75e43
            transition: all .3s
            display: block
            width: max-content
            &:hover
                color: #be5843
        p
            font-family: $font-family
            font-weight: 400
            font-size: 40rem
            line-height: 1.2
            letter-spacing: -0.03em
            color: #000
    &__contact
        margin: 30rem 0 0
        max-width: 740rem
        font-family: $font-family
        font-weight: 400
        font-size: 24rem
        line-height: 1.2
        color: #000
        a
            color: #e75e43
    .btn__wht
        margin: 156rem 0 0

@media ( max-width: 500px )
    .contact
        .container
            &::before
                width: 200rem
                height: 400rem

.menu
    position: relative
    overflow: hidden
    z-index: 1
    .container
        position: relative
        height: 100vh
    &__fix
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 25px
        max-width: 337rem
        width: 100%
    &__logo
        font-family: $font-family
        font-weight: 900
        font-size: 85rem
        line-height: 1
        letter-spacing: -0.02em
        color: #fff
    &__text
        position: absolute
        top: calc( 100% + 24rem )
        left: 0
        width: 100%
        font-family: $font-family
        font-weight: 400
        font-size: 18rem
        line-height: 1.2
        color: #fff
    .btn__wht
        border-color: rgba(255, 255, 255, 0.87)
        color: rgba(255, 255, 255, 0.87)
        position: absolute
        bottom: 100rem
        left: 25px
        transition: all .3s
        &:hover
            opacity: .7
    &__link
        display: flex
        justify-content: center
        align-items: center
        width: 100rem
        height: 100rem
        border-radius: 100%
        background: #e75e43
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        transition: all .3s
        opacity: 0
        img
            width: 40rem
    &__slider
        height: 100%
        margin: 0 0 0 auto
        max-width: calc( 100% - 357rem )
        p
            font-family: $font-family
            font-weight: 900
            font-size: 85rem
            line-height: 1
            color: transparent
            transition: all .3s
            opacity: .2
            -webkit-text-stroke: 2rem #fff
            text-stroke: 2rem #fff
            transition: all .3s
        .swiper
            &-slide
                height: auto
                position: relative
                pointer-events: none
                &-prev,
                &-next
                    p
                        opacity: .4
                &-active
                    pointer-events: auto
                    p
                        opacity: 1
                        color: #fff
                    .menu__link
                        opacity: 1
                    &:hover
                        .menu__link
                            background: #b24a36
                        p
                            color: #c6c6c6
                            -webkit-text-stroke: 2rem #c6c6c6
                            text-stroke: 2rem #c6c6c6
    &__bg
        position: absolute
        inset: 0
        z-index: -1
        opacity: .5 
        pointer-events: none
        video
            width: 100%
            height: 100%
            object-fit: cover
    .menu__dots
        bottom: 47rem
        right: 25px
        width: max-content
        top: auto
        left: auto
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        z-index: 10
        span
            margin: 0 !important
            width: 20rem
            height: 20rem
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100%
            background: transparent
            position: relative
            opacity: 1
            cursor: pointer
            border: 1rem solid transparent
            transition: all .3s
            &::before
                content: ''
                display: block
                width: 4rem
                height: 4rem
                border-radius: 100%
                background: #fff
            &.active
                border: 1rem solid #fff
    .menu__num
        bottom: 47rem
        left: 25px
        width: max-content
        top: auto
        left: auto
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        z-index: 10
        gap: 12px
        span
            width: auto
            height: auto
            margin: 0 !important
            font-family: $second-family
            font-weight: 500
            font-size: 18px
            line-height: 1
            color: #fff
            display: block
            opacity: .4
            background: transparent
            transition: all .3s
            &.swiper-pagination-bullet-active
                font-size: 0
                &+span
                    opacity: 1

@media ( max-width: 1024px )
    .menu
        &__slider
            padding: 0 0 200rem
        &__fix
            top: calc( 50% - 100rem )
        &__text
            font-size: 27rem

@media ( max-width: 500px )
    .menu
        &__slider
            p
                font-size: 50rem
        &__logo
            font-size: 50rem
        .menu__dots
            bottom: 30rem
            span
                width: 40rem
                height: 40rem
                &::before
                    width: 10rem
                    height: 10rem
        &__link
            width: 60rem
            height: 60rem
            img
                width: 25rem
        .menu
            &__num
                bottom: 30rem
                span
                    font-size: 14px