body {
  background: #F8F8F8;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.btn__blue {
  padding: 24px 32px;
  background: linear-gradient(82.73deg, #2583BE 0%, #2583BE 100%);
  border: none;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  display: inline-block;
}

.btn__blue:hover {
  background: linear-gradient(82.73deg, #2583BE 0%, #63A3D9 100%);
}

.btn__blue:active {
  background: #1C6C9E;
}

.nav {
  padding: 20px 0;
  border-bottom: 1px solid #D9D9D9;
  background: #1C1C1C;
}

.nav__humburger {
  display: none;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0 100px;
}

.nav ul a {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 1px solid transparent;
}

.nav ul a:hover {
  color: #63A3D9;
  border-bottom: 1px solid #2583BE;
}

.nav ul li {
  margin: 0 60px 0 0;
}

.nav__phone {
  display: -ms-grid;
  display: grid;
  justify-items: end;
}

.nav__phone p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.nav__phone a {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.7;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__phone a:hover {
  color: #63A3D9;
  border-bottom: 1px solid #2583BE;
}

.header {
  background: #1C1C1C;
  padding: 100px 0;
}

.header h1 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #FFFFFF;
}

.header p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 20px 0 0;
}

.header ul {
  margin: 40px 0 0;
  padding: 15px 0 15px 17px;
  border-left: 1px solid #BBBBBB;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.header li {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
  position: relative;
}

.header li::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: calc( 100% + 12px);
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: #2583BE;
}

.header li::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: calc( 100% + 10px);
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 1px solid #63A3D9;
}

.product h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #323232;
  text-align: center;
}

.product__wrapper {
  margin: 30px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.product__col {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.product__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.product img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #FFFFFF;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #323232;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product__item {
  position: relative;
  display: block;
}

.product__item:hover p {
  color: #FFFFFF;
  background: #2583BE;
}

.company {
  background: #1C1C1C;
  padding: 100px 0 120px;
}

.company .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 540px) 655px;
      grid-template-columns: minmax(300px, 540px) 655px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.company h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #FFFFFF;
}

.company__text {
  margin: 40px 0 0;
  display: -ms-grid;
  display: grid;
  gap: 25px;
}

.company__text p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
}

.company .btn__blue {
  margin: 40px 0 0;
}

.company__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.company__img img:nth-child(2) {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.company__img img:nth-child(1) {
  margin: 0 -20px 0 0;
  z-index: 1;
}

.why h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #323232;
  text-align: center;
}

.why__wrapper {
  margin: 40px 0 0;
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

.why__info {
  padding: 20px 60px;
  background: #FFFFFF;
  min-height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc( 100% - 600px);
  margin: 0 0 0 -20px;
  z-index: 2;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__item img {
  width: 620px;
}

.why__item:nth-child(2n) .why__info {
  margin: 0 -20px 0 0;
}

.why p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #2583BE;
}

.why p + p {
  margin: 10px 0 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #323232;
}

.prev {
  background: #1C1C1C;
  position: relative;
}

.prev h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 1090px;
}

.prev img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.service h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #323232;
  text-align: center;
}

.service__wrapper {
  margin: 40px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.service p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: #000000;
  margin: 10px 0 0;
}

.service img {
  width: 100%;
  height: 182px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__item:nth-child(2n) {
  padding: 182px 0 0;
}

.form {
  background: #1C1C1C;
}

.form h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}

.form h2 + p {
  margin: 15px 0 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
}

.form__form {
  margin: 40px 0 0;
}

.form__form + p {
  margin: 40px 0 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #BBBBBB;
}

.form__form + p a {
  color: #63A3D9;
  border-bottom: 1px solid #63A3D9;
}

.form__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form__col {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.form input {
  background: #FFFFFF;
  border: none;
  width: 100%;
  height: 66px;
  padding: 0 15px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;
}

.form textarea {
  height: 152px;
  resize: none;
  padding: 23px 15px;
  background: #FFFFFF;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #323232;
}

.form .btn__blue {
  margin: 20px 0 0;
}

.client h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #323232;
  text-align: center;
}

.client__wrapper {
  margin: 40px 0 0;
}

.client__wrapper img {
  width: 180px;
  height: 115px;
  -o-object-fit: contain;
     object-fit: contain;
}

.client__slide {
  border: 1px solid #63A3D9;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
  position: relative;
}

.client__slide::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 20px;
  height: 10px;
  right: -10px;
  background-color: #F5F5F5;
  z-index: 3;
}

.client__slide::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  width: 20px;
  height: 10px;
  right: -10px;
  background-color: #F5F5F5;
  z-index: 3;
}

.client .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 0;
}

.client .slick-dots button {
  border: none;
  padding: 0;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #2583BE;
  font-size: 0;
  border-radius: 100%;
  background: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.client .slick-dots button:hover {
  border: 1px solid #63A3D9;
}

.client .slick-dots .slick-active button {
  background: #2583BE;
}

.contact {
  position: relative;
  z-index: 1;
}

.contact iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact__wrapper {
  max-width: 320px;
  padding: 40px 30px;
  background: rgba(28, 28, 28, 0.75);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
}

.contact h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #FFFFFF;
}

.contact p {
  margin: 15px 0 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
}

.contact__link {
  margin: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link a {
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #63A3D9;
  border-radius: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact__link a path {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact__link a:hover {
  background: #FFFFFF;
}

.contact__link a:hover path {
  fill: #63A3D9;
}

.footer {
  background: #1C1C1C;
  padding: 80px 0 40px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0 100px;
}

.footer ul a {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 1px solid transparent;
}

.footer ul a:hover {
  color: #63A3D9;
  border-bottom: 1px solid #2583BE;
}

.footer ul li {
  margin: 0 60px 0 0;
}

.footer__phone {
  display: -ms-grid;
  display: grid;
  justify-items: end;
}

.footer__phone p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer__phone a {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.7;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__phone a:hover {
  color: #63A3D9;
  border-bottom: 1px solid #2583BE;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pol {
  margin: 30px 0 0;
  display: block;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2583BE;
  text-decoration: underline;
}

.footer__pol + p {
  margin: 30px 0 0;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
  text-align: center;
}

@media (max-width: 1150px) {
  .nav img {
    max-width: 150px;
  }
  .nav ul {
    margin: 0 auto 0 30px;
  }
  .nav ul li {
    margin: 0 30px 0 0;
  }
  .nav ul a {
    font-size: 16px;
  }
  .footer img {
    max-width: 150px;
  }
  .footer ul {
    margin: 0 auto 0 30px;
  }
  .footer ul li {
    margin: 0 30px 0 0;
  }
  .footer ul a {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .product p {
    font-size: 18px;
    padding: 15px;
  }
  .company__img img:nth-child(1) {
    display: none;
  }
  .company .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .why__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why__item img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .why__info {
    margin: 0 !important;
    width: 100%;
  }
  .service__wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .nav .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav ul {
    display: none;
  }
  .nav__phone {
    display: none;
  }
  .nav__humburger {
    width: 20px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    position: relative;
  }
  .nav__humburger::before, .nav__humburger::after,
  .nav__humburger span {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .nav__active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    border-bottom: none;
  }
  .nav__active .nav__humburger span {
    opacity: 0;
  }
  .nav__active .nav__humburger::before, .nav__active .nav__humburger::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .nav__active .nav__humburger::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .nav__active .nav__phone {
    position: absolute;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .nav__active ul {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
    justify-items: center;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  .header {
    padding: 50px 0;
  }
  section {
    padding: 50px 0;
  }
  .product__wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .company .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .form__wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .form__col {
    gap: 10px;
  }
  .client__wrapper img {
    width: 100px;
    height: 75px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer ul {
    margin: 30px 0 0;
    display: -ms-grid;
    display: grid;
    gap: 10px;
  }
  .footer__phone {
    margin: 30px 0 0;
    justify-items: start;
  }
  .footer__pol {
    text-align-last: left;
  }
  .footer__pol + p {
    text-align-last: left;
  }
}

@media (max-width: 425px) {
  .service__wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .service__item {
    padding: 0 !important;
  }
  .contact iframe {
    position: relative;
    height: 200px;
    margin: 20px 0 0;
    z-index: 2;
  }
  .contact__wrapper {
    width: 100%;
    max-width: 100%;
  }
  .why__info {
    padding: 20px;
    min-height: auto;
  }
}

.modal {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  padding: 40px 15px;
}

.modal__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__overflow {
  background: rgba(4, 4, 4, 0.65);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__wrapper {
  max-width: 650px;
  width: 100%;
  overflow: scroll;
  max-height: 100%;
  padding: 30px;
  background: #F8F8F8;
  position: relative;
}

.modal h2 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  color: #323232;
  text-align: center;
}

.modal h2 + p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #323232;
  opacity: 0.7;
  margin: 10px auto 0;
  max-width: 290px;
}

.modal input {
  background: #FFFFFF;
  border: none;
  width: 100%;
  height: 66px;
  padding: 0 15px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0 0;
  color: #323232;
}

.modal textarea {
  margin: 20px 0 0;
  display: block;
  width: 100%;
  height: 152px;
  resize: none;
  padding: 23px 15px;
  background: #FFFFFF;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #323232;
}

.modal .btn__blue {
  margin: 20px 0 0;
  width: 100%;
}

.modal__pol {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #BBBBBB;
  text-align: center;
  margin: 10px 0 0;
}

.modal__pol a {
  color: #63A3D9;
  border-bottom: 1px solid #63A3D9;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(../img/modal_close.svg);
  background-size: contain;
}

.breadcrumbs {
  padding: 30px 0 0;
}

.breadcrumbs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs a {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #323232;
}

.breadcrumbs a::after {
  content: '-';
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #323232;
  margin: 0 15px;
}

.breadcrumbs p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #323232;
}

.text {
  padding: 50px 0 100px;
}

.text h1 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #323232;
}

.text__wrapper {
  margin: 30px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
}

.text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text__full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.text__info {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-flex-line-pack: start;
      align-content: start;
}

.text p {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #767676;
}

@media (max-width: 768px) {
  .text__wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 30px;
  }
  .text__full {
    grid-column: auto/auto;
  }
}
/*# sourceMappingURL=style.css.map */