$primary-dark-blue: #232c5e
$primary-white: #fff
$primary-light-gray: #f2f2f2
$primary-dark-gray: #4f505a
$primary-night-blue: #181e43
$additional-error: #fc6b62
$gray: #d9d9d9
$primary--gray: #d9d9d9

$font-family: "Manrope", sans-serif
$second-family: "Inter", sans-serif
    
body
    background: rgb(242, 242, 242)
    position: relative
    &.fix
        overflow: hidden

.prev-page
    display: grid
    grid-template-columns: 972fr 948fr
    min-height: 100vh
    position: relative
    overflow: hidden
    &__image
        display: none
    &__block
        display: flex
        flex-direction: column
    &__bg
        height: 100%
        position: relative
        img
            display: block
            width: 100%
            height: 1px
            min-height: 100%
            object-fit: cover
        &_name
            position: absolute
            bottom: 0
            right: 40px
            padding: 32px 24px 55px
            background: rgb(255, 255, 255)
            p
                color: rgb(35, 44, 94)
                font-family: Manrope
                font-size: 32px
                font-weight: 600
                line-height: 120%
                letter-spacing: 0%
                text-align: left
                &+p
                    color: rgb(79, 80, 90)
                    font-family: Manrope
                    font-size: 20px
                    font-weight: 500
                    line-height: 140%
                    letter-spacing: 0%
                    text-align: left
    &__logo
        padding: 12px 12px 16px
        width: 100%
        max-width: 209px
        margin: 0 0 auto 40px
        background: #fff
        img
            width: 100%
            display: block
            margin: 0 auto
            height: 97px
            object-fit: cover
        p
            margin: 10px 0 0
            font-family: $font-family
            font-weight: 600
            font-size: 14px
            line-height: 1.2
            text-align: center
            color: $primary-dark-blue
    &__info
        margin: 32px 0 auto
        padding: 0 40px
        h1
            color: rgb(35, 44, 94)
            font-family: Manrope
            font-size: 88px
            font-weight: 500
            line-height: 95%
            letter-spacing: -5px
    &__list
        margin: 32px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
        li
            display: grid
            grid-template-columns: 56px 1fr
            gap: 16px
            align-items: center
        span
            display: flex
            justify-content: center
            align-items: center
            width: 56px
            height: 56px
            background: rgb(255, 255, 255)
            border-radius: 100%
            img
                width: 32px
                height: 32px
                object-fit: contain
        p
            color: rgb(79, 80, 90)
            font-family: Manrope
            font-size: 20px
            font-weight: 500
            line-height: 140%
    &__btn
        margin: 40px 0 0
        border-radius: 50px
        background: rgb(35, 44, 94)
        color: rgb(242, 242, 242)
        font-family: Manrope
        font-size: 14px
        font-weight: 800
        line-height: 120%
        text-transform: uppercase
        display: block
        padding: 20px
        width: 100%
        max-width: 326px
        border: none
        transition: all .3s
        &:hover
            background: #2f3b7e
        &:active
            background: #3658b2
    &__footer
        background: rgb(35, 44, 94)
        padding: 32px 40px
        margin: 40px 0 0
        display: grid
        grid-template-columns: 1fr 32px
        gap: 60px
        align-items: start
    &__contact
        display: grid
        grid-template-columns: 3fr 2fr  2fr
        gap: 20px
        p
            color: rgb(242, 242, 242)
            font-family: Manrope
            font-size: 20px
            font-weight: 500
            line-height: 140%
            opacity: 0.4
            &+p,
            &+a
                opacity: 1
                margin: 5px 0 0
                color: rgb(242, 242, 242)
                font-family: Manrope
                font-size: 20px
                font-weight: 500
                line-height: 140%
        a
            transition: all .3s
            &:hover
                color: #3658b2
    &__soc
        display: grid
        grid-template-columns: 100%
        gap: 8px
        img
            width: 32px
            height: 32px
        a
            transition: all .3s
            &:hover
                opacity: 0.5

@media ( max-width: 1600px )
    .prev-page
        grid-template-columns: 73fr 71fr
        &__logo
            max-width: 95px
            padding: 8px 5px
            img
                height: 50px
            p
                font-size: 9px
        &__info
            h1
                font-size: 60px
                max-width: 600px
        &__list
            gap: 16px
            span
                width: 44px
                height: 44px
                img
                    width: 24px
                    height: 24px
            li
                grid-template-columns: 44px 1fr
                gap: 12px
            p
                font-size: 16px
        &__btn
            margin: 32px 0 0
            font-size: 12px
            max-width: 237px
        &__footer
            grid-template-columns: 1fr 24px
            gap: 36px
        &__soc
            img
                width: 24px
                height: 24px
        &__contact
            grid-template-columns: auto auto auto
            gap: 37px
            p
                font-size: 16px
                &+p
                    font-size: 16px

@media ( max-width: 1440px )
    .prev-page__contact p
        &+p,
        &+a
            font-size: 16px
    .prev-page__contact
        gap: 20px

@media ( max-width: 1024px )
    .prev-page
        grid-template-columns: 100%
        position: relative
        &__logo
            position: absolute
            padding: 0
            margin: 0
            top: 0
            left: 20px
            z-index: 1
            padding: 12px 12px 8px
            max-width: 167px
            img
                height: 58px
                max-width: 120px
            p
                font-size: 10px
                max-width: 130px 
                margin: 4px auto 0
        &__bg
            order: -1
            img
                height: auto
            &_name
                padding: 24px 
                p
                    font-size: 20px
                    &+p
                        font-size: 16px
        &__info
            padding: 32px 20px 48px
            margin: 0
            h1
                font-size: 56px
                max-width: 670px
        &__footer
            padding: 24px 20px
            margin: 0

@media ( max-width: 600px )
    .prev-page
        &__bg
            display: none
        &__logo
            position: relative
            left: auto
            padding: 6px 8px 8px
            max-width: 130px
            margin: 0 0 0 20px
            img
                height: 60px
        &__info
            padding: 24px 20px 48px
            h1
                font-size: 29px
                letter-spacing: -1px
        &__list
            margin: 24px 0 0
            grid-template-columns: 100%
            li
                align-items: start
        &__image
            display: block
            width: calc( 100% + 40px )
            margin: 24px -20px 0
            img
                width: 100%
        &__row
            display: grid
            grid-template-columns: auto 1fr auto
            padding: 16px 20px
            background: rgb(255, 255, 255)
            align-items: center
            gap: 8px
            p
                color: rgb(35, 44, 94)
                font-family: Manrope
                font-size: 20px
                font-weight: 600
                line-height: 120%
                letter-spacing: 0%
                text-align: left
            span
                display: block
                width: 100%
                background: rgb(79, 80, 90)
                opacity: 0.2
                height: 1px
                &+p
                    font-family: Manrope
                    font-size: 16px
                    font-weight: 500
                    line-height: 120%
                    color: rgb(79, 80, 90)
        &__contact
            grid-template-columns: 100%
            gap: 16px
        &__footer
            grid-template-columns: 100%
            gap: 16px
        &__soc
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 12px
            img
                width: 36px

.prev-modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    pointer-events: none
    opacity: 0
    transform: all .3s
    padding: 20px 
    display: flex
    justify-content: flex-start
    align-items: flex-start
    overflow-x: scroll
    &__active
        opacity: 1
        pointer-events: auto
    &__overflow
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        backdrop-filter: blur(41px)
        background: rgba(0, 0, 0, 0.6)
        z-index: -1
    &__container
        margin: auto
        max-width: 676px
        width: 100%
        border-radius: 30px
        background: rgb(255, 255, 255)
        padding: 48px
        z-index: 1
        position: relative
    &__close
        position: absolute
        top: 16px
        right: 16px
        width: 45px
        height: 45px
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        border-radius: 100%
        background: rgb(242, 242, 242)
        overflow: hidden
        transition: all .3s 
        svg
            width: 30px
            path
                transition: all .3s 
        &:hover
            background: #232C5E
            svg
                path
                    fill: #fff
    h2
        color: rgb(35, 44, 94)
        font-family: Manrope
        font-size: 65px
        font-weight: 500
        line-height: 95%
        letter-spacing: -4px
        text-align: center
    &__subtitle
        text-align: center
        margin: 16px 0 0
        color: rgb(79, 80, 90)
        font-family: Manrope
        font-size: 20px
        font-weight: 500
        line-height: 140%
    &__input
        margin: 16px 0 0
        position: relative
        p
            color: rgb(79, 80, 90)
            font-family: Manrope
            font-size: 16px
            font-weight: 500
            line-height: 140%
        input
            margin: 8px 0 0
            padding: 15px
            border-radius: 8px
            background: rgb(242, 242, 242)
            color: rgb(79, 80, 90)
            font-family: Manrope
            font-size: 16px
            font-weight: 500
            line-height: 140%
            border: none
            width: 100%
            box-sizing: border-box
            border: 1px solid rgb(242, 242, 242)
            transition: all .3s
            &::placeholder
                color: rgba(79, 80, 90, 0.6)
        span
            opacity: 0
            pointer-events: none
            font-family: Manrope
            transition: all .3s
            font-weight: 500
            font-size: 12px
            line-height: 1.4
            text-align: right
            color: $additional-error
            bottom: 17px
            right: 16px
            position: absolute
        &.error
            input
                border: 1px solid $additional-error
                &::placeholder
                    color: $additional-error
            span
                opacity: 1
    &__form
        margin: 24px 0 0
    &__pers
        margin: 24px 0 0
        display: grid
        grid-template-columns: 16px 1fr
        gap: 10px
        position: relative
        p
            font-family: Manrope
            font-size: 16px
            font-weight: 500
            line-height: 140%
            color: rgb(79, 80, 90)
            a
                color: rgb(35, 44, 94)
                text-decoration: underline
                transition: all .3s
                &:hover
                    color: #3658b2
        &_check
            width: 16px
            position: relative
            cursor: pointer
            span
                display: block
                width: 100%
                height: 16px
                border-radius: 2px
                border: 1px solid rgb(35, 44, 94)
                transition: all .3s
                margin: 3px 0 0
                position: relative
                &::before
                    content: ''
                    display: block
                    position: absolute
                    inset: 0px
                    background: url('../img/check.svg') center no-repeat
                    background-size: contain
            input
                position: absolute
                inset: 0
                z-index: 1
                opacity: 0
                width: 100%
                height: 100%
                &:checked
                    &+span
                        background: rgb(35, 44, 94)
    &__btn
        padding: 20px
        max-width: 100%
        width: 100%
        border: none
        border-radius: 30px
        background: rgb(35, 44, 94)
        color: rgb(242, 242, 242)
        font-family: Manrope
        font-size: 14px
        font-weight: 800
        line-height: 120%
        letter-spacing: 1px
        text-transform: uppercase
        margin: 32px 0 0
        transition: all .3s
        &:hover
            background: #2f3b7e
        &:active
            background: #3658b2
    &__phone
        display: grid
        grid-template-columns: 44px 1fr
        gap: 8px
        padding-left: 15px
        align-items: center
        background: rgb(242, 242, 242)
        border-radius: 8px
        margin: 8px 0 0
        border: 1px solid rgb(242, 242, 242)
        transition: all .3s
        input
            padding-left: 0
            margin: 0
        a
            display: grid
            grid-template-columns: 1fr 10px
            gap: 7px
            align-items: center
            img
                width: 100%
            &::after
                content: ''
                display: block
                width: 100%
                height: 100%
                background: url('../img/arrow.svg') center no-repeat
                background-size: contain
        &.error
            border: 1px solid $additional-error
            input
                &::placeholder
                    color: $additional-error
            span
                opacity: 1

@media ( max-width: 1440px )
    .prev-modal
        &__container
            max-width: 507px
        h2
            font-size: 40px
            letter-spacing: -2px
        &__subtitle
            font-size: 16px
        &__input
            p
                font-size: 14px
            input
                font-size: 14px
                padding: 12px
        &__phone
            padding-left: 12px
            grid-template-columns: 23px 1fr
            input
                padding-left: 0
            a
                grid-template-columns: 1fr 5px
                gap: 3px
        &__pers
            p
                font-size: 14px
        &__btn
            font-size: 12px
            padding: 18px
        &__close
            width: 30px
            height: 30px
            svg
                width: 22px

@media ( max-width: 425px )
    .prev-modal
        h2
            font-size: 27px
            letter-spacing: -1px
        &__container
            padding: 32px 16px
            border-radius: 15px
        &__subtitle
            font-size: 14px
            max-width: 190px
            margin: 16px auto 0
            text-align: center
        &__pers
            grid-template-columns: 12px 1fr
            gap: 8px
            &_check
                span
                    width: 12px
                    height: 12px
        &__btn
            margin: 24px 0 0
        &__close
            top: 8px
            right: 8px
        &__input
            span
                display: none

.container
    max-width: 1240px
    padding: 0 20px
    margin: 0 auto
    width: 100%

.nav
    &__logo
        padding: 12px 12px 16px
        width: 100%
        max-width: 209px
        background: #fff
        img
            width: 100%
            display: block
            margin: 0 auto
            height: 97px
            object-fit: cover
        p
            margin: 10px 0 0
            font-family: $font-family
            font-weight: 600
            font-size: 14px
            line-height: 1.2
            text-align: center
            color: $primary-dark-blue

.breadcrumbs
    padding: 48px 20px 24px
    display: block
    a,
    p
        display: inline
    a
        color: rgb(79, 80, 90)
        font-family: Manrope
        font-size: 16px
        font-weight: 500
        line-height: 140%
        transition: all .3s
        &:hover
            color: rgb(35, 44, 94)
        span
            margin: 0 13px
    p
        color: rgb(35, 44, 94)
        font-family: Manrope
        font-size: 16px
        font-weight: 500
        line-height: 140%

.privacy
    padding: 0 0 96px
    h1
        color: rgb(35, 44, 94)
        font-family: Manrope
        font-size: 65px
        font-weight: 500
        line-height: 95%
        letter-spacing: -3px
    h2
        color: rgb(35, 44, 94)
        font-family: Manrope
        font-size: 32px
        font-weight: 600
        line-height: 120%
        margin: 48px 0 0
    &__text
        margin: 24px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 20px
        p
            font-family: Manrope
            font-size: 20px
            font-weight: 500
            line-height: 140%
        a
            color: rgb(35, 44, 94)
    &__table
        margin: 24px 0 0
        background: rgb(255, 255, 255)
        ul
            display: grid
            grid-template-columns: 100%
            gap: 20px
            li
                display: grid
                grid-template-columns: 30px 1fr
                &::before
                    content: ''
                    display: block
                    border-radius: 100%
                    margin: 12px auto 0
                    width: 6px
                    height: 6px
                    background: rgb(79, 80, 90)
    &__row
        display: grid
        grid-template-columns: 385fr 815fr
        border-bottom: 1px solid rgb(217, 217, 217)
        &:last-child
            border: none
    &__title
        border-right: 1px solid rgb(217, 217, 217)
    &__item
        padding: 20px
        p
            color: rgb(79, 80, 90)
            font-family: Manrope
            font-size: 20px
            font-weight: 500
            line-height: 140%
    &__title
        p
            color: rgb(35, 44, 94)

.footer
    background: rgb(35, 44, 94)
    padding: 48px 0 
    &__row
        display: grid
        grid-template-columns: 1fr 48px
        gap: 155px
    &__list
        display: grid
        grid-template-columns: minmax(1px, 285px) minmax(1px, 285px) minmax(1px, 285px)
        gap: 20px
        justify-content: space-between
        p,
        a
            color: rgba(242, 242, 242, 0.4)
            font-family: Manrope
            font-size: 20px
            font-weight: 500
            line-height: 140%
            &+p,
            &+a
                color: rgb(242, 242, 242)
                margin: 5px 0 0
        a
            transition: all .3s
            &:hover
                color: #3658b2
    &__up
        width: 48px
        height: 48px
        border-radius: 100%
        border-radius: 100%
        background: rgb(24, 30, 67)
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        transition: all .3s
        img
            width: 17px
        &:hover
            background: #2f3b7e
    &__soc
        display: grid
        grid-template-columns: 32px 32px
        gap: 8px
        margin: 24px 0 0
        img
            width: 100%

@media ( max-width: 1024px )
    .nav
        &__logo
            &__logo
            z-index: 1
            padding: 12px 12px 8px
            max-width: 167px
            img
                height: 58px
                max-width: 120px
            p
                font-size: 10px
                max-width: 130px 
                margin: 4px auto 0
    .breadcrumbs
        padding: 48px 20px 16px
        p,
        a
            font-size: 14px
            span
                margin: 0 10px
    .privacy
        h1
            font-size: 40px
            letter-spacing: -2px
        h2
            font-size: 20px
            margin: 34px 0 0
        &__text
            gap: 16px
            p
                font-size: 16px
        &__item
            p
                font-size: 16px
    .footer
        padding: 32px 0
        &__list
            p
                font-size: 16px
        &__row
            gap: 30px

@media ( max-width: 700px )
    .footer
        &__row
            grid-template-columns: 100%
            gap: 24px
        &__up
            order: -1
        &__list
            grid-template-columns: 100%
            gap: 16px
        &__soc
            margin: 16px 0 0

@media ( max-width: 600px )
    .nav
        &__logo
            padding: 6px 8px 8px
            max-width: 130px
            img
                height: 60px
    .breadcrumbs
        padding: 32px 20px 16px
    .privacy
        h1
            font-size: 27px
            letter-spacing: -1px
        &__row
            grid-template-columns: 100%
            gap: 20px
            padding: 16px 16px 12px
        &__title
            border: none
        &__item
            padding: 0