$green: #00cc4e
$red: #e94545
$hover: #649cfb
$blue: #3f7de5
$black: #2c2c2c
$dark-gray: #424242
$gray: #6f6f6f
$stroke: #d9d9d9
$bg: #f5f5f7
$white: #fff
$font-family: "Onest", sans-serif

body
    background: $bg
    position: relative
.container
    padding: 0 48px
.btn
    &__blue
        background: $blue
        padding: 20px 32px
        border: none
        max-width: max-content
        width: 100%
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        line-height: 1.25
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $white
        transition: all .3s
        &:hover
            box-shadow: 0 25px 55px 0 rgba(93, 92, 96, 0.1), 0 100px 100px 0 rgba(93, 92, 96, 0.09), 0 225px 135px 0 rgba(93, 92, 96, 0.05), 0 400px 160px 0 rgba(93, 92, 96, 0.01)
            background: $hover
    &__wht
        border: 1px solid $blue
        padding: 20px 32px
        background: transparent
        max-width: max-content
        width: 100%
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        line-height: 1.25
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $dark-gray
        transition: all .3s
        &:hover
            background: $hover
            border: 1px solid $hover
            color: $white
.element-animation
    opacity: 0
    transition: all 1s
    transform: translateY(100%)
.element-show
    opacity: 1
    transform: translateY(0)
.input
    position: relative
    z-index: 1
    p
        font-family: $font-family
        font-weight: 400
        font-size: 18px
        line-height: 1.35
        color: $gray
        position: absolute
        left: 0
        top: 0
        transition: all .3s
        z-index: -1
        span
            color: $red
    input,
    textarea
        padding: 0 0 16px
        border: none
        background: transparent
        border-bottom: 1px solid $stroke
        width: 100%
        box-sizing: border-box  
        transition: all .3s
        font-family: $font-family
        font-weight: 400
        font-size: 18px
        line-height: 1.35
        color: $black
        &:hover
            border-bottom: 1px solid $hover
            &+p
                color: $black
        &:not(:placeholder-shown),
        &:focus
            border-bottom: 1px solid $blue
            &+p
                color: $gray
                transform: translateY(-100%)
                font-size: 12px
    textarea
        position: relative
        resize: vertical
        height: 40px
        &::-webkit-resizer
            background: url('../img/resize.svg') center no-repeat
            width: 24px
            height: 24px
            position: absolute
            bottom: 16px
            right: 0
.itc-select
    position: relative
    svg
        position: absolute
        top: 0
        right: 0
        width: 24px
        height: 24px
        transform: rotate(90deg)
        path
            transition: all .3s
            stroke: $dark-gray
    &__toggle
        padding: 0 0 16px
        border: none
        background: transparent
        border-bottom: 1px solid $stroke
        width: 100%
        box-sizing: border-box  
        transition: all .3s
        font-family: $font-family
        font-weight: 400
        font-size: 18px
        line-height: 1.35
        color: $black
        border-radius: 0
        font-style: normal
        &:hover
            border-bottom: 1px solid $hover
            color: $black
            &+svg
                path
                    stroke: $hover
        &::after
            content: none
    &__dropdown
        border-radius: 0
        border: 1px solid $stroke
    &__option
        padding: 10px 16px
        font-family: $font-family
        font-weight: 400
        font-size: 18px
        line-height: 1.35
        color: $dark-gray
        &::after
            content: none
        &_selected,
        &:hover
            background: $hover
            color: $white

.nav
    padding: 0
    position: relative
    &__hum
        display: none
    .container
        padding: 24px 48px
        display: flex
        justify-content: flex-start
        align-items: center
    &__logo
        display: block
        max-width: 157px
        img
            width: 100%
    ul
        margin: 0 auto 0 48px
        display: flex
        justify-content: center
        align-items: center
        gap: 24px
        a
            font-family: $font-family
            font-weight: 500
            font-size: 16px
            line-height: 1.25
            letter-spacing: 0.02em
            text-transform: uppercase
            color: $dark-gray
            transition: all .3s
            &:hover
                color: $hover
    &__phone
        a
            font-family: $font-family
            font-weight: 600
            font-size: 24px
            line-height: 1.35
            text-transform: uppercase
            color: $blue
            transition: all .3s
            &:hover
                color: $hover
        p
            display: none
            margin: 4px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $gray
    &__soc
        margin: 0 12px 0 34px
        display: grid
        grid-template-columns: 60px 60px 60px
        gap: 12px
        a
            display: block
            width: 100%
            height: 60px
            background: $white
            transition: all .3s
            display: flex
            align-items: center
            justify-content: center
            svg
                width: 100%
                path
                    transition: all .3s
            &:hover
                box-shadow: 0 25px 55px 0 rgba(93, 92, 96, 0.1), 0 100px 100px 0 rgba(93, 92, 96, 0.09), 0 225px 135px 0 rgba(93, 92, 96, 0.05), 0 400px 160px 0 rgba(93, 92, 96, 0.01)
                background: $hover
                svg
                    path
                        fill: white
                        stroke: none
                    g
                        path
                            stroke: white
                            fill: none

.header
    padding: 0 0 60px
    &__slide
        position: relative
        padding: 32px 
        z-index: 1
        min-height: 808px
        display: flex
        align-items: center
    &__bg
        position: absolute
        inset: 0
        object-fit: cover
        width: 100%
        height: 100%
        z-index: -1
    h1,
    h2
        font-family: $font-family
        font-weight: 500
        font-size: 70px
        line-height: 1.15
        text-transform: uppercase
        color: $white
    &__subtitle
        margin: 12px 0 0
        font-family: $font-family
        font-weight: 400
        font-size: 24px
        line-height: 1.35
        color: $white
    &__info
        max-width: 840px
        .btn__blue
            margin: 32px 0 0
    &__plan
        position: absolute
        background: $white
        bottom: 32px
        right: 32px
        width: 100%
        max-width: 464px
        padding: 32px
        p
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $blue
            text-align: center
        &_logo
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 8px
            margin: 8px 0 0
        img
            width: 100%
    &__func
        position: absolute
        bottom: 32px
        left: 32px
        display: grid
        grid-template-columns: 48px auto 44px auto 48px
        gap: 12px
        z-index: 2
        align-items: center
        p
            font-family: $font-family
            font-weight: 400
            font-size: 24px
            line-height: 1.35
            color: $white
    &__arrow
        display: flex
        justify-content: center
        align-items: center
        width: 48px
        height: 48px
        border-radius: 100%
        border: 1px solid $white
        position: relative
        inset: auto
        margin: 0
        transition: all .3s
        &::after
            content: none
        &:hover
            background: $hover
            border: 1px solid $hover
    &__prev
        transform: rotate(180deg)
    .header__pag
        position: relative
        inset: auto
        margin: 0
        width: 100%
        height: 1px
        background: #ffffff80
        span
            background: #fff
    &__row
        margin: 32px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 24px
    &__item
        background: $white
        padding: 32px
        display: grid
        grid-template-columns: 96px 1fr
        align-items: center
        gap: 16px
        div
            background: $bg
            width: 100%
            height: 96px
            display: flex
            justify-content: center
            align-items: center
        svg
            width: 48px
        p
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.35
            color: $dark-gray
    
.project
    padding: 60px 0
    &__mob
        display: none
    &__title
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 32px
        align-items: center
    &__tab
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
        &_item
            background: $white
            padding: 20px 40px
            font-family: $font-family
            font-weight: 500
            font-size: 16px
            line-height: 1.25
            letter-spacing: 0.02em
            text-transform: uppercase
            color: $dark-gray
            cursor: pointer
            text-align: center
            transition: all .3s
            &.active,
            &:hover
                background: $blue
                color: $white
    &__wrapper
        margin: 32px 0 0
        display: none
        grid-template-columns: 1fr 1fr
        gap: 24px
        &.active
            display: grid
    &__item
        position: relative
        padding: 0 0 140px
        overflow: hidden
        &:hover
            .project
                &__info
                    transform: translateY(0)
                &__dop
                    opacity: 1
    &__pic
        display: block
        width: 100%
        height: 700px
        object-fit: cover
    &__info
        position: absolute
        bottom: 0
        background: $white
        transform: translateY(calc( 100% - 140px ))
        width: 100%
        transition: all .3s
        &_header
            padding: 32px
            border-bottom: 1px solid $stroke
            display: grid
            grid-template-columns: 1fr auto
            gap: 12px
            align-items: start
        &_body
            padding: 32px 
            .btn__blue
                max-width: 100%
                margin: 32px 0 0
    &__name
        display: grid
        grid-template-columns: auto 1fr
        align-items: end
        p
            margin: 0 0 0 12px
            font-family: $font-family
            font-weight: 400
            font-size: 24px
            line-height: 1.35
            color: $gray
    h3
        font-family: $font-family
        font-weight: 500
        font-size: 42px
        line-height: 1.1
        text-align: right
        color: $blue
    &__price
        font-family: $font-family
        font-weight: 500
        font-size: 42px
        line-height: 1.1
        text-align: right
        color: $blue        
    &__sale
        font-family: $font-family
        font-weight: 400
        font-size: 18px
        line-height: 1.35
        text-decoration: line-through
        color: $gray
        opacity: 0.7
    &__dop
        margin: 12px 0 0
        display: flex
        flex-wrap: wrap
        gap: 12px
        align-items: center
        opacity: 0
        transition: all .3s
        div
            display: grid
            grid-template-columns: 24px 1fr
            gap: 8px
            align-items: center
        img
            width: 100%
        p
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $gray
            white-space: nowrap
    &__var
        font-family: $font-family
        font-weight: 400
        font-size: 24px
        line-height: 1.35
        color: $dark-gray
    &__block
        margin: 16px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        gap: 16px
        a
            display: block
            cursor: pointer
        img
            width: 100%
            height: 120px
            object-fit: cover
        p
            margin: 8px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $gray
    &__more
        margin: 32px auto 0
        display: block
    &__wind
        position: absolute
        top: 0
        left: 0
        background: $blue
        padding: 24px
        max-width: 146px
        h3
            font-family: $font-family
            font-weight: 500
            font-size: 42px
            line-height: 1.1
            text-align: center
            color: $white
            margin: 8px 0 0
        p
            opacity: .7
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            text-align: center
            color: $white

.pref
    padding: 60px 0
    &__block
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
    &__prev
        img
            width: 100%
            height: 662px
            min-height: 100%
            object-fit: cover
    &__info
        background: $white
        padding: 48px
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        .btn__blue
            margin: 32px 0 0
        p
            margin: 10px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.35
            color: $dark-gray
    &__row
        margin: 24px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 
        img
            width: 100%
    
.program
    padding: 60px 0
    h2
        max-width: 400px
    &__row
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 24px
        margin: 346px 0 0
        position: relative
    &__item
        position: relative
        height: 445px
        z-index: 1
        &.element-animation
            transform: none
        &.element-show
            transform: translateY(calc( -100% - 24px ))
    h4
        font-family: $font-family
        font-weight: 500
        font-size: 32px
        line-height: 1.1
        color: $white
        position: absolute
        top: 32px
        left: 32px
    &__bg
        position: absolute
        inset: 0
        object-fit: cover
        z-index: -1
        width: 100%
        height: 100%
    &__info
        position: absolute
        bottom: 0
        right: 0
        width: 174px
        background: $blue
        padding: 24px
        p
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.35
            text-align: center
            color: $white
            opacity: .7
        h2
            font-family: $font-family
            font-weight: 500
            font-size: 52px
            line-height: 1.15
            text-transform: uppercase
            text-align: center
            color: $white
            margin: 8px 0 0
    &__text
        font-family: $font-family
        font-weight: 400
        font-size: 18px
        line-height: 1.35
        color: $gray
        position: absolute
        bottom: 0

.service
    padding: 60px 0
    &__block
        margin: 32px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
        align-items: start
    &__acc
        display: grid
        grid-template-columns: 100%
        gap: 24px
    &__text
        padding: 0 32px
        font-family: $font-family
        font-weight: 400
        font-size: 20px
        line-height: 1.35
        color: $dark-gray
        max-height: 0
        overflow: hidden
        transition: all .3s
        img
            display: none
    &__btn
        padding: 32px
        display: grid
        grid-template-columns: 1fr 24px
        gap: 24px
        align-items: center
        cursor: pointer
        p
            font-family: $font-family
            font-weight: 400
            font-size: 24px
            line-height: 1.35
            color: $dark-gray
            transition: all .3s
        svg
            transition: all .3s
            transform: rotate(90deg)
            path
                stroke: $dark-gray
                transition: all .3s
        &:hover
            p
                color: $blue
            svg
                path
                    stroke: $blue
    &__item
        background: $white
        &.active
            .service
                &__btn
                    p
                        color: $blue
                    svg
                        transform: rotate(-90deg)
                        path
                            stroke: $blue
                &__text
                    padding: 0 32px 32px
                    max-height: 1000px
    &__prev
        position: relative
        z-index: 1
        &::before
            content: ''
            display: block
            width: 500px
            height: 340px
            position: absolute
            top: 53px
            left: 50%
            transform: translateX(-50%)
            background: url('../img/logo_bg.svg') center no-repeat
            background-size: contain
            z-index: -1
        img
            position: absolute
            top: 0
            left: 0
            width: 438px
            height: 445px
            opacity: 0
            transition: all .3s
            object-fit: cover
            &.active
                opacity: 1
    .btn__blue
        margin: 32px 0 0 calc( 50% + 12px )

.advantage
    padding: 60px 0
    position: relative
    overflow: hidden
    &__slider
        overflow: visible
        margin: 32px 0 0
    &__slide
        position: relative
        background: $white
        padding: 32px 
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-end
        height: 545px
        z-index: 1
        transition: all .3s
        h4
            font-family: $font-family
            font-weight: 500
            font-size: 32px
            line-height: 1.1
            color: $dark-gray
            transition: all .3s
        p
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.35
            color: $gray
            margin: 12px 0 0
            transition: all .3s
        img
            position: absolute
            top: 32px
            right: 32px
            width: 180px
            height: 180px
            object-fit: cover
            display: block
            transition: all .3s
            z-index: -1
        &:hover
            background: #000
            h4,
            p
                color: $white
            img
                right: 0
                top: 0
                height: 100%
                width: 100%
                opacity: .6
    &__arrow
        display: flex
        justify-content: center
        align-items: center
        width: 48px
        height: 48px
        border-radius: 100%
        border: 1px solid $blue
        inset: auto
        margin: 0
        transition: all .3s
        bottom: calc( 100% + 44px )
        right: 0
        svg
            path
                stroke: $blue
        &::after
            content: none
        &:hover
            background: $hover
            border: 1px solid $hover
            svg
                path
                    stroke: $white
    &__prev
        transform: rotate(180deg)
        right: 64px

.tech
    padding: 60px 0
    &__title
        display: grid
        grid-template-columns: 1fr 1fr 
        gap: 24px
        p
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.35
            color: $gray
    &__wrapper
        margin: 32px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 24px
    &__num
        font-family: $font-family
        font-weight: 400
        font-size: 24px
        line-height: 1.35
        color: $dark-gray
        span
            display: none
    &__item
        position: relative
    &__text
        margin: 24px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 16px
        p
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.35
            color: $dark-gray
    &__btn
        position: absolute
        cursor: pointer
        display: flex
        justify-content: flex-end
        padding: 36px 32px
        align-items: center
        gap: 16px
        top: 0
        left: 0
        width: 100%
        p
            font-family: $font-family
            font-weight: 400
            font-size: 24px
            line-height: 1.35
            color: $dark-gray
            transition: all .3s
        svg
            transition: all .3s
            transform: rotate(90deg)
            path
                transition: all .3s
                stroke: $dark-gray
        &:hover
            p
                color: $hover
            svg
                path
                    stroke: $hover
    &__slide
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__arrow
        display: flex
        justify-content: center
        align-items: center
        width: 48px
        height: 48px
        border-radius: 100%
        border: 1px solid $blue
        inset: auto
        margin: 0
        transition: all .3s
        z-index: 1
        top: 50%
        transform: translateY(-50%)
        right: 24px
        svg
            path
                transition: all .3s
                stroke: $blue
        &::after
            content: none
        &:hover
            background: $hover
            border: 1px solid $hover
            svg
                path
                    stroke: $white
    &__prev
        transform: translateY(-50%) rotate(180deg)
        right: auto
        left: 24px
    &__pag
        display: flex
        justify-content: center
        align-items: center
        gap: 8px
        span
            margin: 0
            width: 8px
            height: 8px
            border: 1px solid $stroke
            background: transparent
            transition: all .3s
            opacity: 1
            &.swiper-pagination-bullet-active
                background: $blue
                border: 1px solid $blue
    &__list
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
        margin: 24px 0 0
        row-gap: 16px
        counter-reset: example 0
        li
            display: grid
            grid-template-columns: 30px 1fr
            align-items: start
            &::before
                content: counter(example)
                counter-increment: example 1
                font-family: $font-family
                font-weight: 400
                font-size: 20px
                line-height: 1.35
                color: $dark-gray
        p
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.35
            color: $dark-gray
    &__item
        padding: 32px
        background: $white
        position: relative
        overflow: hidden
        display: grid
        grid-template-columns: calc( 50% - 12px ) calc( 50% - 12px )
        gap: 24px
        max-height: 136px
        transition: all .3s
        &.active
            max-height: 2000px
            .tech
                &__num
                    color: $blue
                &__btn
                    p
                        color: $blue
                    svg
                        transform: rotate(-90deg)
                        path
                            stroke: $blue

.gallery
    padding: 60px 0
    position: relative
    overflow: hidden
    &__tab
        margin: 32px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
        &_item
            background: $white
            padding: 20px
            width: 100%
            font-family: $font-family
            font-weight: 500
            font-size: 16px
            line-height: 1.25
            letter-spacing: 0.02em
            text-transform: uppercase
            color: $dark-gray
            transition: all .3s
            cursor: pointer
            text-align: center
            &.active,
            &:hover
                background: $blue
                color: $white
    &__wrapper
        margin: 24px 0 0
        display: none
        &.active
            display: block
    &__slider
        overflow: visible
    &__slide
        position: relative
        overflow: hidden
        img
            width: 100%
            object-fit: cover
            height: 100%
            transition: all .3s
        &:hover
            img
                transform: scale(1.2)
    &__text
        margin: 24px 0 0
        font-family: $font-family
        font-weight: 400
        font-size: 18px
        line-height: 1.35
        color: $dark-gray
        opacity: .7
    &__arrow
        display: flex
        justify-content: center
        align-items: center
        width: 48px
        height: 48px
        border-radius: 100%
        border: 1px solid $blue
        inset: auto
        margin: 0
        transition: all .3s
        bottom: calc( 100% + 24px )
        right: 0
        svg
            path
                stroke: $blue
        &::after
            content: none
        &:hover
            background: $hover
            border: 1px solid $hover
            svg
                path
                    stroke: $white
    &__prev
        transform: rotate(180deg)
        right: 64px

.faq
    padding: 60px 0
    h2
        max-width: 746px
    &__block
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
    &__wa
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        max-width: 360px
        margin: 32px 0 0
        padding: 20px 32px
        background: $green
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        line-height: 1.25
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $white
        border: none
        gap: 10px
        svg
            path
                stroke: $white
    &__tg
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        max-width: 360px
        margin: 12px 0 0
        padding: 20px 32px
        background: $blue
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        line-height: 1.25
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $white
        border: none
        gap: 10px
        svg
            path
                fill: $white
    &__text
        padding: 0 32px
        font-family: $font-family
        font-weight: 400
        font-size: 20px
        line-height: 1.35
        color: $dark-gray
        max-height: 0
        overflow: hidden
        transition: all .3s
    &__btn
        padding: 32px
        display: grid
        grid-template-columns: 1fr 24px
        gap: 24px
        align-items: center
        cursor: pointer
        p
            font-family: $font-family
            font-weight: 400
            font-size: 24px
            line-height: 1.35
            color: $dark-gray
            transition: all .3s
        svg
            transition: all .3s
            transform: rotate(90deg)
            path
                stroke: $dark-gray
                transition: all .3s
        &:hover
            p
                color: $blue
            svg
                path
                    stroke: $blue
    &__item
        background: $white
        &.active
            .faq
                &__btn
                    p
                        color: $blue
                    svg
                        transform: rotate(-90deg)
                        path
                            stroke: $blue
                &__text
                    padding: 0 32px 32px
                    max-height: 500px
    &__acc
        display: grid
        grid-template-columns: 100%
        gap: 24px
    &__wrapper
        .btn__wht
            margin: 32px 0 0

.contact
    padding: 60px 0 120px
    &__wrapper
        margin: 32px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        gap: 24px
    &__block
        background: $white
        padding: 32px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
    &__name
        font-family: $font-family
        font-weight: 400
        font-size: 20px
        line-height: 1.35
        color: $gray
    &__link,
    &__adress
        font-family: $font-family
        font-weight: 400
        font-size: 24px
        line-height: 1.35
        color: $dark-gray
    &__soc
        display: flex
        flex-wrap: wrap-reverse
        gap: 12px
        a
            display: flex
            justify-content: center
            align-items: center
            width: 60px
            height: 60px
            background: $bg
            transition: all .3s
            svg
                width: 32px
                path
                    transition: all .3s
            &:hover
                box-shadow: 0 25px 55px 0 rgba(93, 92, 96, 0.1), 0 100px 100px 0 rgba(93, 92, 96, 0.09), 0 225px 135px 0 rgba(93, 92, 96, 0.05), 0 400px 160px 0 rgba(93, 92, 96, 0.01)
                background: $hover
                svg
                    path
                        fill: white
                        stroke: none
                    g
                        path
                            stroke: white
                            fill: none
    &__req
        background: $white
        padding: 32px
        grid-column: 3/5
        grid-row: 1/3
        h4
            font-family: $font-family
            font-weight: 500
            font-size: 32px
            line-height: 1.1
            color: $dark-gray
            max-width: 610px
    &__form
        margin: 48px 0 0
        display: grid
        grid-template-columns: 100% 
        gap: 24px
        .btn__blue
            max-width: 100%
    &__row
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
    &__check
        position: relative
        display: grid
        grid-template-columns: 16px 1fr
        gap: 8px
        align-items: center
        p
            font-family: $font-family
            font-weight: 400
            font-size: 14px
            line-height: 1.35
            color: $gray
        span
            border: 1px solid $stroke
            display: block
            width: 16px
            height: 16px
            transition: all .3s
            position: relative
            &::before
                content: ''
                display: block
                inset: 0
                transition: all .3s
                position: absolute
                width: 100%
                height: 100%
                opacity: 0
                background: url('../img/check.svg') center no-repeat
        input
            position: absolute
            inset: 0
            opacity: 0
            z-index: 5
            width: 100%
            height: 100%
            &:checked
                &+span
                    border: 1px solid $blue
                    &::before
                        opacity: 1
            &:hover
                &+span
                    border: 1px solid $blue

.footer
    padding: 48px 0 32px
    background: $black
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr 1fr auto 48px
        align-items: start
    &__logo
        img
            width: 155px
    &__text
        margin: 60px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 12px
        p
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $gray
    &__list
        display: grid
        grid-template-columns: 100%
        gap: 12px
        a
            font-family: $font-family
            font-weight: 500
            font-size: 16px
            line-height: 1.25
            letter-spacing: 0.02em
            text-transform: uppercase
            color: $white
    &__func
        display: grid
        grid-template-columns: 100%
        gap: 12px
        a
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $white
    &__contact
        max-width: 390px
        ul
            display: grid
            grid-template-columns: 100%
            gap: 8px
            a
                display: grid
                grid-template-columns: 32px 1fr
                gap: 16px
                align-items: start
            svg
                width: 100%
                g
                    opacity: 1
                path
                    fill: $white
                    opacity: .5
            li
                &:last-child
                    display: grid
                    grid-template-columns: 32px 1fr
                    gap: 16px
                    align-items: start
            p
                font-family: $font-family
                font-weight: 400
                font-size: 24px
                line-height: 1.35
                color: $white
    &__soc
        display: flex
        flex-wrap: wrap-reverse
        gap: 12px
        margin: 32px 0 0
        a
            display: flex
            justify-content: center
            align-items: center
            width: 60px
            height: 60px
            background: #ffffff1a
            transition: all .3s
            svg
                width: 32px
                path
                    transition: all .3s
                    fill: white
                    stroke: none
                g
                    path
                        stroke: white
                        fill: none
            &:hover
                box-shadow: 0 25px 55px 0 rgba(93, 92, 96, 0.1), 0 100px 100px 0 rgba(93, 92, 96, 0.09), 0 225px 135px 0 rgba(93, 92, 96, 0.05), 0 400px 160px 0 rgba(93, 92, 96, 0.01)
                background: $hover
                svg
                    path
                        fill: white
                        stroke: none
                    g
                        path
                            stroke: white
                            fill: none
    &__up
        cursor: pointer
        border-radius: 100%
        width: 48px
        height: 48px
        border: 1px solid #ffffff4d
        display: flex
        justify-content: center
        align-items: center
        transition: all .3s
        svg
            transform: rotate(-90deg)
            path
                transition: all .3s
        &:hover
            background: #ffffff
            border: 1px solid #fff
            svg
                path
                    stroke: $hover
    &__row
        margin: 24px 0 0
        padding: 24px 0 0
        border-top: 1px solid #ffffff33
        display: flex
        justify-content: space-between
        align-items: center
        p
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $gray
        a
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            text-align: right
            color: $white

.nav-part
    background: $white
    padding: 12px 0
    position: relative
    display: flex
    justify-content: center
    align-items: center
    &__close
        position: absolute
        top: 50%
        right: 16px
        transform: translateY(-50%)
        cursor: pointer
        svg
            path
                transition: all .3s
        &:hover
            svg
                path
                    fill: $hover
    img
        width: 24px
    p
        margin: 0 0 0 8px
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        line-height: 1.25
        letter-spacing: 0.02em
        text-transform: uppercase
        text-align: center
        color: $dark-gray
    &.remove
        display: none

section
    h2
        font-family: $font-family
        font-weight: 500
        font-size: 56px
        line-height: 1.1
        text-transform: uppercase
        color: $dark-gray
        span
            color: $blue

@media ( max-width: 1820px )
    section
        h2
            font-size: 52px
    .btn
        &__blue,
        &__wht
            font-size: 14px
    .nav-part
        p
            font-size: 14px
    .nav
        &__logo
            max-width: 112px
        ul
            margin: 0 auto 0 32px
            gap: 16px
            a
                font-size: 14px
        &__phone
            order: 2
            a
                font-weight: 400
            p
                display: block
                text-align: right
                margin: 6px 0 0
                font-size: 14px
                letter-spacing: 0.02em
        .btn__blue
            display: none
        &__soc
            margin: 0 12px 0 auto
    .header
        &__slide
            min-height: 680px
            padding: 24px
        h1,
        h2
            font-size: 64px
        &__func
            bottom: 24px
            left: 24px
        &__plan
            bottom: 24px
            right: 24px
            padding: 24px
            p
                font-size: 16px
        &__item
            padding: 16px
            p
                font-size: 18px
        &__row
            margin: 24px 0 0

@media ( max-width: 1600px )
    .project
        &__item
            padding: 0 0 110px
        &__pic
            height: 450px
        &__info
            transform: translateY(calc(100% - 110px))
            &_header
                padding: 24px 24px 16px
                h3
                    font-size: 36px
            &_body
                padding: 16px 24px 24px
                .btn__blue
                    margin: 16px 0 0
        &__price
            font-size: 30px
        &__sale
            font-size: 14px
        &__dop
            p
                font-size: 16px
        &__block
            margin: 12px 0 0
            gap: 12px
            img
                height: 84px
            p
                font-size: 14px
        &__wind
            h3
                font-size: 36px
            p
                font-size: 16px
    .pref
        &__info
            padding: 24px
            p
                font-size: 18px
        &__prev
            img
                height: 630px
    .program
        &__item
            height: 325px
        &__row
            margin: 230px 0 0
        h4
            font-size: 26px
            top: 24px
            left: 24px
        &__info
            p
                font-size: 18px
        &__text
            font-size: 16px
    .service
        &__text
            font-size: 18px
            padding: 0 24px
        &__btn
            padding: 24px
        &__item
            &.active
                .service__text
                    padding: 0 24px 24px
    .advantage
        &__slide
            height: 450px
            padding: 24px
            h4
                font-size: 24px
            p
                font-size: 18px
                margin: 12px 0 0
            img
                top: 24px
                right: 24px
    .tech
        &__title
            p
                font-size: 18px
        &__item
            padding: 24px
            max-height: 115px
        &__btn
            padding: 28px 24px
        &__text
            margin: 16px 0 0
            p
                font-size: 18px
        &__list
            p
                font-size: 18px
            li
                &::before
                    font-size: 18px
    .gallery
        &__text
            font-size: 16px
    .faq
        &__text
            font-size: 18px
            padding: 0 24px
        &__btn
            padding: 24px
        &__item
            &.active
                .faq__text
                    padding: 0 24px 24px
    .contact
        &__block
            padding: 24px
            gap: 16px
        &__name
            font-size: 18px
        &__req
            padding: 24px
            h4
                font-size: 26px
        &__form
            margin: 24px 0 0
    .input
        input,
        textarea
            padding: 0 0 12px
            font-size: 16px
        p
            font-size: 16px
    .itc-select
        &__toggle
            font-size: 16px
        &__option
            font-size: 16px
    .footer
        padding: 48px 0
        &__text
            p
                font-size: 16px
        &__list
            a
                font-size: 14px
        &__func
            max-width: 230px
            a
                font-size: 16px
        &__contact
            ul
                a
                    grid-template-columns: 24px 1fr
                    gap: 8px
                p
                    font-size: 18px
                li
                    &:last-child
                        grid-template-columns: 24px 1fr
                        gap: 8px
        &__soc
            a
                width: 48px
                height: 48px
                svg
                    width: 24px
        &__row
            a,
            p
                font-size: 16px

@media ( max-width: 1300px )
    .container
        padding: 0 32px
    .nav
        .container
            padding: 24px 32px
            display: grid
            grid-template-columns: 112px 1fr 60px
        ul
            display: none
        &__soc
            display: none
        &__phone
            margin: 0 auto
            order: 0
            p
                display: none
        &__hum
            display: block
            width: 60px
            height: 60px
            background: $blue
            position: relative
            cursor: pointer
            &::before,
            &::after,
            span
                content: ''
                display: block
                position: absolute
                width: 20px
                height: 1px
                background: $white
                left: 20px
                transition: all .3s
            &::before
                top: 24px
            &::after  
                top: 36px
            span
                top: 30px
        &.active
            position: fixed
            top: 0
            left: 0
            width: 100%
            z-index: 10
            background: $bg
            overflow-y: scroll
            max-height: 100%
            ul
                order: 2
                grid-column: 1/4
                display: grid
                grid-template-columns: 100%
                gap: 16px
                padding: 24px 0 0
                margin: 16px 0 0
                position: relative
                &::before
                    content: ''
                    display: block
                    width: 100vw
                    height: 1px
                    background: $stroke
                    position: absolute
                    top: 0
                    left: 50%
                    transform: translateX(-50%)
                a
                    font-size: 16px
                    padding: 0 0 16px
                    border-bottom: 1px solid $stroke
                    display: block
            .btn__blue
                max-width: 100%
                display: grid
                grid-column: 1/4
                order: 4
                margin: 16px 0 0
            .nav
                &__hum
                    span
                        opacity: 0
                    &::before,
                    &::after
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%) rotate(45deg)
                    &::after
                        transform: translate(-50%, -50%) rotate(-45deg)
                &__soc
                    display: grid
                    margin: 24px 0 0
                    order: 3
                    grid-column: 1/4
    .header
        .container
            padding: 0
        &__slide
            padding: 32px
            min-height: 844px
            align-items: flex-start
        h1,
        h2
            font-size: 58px
        &__plan
            bottom: 32px
            right: 32px
        &__func
            bottom: 32px
            left: 32px
        &__row
            padding: 0 32px
            grid-template-columns: 1fr 1fr
    .project
        &__wrapper
            grid-template-columns: 100%
    .pref
        &__block
            grid-template-columns: 100%
            gap: 0
        &__prev
            order: -1
    .program
        &__row
            margin: 32px 0 0
            grid-template-columns: 100%
        &__item
            transform: none !important
        &__text
            inset: auto !important
            position: relative
            width: 100% !important
    .service
        &__prev
            display: none
        &__block
            display: block
        &__text
            img
                display: block
                width: 100%
                height: 350px
                object-fit: cover
                margin: 0 0 16px
        .btn__blue
            margin: 32px auto 0
            display: block
            max-width: 100%
    .advantage
        &__arrow
            display: none
    .tech
        &__title
            grid-template-columns: 100%
            gap: 16px
        &__item
            grid-template-columns: 100%
            gap: 24px
        &__num
            span
                display: inline
        &__block
            .tech__num
                display: none
    .gallery
        &__arrow
            display: none
    .faq
        &__block
            grid-template-columns: 100%
        .btn
            &__wht
                max-width: 100%
    .contact
        &__wrapper
            grid-template-columns: 1fr 1fr
        &__req
            grid-column: 1/3
            order: 5
            grid-row: auto
        &__block
            height: 255px
    .footer
        &__wrapper
            grid-template-columns: 1fr 1fr 1fr 48px
        &__contact
            grid-column: 1/5
            order: 2
            border-top: 1px solid rgba(255,255,255,.2)
            max-width: 100%
            margin: 24px 0 0
            padding: 24px 0 0
            ul
                justify-items: center
        &__soc
            justify-content: center

@media ( max-width: 700px )
    .container
        padding: 0 24px
    section
        h2
            font-size: 24px
    .nav
        .container
            padding: 16px 24px 
        &__phone
            a
                font-size: 12px
        &__logo
            max-width: 90px
        .container
            grid-template-columns: 90px 1fr 60px
    .header
        padding: 0 0 30px
        h1,
        h2
            font-size: 26px
        &__subtitle
            font-size: 18px
            margin: 12px 0 0
        &__slide
            min-height: 490px
            padding: 32px 24px
        &__plan
            position: relative
            inset: auto
            max-width: 100%
        &__row
            grid-template-columns: 100%
            padding: 0 24px
        &__func
            bottom: auto
            top: 440px
            right: 24px
            left: 24px
            grid-template-columns: auto 1fr auto
            p
                font-size: 18px
        &__arrow
            display: none
        &__info
            .btn__blue
                max-width: 100%
    .project
        padding: 30px 0
        &__title
            grid-template-columns: 100%
        &__tab
            grid-template-columns: 100%
            gap: 12px
        &__name
            h3
                font-size: 22px
            p
                font-size: 14px
        &__price
            font-size: 22px
        &__sale
            font-size: 12px
        &__desktop
            display: none
        &__mob
            display: block
        &__price
            text-align: left
        &__dop
            p
                font-size: 12px
        &__block
            grid-template-columns: 100%
            gap: 4px
            img
                display: none
            p
                font-size: 14px
                margin: 0
        &__var
            font-size: 18px
        &__info
            transform: translateY(calc(100% - 100px))
        &__item
            padding: 0 0 90px
        &__pic
            height: 350px
        &__wind
            h3
                font-size: 24px
            p
                font-size: 14px
    .pref
        padding: 30px 0
        &__prev
            width: calc( 100% + 48px )
            margin: 0 -24px
            img
                height: 330px
        .container
            background: $white
        &__info
            padding: 24px 0
            p
                font-size: 16px
            .btn__blue
                max-width: 100%
    .program
        padding: 30px 0
        &__item
            height: 244px
        h4
            font-size: 20px
        &__info
            width: max-content
            h2
                font-size: 24px
            p
                font-size: 16px
    .service
        padding: 30px 0
        &__text
            img
                height: 250px
    .tech
        padding: 30px 0 
        &__arrow
            display: none
        &__list
            grid-template-columns: 100%
    .gallery
        padding: 30px 0
    .faq
        padding: 30px 0
    .contact
        padding: 30px 0 60px
        &__wrapper
            grid-template-columns: 100%
        &__req
            grid-column: auto
        &__row
            grid-template-columns: 100%
    .footer
        padding: 32px 0
        position: relative
        &__wrapper
            grid-template-columns: 100%
        &__up
            position: absolute
            top: 32px
            right: 24px
        &__contact
            grid-column: auto
            ul
                justify-items: start
        &__list
            margin: 16px 0 0
        &__func
            margin: 16px 0 0
        &__soc
            justify-content: start
        &__row
            a,
            p
                font-size: 12px
        &__text
            margin: 24px 0 0
    .nav-part
        p
            font-size: 12px