$green: #00cc4e
$red: #e94545
$hover: #649cfb
$blue: #3f7de5
$black: #2c2c2c
$dark-gray: #424242
$gray: #6f6f6f
$stroke: #d9d9d9
$bg: #f5f5f7
$white: #fff
$font-family: "Onest", sans-serif

body
    background: $bg
    position: relative
.container
    padding: 0 48px
.btn
    &__blue
        background: $blue
        padding: 20px 32px
        border: none
        max-width: max-content
        width: 100%
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        line-height: 1.25
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $white
        transition: all .3s
        &:hover
            box-shadow: 0 25px 55px 0 rgba(93, 92, 96, 0.1), 0 100px 100px 0 rgba(93, 92, 96, 0.09), 0 225px 135px 0 rgba(93, 92, 96, 0.05), 0 400px 160px 0 rgba(93, 92, 96, 0.01)
            background: $hover
                
.nav
    padding: 16px 0
    position: relative
    .container
        display: flex
        justify-content: flex-start
        align-items: center
    &__logo
        display: block
        max-width: 157px
        img
            width: 100%
    ul
        margin: 0 auto 0 48px
        display: flex
        justify-content: center
        align-items: center
        gap: 24px
        a
            font-family: $font-family
            font-weight: 500
            font-size: 16px
            line-height: 1.25
            letter-spacing: 0.02em
            text-transform: uppercase
            color: $dark-gray
            transition: all .3s
            &:hover
                color: $hover
    &__phone
        a
            font-family: $font-family
            font-weight: 600
            font-size: 18px
            line-height: 1.35
            text-transform: uppercase
            color: $blue
            transition: all .3s
            &:hover
                color: $hover
        p
            margin: 4px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 18px
            line-height: 1.35
            color: $gray
    &__soc
        margin: 0 12px 0 34px
        display: grid
        grid-template-columns: 60px 60px 60px
        gap: 12px
        a
            display: block
            width: 100%
            padding: 14px
            background: $white
            svg
                width: 100%
            &:hover
                box-shadow: 0 25px 55px 0 rgba(93, 92, 96, 0.1), 0 100px 100px 0 rgba(93, 92, 96, 0.09), 0 225px 135px 0 rgba(93, 92, 96, 0.05), 0 400px 160px 0 rgba(93, 92, 96, 0.01)
                background: $hover