body {
  background: var(--background);
  min-height: 100vh;
  font-style: normal;
}

.container {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

h1 {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 31px;
  line-height: 42px;
  color: var(--text-blc);
}

h2 {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: var(--text-blc);
}

.link {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: var(--blue);
}

.nice-select {
  width: 100%;
  padding: 8px 0;
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  border: 1px solid var(--blue) !important;
  border-radius: 8px;
  background: transparent;
  box-sizing: border-box;
}
.nice-select .current {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--blue);
  margin: 0 5px 0 0;
  order: -1;
}
.nice-select::after {
  content: none;
}
.nice-select::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/arrow.svg");
  transition: all 0.3s;
}
.nice-select .list {
  width: 100%;
  border-radius: 8px;
  border: none;
  margin: 1px 0 0;
}
.nice-select .list li {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  min-height: auto;
  padding: 10px;
  color: var(--text-blc);
}
.nice-select .list li.selected {
  color: var(--blue);
}
.nice-select.open::before {
  transform: rotate(180deg);
}

.btn__blue {
  display: block;
  width: 100%;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  transition: all 0.3s;
  padding: 9px 30px;
  border: none;
  background: var(--blue);
  border-radius: 8px;
}
.btn__blue_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__blue_arrow svg {
  transform: rotate(-90deg);
  margin: 0 0 0 10px;
  width: 20px;
  height: 20px;
}
.btn__wht {
  display: block;
  padding: 8px 29px;
  border: 1px solid var(--blue);
  border-radius: 8px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--blue);
  background: transparent;
}
.btn__wht_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__wht_arrow svg {
  transform: rotate(-90deg);
  margin: 0 0 0 10px;
  width: 20px;
  height: 20px;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 9px 9px 9px 9px;
  background: var(--white);
  border: 1px solid var(--placeholder);
  border-radius: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
}
.input::-moz-placeholder {
  color: var(--placeholder);
}
.input::placeholder {
  color: var(--placeholder);
}
.input.error {
  background: rgba(240, 28, 28, 0.1);
  border: 1px solid var(--placeholder);
  color: var(--red);
}
.input.error::-moz-placeholder {
  color: var(--red);
  opacity: 0.5;
}
.input.error::placeholder {
  color: var(--red);
  opacity: 0.5;
}

.textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 9px 9px 9px 9px;
  background: var(--white);
  border: 1px solid var(--placeholder);
  border-radius: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
  resize: none;
}
.textarea::-moz-placeholder {
  color: var(--placeholder);
}
.textarea::placeholder {
  color: var(--placeholder);
}
.textarea.error {
  background: rgba(240, 28, 28, 0.1);
  border: 1px solid var(--placeholder);
  color: var(--red);
}
.textarea.error::-moz-placeholder {
  color: var(--red);
  opacity: 0.5;
}
.textarea.error::placeholder {
  color: var(--red);
  opacity: 0.5;
}

.mt30 {
  margin-top: 30px;
}

.sign-up {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 15px;
}
.sign-up__container {
  margin: auto;
  width: 100%;
  max-width: 600px;
}
.sign-up__logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}
.sign-up__logo_min {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 97px;
}
.sign-up h1 {
  text-align: center;
  margin: 30px 0 0;
}
.sign-up__wrapper {
  margin: 30px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.sign-up__input div {
  position: relative;
}
.sign-up__input p {
  padding: 0 0 0 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--text-blc);
}
.sign-up__input .input {
  margin: 7px 0 0;
  padding: 9px 9px 9px 39px;
}
.sign-up__input img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -o-object-fit: contain;
     object-fit: contain;
}
.sign-up__row {
  margin: 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up__check {
  position: relative;
  display: grid;
  grid-template-columns: 13px 1fr;
  gap: 7px;
  align-items: center;
}
.sign-up__check p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
}
.sign-up__check span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  border: 1px solid var(--blue);
  border-radius: 3px;
  transition: all 0.3s;
}
.sign-up__check span::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: url("../img/check.svg") center no-repeat;
  background-size: contain;
  opacity: 0;
  transition: all 0.3s;
}
.sign-up__check input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.sign-up__check input:checked + span {
  background: var(--blue);
}
.sign-up__check input:checked + span::before {
  opacity: 1;
}
.sign-up__link {
  display: grid;
  grid-template-columns: 1fr 75px;
  gap: 10px;
  margin: 30px 0 0;
  align-items: center;
}
.sign-up__footer {
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
}
.sign-up__subtitle {
  margin: 10px 0 0;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
  text-align: center;
}
.sign-up h2 {
  text-align: center;
  margin: 30px 0 0;
}
.sign-up__forgot {
  margin: 40px 0 0;
  display: grid;
  grid-template-columns: 1fr 105px;
  gap: 10px;
  align-items: stretch;
}
.sign-up__reg {
  margin: 50px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.sign-up__reg_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.sign-up__reg_input p {
  padding: 0 0 0 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--text-blc);
}
.sign-up__reg_input .input {
  margin: 7px 0 0;
}
.sign-up__error {
  margin: 20px 0 0;
  text-align: center;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--red);
}

@media (max-width: 500px) {
  .sign-up__forgot {
    grid-template-columns: 100%;
  }
  .sign-up__reg_row {
    grid-template-columns: 100%;
  }
  .sign-up__row {
    flex-direction: column;
    align-items: center;
  }
  .sign-up__row .link {
    margin: 10px 0 0;
  }
}
.nav {
  background: var(--white);
  border-bottom: 1px solid var(--placeholder);
  padding: 15px 0;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 100%;
  max-width: 142px;
  display: block;
}
.nav__logo img {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list li {
  margin: 0 50px 0 0;
}
.nav__list li:last-child {
  margin: 0;
}
.nav__list a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-blc);
  transition: all 0.3s;
}
.nav__list a:hover {
  color: var(--blue);
}
.nav__block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__func {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  gap: 22px;
  align-items: center;
  margin: 0 20px 0 0;
}
.nav__func a {
  display: block;
  width: 20px;
  height: 20px;
}
.nav__func svg {
  width: 20px;
  height: 20px;
}
.nav__profile {
  display: block;
  width: 30px;
}
.nav__profile img {
  width: 100%;
  border-radius: 5px;
}

.page-body {
  padding: 30px 0 38px;
}
.page-body .container {
  display: grid;
  grid-template-columns: 992fr 808fr;
  gap: 20px;
}
.page-body__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-body__title h2,
.page-body__title h1 {
  font-weight: 700;
  font-size: 31px;
  line-height: 42px;
}
.page-body__title_img {
  display: block;
  width: 100%;
  max-width: 32px;
  margin: 0 10px 0 0;
}
.page-body__func {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 0 0 92px;
}
.page-body__func a,
.page-body__func div {
  margin: 0 20px 0 0;
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 10px;
  align-items: center;
  padding: 9px 14px;
  border: 1px solid var(--blue);
  border-radius: 8px;
  position: relative;
}
.page-body__func a img,
.page-body__func div img {
  width: 100%;
}
.page-body__func a span,
.page-body__func div span {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--blue);
}
.page-body__func a:last-child,
.page-body__func div:last-child {
  margin: 0;
}
.page-body__func a input,
.page-body__func div input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.profile__container {
  margin: 20px 0 0;
  background: var(--white);
  border: 1px solid var(--placeholder);
  border-radius: 8px;
  padding: 12px 30px 30px;
}
.profile__header {
  padding: 0 0 11px;
  border-bottom: 1px solid var(--border);
}
.profile__name {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-blc);
}
.profile__wrapper {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  gap: 80px;
  margin: 17px 0 0;
  align-items: start;
}
.profile__pers img {
  width: 100%;
  border-radius: 100%;
}
.profile__info ul {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.profile__info li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile__info_name {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
}
.profile__info_text {
  margin: 0 0 0 20px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
}
.profile__online {
  margin: 10px 0 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: vra(--text-blc);
  opacity: 0.4;
}
.profile__language_title {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
}
.profile__language ul {
  display: inline-grid;
  grid-template-columns: 100%;
  gap: 5px;
}
.profile__language li {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  justify-items: space-between;
}
.profile__language li p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-blc);
}
.profile__language li p + p {
  text-align: right;
}
.profile__skills {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 48px;
  align-items: center;
  margin: 27px 0 0;
}
.profile__skills_title {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 10px;
  align-items: center;
}
.profile__skills_title img {
  width: 100%;
}
.profile__skills_title p {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-blc);
  white-space: nowrap;
}
.profile__skills_row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: scroll;
}
.profile__skills_row::-webkit-scrollbar {
  width: 0;
  display: none;
  opacity: 0;
  height: 0;
}
.profile__skills_row p {
  white-space: nowrap;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  color: var(--grey);
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.profile__skills_row p:last-child {
  margin: 0;
}

.data {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}
.data__container {
  background: var(--white);
  border: 1px solid var(--placeholder);
  border-radius: 8px;
  height: 100%;
}

.profile-tab {
  background: var(--white);
  border: 1px solid var(--placeholder);
  border-radius: 8px;
  padding: 28px 30px 60px;
}
.profile-tab__header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5px solid var(--placeholder);
  overflow-x: scroll;
}
.profile-tab__header ul::-webkit-scrollbar {
  width: 0;
  display: none;
  opacity: 0;
  height: 0;
}
.profile-tab__header ul li {
  margin: 0 40px 0 0;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-blc);
  cursor: pointer;
  padding: 0 0 20px;
  position: relative;
  white-space: nowrap;
}
.profile-tab__header ul li::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--blue);
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
}
.profile-tab__header ul li.active {
  font-weight: 700;
}
.profile-tab__header ul li.active::before {
  opacity: 1;
}
.profile-tab__header ul li:last-child {
  margin: 0;
}
.profile-tab__wrapper {
  display: none;
  margin: 30px 0 0;
}
.profile-tab__wrapper_active {
  display: block;
}
.profile-tab__wrapper_active.grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.profile-tab__item {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 20px;
}
.profile-tab__item:last-child .profile-tab__num::before {
  content: none;
}
.profile-tab__num {
  position: relative;
}
.profile-tab__num p {
  width: 30px;
  height: 30px;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--blue);
  border-radius: 100%;
}
.profile-tab__num::before {
  content: "";
  display: block;
  height: calc(100% - 10px);
  border-right: 0.5px dashed var(--placeholder);
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.profile-tab__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2px 0 0;
}
.profile-tab__name {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--text-blc);
}
.profile-tab__date {
  margin: 0 0 0 10px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: var(--blue);
}
.profile-tab__bold {
  margin: 10px 0 0;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: var(--text-blc);
}
.profile-tab__text {
  margin: 10px 0 0;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--text-blc);
}
.profile-tab__info {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.profile-tab__info p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--text-blc);
}

@media (max-width: 1350px) {
  .page-body .container {
    grid-template-columns: 100%;
  }
  .data {
    grid-column: auto;
    grid-row: auto;
  }
  .data__container {
    min-height: 200px;
  }
}
@media (max-width: 1024px) {
  .nav__list {
    display: none;
  }
  .nav__active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }
  .nav__active .container {
    flex-wrap: wrap;
  }
  .nav__active .nav__list {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
    width: 100%;
    order: 2;
    margin: 30px 0 0;
  }
  .nav__active .nav__list li {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .page-body__title h2,
  .page-body__title h1 {
    font-size: 20px;
    line-height: 120%;
  }
  .page-body__func {
    margin: 0 0 0 auto;
  }
  .page-body__func a {
    padding: 5px;
    margin: 0 10px 0 0;
  }
  .page-body__func a span {
    font-size: 12px;
    line-height: 120%;
  }
  .profile__container {
    padding: 15px;
  }
  .profile__name {
    font-size: 18px;
    line-height: 120%;
  }
  .profile__wrapper {
    grid-template-columns: 60px auto 1fr;
    gap: 50px;
  }
  .profile__skills {
    grid-template-columns: 100%;
    gap: 10px;
  }
  .profile-tab {
    padding: 15px;
  }
  .profile-tab__header ul li {
    padding: 0 0 10px;
    margin: 0 15px 0 0;
  }
  .profile-tab__wrapper {
    margin: 20px 0 0;
  }
}
@media (max-width: 600px) {
  .profile-tab__title {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-tab__date {
    margin: 5px 0 0;
    line-height: 120%;
  }
  .profile__wrapper {
    grid-template-columns: 100%;
    gap: 30px;
  }
  .profile__pers {
    max-width: 120px;
  }
}
@media (max-width: 500px) {
  .page-body__title {
    flex-wrap: wrap;
  }
  .page-body__func {
    width: 100%;
    margin: 10px 0 0;
    justify-content: flex-start;
  }
}
@media (max-width: 375px) {
  .profile__info li {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile__info_text {
    margin: 0;
  }
  .page-body__func {
    flex-direction: column;
    align-items: flex-start;
  }
  .page-body__func a {
    margin: 0 0 5px;
  }
  .nav__logo {
    max-width: 100px;
  }
}
.form-acc {
  padding: 30px 0 76px;
}
.form-acc .page-body__save {
  width: auto;
  margin: 0 0 0 auto;
  padding: 9px 30px;
}
.form-acc .page-body__save::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
  background: url("../img/check.svg") center no-repeat;
  background-size: contain;
}
.form-acc__container {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.form-acc__block {
  background: var(--white);
  border: 1px solid var(--placeholder);
  border-radius: 8px;
  padding: 30px;
  counter-reset: form-acc 0;
}
.form-acc__block_pers {
  display: grid;
  grid-template-columns: 690fr 620fr 336fr;
  gap: 57px;
}
.form-acc h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-blc);
}
.form-acc__wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  margin: 20px 0 0;
}
.form-acc__row {
  display: grid;
  gap: 20px;
}
.form-acc__name {
  grid-template-columns: 250fr 250fr 150fr;
}
.form-acc__input p {
  padding: 0 0 0 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--text-blc);
}
.form-acc__input p span {
  color: var(--red);
}
.form-acc__input .input {
  margin: 7px 0 0;
}
.form-acc__textarea {
  display: grid;
  grid-template-rows: auto 1fr;
}
.form-acc__textarea .textarea {
  margin: 7px 0 0;
}
.form-acc__textarea p {
  padding: 0 0 0 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--text-blc);
}
.form-acc__textarea p span {
  color: var(--red);
}
.form-acc__pers {
  grid-template-columns: 150fr 200fr 300fr;
}
.form-acc .nice-select {
  background: var(--white);
  border: 1px solid var(--placeholder) !important;
  border-radius: 8px;
  margin: 8px 0 0;
  padding: 9px 30px 9px 9px;
  justify-content: flex-start;
  position: relative;
}
.form-acc .nice-select .current {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
  margin: 0;
  text-transform: none;
}
.form-acc .nice-select::before {
  width: 15px;
  height: 10px;
  background: url("../img/select-blc.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.form-acc .nice-select .list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-blc);
  margin: 0;
  text-transform: none;
}
.form-acc .nice-select .list li:hover {
  color: var(--blue);
}
.form-acc__half {
  grid-template-columns: 1fr 1fr;
}
.form-acc__adress {
  grid-template-columns: 450fr 150fr;
}
.form-acc__num {
  display: flex;
  justify-content: space-between;
  margin: 26px 0 0;
  position: relative;
  z-index: 1;
}
.form-acc__num::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 0.5px dashed var(--placeholder);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.form-acc__num::before {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--blue);
  background: var(--white);
  counter-increment: form-acc 1;
  content: counter(form-acc);
}
.form-acc__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--blue);
  border-radius: 100%;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--white);
  position: relative;
  cursor: pointer;
}
.form-acc__form {
  margin: 26px 0 0;
  display: grid;
  grid-template-columns: 109fr 65fr;
  gap: 20px;
}
.form-acc__form .form-acc__wrapper {
  margin: 0;
}
.form-acc__education {
  grid-template-columns: 30fr 25fr 50fr;
}
.form-acc__job {
  grid-template-columns: 25fr 40fr 40fr;
}
.form-acc__employment {
  grid-template-columns: 25fr 82fr;
}
.form-acc__about {
  margin: 20px 0 0;
}
.form-acc__about .textarea {
  margin: 7px 0 0;
  height: 134px;
}
.form-acc__func {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: scroll;
}
.form-acc__func::-webkit-scrollbar {
  width: 0;
  display: none;
  opacity: 0;
  height: 0;
}
.form-acc__func p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--text-blc);
  margin: 0 40px 0 0;
}
.form-acc__func div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 40px 0 0;
}
.form-acc__func div:last-child {
  margin: 0;
}
.form-acc__func a {
  display: block;
  margin: 0 10px 0 0;
}
.form-acc__func a:last-child {
  margin: 0;
}
.form-acc__func img {
  width: 20px;
  height: 20px;
}
.form-acc__btn {
  margin: 0 20px 0 0;
}
.form-acc__btn::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/cancel.svg") center no-repeat;
  margin: 0 0 0 10px;
  background-size: contain;
}
.form-acc__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form-acc__link .btn__blue {
  margin: 0;
}
.form-acc h1 {
  font-weight: 800;
}

@media (max-width: 1600px) {
  .form-acc__input p {
    font-size: 12px;
  }
}
@media (max-width: 1440px) {
  .form-acc__block_pers {
    grid-template-columns: 6fr 5fr 3fr;
    gap: 30px;
  }
  .form-acc__pers {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-acc__adress {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 1024px) {
  .form-acc__block {
    padding: 10px;
  }
  .form-acc__block_pers {
    grid-template-columns: 100%;
  }
  .form-acc__form {
    grid-template-columns: 100%;
  }
  .form-acc__wrapper {
    gap: 20px;
  }
  .form-acc__textarea .textarea {
    min-height: 134px;
  }
  .form-acc .page-body__func {
    margin: 0 0 0 auto;
  }
}
@media (max-width: 768px) {
  .form-acc__name {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-acc__education {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-acc__job {
    grid-template-columns: 1fr 1fr 2fr;
  }
  .form-acc__employment {
    grid-template-columns: 1fr 1fr;
  }
  .form-acc .page-body__title {
    flex-wrap: wrap;
  }
  .form-acc .btn__blue {
    padding: 6px 11px;
    font-size: 12px;
    line-height: 20px;
  }
  .form-acc .btn__wht {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
  }
  .form-acc h3 {
    font-size: 18px;
    line-height: 120%;
  }
}
@media (max-width: 550px) {
  .form-acc__row {
    grid-template-columns: 100%;
  }
  .form-acc .page-body__func {
    width: 100%;
    margin: 10px 0 0;
    justify-content: flex-start;
  }
  .form-acc .page-body__save {
    margin: 10px 0 0;
  }
  .form-acc__link .btn__blue {
    margin: 0;
  }
}
.vacancy {
  padding: 30px 0 218px;
}
.vacancy__filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: scroll;
}
.vacancy__filter::-webkit-scrollbar {
  width: 0;
  display: none;
  opacity: 0;
  height: 0;
}
.vacancy__filter .nice-select {
  width: auto;
  margin: 0 20px 0 0;
  padding: 8px 30px;
}
.vacancy__filter .nice-select:last-child {
  margin: 0;
}
.vacancy__container {
  margin: 20px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.vacancy__wrapper {
  background: var(--white);
  border: 1px solid var(--vacancy);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 184px;
  position: relative;
  overflow: hidden;
}
.vacancy__flex {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 10px 20px;
}
.vacancy__block {
  display: grid;
  grid-template-columns: 35fr 25fr;
  gap: 30px;
  margin: 0 0 auto;
}
.vacancy__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.vacancy__title .link {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  margin: 0 20px 0 0;
}
.vacancy__text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--text-blc);
  margin: 5px 0 0;
}
.vacancy__req {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-blc);
  margin: 0 0 0 10px;
}
.vacancy__req_wrapper {
  margin: 20px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}
.vacancy__req_wrapper p {
  padding: 4px 9px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey);
  white-space: nowrap;
}
.vacancy__footer {
  margin: 15px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 0;
  border-top: 0.5px solid var(--placeholder);
}
.vacancy__salary {
  width: 100%;
  max-width: 270px;
  margin: 0 0 0 auto;
}
.vacancy__salary p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: var(--blue);
}
.vacancy__salary p span {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--text-blc);
}
.vacancy__info img {
  width: 100%;
  max-width: 100%;
}
.vacancy__place {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 20px;
}
.vacancy__place img {
  margin: 0 5px 0 0;
  width: 14px;
}
.vacancy__place p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-blc);
}
.vacancy__sidebar {
  background: var(--vacancy);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
.vacancy__sidebar ul {
  display: grid;
  grid-template-columns: 100%;
  gap: 15px;
  margin: 0 0 auto;
}
.vacancy__sidebar ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.vacancy__sidebar ul p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: lowercase;
  color: var(--white);
}
.vacancy__sidebar ul p.bold {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.vacancy__sidebar ul img {
  width: 20px;
  margin: 0 10px 0 0;
}
.vacancy__sidebar .btn__wht {
  margin: 18px 0 0;
  width: 100%;
  border: solid 1px var(--white);
  color: var(--white);
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  padding: 4px 9px;
}
.vacancy__sidebar .btn__wht::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 0 0 4px;
  background: url("../img/arrow_wht.svg") center no-repeat;
  background-size: contain;
}

@media (max-width: 1500px) {
  .vacancy__footer {
    flex-wrap: wrap;
  }
  .vacancy__salary {
    width: 100%;
    margin: 10px 0 0;
    max-width: 100%;
  }
  .vacancy__flex {
    padding: 20px 20px 10px;
  }
  .vacancy__block {
    grid-template-columns: 100%;
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .vacancy__container {
    grid-template-columns: 100%;
  }
}
@media (max-width: 768px) {
  .vacancy__filter .nice-select {
    padding: 5px 10px;
    margin: 0 10px 0 0;
  }
  .vacancy__filter .nice-select .current {
    font-size: 14px;
    font-size: 120%;
  }
}
@media (max-width: 550px) {
  .vacancy__wrapper {
    grid-template-columns: 100%;
  }
}
@media (max-width: 425px) {
  .vacancy__flex {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */