.blue-theme {
    --background: #F5F7FA;
    --text-blc: #141824;
    --placeholder:  #C0C0C0;
    --blue: #4773F6;
    --white: #fff;
    --red: #F01C1C;
    --border: #D8D8D8;
    --grey: #7F7F7F;
    --vacancy: #A6306C;;
}