@use '../component/variables' as *;

.guar {
    background: #373737;
    padding: 60px 0;
    &__mob {
        display: none;
    }
    h2 {
        color: #fff;
    }
    &__subtitle {
        margin: 10px 0 0;
        font: 400 30px / 0.9 $second-family;
        text-align: center;
        color: #fff;
        opacity: .7;
    }
    &__row {
        display: grid;
        grid-template-columns: 230px 317px 230px;
        gap: 20px;
        justify-content: space-between;
        margin: 35px 0 0;
        padding: 0 0 70px;
        border-bottom: 1px solid #fff;
    }
    &__item {
        img {
            width: 100%;
            max-width: 200px;
            display: block;
            margin: 0 auto;
        }
        p {
            margin: 13px 0 0;
            font: 400 30px / 1 $second-family;
            text-align: center;
            color: #fff;
        }
    }
    &__title {
        margin: 50px 0 0;
    }
    &__exp {
        margin: 20px 0 0;
        font: 400 30px / 0.9 $second-family;
        text-align: center;
        color: #fff;
    }
    &__list {
        margin: 50px 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        li {
            display: grid;
            grid-template-columns: 11px 1fr;
            gap: 24px;
            &::before {
                content: '';
                display: block;
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background: #ff9549;
                margin: 5px 0 0;
            }
        }
        p {
            font: 400 24px / 0.9 $font-family;
            color: #fff;
        }
    }
}

@media (max-width: 1024px) {
    .guar {
        &__row {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 768px) {
    .guar {
        h2 {
            text-align: center;
        }
        &__row {
            grid-template-columns: 1fr;
            padding: 0; 
            border-bottom: none;
            p {
                font-size: 24px;
            }
        }
        &__subtitle {
            font-size: 24px;
        }
        &__list {
            grid-template-columns: 1fr;
            margin: 25px 0 0;
            padding: 0 30px;
        }
        &__exp {
            display: none;
        }
        &__mob {
            display: block;
            margin: 30px 0 0;
            font: 400 34px / 0.9 $second-family;
            text-align: center;
            color: #fff;
            span {
                font: 700 34px / 0.9 $third-family;
                color: #ff9549;
            }
        }
    }
}

@media (max-width: 420px) {
    .quar {
        &__list {
            padding: 0;
        }
    }
}