@use '../component/variables' as *;

.montage {
    padding: 70px 0;
    &__block {
        border-radius: 20px;
        padding: 60px 30px 30px;
        box-shadow: 0 4px 10px 0 rgba(145, 145, 145, 0.25);
        background: url(../../img/line_bg_wht.jpg) top left;
        background-size: 50px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: calc(50% - 20px) 1fr;
        gap: 40px;
        align-items: center;
        margin: 35px 0 0;
    }
    &__text {
        font: 400 24px / 1.2 $font-family;
        color: #222;
    }
    &__list {
        margin: 36px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        li {
            display: grid;
            grid-template-columns: 40px 1fr;
            gap: 18px;
            align-items: center;
        }
        img {
            width: 100%;
        }
        p {
            font: 400 20px / 1.12 $font-family;
            color: #222;
            span {
                font-weight: 600;
            }
        }
    }
    &__slider {
        border-radius: 20px;
        background: #373737;
        padding: 40px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::before {
            content: '';
            display: block;
            width: 483px;
            height: 483px;
            border-radius: 100%;
            background: #2F2F2F;
            z-index: -1;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            border: 60px solid #323232;
            box-sizing: border-box
        }
        h3 {
            font: 400 24px / 1.12 $second-family;
            text-align: center;
            color: #fff;
            strong {
                font: 700 24px / 1.12 $third-family;
            }            
            span {
                font: 400 24px / 1.12 $second-family;
                color: #ff9549;
            }
        }
        .swiper {
            margin: 30px 0 0;
        }
        .swiper-button-prev,
        .swiper-button-next {
            margin: 0;
            width: 33px;
            height: 33px;
            inset: auto;
            opacity: 1;
            transform:  translateY(-50%) rotate(90deg);
            left: 0;
            top: 50%;
            z-index: 5;
            transition: all .3s;
            &:hover {
                filter: brightness(80%);
            }
            img {
                width: 100%;
            }
            &::after {
                content: none;
            }
        }
        .swiper-button-next {
            left: auto;
            right: 0;
            transform: translateY(-50%) rotate(-90deg);
        }
    }
    &__slide {
        &_name {
            font: 400 33px / 0.9 $second-family;
            text-align: center;
            color: #fff;
            margin: 20px 0 0;
        }
        &_text {
            margin: 5px 0 0;
            opacity: .7;
            font: 400 20px / 1.12 $font-family;
            text-align: center;
            color: #fff;
        }
        img {
            display: block;
            width: 245px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1024px) {
    .montage {
        &__wrapper {
            grid-template-columns: 100%;
        }
    }
}

@media (max-width: 768px) {
    .montage {
        padding: 50px 0;
        &__block {
            padding: 0;
            background: transparent;
            box-shadow: none
        }
        &__slider {
            padding: 20px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
        &__text {
            font-size: 18px;
        }
        &__list p {
            font-size: 18px;
        }
    }
}