$color---arrow: #b5b5b5
$color---icon-header: #b0afa2
$color---text-header: #858279
$color---green: #58d97c
$stroke---devider-card: #d7d3c7
$bg---field-form: #fcfcf6
$button---hover: #79624b
$new-color---white: #fff
$new-color---text: #636057
$new-color---black: #1a1a1a
$new-color---main: #8d765f
$new-color---policy: #918d81
$new-color---point-fill: #eeeadd
$new-input---inactive: #b7b7b7
$new-bg---main: #f2f0ea
$new-bg---card: #e7e2d6
$new-bg---map: #fdfcf9
$new-bg---1-screen: #fdfcf9
$new-bg---header-up: #f7f6f3
$new-bg---header-down: #fefefd
$new-stroke---main: #dddbd5
$new-stroke---accent: #9d8975
$new-stroke---icon: #b9b5a9
$new-stroke---point: #918e85
$new-footer---category-title: #918d81
$new-footer---separator: #c3bfb3
$old-black: #2e2e2e
$old-card-line: #d1cec5
$old-icon-line: #b8b7ae
$old-text-light: #8c8a79
$old-text-dark: #504d44
$old-policy: #9c988d
$old-footer-descriptors: #8f8677
$old-bg: #efece3

$font-family: "Inter", sans-serif
$second-family: "PP Neue Montreal", sans-serif
$third-family: "Source Serif 4", sans-serif
$font3: "Evolventa", sans-serif
$font4: "Proxima Nova", sans-serif
$font5: "TT Norms", sans-serif
$font6: "Arial", sans-serif