$font-family: "Roboto", sans-serif
$four-family: "Europe", sans-serif
$second-family: "Plus Jakarta Sans", sans-serif
$third-family: "Roboto Condensed", sans-serif


html
    position: relative
    &.fix
        overflow: hidden
body
    background: #000
    padding: 13px
    color: #fff
    display: grid
    grid-template-columns: 282px calc( 100% - 293px )
    gap: 11px
    min-height: 100vh
    align-items: start
    position: relative
    background: url('../img/body_bg.jpg') center repeat
    background-size: contain
    &.fix
        overflow: hidden
.content
    position: relative
@keyframes btn
    0%
        left: -50px
    35%
        left: 120%
    100%
        left: 120%
@keyframes logo
    0%
        left: -50px
        opacity: 0
    35%
        left: 53%
        opacity: 1
    50%
        left: 53%
        opacity: 0
    100%
        left: 53%
        opacity: 0
.btn
    &__gold
        border-radius: 11px
        width: 100%
        box-sizing: border-box
        padding: 6px
        box-shadow: 0 0 13px 7px rgba(255, 255, 255, 0.46)
        background: #a4a4a4
        font: 400 15px $font-family
        color: #fff
        transition: all .3s
        border: none
        position: relative
        overflow: hidden
        &:hover
            box-shadow: none
        &::after
            content: ''
            display: block
            width: 20px
            height: 100%
            border-radius: 2px
            background: #fff
            position: absolute
            left: -50px
            bottom: 0
            animation: 5s btn 5s infinite ease-in-out 
            filter: blur(15px)
            transform: rotate(45deg)
            opacity: .9
.content
    position: relative
.nav-lang
    z-index: 5
    position: absolute
    top: 57px
    right: 90px
    border: 1px solid #000
    border-radius: 11px
    display: grid
    grid-template-columns: 1fr 1fr
    width: 87px
    overflow: hidden
    a
        position: relative
        overflow: hidden
        transform: skewX(-30deg)
        color: #bababa
        font: 400 16px / 1.1 $second-family
        background: #313131
        display: flex
        justify-content: center
        align-items: center
        &:nth-child(1)
            border-right: 1px solid #000
        &.active
            background: transparent
            color: #000
        span
            transform: skewX(30deg)
.section-anim
    opacity: 0
    transform: translateY(40px)
    transition: all 1s
    &.section-anim__active
        opacity: 1
        transform: translateY(0)

.nav
    height: calc( 100vh - 26px )
    position: relative
    overflow-y: auto
    position: sticky
    top: 13px
    padding: 40px 23px
    border-radius: 32px
    display: flex
    flex-direction: column
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    background: rgba(47, 47, 47, 0.76)
    &__logo
        max-width: 206px
        display: block
        margin: 0 auto 
        position: relative
        overflow: hidden
        img,
        svg
            width: 100%
    &__list
        margin: 50px 0 auto 33px
        display: grid
        grid-template-columns: 100%
        gap: 27px
        a,
        p
            font: 400 18px $four-family
            color: #fff
            transition: all .3s
            cursor: pointer
            &:hover
                color: #a4a4a4
            &.dis
                color: #676767 !important
    &__soc
        margin: 42px 0 0
        display: grid
        grid-template-columns: 30px 30px 30px 30px
        gap: 14px
        display: none !important
        a
            display: block
            transition: all .3s
            &:hover
                opacity: .8
        img
            width: 100%
    &__desc
        margin: 23px 0 0
        font: 400 13px / 1.37502 $four-family
        color: #a4a4a4
    &__link
        margin: 50px 0 0
    &__hum
        display: none

.drop
    display: grid
    grid-template-columns: 100%
    gap: 9px
    margin: 17px 0 0
    max-height: 0
    overflow: hidden
    margin: 0
    transition: all .3s
    &.active
        margin: 17px 0 0
        max-height: 200px
    &__btn
        position: relative
        &::before
            content: ''
            display: block
            width: 10px
            height: 10px
            position: absolute
            left: -16px
            top: 5px
            background: url('../img/gold-arrow.svg') center no-repeat
            transition: all .3s
        &.active
            &::before
                transform: rotate(60deg)
    a
        font: 400 15px $font-family
        color: #6c6c6c
        &:hover
            color: #fff

.header
    position: relative
    border-radius: 32px
    overflow: hidden
    &__info
        position: absolute
        bottom: 190px
        left: 80px
        max-width: calc( 100% - 160px ) 
        z-index: 5
        h1
            font: 400 64px / 1.1 $four-family
            color: #fff
            span
                color: #a4a4a4
        p
            font: 400 18px $four-family
            color: #fff
            margin: 7px 0 0
    &__slider
        min-height: 100%
        video,
        img
            width: 100%
            height: 100vh
            object-fit: cover
            min-height: 100%
    .swiper-button-next
        right: 80px
        bottom: 70px
        margin: 0
        display: grid
        grid-template-columns: 1fr 6px
        gap: 10px
        padding: 5px 9px
        border: 1px solid #fff
        border-radius: 11px
        width: auto
        height: auto
        top: auto
        transition: all .3s
        z-index: 2
        p
            font: 400 18px $font-family
            color: #fff
            transition: all .3s
        svg
            path
                transition: all .3s
        &::after
            content: none
        &:hover
            border-color: #a4a4a4
            p
                color: #a4a4a4
            svg
                path
                    stroke: #a4a4a4
    .swiper-button-prev
        left: 80px
        bottom: 70px
        margin: 0
        display: grid
        grid-template-columns: 6px 1fr
        gap: 10px
        padding: 5px 9px
        border: 1px solid #fff
        border-radius: 11px
        width: auto
        height: auto
        top: auto
        transition: all .3s
        z-index: 2
        p
            font: 400 18px $font-family
            color: #fff
            transition: all .3s
        svg
            path
                transition: all .3s
        &::after
            content: none
        &:hover
            border-color: #a4a4a4
            p
                color: #a4a4a4
            svg
                path
                    stroke: #a4a4a4
    .swiper-pagination
        transform: none
        margin: 0
        bottom: 70px
        gap: 13px
        display: flex
        justify-content: center
        align-items: center
        z-index: 2
        span
            width: 111px
            height: 9px
            border-radius: 14px
            background: #a0a0a0
            transition: all .3s
            opacity: 1
            margin: 0
            &.swiper-pagination-bullet-active
                background: #fff

@media ( max-width: 1200px )
    .nav-lang
        top: 20px
        right: 20px
    .header
        &__info
            left: 20px
            bottom: 100px
        .swiper-button-prev
            left: 20px
            bottom: 20px
        .swiper-button-next
            right: 20px
            bottom: 20px
        .swiper-pagination
            gap: 5px
            bottom: 25px
            span
                width: 35px
                height: 3px
        h1
            font-size: 40px
        p
            font-size: 16px
    .nav
        padding: 20px
        &__logo
            margin: 0
        &__list
            margin: 20px 0 auto 10px
            gap: 10px
            a,
            p
                font-size: 16px
        &__soc
            margin: 20px 0 0
    .drop
        gap: 5px
        a
            font-size: 12px
        &.active
            margin: 10px 0 0
        &__btn
            &::before
                top: 3px

@media ( max-width: 1024px )
    body
        grid-template-columns: 100%
    .nav
        padding: 50px 20px 20px
        position: fixed
        top: 13px
        left: 13px
        z-index: 10
        width: 290px
        max-width: calc( 100% - 26px )
        transform: translateX(-200%)
        transition: all .3s
        &__hum
            display: block
            position: fixed
            width: 20px
            height: 15px
            z-index: 15
            left: 30px
            top: 30px
            cursor: pointer
            span,
            &::before,
            &::after
                content: ''
                display: block
                width: 100%
                height: 1px
                background: #fff
                position: absolute
                top: 0
                left: 0
                transition: all .3s
            span
                top: 50%
            &::before
                top: 100%
            &_blc
                span,
                &::before,
                &::after
                    background: #000
            &.active
                span
                    opacity: 0
                &::before
                    background: #fff
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%) rotate(-45deg)
                &::after
                    background: #fff
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%) rotate(45deg)
        &.active
            transform: translateX(0%)
            z-index: 15

@media ( max-width: 600px )
    .nav
        width: calc( 100% - 26px )
    .header
        .swiper-button-next,
        .swiper-button-prev
            display: none
        &__info
            bottom: 80px !important
            left: 20px !important
            max-width: calc( 100% - 40px )
        h1
            font-size: 30px
            white-space: pre-wrap

.project
    padding: 105px 20px 50px
    background: #fff
    border-radius: 32px
    color: #000
    min-height: calc( 100vh - 26px )
    display: flex
    flex-direction: column
    justify-content: center
    &__slider
        max-width: 1034px
        margin: 0 auto
        border-radius: 9px
        overflow: hidden
        width: 100%
    &__slider
        border-radius: 9px
        position: relative
        overflow: hidden
        img
            width: 100%
            object-fit: cover
    .swiper-pagination
        transform: none
        inset: auto
        margin: 0
        position: relative
        margin: 21px 0 0
        display: flex
        justify-content: center
        align-items: center
        gap: 4px
        span
            width: 33px
            height: 9px
            border-radius: 14px
            background: rgba(160, 160, 160, 0.62)
            opacity: 1
            transition: all .3s
            margin: 0 !important
            &.swiper-pagination-bullet-active
                background: #383838
    &__info
        margin: 44px auto 0
        max-width: 816px
    &__type
        font: 400 15px / 1.29961 $second-family
        letter-spacing: 0.07em
        text-align: center
        color: #a4a4a4
    h1
        margin: 6px 0 0
        font: 400 20px / 1.29961 $second-family
        letter-spacing: 0.07em
        text-align: center
        color: #000
    &__desc
        margin: 32px 0 0
        font: 400 16px / 1.29961 $font-family
        text-align: center
        color: #494949

@media ( max-width: 1200px )
    .project
        padding: 50px 20px 50px
        .swiper-pagination
            margin: 10px 0 0
            span
                width: 11px
                height: 3px

@media ( max-width: 600px )
    .project
        .swiper-pagination
            span
                width: 3px
                height: 3px
                border-radius: 100%

.contact
    min-height: calc( 100vh - 26px )
    background: #fff
    border-radius: 32px
    overflow: hidden
    position: relative
    display: flex
    flex-direction: column
    &__block
        padding: 90px 20px 20px
        color: #000
        max-width: 1383px
        box-sizing: content-box 
        margin: 0 auto auto
    h1
        font: 400 64px / 1.1 $four-family
        letter-spacing: 0.07em
        color: #000
    &__subtitle
        margin: 34px 0 0
        max-width: 612px
        font: 400 15px / 1.61 $four-family
        letter-spacing: 0.07em
        color: #000
    &__list
        margin: 65px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 45px
        align-items: start
    &__name
        font: 400 15px / 1.29961 $four-family
        letter-spacing: 0.07em
        color: #818181
        margin: 0 0 19px
    &__text
        font: 400 20px / 1.29961 $four-family
        letter-spacing: 0.07em
        color: #000
    &__address
        margin: 19px 0 0
        font: 400 20px / 1.64 $four-family
        letter-spacing: 0.07em
        color: #5e5e5e
        max-width: 225px
    &__phone
        font: 400 20px / 1.64 $four-family
        letter-spacing: 0.07em
        color: #a4a4a4
        display: block
        margin: 19px 0 0
        color: #a4a4a4
        transition: all .3s
        &:hover
            color: #000

@media ( max-width: 1200px )
    .contact
        &__block
            padding-top: 50px
        h1
            font-size: 50px
        &__list
            grid-template-columns: 1fr
            margin: 50px 0 0

@media ( max-width: 600px )
    .contact
        h1
            font-size: 35px
        &__name,
        &__address,
        &__phone,
        &__text
            font-size: 15px
        &__name
            margin: 0 0 10px
        &__address,
        &__phone
            margin: 10px 0 0
        &__list
            gap: 30px

.news
    min-height: calc( 100vh - 26px )
    background: #fff
    border-radius: 32px
    overflow: hidden
    position: relative
    padding: 90px 20px 20px
    color: #000
    overflow: hidden
    &__block
        max-width: 1383px
        margin: 0 auto
        display: flex
        flex-direction: column
    h1
        font: 400 100px / 1.1 $four-family
        letter-spacing: 0.07em
        color: #000
    &__subtitle
        margin: 29px 0 0
        font: 400 20px / 1.61 $four-family
        letter-spacing: 0.07em
        color: #000
        max-width: 1070px
    &__slider
        margin: 127px 0 0
        overflow: visible
        &::before
            content: ''
            display: block
            width: 196px
            height: 177px
            background: url('../img/news_bg.svg') center no-repeat
            background-size: contain
            position: absolute
            top: -83px
            left: -87px
    &__bg
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        background-size: cover
        z-index: -1
        transition: all .3s
    &__type
        font: 400 16px / 1.17814 $font-family
    &__name
        margin: 23px 0 0
        font: 400 40px / 1.07293 $third-family
        letter-spacing: -0.03em
    &__text
        font: 400 20px / 1.17814 $font-family
        margin: 26px 0 0
    &__slide
        width: 426px
        position: relative
        padding: 30px 30px
        display: block
        height: 530px
        z-index: 1
        border-radius: 19px
        overflow: hidden
        transition: all .3s
        p
            color: #fff
            transition: all .3s
        &:hover
            p
                color: #a4a4a4

@media ( max-width: 1200px )
    .news
        padding-top: 50px
        h1
            font-size: 50px
        &__slider
            margin: 60px 0 0

@media ( max-width: 600px )
    .news
        h1
            font-size: 35px
        &__subtitle
            font-size: 16px
            margin: 20px 0 0
        &__slide
            width: calc( 100vw - 64px )
            height: 400px
        &__name
            font-size: 24px
        &__text
            font-size: 16px

.content
    &__block
        color: #000
        border-radius: 32px
        padding: 100px 20px 70px
        background: #fff
        position: relative
        overflow: hidden
    &__container
        max-width: 1383px
        margin: 0 auto
    
.about
    h1
        font: 400 74px / 1.1 $four-family
        color: #000
        font-family: "Europe", sans-serif
        font-weight: 300
        span
            // letter-spacing: 0.07em
            color: #a4a4a4
    &__text
        font: 400 20px / 1.61 $four-family
        letter-spacing: 0.07em
        color: #000
        margin-top: 50px
    &__subtitle
        max-width: 964px
    &__info
        margin-left: auto
        max-width: 831px
    &__full
        width: calc( 100vw - 316px )
        margin: 130px 0 0 50%
        transform: translateX(-50%)
        height: 445px
        object-fit: cover

.team
    padding: 149px 0 0
    h2
        font: 400 74px / 1.29961 $second-family
        letter-spacing: 0.07em
        color: #000
        font-family: "Europe", sans-serif
        font-weight: 300
    &__subtitle
        margin: 40px 0 0
        font: 400 20px / 1.61 $second-family
        letter-spacing: 0.07em
        color: #000
        max-width: 1060px
    &__img
        width: 100%
        object-fit: cover
        margin: 40px 0 0
        border-radius: 9px

.service
    padding: 149px 0 0
    h2
        font: 400 74px / 1.29961 $second-family
        letter-spacing: 0.07em
        color: #000
        font-family: "Europe", sans-serif
        font-weight: 300
    &__subtitle
        margin: 40px 0 0
        font: 400 20px / 1.61 $four-family
        letter-spacing: 0.07em
        color: #000
        max-width: 1060px
    &__wrapper
        margin: 80px 0 0
        display: grid
        grid-template-columns: 100%
        gap: 35px
    &__bg
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        object-fit: cover
        z-index: -1
        transition: all .3s
    &__type
        font: 400 16px / 1.17814 $four-family
    &__text
        margin: 20px 0 0
        font: 400 20px / 1.17814 $four-family
    &__info
        max-width: 470px
    &__item
        border-radius: 19px
        position: relative
        overflow: hidden
        padding: 30px
        z-index: 1
        min-height: 324px
        display: block
        p
            color: #fff
            transition: all .3s
        h3
            margin: 20px 0 0
            font: 400 40px / 1.07293 $four-family
            letter-spacing: -0.03em
            color: #fff
            transition: all .3s
        &:hover
            h3,
            p
                color: #a4a4a4
            img
                filter: brightness(.4)

.footer
    border-radius: 32px
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    background: rgba(47, 47, 47, 0.76)
    margin: 23px 0 0
    padding: 50px 20px
    .content__container
        display: grid
        grid-template-columns: 305px 1fr 250px
        gap: 110px
        align-items: start
    &__logo
        display: block
        img,
        svg
            width: 100%
            height: 68px
    &__soc
        margin: 35px 0 0
        display: none
        p
            font: 400 16px / 1.46 $font-family
            color: #707070
        div
            display: grid
            grid-template-columns: 30px 30px 30px 30px
            gap: 14px
            margin: 10px 0 0
            a
                display: block
                transition: all .3s
                &:hover
                    opacity: .8
            img
                width: 30px
                height: 30px
                border-radius: 100%
    &__list
        max-width: 524px
        display: grid
        grid-template-columns: 1fr 1fr
        column-gap: 24px
        margin: 26px 0 0
        a
            font: 400 16px / 1.69 $font-family
            color: #707070
            transition: all .3s
            &:hover
                color: #fff
        &_name
            font: 400 16px / 1.46 $font-family
            color: #fff
    &__contact
        margin: 10px 0 0
        font: 400 16px / 1.69 $font-family
        color: #707070
    &__address
        font: 400 16px / 1.69 $font-family
        color: #a4a4a4

@media ( max-width: 1600px )
    .about
        h1
            font-size: 80px
            max-width: 800px
    .team,
    .service,
    .group
        padding: 80px 0 0
        h2
            font-size: 70px
    .footer
        .content__container
            gap: 20px
            justify-content: space-between
            grid-template-columns: 205px auto 205px

@media ( max-width: 1200px )
    .content
        &__block
            padding: 50px 20px 
            h1,
            h2
                font-size: 50px
    .footer
        .content__container
            grid-template-columns: 100%
            gap: 30px
        &__logo
            max-width: 305px
    
@media ( max-width: 1024px )
    .about
        &__full
            margin: 50px -20px 0
            width: calc( 100% + 40px )
            transform: none
            height: auto
    
@media ( max-width: 600px )
    .content
        &__block
            h1,
            h2
                font-size: 35px
    .about
        &__text
            margin: 25px 0 0
            font-size: 16px
    .team,
    .service
        padding: 40px 0 0
        &__subtitle
            font-size: 16px
            margin: 20px 0 0
    .service
        &__wrapper
            margin: 40px 0 0
            gap: 20px
        &__item
            padding: 20px 
            h3
                font-size: 24px
        &__type
            font-size: 14px
        &__text
            font-size: 16px
    .footer
        &__list
            grid-template-columns: 100%

.design
    padding: 70px 20px 
    color: #000
    border-radius: 32px
    background: #fff
    position: relative
    overflow: hidden
    h1
        font: 400 100px / 1.1 $second-family
        color: #000
        span
            color: #a4a4a4
    &__subtitle
        margin: 70px 0 0
        max-width: 910px
        font: 400 20px / 1.61 $font-family
        letter-spacing: 0.07em
        color: #000
    &__wrapper
        margin: 100px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 40px
    &__name
        font: 400 25px / 1.29961 $second-family
        letter-spacing: 0.07em
        text-align: center
        color: #fff
        left: 0
        right: 0
        bottom: 55px
        position: absolute
    &__type
        font: 400 15px / 1.29961 $second-family
        letter-spacing: 0.07em
        text-align: center
        color: #a4a4a4
        left: 0
        right: 0
        bottom: 30px
        position: absolute
    &__bg
        width: 100%
        object-fit: cover
        min-height: 100%
        height: 100%
    &__item
        position: relative
        border-radius: 9px
        overflow: hidden
        &::before
            content: ''
            display: block
            width: 100%
            height: 100%
            inset: 0
            position: absolute
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%)
            opacity: 0
            transition: all .3s
        p
            opacity: 0
            transition: all .3s
        &:hover
            p
                opacity: 1
            &::before
                opacity: 1

.page-error
    min-height: calc( 100vh - 26px )
    background: #fff
    border-radius: 32px
    overflow: hidden
    position: relative
    padding: 90px 20px
    color: #000
    overflow: hidden
    display: flex
    align-items: center
    &__block
        max-width: 1383px
        margin: 0 auto
        display: flex
        flex-direction: column
    h1
        font: 400 200px / 1.1 $second-family
        letter-spacing: 0.07em
        color: #000
        text-align: center
    &__subtitle
        margin: 17px 0 0
        font: 400 20px / 1.61 $second-family
        letter-spacing: 0.07em
        color: #000
        max-width: 1070px
        text-align: center
    &__text
        margin: 30px 0 0
        font: 400 15px / 1.29961 $second-family
        letter-spacing: 0.07em
        text-align: center
        color: #818181
        max-width: 457px
    .btn__gold
        margin: 50px auto 0
        max-width: 262px
        display: block
        font-size: 18px

.news-new
    padding: 90px 20px
    h1
        font-size: 64px
        font-family: "Europe", sans-serif
        font-weight: 300
    .news__subtitle
        font-size: 15px
        max-width: 697px
    &__block
        margin: 69px 0 0
        position: relative
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
        border-radius: 13px
        overflow: hidden
        min-height: 630px
        z-index: 2
        padding: 60px 90px
        display: flex
        flex-direction: column
        justify-content: end
        &_bg
            position: absolute
            inset: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
            pointer-events: none
        &::before
            content: ''
            display: block
            border: 1px solid #fff
            border-radius: 5px
            position: absolute
            inset: 33px
            pointer-events: none
    &__span
        width: 14px
        height: 14px
        border-radius: 100%
        background: #d9d9d9
        position: absolute
        z-index: 1
        display: block
        &:nth-child(1)
            top: 50px
            left: 50px
        &:nth-child(2)
            top: 50px
            right: 50px
        &:nth-child(3)
            bottom: 50px
            left: 50px
        &:nth-child(4)
            bottom: 50px
            right: 50px
    &__row
        display: flex
        flex-wrap: wrap
        gap: 14px
        img
            border: 2px solid #fff
            border-radius: 13px
            width: 273px
            height: 170px
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
            object-fit: cover
            max-width: 100%
            cursor: pointer
            &.fix
                position: absolute
                inset: 0
                width: 100%
                height: 100%
                object-fit: cover
                z-index: -1
                pointer-events: none
                border: none
                border-radius: 0
    &__info
        margin: 0 0 37px
        max-width: 430px
        p
            font-family: $third-family
            font-weight: 400
            font-size: 40px
            line-height: 1.07293
            letter-spacing: -0.03em
            color: #fff
            &+p
                margin: 27px 0 0
                font-family: $font-family
                font-weight: 400
                font-size: 20px
                line-height: 1.17814
                color: #fff
    &__descr
        margin: 63px 0 0 auto
        max-width: 816px
        padding: 0 0 36px
        position: relative
        &::before
            content: ''
            display: block
            position: absolute
            width: 228px
            right: 0
            bottom: 0
            height: 6px
            border-radius: 10px
            background: #a4a4a4
        &_date
            font-family: $four-family
            font-weight: 400
            font-size: 20px
            line-height: 1.29961
            letter-spacing: 0.07em
            text-align: right
            color: #595959
        &_text
            margin: 27px 0 0
            display: grid
            grid-template-columns: 1fr
            gap: 27px
            p
                font-family: $four-family
                font-weight: 400
                font-size: 16px
                line-height: 1.29961
                color: #494949

.design-new
    &__video
        position: relative
        overflow: hidden
        border-radius: 13px
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
        margin: 0 0 60px 
        display: block
        video
            width: 100%
            object-fit: cover
            display: block
        &::before
            content: ''
            display: block
            border: 1px solid #fff
            border-radius: 5px
            position: absolute
            inset: 33px
            pointer-events: none
        &_btn
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 88px
            height: 88px
            border-radius: 100%
            background: #d9d9d9
            display: flex
            justify-content: center
            align-items: center
            opacity: 0
            pointer-events: none
            transition: all .3s
            cursor: pointer
            transition: all .3s
            svg
                transform: translateX(8px)
            &:hover
                background: #a4a4a4
            &.active
                opacity: 1
                pointer-events: all
    h1
        font-size: 64px
        font-family: "Europe", sans-serif
        font-weight: 300
    &__subtitle
        font-family: $font-family
        font-weight: 400
        font-size: 15px
        line-height: 1.61
        letter-spacing: 0.07em
        color: #000
        // max-width: 907px
        max-width: 716px
        // padding: 0 0 36px
        position: relative
        margin: 35px 0 0 auto
        // &::before
        //     content: ''
        //     display: block
        //     position: absolute
        //     width: 228px
        //     right: 0
        //     bottom: 0
        //     height: 6px
        //     border-radius: 10px
        //     background: #a4a4a4
    &__slider
        margin: 95px 0 0
        overflow: visible
    &__slide
        width: 568px
        border-radius: 19px
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
        position: relative
        overflow: hidden
        padding: 30px
        display: flex
        flex-direction: column
        min-height: 508px
        z-index: 2
        &_bg
            position: absolute
            inset: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
            transition: all .3s
        &_link
            margin: 0 0 auto
            display: flex
            justify-content: center
            align-items: center
            border: 3px solid #fff
            border-radius: 6px
            width: 48px
            height: 48px
            background: rgba(11, 11, 11, 0.5)
            transition: all .3s
            path
                transition: all .3s
        &_type
            font-family: $second-family
            font-weight: 400
            font-size: 15px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #e4ba92
        &_name
            font-family: $second-family
            font-weight: 400
            font-size: 20px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #fff
            transition: all .3s
        &_text
            margin: 18px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.17814
            color: rgba(255, 255, 255, 0.75)
        &:hover
            .design-new
                &__slide
                    &_bg
                        transform: scale(1.1)
                    &_link
                        border-color: #a4a4a4
                        path
                            fill: #a4a4a4
                    &_name
                        color: #a4a4a4
    &__text
        margin: 90px 0 0 auto
        max-width: 793px
        font-family: $third-family
        font-weight: 400
        font-size: 16px
        line-height: 1.29961
        color: #494949
    &__wrapper
        margin: 55px 0 0
        display: grid
        grid-template-columns: 1fr
        gap: 150px
    &__item
        display: grid
        grid-template-columns: 845px 1fr
        gap: 50px
        &_prev
            position: relative
            overflow: hidden
            border-radius: 19px
            img
                width: 100%
        &_info
            display: flex
            flex-direction: column
            justify-content: end
            max-width: 420px
            .type
                font-family: $font-family
                font-weight: 400
                font-size: 17px
                line-height: 1.29961
                letter-spacing: 0.07em
                color: #818181
            .name
                margin: 20px 0 0
                font-family: $font-family
                font-weight: 400
                font-size: 40px
                line-height: 1.3
                letter-spacing: 0.07em
                color: #000
            .text
                margin: 30px 0 0
                font-family: $second-family
                font-weight: 400
                font-size: 16px
                line-height: 1.3
                color: rgba(0, 0, 0, 0.75)

.team-new
    &__wrapper
        margin: 56px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        gap: 32px
    &__item
        border-radius: 9px
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
        position: relative
        overflow: hidden
    &__pic
        width: 100%
        height: 365px
        object-fit: cover
    &__logo
        position: absolute
        left: 15px
        bottom: 15px
        width: 127px

.group
    padding: 157px 0 0
    h2
        font: 400 74px / 1.29961 $second-family
        letter-spacing: 0.07em
        color: #000
        font-family: "Europe", sans-serif
        font-weight: 300
    &__subtitle
        font-family: $second-family
        font-weight: 400
        font-size: 20px
        line-height: 1.61
        letter-spacing: 0.07em
        color: #000
        margin: 20px 0 0 auto
        max-width: 887px
    &__wrapper
        margin: 73px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 50px
    &__item
        width: 100%
        position: relative
        z-index: 2
        padding: 35px 50px
        border-radius: 19px
        overflow: hidden
        min-height: 347px
        &_max
            grid-column: 1/3
            min-height: 364px
    &__bg
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        object-fit: cover
        z-index: -1
    &__type
        font-family: $font-family
        font-weight: 400
        font-size: 16px
        line-height: 1.17814
        color: #fff
    &__name
        font-family: $third-family
        font-weight: 400
        font-size: 40px
        line-height: 1.07293
        letter-spacing: -0.03em
        color: #fff
        max-width: 625px
        margin: 30px 0 0
    &__text
        margin: 35px 0 0
        font-family: $font-family
        font-weight: 400
        font-size: 20px
        line-height: 1.17814
        color: #fff
        max-width: 463px

.faq
    display: grid
    grid-template-columns: 7fr 6fr
    gap: 70px
    align-items: start
    padding: 180px 0 0
    &__info
        p
            font-family: $font-family
            font-weight: 400
            font-size: 32px
            line-height: 1.1
            letter-spacing: 0.07em
            color: #000
        h2
            font-family: "Europe", sans-serif
            font-weight: 300
            font-size: 70px
            line-height: 1.1
            letter-spacing: 0.07em
            color: #000
            margin: 10px 0 0
    &__form
        max-width: 609px
        input
            width: 100%
            border-radius: 16px
            background: #eaeaea
            margin: 14px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 20px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #000
            box-sizing: border-box
            padding: 25px 60px 30px
            border: none
            &:nth-child(1)
                margin: 0
            &::placeholder
                color: #818181
        p
            margin: 26px auto 0
            text-align: center
            max-width: 600px
            font-family: $font-family
            font-weight: 400
            font-size: 16px
            line-height: 1.29961
            letter-spacing: 0.07em
            text-align: center
            color: #818181
        button
            border-radius: 16px
            background: #171717
            font-family: $second-family
            font-weight: 400
            font-size: 20px
            line-height: 1.29961
            letter-spacing: 0.07em
            text-align: center
            color: #fff
            border: none
            transition: all .3s
            padding: 14px 40px
            margin: 40px auto 0
            display: block
            &:hover
                background: #a4a4a4

.founder
    min-height: calc( 100vh - 26px )
    background: #fff
    border-radius: 32px
    overflow: hidden
    position: relative
    padding: 90px 20px
    display: flex
    color: #000
    overflow: hidden
    &__block
        max-width: 1383px
        margin: auto auto
        display: grid
        grid-template-columns: 546px 1fr
        gap: 125px
        align-items: center
    &__prev
        img
            width: 100%
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
            border-radius: 9px
    &__name
        position: relative
        padding: 30px 0 0
        &::before
            content: ''
            display: block
            width: 112px
            height: 3px
            top: 0
            position: absolute
            left: 0
            background: #a4a4a4
        p
            font-family: $second-family
            font-weight: 400
            font-size: 15px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #818181
            margin: 11px 0 0
        h1
            font-family: "Europe", sans-serif
            font-weight: 300
            font-size: 48px
            line-height: 1.3
            letter-spacing: 0.07em
            color: #000
    &__text
        margin: 90px 0 0
        max-width: 612px
        font-family: $second-family
        font-weight: 400
        font-size: 15px
        line-height: 1.61
        letter-spacing: 0.07em
        color: #000
        display: grid
        grid-template-columns: 1fr
        gap: 25px

.cottage
    position: relative  
    border-radius: 32px
    overflow: hidden
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    z-index: 2
    min-height: calc( 100vh - 26px )
    .header
        &__slider
            width: 100%
            height: 100%
            top: 0
            left: 0
            position: absolute
            z-index: -1
            img
                width: 100%
                height: 50%
                max-height: 50%
                min-height: 50%
                margin: 0 0 auto
                display: block
                transition: all .3s
    &__info
        padding: 64px 128px
        width: 100%
        height: 50%
        max-width: 100%
        background: #fff
        bottom: 0
        left: 0
        min-height: 50%
        max-height: 50%
        overflow-y: auto
        margin: auto 0 0
        position: absolute
        transition: all .3s
        &_wrapper
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 23px
        .cottage
            &__zoom
                position: relative
                inset: auto
                color: rgba(74, 74, 74, 0.8)
                padding: 0 0 23px
                border-bottom: 1px solid #000
                margin: 0 0 60px
        &_type
            font-family: "Europe", sans-serif
            font-weight: 400
            font-size: 15px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #a4a4a4
        h1
            margin: 5px 0 0
            font-family: "Europe", sans-serif
            font-weight: 400
            font-size: 32px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #000
        &_text
            margin: 30px 0 0
            font-family: "Europe", sans-serif
            font-weight: 400
            font-size: 16px
            line-height: 1.29961
            color: #494949
        &_plan
            display: grid
            gap: 40px
            margin: 47px 0 0
            div
                display: grid
                grid-template-columns: 100px 1fr
                row-gap: 40px
            p
                font-family: "Europe", sans-serif
                font-weight: 400
                font-size: 15px
                line-height: 1.29961
                letter-spacing: 0.07em
                color: #000
                &+p
                    font-family: Europe", sans-serif"
                    font-size: 15px
                    line-height: 1.29961
                    letter-spacing: 0.07em
                    color: #000
    &__num
        left: calc( 50% + 140px )
        font-family: $font-family
        font-weight: 400
        font-size: 20px
        line-height: 1.29961
        letter-spacing: 0.07em
        color: #fff
        position: absolute
        bottom: 50px
    &__zoom
        left: 127px
        bottom: 50px
        display: flex
        justify-content: start
        align-items: center
        transition: all .3s
        position: absolute
        cursor: pointer
        font-family: $font-family
        font-weight: 400
        font-size: 15px
        line-height: 1.29961
        letter-spacing: 0.07em
        color: rgba(255, 255, 255, 0.8)
        gap: 5px
        path
            transition: all .3s
    &__title
        position: absolute
        bottom: 94px
        left: 127px
        max-width: 560px
        .type
            font-family: $font-family
            font-weight: 400
            font-size: 15px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #fff
        .name
            margin: 5px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 32px
            line-height: 1.29961
            letter-spacing: 0.07em
            color: #fff
        .text
            margin: 15px 0 0
            font-family: $font-family
            font-weight: 400
            font-size: 16px
            line-height: 1.29961
            color: #fff
    .swiper-pagination
        display: flex
        justify-content: end
        align-items: center
        gap: 6px
        inset: auto
        left: calc( 50% + 140px )
        right: 100px
        width: auto
        transform: none
        margin: 0
        opacity: !important
        bottom: calc( 50% + 25px )
        transition: all .3s
        span
            border-radius: 14px
            width: 52px
            height: 7px
            background: rgba(255, 255, 255, 0.52)
            transition: all .3s
            margin: 0 !important
            &.swiper-pagination-bullet-active
                background: #fff
    &__back
        position: absolute
        top: 46px
        left: 80px
        display: flex
        justify-content: center
        align-items: center
        padding: 8px 16px
        border: 0.50px solid #747474
        border-radius: 10px
        font-family: $second-family
        font-weight: 400
        font-size: 15px
        line-height: 1.29961
        letter-spacing: 0.07em
        color: #747474
        transition: all .3s
        gap: 13px
        cursor: pointer
        p
            transition: all .3s
        path
            transition: all .3s
        &:hover
            border-color: #a4a4a4
            p
                color: #a4a4a4
            path
                stroke: #a4a4a4
    &.zoom
        .swiper-pagination
            bottom: 25px
        .cottage
            &__info
                transform: translateY(101%)
                .cottage__zoom
                    display: flex
            &__zoom
                display: flex
        .header
            &__slider
                img
                    width: 100%
                    height: 100%
                    max-height: 100%

.body-block
    display: block
    position: relative
    padding: 0

@keyframes nav-new-anim
    0%
        width: 64px
        height: 76px
        border-radius: 32px
        transform: translate(-50%,-200%)
    30%
        width: 64px
        height: 76px
        border-radius: 32px
        transform: translate(-50%, 0)
    100%
        width: 1587px
        height: 76px
        border-radius: 32px

@keyframes elem-show
    0%
        transform: scale(0)
        opacity: 0
    100%
        opacity: 1
        transform: scale(1)

@keyframes nav-anim
    0%
        width: 64px
        height: 64px
        border-radius: 32px
        transform: translate(0%,-200%)
    30%
        width: 64px
        height: 64px
        border-radius: 32px
        transform: translate(0%, 0)
    100%
        width: 100%
        height: calc(100vh - 26px)
        border-radius: 32px
        
.nav-anim
    animation: 2s ease-in-out 0s nav-anim
    // width: 64px
    // height: 64px
    // border-radius: 32px
    // transform: translate(0%,0%) 
    // padding: 0
    overflow: hidden

.elem-show
    transform: scale(0)
    opacity: 0
    animation: 1s ease-in-out 1.5s elem-show
    animation-fill-mode: forwards

.nav-new
    position: absolute
    top: 13px
    left: 50%
    transform: translateX(-50%)
    width: 1587px
    max-width: calc( 100% - 26px )
    z-index: 5
    height: auto
    border-radius: 32px
    padding: 18px 23px
    display: flex
    justify-content: start
    align-items: center
    gap: 0
    flex-direction: row
    overflow: visible
    animation: 2s ease-in-out 0s nav-new-anim 
    .nav
        &__list
            margin: 0 auto 0 50px
            display: flex
            justify-content: start
            align-items: center
            gap: 20px
            li
                position: relative
            a,
            p
                font-size: 15px
                color: #fff
                white-space: nowrap
            .drop__btn
                padding: 0 0 0 14px
                &::before
                    left: 0
                    top: 4px
            .drop
                width: fit-content
                max-height: none
                margin: 0
                position: absolute
                left: 0
                top: calc( 100% + 5px )
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25)
                background: rgba(47, 47, 47, .76)
                padding: 18px
                border-radius: 32px
                opacity: 0
                &.active
                    opacity: 1
                a
                    white-space: nowrap
        &__logo
            width: 200px
            margin: 0
        &__soc
            margin: 0
            display: grid
            grid-template-columns: 30px 30px
    .btn__gold
        width: max-content
        margin: 0 0 0 25px
        padding: 6px 30px
        background: linear-gradient(90deg, #dfdfdf 0%, #8f8f8f 100%)

.header-new
    border-radius: 0
    &__wrapper
        position: relative
        width: 1587px
        max-width: calc( 100% - 26px )
        margin: 0 auto
    .header__info
        left: 50px
    .header__slider img
        height: 100vh
    .swiper-pagination
        bottom: 50px
        span
            width: 61px
            height: 5px
    .swiper-button-next
        right: 50px
        border-radius: 11px
        font-size: 15px
        bottom: 50px
    .swiper-button-prev
        left: 50px
        border-radius: 11px
        font-size: 15px
        bottom: 50px

.team-crop
    &__wrapper
        display: grid
        grid-template-columns: 656fr 313fr 313fr
        gap: 32px
    &__item
        display: flex
        flex-direction: column
        justify-content: end
        &_main
            max-width: 577px
        img
            width: 100%
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
            border-radius: 9px
        p
            margin: 15px 0 0 
            font-family: $four-family
            font-weight: 400
            font-size: 20px
            line-height: 1.3
            letter-spacing: 0.07em
            color: #000
            max-width: 300px
            &+p
                margin: 9px 0 0
                font-family: $four-family
                font-weight: 400
                font-size: 15px
                line-height: 1.29961
                letter-spacing: 0.07em
                color: #818181
                min-height: 38px

.modal
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow-y: auto
    z-index: 50
    transition: all .3s
    opacity: 0
    pointer-events: none
    display: flex
    justify-content: start
    align-items: start
    padding: 20px
    &.active
        opacity: 1
        pointer-events: all
    &__overflow
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: -1
        background: rgba(0, 0, 0, 0.5)
    &__block
        margin: auto
        max-width: 600px
        padding: 35px 30px 
        background: #fff
        border-radius: 20px
    &__title
        text-align: center
        font-family: $four-family
        font-weight: 400
        font-size: 32px
        line-height: 1.3
        letter-spacing: 0.07em
        color: #000
        max-width: 530px
        margin: 0 auto
    &__form
        margin: 53px 0 0
        display: grid
        grid-template-columns: 1fr
        gap: 17px
        input
            background: #fff
            border: 1px solid #000
            border-radius: 5px
            width: 100%
            max-width: 100%
            box-sizing: border-box
            padding: 20px 25px
            font-family: $four-family
            font-weight: 400
            font-size: 16px
            line-height: 1.3
            letter-spacing: 0.07em
            color: #000
    &__btn
        margin: 47px 0 0
        padding: 20px 25px
        font-family: $four-family
        font-weight: 400
        font-size: 16px
        line-height: 1.3
        letter-spacing: 0.07em
        color: #fff
        width: 100%
        border: none
        border-radius: 5px
        background: #363636
    &__text
        margin: 50px 0 0
        text-align: center
        font-family: $four-family
        font-weight: 400
        font-size: 20px
        line-height: 1.3
        letter-spacing: 0.07em
        color: #000
        a
            text-decoration: underline
            color: #000
            text-underline-position: under




@media ( max-width: 1600px )
    .founder
        &__block
            gap: 30px
            grid-template-columns: 1fr 450px
    .cottage
        &__info
            padding: 100px 40px 70px
        &__back
            left: 40px
            top: 20px
    .modal
        &__block
            padding: 40px 30px 30px
            max-width: 450px
        &__title
            font-size: 24px
        &__form
            margin: 30px 0 0
            input
                padding: 20px 25px
        &__btn
            padding: 20px 25px
            margin: 30px 0 0
        &__text
            font-size: 18px
            margin: 30px 0 0

@media ( max-width: 1200px )
    .page-error
        padding: 20px
        h1
            font-size: 100px
    .design
        h1
            font-size: 50px
        &__wrapper
            gap: 20px
        &__name
            font-size: 20px
            bottom: 40px
        &__type
            font-size: 14px
            bottom: 20px
    .news-new,
    .design-new
        h1
            font-size: 50px
    .team-new
        &__wrapper
            grid-template-columns: 1fr 1fr
    .faq,
    .group
        h2
            font-size: 50px
    .group
        &__wrapper
            grid-template-columns: 1fr
        &__item
            grid-column: auto
            min-height: 347px
    .faq
        grid-template-columns: 1fr
        &__form
            max-width: 100%
    .founder
        &__block
            grid-template-columns: 1fr
        &__prev
            order: 2
        h1
            font-size: 40px
    .cottage
        border-radius: 0
        position: relative
        &__info
            width: 100%
            max-width: 100%
            border-radius: 32px
            position: relative
            height: auto
            min-height: auto
            padding: 90px 20px 50px
        .header__slider
            position: relative
            inset: auto
            margin:  0 0 20px
            border-radius: 32px
            height: auto
            min-height: auto
            img
                width: 100%
                max-width: 100%
                height: calc( 100vh - 26px )
        &__num
            left: 20px
            bottom: auto
            top: calc( 100vh - 76px )
        &__back
            left: 20px
        &__zoom
            display: none
        .swiper-pagination
            inset: auto
            left: 20px
            bottom: auto
            top: calc( 100vh - 46px )
    .nav-new
        .nav
            &__logo
                width: 150px
            &__list
                a,
                p
                    font-size: 12px
                .drop__btn
                    &::before
                        top: 0

@media ( max-width: 1024px )
    .design
        &__wrapper
            margin: 30px 0 0
            grid-template-columns: 1fr 
        &__item
            &::before
                opacity: 1
            p
                opacity: 1
    .design-new
        &__slide
            width: 350px
    .nav
        background: rgba(47,47,47,.9)
    .nav,
    .elem-show
        animation: none !important
        opacity: 1
    .elem-show
        transform: none
            
@media ( max-width: 600px )
    .page-error
        &__subtitle
            font-size: 16px
    .design
        h1
            font-size: 26px
        &__subtitle
            margin: 30px 0 0
            font-size: 16px
    .news-new
        h1
            font-size: 35px
        &__block
            margin: 30px 0 0
            padding: 30px
            min-height: auto
            &::before
                inset: 10px
        &__span
            width: 10px
            height: 10px
            &:nth-child(1)
                top: 15px
                left: 15px
            &:nth-child(2)
                top: 15px
                right: 15px
            &:nth-child(3)
                bottom: 15px
                left: 15px
            &:nth-child(4)
                bottom: 15px
                right: 15px
    .design-new
        &__slide
            width: calc( 100vw - 66px )
        &__video
            &::before
                inset: 10px
    .team-new
        &__wrapper
            grid-template-columns: 1fr
            margin: 30px 0 0
        &__pic
            height: auto
    .faq,
    .group
        padding: 40px 0
        h2
            font-size: 35px
    .group
        &__item
            padding: 30px 20px
        &__wrapper
            margin: 30px 0 0
    .faq
        gap: 30px
        &__info
            p
                font-size: 20px
        &__form
            input
                padding: 15px 20px
    .founder
        h1
            font-size: 30px
        &__text
            margin: 40px 0 0
    .cottage
        h1
            font-size: 28px
        &__info
            &_plan
                div
                    grid-template-columns: 1fr
                    gap: 5px
    .team-crop
        &__wrapper
            grid-template-columns: 1fr