body
    position: relative  
    background: #01343f
    z-index: 3
    font-family: 'Franklin Gothic Medium'
    font-weight: 400
    color: #f1cb90
    // &::before
    //     content: ''
    //     position: absolute
    //     z-index: -1
    //     top: 0
    //     left: 0
    //     width: 100vw
    //     display: block
    //     height: 100vw
    //     background: url('../img/bg_dark.png') bottom no-repeat
    //     background-size: cover
    // &::after
    //     content: ''
    //     position: absolute
    //     z-index: -2
    //     top: 0
    //     left: 0
    //     width: 100vw
    //     display: block
    //     height: 50vw
    //     background: url('../img/bg_blue.png') bottom no-repeat
    //     background-size: cover
    &::before
        content: ''
        position: absolute
        z-index: -2
        top: 0
        left: 0
        width: 100vw
        display: block
        height: 1000px
        max-height: 100%
        background: url('../img/main_bg.png') top no-repeat
        background-size: cover

*
    font-family: 'Franklin Gothic Medium'
    font-weight: 400
    color: #f1cb90

.container
    position: relative
    margin: 0 auto
    padding: 0 20px
    max-width: 1700px

.nav
    padding: 70px 0 0
    position: relative
    overflow: hidden
    &__logo
        max-width: 442px
        margin: 0 -25px 0 auto
        img
            width: 100%
    .container
        display: flex
        justify-content: space-between
        align-items: center
        gap: 20px

.catalog
    padding: 9px 0 0
    &__info
        margin: 0 0 0 auto
        position: relative
        img
            position: absolute
            top: 0
            right: 0
            width: 100%
            object-fit: contain
            z-index: 2
            height: 100%
            object-position: top right
            pointer-events: none
            opacity: 0
    h1
        font-size: 80px
        color: #f1cb90
        text-align: right
        line-height: 93%
        letter-spacing: .11rem
        margin: 29px 0 0
    &__subtitle
        color: #f1cb90
        text-align: right
        line-height: 93%
        font-size: 58px
        letter-spacing: .02rem
    &__title
        font-size: 36px
        color: #f1cb90
        text-align: right
        letter-spacing: 0.05rem
    &__wrapper
        margin: 107px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 50px
    &__item
        padding: 20px
        background: #aaa9a0
        display: flex
        flex-direction: column
        img
            width: 100%
            object-fit: cover
            display: block
            transition: all .3s
        p
            color: #285066
            font-size: 24px
            text-align: center
            padding: 0 0 20px
        span
            margin: auto 0 0
            display: block
            position: relative
            overflow: hidden
        &:hover
            img
                transform: scale(1.15)

.footer
    padding: 200px 0 50px
    &__list
        display: flex
        justify-content: end
        align-items: center
        gap: 50px
        a
            font-size: 26px
            color: #f1cb90
            transition: all .3s
            &:hover
                opacity: .7
    &__copy
        margin: 50px 0 0
        text-align: right
        font-size: 26px
        color: #f1cb90

.card
    padding: 150px 0 0
    position: relative
    overflow: hidden
    .swiper-button-next,
    .swiper-button-prev
        width: 44px
        height: 44px
        border-radius: 100%
        background: #01343f
        padding: 10px
        svg
            width: 100%
            height: 100%
        path
            fill: #f1cb90
    .swiper-wrapper
        position: relative
    &__wrapper
        background: #aaa9a0
        padding: 20px
        // max-width: 800px
        margin: 0 auto
        img
            width: 100%
            // max-width: 700px
            display: block
            // margin: 0 auto
            height: auto
            pointer-events: none
        h2
            font-size: 40px 
            color: #193741
            text-align: center
            margin: 20px 0 0
    &__thumb
        margin: 20px 0 0
        .swiper-slide
            padding: 20px
            background: #aaa9a0
        img
            width: 100%
            height: auto
            pointer-events: none
    &__descr
        padding: 10px 
        background: #aaa9a0
        p,
        li
            font-size: 35px 
            color: #193741
        ul,
        ol
            margin: 10px 0 0
            li
                &::before
                    content: '- '
                    display: inline
            p
                display: inline
        &_size
            margin: 10px 0 0
        &_dop
            margin: 20px 0 0
    &__price
        margin: 50px 0 0
        background: #aaa9a0
        padding: 20px
        font-size: 45px
        color: #193f66
        text-align: right
        p
            font-size: 45px
            color: #193f66
            text-align: right
        li
            color: #193f66
    &__video
        margin: 50px 0 0
        background: #aaa9a0
        padding: 20px
        video
            width: 100%
            height: auto
            max-height: 100vh
            object-fit: contain
    &__container
        display: grid
        grid-template-columns: 800px 1fr
        gap: 60px
        align-items: start
    &__story
        margin: 50px 0 0
        padding: 20px
        font-size: 30px
        background: #aaa9a0
        color: #193741
        p
            margin: 30px 0 0
            color: #193741
            em
                color: #193741
                display: block
                text-align: right
            &:nth-child(1)
                margin: 0
        ul,
        ol
            margin: 10px 0 0
            li
                color: #193741
                &::before
                    content: '- '
                    display: inline
            p
                display: inline

.contact
    padding: 100px 0 0
    h2
        text-align: right
        font-size: 50px
    &__descr
        font-size: 24px
        color: #f1cb90
        text-align: right
        margin: 50px 0 0 auto
        max-width: 1000px
    &__soc
        margin: 50px 0 0
        display: flex
        justify-content: end
        align-items: center
        gap: 15px
        flex-wrap: wrap
        a
            display: flex
            justify-content: center
            align-items: center
            width: 45px
            height: 45px
            border-radius: 100%
            background: #f1cb90
            transition: all .3s
            &:hover
                opacity: .7
        svg,
        img
            width: 24px
            height: 24px
        img
            object-fit: contain

.comment
    padding: 100px 0 0
    h2
        text-align: right
        font-size: 45px
    &__wrapper
        margin: 50px 0 0
        display: grid
        grid-template-columns: 1fr 500px
        gap: 50px
    &__form
        input,
        textarea
            position: relative
            width: 100%
            margin: 0
            font-size: 25px
            padding: 10px 15px
            background: #aaa9a0
            color: #193741
            border: none
            box-sizing: border-box
            &::placeholder
                color: rgba(25, 55, 65, 0.5)
        textarea
            margin: 20px 0 0
            resize: none
            height: 120px
    &__list
        display: grid
        grid-template-columns: 1fr
        gap: 25px
        background: #aaa9a0
        padding: 10px
        p
            color: #193741
    &__name
        font-size: 25px
    &__text
        margin: 10px 0 0
        font-size: 20px
    &__submit
        position: relative
        width: 100%
        margin: 0
        font-size: 25px
        padding: 10px 15px
        background: #aaa9a0
        color: #193741
        border: none
        box-sizing: border-box
        margin: 20px 0 0
        transition: all .3s
        &:hover
            background: #8d8c83

.modal
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    padding: 20px
    z-index: 100
    display: flex
    justify-content: center
    align-items: center
    // display: none
    // &.active
    //     display: block
    &__overflow
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        background: #000
        opacity: .7
    &__close
        position: absolute
        top: 50px
        right: 50px
        width: 44px
        height: 44px
        border-radius: 100%
        background: #f1cb90
        padding: 5px
        cursor: pointer
        svg
            width: 100%
            height: 100%
        path
            fill: #01343f
    img
        width: 100%
        height: 100%
        object-fit: contain
        pointer-events: none




@media ( max-width: 1500px )
    .nav
        &__logo
            margin-right: -15px
            max-width: 270px
    .catalog
        h1
            font-size: 60px
            margin: 35px 0 0
            letter-spacing: .23rem
        &__subtitle
            font-size: 42px
            letter-spacing: .18rem
        &__title
            font-size: 26.8px
            letter-spacing: .115rem
        &__wrapper
            gap: 60px
            margin: 90px 0 0
        &__item
            p
                font-size: 25px
    .card
        &__container
            grid-template-columns: 600px 1fr

@media ( max-width: 1024px )
    .catalog
        &__wrapper
            gap: 20px
            grid-template-columns: 1fr 1fr
    .card
        padding: 50px 0 0
        &__wrapper
            h2
                font-size: 35px
        &__thumb
            margin: 20px 0 0
            .swiper-slide
                padding: 5px
        &__descr
            p,
            li
                font-size: 20px
        &__price
            font-size: 24px
            p
                font-size: 24px
            li
                font-size: 24px
        &__container
            grid-template-columns: 400px 1fr
            gap: 40px
        &__story
            font-size: 20px
    .comment
        &__wrapper
            grid-template-columns: 100%
        &__form
            order: -1

    
@media ( max-width: 768px )
    .nav
        padding: 30px 0 0
    .catalog
        // &__info img
        //     opacity: 0
        h1
            font-size: 42px
            letter-spacing: .16rem
            margin: 25px 0 0
            opacity: 1
        &__subtitle
            font-size: 30px
            letter-spacing: .11rem
            opacity: 1
        &__title
            font-size: 18px
            letter-spacing: .104rem
            opacity: 1
        &__wrapper
            margin: 50px 0 0
        &__item
            padding: 10px 
            p
                font-size: 16px
                padding: 0 0 10px
    .footer
        padding: 50px 0
        &__list
            flex-direction: column
            align-items: end
            gap: 30px
            a
                font-size: 23px
                text-align: right
                display: block
        &__copy
            font-size: 23px
            margin: 30px 0 0
    .card
        &__container
            grid-template-columns: 100%
            gap: 30px
    .contact
        padding: 50px 0 0
        h2
            font-size: 35px
        &__descr
            margin: 30px 0 0
            font-size: 20px

@media ( max-width: 600px )
    .nav
        padding: 16px 0 0
        &__logo
            max-width: 133px
            margin-right: -8px
    .catalog
        padding: 3px 0 0
        h1
            font-size: 20px
            letter-spacing: 0.108rem
            margin: 10px 0 0
        &__subtitle
            font-size: 15px
            letter-spacing: .05rem
        &__title
            font-size: 10px
            letter-spacing: .019rem
        &__item
            p
                font-size: 12px
    .footer
        &__list
            gap: 10px
            a
                font-size: 16px
        &__copy
            font-size: 16px
            margin: 10px 0 0
    .card
        .swiper-button-next,
        .swiper-button-prev
            width: 33px
            height: 33px
        &__price
            text-align: left
            ul
                display: grid
                grid-template-columns: 1fr
                gap: 5px
            li
                text-align: left
            p
                text-align: left
        &__wrapper
            h1
                font-size: 28px

