@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-BlackIt.woff2') format('woff2'),
        url('ProximaNova-BlackIt.woff') format('woff'),
        url('ProximaNova-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff'),
        url('ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova-Black.woff') format('woff'),
        url('ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-BookItalic.woff2') format('woff2'),
        url('Salina-Trial-BookItalic.woff') format('woff'),
        url('Salina-Trial-BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('ProximaNova-Light.woff2') format('woff2'),
        url('ProximaNova-Light.woff') format('woff'),
        url('ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-Black.woff2') format('woff2'),
        url('Salina-Trial-Black.woff') format('woff'),
        url('Salina-Trial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-ExtraBold.woff2') format('woff2'),
        url('ProximaNova-ExtraBold.woff') format('woff'),
        url('ProximaNova-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-BoldIt.woff2') format('woff2'),
        url('ProximaNova-BoldIt.woff') format('woff'),
        url('ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-BlackItalic.woff2') format('woff2'),
        url('Salina-Trial-BlackItalic.woff') format('woff'),
        url('Salina-Trial-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-BoldItalic.woff2') format('woff2'),
        url('Salina-Trial-BoldItalic.woff') format('woff'),
        url('Salina-Trial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-Bold.woff2') format('woff2'),
        url('Salina-Trial-Bold.woff') format('woff'),
        url('Salina-Trial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-Book.woff2') format('woff2'),
        url('Salina-Trial-Book.woff') format('woff'),
        url('Salina-Trial-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-ExtraLightItalic.woff2') format('woff2'),
        url('Salina-Trial-ExtraLightItalic.woff') format('woff'),
        url('Salina-Trial-ExtraLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-MediumItalic.woff2') format('woff2'),
        url('Salina-Trial-MediumItalic.woff') format('woff'),
        url('Salina-Trial-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-Regular.woff2') format('woff2'),
        url('Salina-Trial-Regular.woff') format('woff'),
        url('Salina-Trial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-Medium.woff2') format('woff2'),
        url('Salina-Trial-Medium.woff') format('woff'),
        url('Salina-Trial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-LightItalic.woff2') format('woff2'),
        url('Salina-Trial-LightItalic.woff') format('woff'),
        url('Salina-Trial-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-Light.woff2') format('woff2'),
        url('Salina-Trial-Light.woff') format('woff'),
        url('Salina-Trial-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-ExtraLight.woff2') format('woff2'),
        url('Salina-Trial-ExtraLight.woff') format('woff'),
        url('Salina-Trial-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salina-Trial';
    src: url('Salina-Trial-RegularItalic.woff2') format('woff2'),
        url('Salina-Trial-RegularItalic.woff') format('woff'),
        url('Salina-Trial-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

