body {
  font-family: "Montserrat";
  font-style: normal;
}

.container {
  max-width: 1340px;
  padding: 0 24px;
  box-sizing: content-box;
  margin: 0 auto;
}

.btn__wht {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-blc);
  border: 3px solid var(--border);
  border-radius: 8px;
  background: var(--white);
  padding: 15px 42px;
}
.btn__blue {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  border-radius: 8px;
  padding: 18px 39px;
  background: var(--border);
  border: none;
  display: block;
}
.btn__green {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--white);
  padding: 14px 20px;
  background: var(--green);
  border-radius: 8px;
  border: none;
}

.nav {
  padding: 16px 0;
}
.nav__humburger {
  display: none;
}
.nav__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__logo {
  margin: 0 auto 0 0;
  max-width: 240px;
}
.nav__logo img {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list li {
  margin: 0 32px 0 0;
}
.nav__list a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-blc);
}
.nav__list a.active {
  color: var(--border);
}
.nav__language {
  position: relative;
  margin: 0 32px;
}
.nav__language ul {
  position: absolute;
  opacity: 0;
  left: 0;
  top: calc(100% + 21px);
  background: var(--white);
  box-shadow: 0px 4px 19px rgba(135, 135, 135, 0.1);
  border-radius: 4px;
  padding: 16px 14px;
  display: grid;
  grid-template-columns: 100%;
  gap: 16px;
  z-index: -1;
}
.nav__language ul.active {
  opacity: 1;
  z-index: 2;
}
.nav__language_point {
  display: grid;
  grid-template-columns: 1fr 16px;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.nav__language_item {
  cursor: item;
  display: grid;
  grid-template-columns: 20px 33px;
  gap: 8px;
  align-items: center;
}
.nav__language_item img {
  width: 100%;
  border-radius: 100%;
}
.nav__language_item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-blc);
}
.nav__main {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: var(--border);
}
.nav__menu {
  margin: 39px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__menu li {
  margin: 0 90px 0 0;
}
.nav__menu li:last-child {
  margin: 0;
}
.nav__menu a {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-blc);
}

.header {
  background: var(--text-blc);
  padding: 120px 0;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  background: url("../img/header_bg.svg") bottom no-repeat;
  background-size: 100% auto;
  bottom: 0;
  left: 0;
  height: 100%;
}
.header h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white);
}
.header p {
  margin: 23px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: var(--white);
}
.header__wrapper {
  display: grid !important;
  grid-template-columns: 1fr 400px;
  gap: 150px;
  align-items: center;
}
.header__img img {
  width: 100%;
}
.header .slick-dots {
  margin: 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .slick-dots li {
  margin: 0 4px;
  max-width: 25px;
  width: 100%;
  transition: all 0.3s;
}
.header .slick-dots li.slick-active {
  max-width: 50px;
}
.header .slick-dots li.slick-active button {
  background: var(--border);
}
.header .slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background: var(--white);
  border-radius: 50px;
  height: 10px;
  width: 100%;
  transition: all 0.3s;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: var(--text-blc);
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-blc);
  margin: 24px 0 0;
}

.advantages {
  padding: 50px 0;
}
.advantages__subtitle {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-blc);
}
.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
  margin: 50px 0 0;
}
.advantages__item img {
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.advantages__item p {
  margin: 24px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--text-blc);
}

.service {
  padding: 50px 0 93px;
  background: var(--backgroung);
}
.service__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 50px 0 0;
}
.service__item {
  padding: 44px 24px;
  background: var(--white);
  border-radius: 16px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.service__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--border);
  border-radius: 16px;
  z-index: -1;
  transition: all 0.3s;
  box-sizing: border-box;
}
.service__item:hover::before {
  border: 2px solid var(--border);
}
.service__item:hover .service__name {
  color: var(--border);
}
.service__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--text-blc);
  transition: all 0.3s;
}
.service__text {
  margin: 12px 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
}
.service__img {
  margin: 24px 0 0;
  display: block;
  width: 100%;
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left center;
     object-position: left center;
  max-width: 182px;
}
.service__more {
  width: 100%;
  display: flex;
  margin: 29px 0 0;
  justify-content: flex-end;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--border);
  align-items: center;
}
.service__more::after {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  margin: 0 0 0 8px;
  background: url("../icons/link.svg") center no-repeat;
  background-size: contain;
}

.news {
  padding: 50px 0;
}
.news__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 50px 0 0;
}
.news__prev {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 24px;
  height: 100%;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.news__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--white);
}
.news__info {
  height: 100%;
  position: relative;
  padding: 20px 24px 44px;
  display: flex;
  flex-direction: column;
}
.news__info::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--border);
  border-radius: 0 0 16px 16px;
  z-index: -1;
  transition: all 0.3s;
  box-sizing: border-box;
  border-top: none;
}
.news__more {
  width: 100%;
  display: flex;
  margin: 12px 0 0;
  justify-content: flex-end;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--border);
  align-items: center;
}
.news__more::after {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  margin: 0 0 0 8px;
  background: url("../icons/link.svg") center no-repeat;
  background-size: contain;
}
.news__item {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.news__item:hover .news__info::before {
  border: 2px solid var(--border);
  border-top: none;
}
.news__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
}
.news__text {
  margin: 12px 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-blc);
}
.news__link {
  margin: 40px 0 0;
  display: flex;
  justify-content: flex-end;
}
.news__link a {
  display: flex;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--text-blc);
  align-items: center;
  text-transform: uppercase;
}
.news__link a::after {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  margin: 0 0 0 8px;
  background: url("../icons/link_grey.svg") center no-repeat;
  background-size: contain;
}

.partners {
  padding: 50px 0;
}
.partners__wrapper {
  margin: 25px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  max-width: 1160px;
}
.partners__item {
  border-right: 1px solid #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 33px 15px 33px 0;
}
.partners__item:last-child {
  border-right: none;
}
.partners__item img {
  width: 100%;
  max-width: 164px;
  height: 93px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.partners__item:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

.form {
  padding: 80px 0;
  background: var(--text-blc);
}
.form h2,
.form .subtitle {
  color: var(--white);
  max-width: 1040px;
}
.form__wrapper {
  margin: 34px 0 0;
  display: grid;
  grid-template-columns: 290px 1fr;
  gap: 90px;
}
.form__wrapper textarea {
  resize: none;
  padding: 18px 24px;
  border: 1px solid var(--input);
  border-radius: 12px;
  background: var(--text-blc);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.form__col {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
}
.form__col input {
  padding: 18px 28px;
  border: none;
  border-bottom: 1px solid var(--input);
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  background: var(--text-blc);
}
.form__label {
  margin: 32px 0 0;
  display: grid;
  grid-template-columns: 19px 1fr;
  gap: 9px;
  position: relative;
  align-items: center;
}
.form__label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
}
.form__label input:checked + .form__check::after {
  opacity: 1;
}
.form__label p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
}
.form__check {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid var(--border);
  border-radius: 5px;
  transition: all 0.3s;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.form__check::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: url("../icons/check.svg") center no-repeat;
  background-size: auto auto;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
  border-radius: 5px;
}
.form__btn {
  margin: 24px 0 0;
  display: block;
  border: 3px solid var(--border);
  border-radius: 8px;
  padding: 15px 58px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  background: var(--text-blc);
}

.footer {
  background: var(--text-blc);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 130px 0 170px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__col {
  max-width: 305px;
}
.footer__col ul {
  margin: 23px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.footer__col ul a {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--white);
}
.footer__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--white);
  padding: 0 0 12px;
  position: relative;
}
.footer__name::before {
  content: "";
  display: block;
  width: 100%;
  max-width: 50px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--white);
}
.footer__text {
  margin: 26px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-grey);
}
.footer__contact {
  margin: 23px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 18px;
}
.footer__contact a {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 12px;
  align-items: center;
}
.footer__contact img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__contact p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
}

@media (max-width: 1200px) {
  .btn__wht {
    font-size: 12px;
    padding: 10px 30px;
    border: 2px solid var(--border);
    line-height: 20px;
  }
  .nav {
    padding: 20px 0;
  }
  .nav__logo {
    max-width: 127px;
  }
  .nav__list a {
    font-size: 12px;
  }
  .nav__menu {
    margin: 20px 0 0;
  }
  .nav__menu a {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .nav__logo {
    order: -2;
  }
  .nav__row {
    display: grid;
    grid-template-columns: 1fr 18px;
    gap: 20px;
    align-items: center;
    justify-items: start;
    gap: 20px;
  }
  .nav__menu, .nav__list,
  .nav .btn__wht, .nav__language, .nav__main {
    display: none;
  }
  .nav__humburger {
    order: -1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 18px;
    height: 16px;
    position: relative;
    cursor: pointer;
  }
  .nav__humburger span, .nav__humburger::after, .nav__humburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: var(--text-blc);
  }
  .nav__active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: var(--white);
  }
  .nav__active .btn__wht {
    display: block;
  }
  .nav__active .nav__humburger span {
    display: none;
  }
  .nav__active .nav__humburger::before, .nav__active .nav__humburger::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .nav__active .nav__humburger::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .nav__active .nav__menu, .nav__active .nav__list, .nav__active .nav__language, .nav__active .nav__main {
    margin: 0;
    display: block;
    grid-column: 1/3;
  }
  .nav__active .nav__menu {
    margin: 20px 0 0;
  }
  .nav__active .nav__list {
    order: 2;
  }
  .header {
    padding: 50px 0;
  }
  .header__wrapper {
    grid-template-columns: 163fr 147fr;
    gap: 20px;
  }
  .advantages__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .service__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .news__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 16px;
    line-height: 20px;
  }
  .header p {
    margin: 12px 0 0;
    font-size: 12px;
    line-height: 16px;
  }
  h2 {
    font-size: 14px;
    line-height: 17px;
  }
  .subtitle {
    margin: 12px 0 0;
    font-size: 12px;
    line-height: 16px;
  }
  .advantages {
    padding: 24px 0;
  }
  .advantages__wrapper {
    margin: 16px 0 0;
  }
  .advantages__item img {
    max-width: 30px;
    height: 30px;
  }
  .advantages__item p {
    margin: 24px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  .service {
    padding: 24px 0;
  }
  .service__wrapper {
    margin: 16px 0 0;
    gap: 19px;
  }
  .service__item {
    padding: 16px;
  }
  .service__name {
    font-size: 14px;
    line-height: 17px;
  }
  .service__text {
    margin: 8px 0 auto;
    font-size: 12px;
    line-height: 16px;
  }
  .service__img {
    height: 48px;
    max-width: 74px;
    margin: 10px 0 0;
  }
  .service__more {
    font-size: 10px;
    line-height: 27px;
    margin: 13px 0 0;
  }
  .service__more::after {
    margin: 0 0 0 2px;
    width: 4px;
    height: 7px;
  }
  .news__wrapper {
    gap: 19px;
    margin: 16px 0 0;
  }
  .news__prev {
    padding: 16px;
  }
  .news__name {
    font-size: 14px;
    line-height: 17px;
  }
  .news__info {
    padding: 11px 16px 16px;
  }
  .news__date {
    font-size: 10px;
    line-height: 12px;
  }
  .news__text {
    font-size: 10px;
    line-height: 12px;
    margin: 4px 0 auto;
  }
  .news__more {
    font-size: 10px;
    line-height: 27px;
    margin: 20px 0 0;
  }
  .news__more::after {
    margin: 0 0 0 2px;
    width: 4px;
    height: 7px;
  }
  .news__link {
    margin: 12px 0 0;
  }
  .news__link a {
    font-size: 12px;
    line-height: 16px;
  }
  .news__link a::after {
    width: 7px;
    height: 12px;
  }
  .partners__item img {
    height: 11vw;
  }
  .form {
    padding: 30px 0 24px;
  }
  .form__wrapper {
    margin: 37px 0 0;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .form__wrapper input {
    font-size: 12px;
    line-height: 24px;
    padding: 18px 12px;
  }
  .form__wrapper textarea {
    font-size: 12px;
    line-height: 24px;
    border: 1px solid var(--input);
    padding: 18px 12px;
  }
  .form__label {
    align-items: start;
  }
  .form__btn {
    font-size: 12px;
    line-height: 24px;
    border: 2px solid var(--border);
    padding: 9px 42px;
  }
  .footer {
    padding: 24px 0;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;
  }
  .footer__name {
    font-size: 14px;
    line-height: 23px;
    padding: 0 0 12px;
  }
  .footer__name::before {
    height: 2px;
    max-width: 50px;
  }
  .footer__text {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 16px;
  }
  .footer__col ul {
    margin: 16px 0 0;
    gap: 12px;
  }
  .footer__col ul a {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__contact {
    margin: 16px 0 0;
    gap: 17px;
  }
  .footer__contact img {
    width: 18px;
    height: 18px;
  }
  .footer__contact p {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__contact a {
    gap: 10px;
    grid-template-columns: 18px 1fr;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 15px;
  }
  .service__text {
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
@media (max-width: 374px) {
  .service__wrapper {
    grid-template-columns: 100%;
    gap: 10px;
  }
  .news__wrapper {
    grid-template-columns: 100%;
    gap: 10px;
  }
  .news__name {
    font-weight: 500;
  }
  .partners__item {
    padding: 0;
    border-right: none;
  }
  .form__wrapper {
    grid-template-columns: 100%;
    gap: 24px;
  }
}
.breadcrumbs {
  padding: 50px 0 0;
}
.breadcrumbs .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumbs a {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--breadcrumbs);
}
.breadcrumbs img {
  display: block;
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 9px;
}

.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: var(--text-blc);
  z-index: 50;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
  padding: 40px 0;
}
.cookie .container {
  position: relative;
}
.cookie.active {
  opacity: 1;
  pointer-events: auto;
}
.cookie__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
  max-width: calc(100% - 50px);
}
.cookie__text {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}
.cookie__close {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 23px;
  cursor: pointer;
}
.cookie__close img {
  width: 100%;
}
.cookie__link {
  margin: 32px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.cookie__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 17px 38px;
  background: transparent;
  margin: 0 37px 0 0;
  display: block;
}

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  padding: 15px;
  z-index: 100;
  display: none;
}
.modal-form__active {
  display: flex;
}
.modal-form__overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(71, 71, 71, 0.7);
  z-index: -1;
}
.modal-form__container {
  background: var(--white);
  margin: auto;
  padding: 40px 30px 46px;
  max-width: 580px;
  position: relative;
}
.modal-form__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-blc);
}
.modal-form__wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  margin: 17px 0 0;
  position: relative;
}
.modal-form__label p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
}
.modal-form__label p span {
  color: #FAB8B8;
}
.modal-form__label input {
  box-sizing: border-box;
  margin: 8px 0 0;
  border: 1px solid var(--grey);
  background: var(--white);
  padding: 13px 10px;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  color: var(--text-blc);
}
.modal-form__label textarea {
  resize: none;
  box-sizing: border-box;
  margin: 8px 0 0;
  border: 1px solid var(--grey);
  background: var(--white);
  padding: 13px 10px;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  color: var(--text-blc);
  height: 177px;
}
.modal-form__box {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: 23px 1fr;
  gap: 13px;
  position: relative;
  align-items: start;
  z-index: 1;
}
.modal-form__box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
}
.modal-form__box input:checked + .modal-form__check::after {
  opacity: 1;
}
.modal-form__box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
}
.modal-form__check {
  display: block;
  width: 23px;
  height: 23px;
  border: 1px solid var(--border);
  border-radius: 3px;
  transition: all 0.3s;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.modal-form__check::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: url("../icons/check.svg") center no-repeat;
  background-size: auto auto;
  opacity: 0;
  transition: all 0.3s;
  z-index: 2;
  border-radius: 3px;
}
.modal-form .btn__blue {
  margin: 20px 0 0;
}
.modal-form__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  cursor: pointer;
}
.modal-form__close img {
  width: 100%;
}

.modal-suc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  padding: 15px;
  z-index: 100;
  display: none;
}
.modal-suc__active {
  display: flex;
}
.modal-suc__overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(71, 71, 71, 0.7);
  z-index: -1;
}
.modal-suc__container {
  background: var(--white);
  margin: auto;
  padding: 50px 45px;
  max-width: 580px;
  position: relative;
}
.modal-suc__container img {
  width: 88px;
  display: block;
  margin: 0 auto;
}
.modal-suc__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--text-blc);
  margin: 32px 0 0;
}
.modal-suc__text {
  margin: 16px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--breadcrumbs);
}
.modal-suc .btn__blue {
  margin: 36px auto 0;
}

@media (max-width: 768px) {
  .cookie {
    padding: 40px 0 24px;
  }
  .cookie__close {
    top: auto;
    bottom: 100%;
  }
  .cookie__name {
    font-size: 16px;
    line-height: 20px;
  }
  .cookie__text {
    font-size: 12px;
    line-height: 16px;
    margin: 11px 0 0;
  }
  .cookie__link {
    justify-content: center;
    margin: 24px 0 0;
  }
  .cookie__btn {
    margin: 0 16px 0 0;
    padding: 8px 24px;
    font-size: 12px;
    line-height: 24px;
  }
  .btn__blue {
    padding: 8px 24px;
    font-size: 12px;
    line-height: 24px;
  }
  .modal-form {
    padding: 0;
  }
  .modal-form__container {
    padding: 55px 24px 30px;
  }
  .modal-form .btn__blue {
    margin: 16px 0 0 auto;
  }
  .modal-form__close {
    top: 20px;
    right: 24px;
  }
  .modal-form__name {
    font-size: 16px;
    line-height: 20px;
  }
  .modal-form__label p {
    font-size: 12px;
    line-height: 15px;
  }
  .modal-suc {
    padding: 0;
  }
  .modal-suc__container {
    padding: 20px 16px 20px;
  }
  .modal-suc__container img {
    width: 60px;
  }
  .modal-suc__name {
    margin: 24px 0 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
  }
  .modal-suc__text {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin: 16px 0 0;
  }
  .modal-suc .btn__blue {
    margin: 24px auto 0;
  }
}
.page-container {
  padding: 24px 24px 48px;
  display: grid;
  grid-template-columns: 227px calc(100% - 467px) 144px;
  gap: 48px;
  align-items: start;
}
.page-container h2 {
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
}
.page-container h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  color: var(--text-blc);
}

.sidebar__list {
  border: 1px solid #CEDDE9;
}
.sidebar__list a {
  padding: 23px 30px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: var(--text-blc);
  transition: all 0.3s;
}
.sidebar__list a.active, .sidebar__list a:hover {
  color: var(--border);
}

.about-company h3 {
  margin: 24px 0 0;
}
.about-company__text {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: var(--text-blc);
}
.about-company__list {
  margin: 16px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 8px;
}
.about-company__list li {
  position: relative;
  padding: 0 0 0 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--text-blc);
}
.about-company__list li::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: var(--text-blc);
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.about-company__block {
  margin: 24px 0 0;
  padding: 50px 42px 48px;
  background: var(--about);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 34px;
}
.about-company__block_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-blc);
}
.about-company__block_name.bold {
  font-weight: 600;
}
.about-company__block_text {
  margin: 13px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-blc);
}
.about-company__block img {
  display: block;
  width: 88px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 9px;
}

.sert {
  padding: 24px 0 0;
}
.sert__wrapper {
  margin: 12px 0 0;
}
.sert__item img {
  width: 100%;
}
.sert .slick-dots {
  margin: 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sert .slick-dots li {
  margin: 0 4px;
  max-width: 25px;
  width: 100%;
  transition: all 0.3s;
}
.sert .slick-dots li.slick-active button {
  background: var(--border);
}
.sert .slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background: #EDF2FF;
  border-radius: 50px;
  height: 10px;
  width: 100%;
  transition: all 0.3s;
}

.page-nav ul {
  display: grid;
  grid-template-columns: 100%;
  gap: 24px;
}
.page-nav a {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text-blc);
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 1fr 14px;
  gap: 8px;
  align-items: center;
}
.page-nav a::after {
  content: "";
  display: block;
  width: 100%;
  background: rgba(71, 71, 71, 0.8);
  border-radius: 50px;
  height: 1000px;
  max-height: 21px;
  transition: all 0.3s;
}
.page-nav a:hover, .page-nav a.active {
  color: var(--border);
}
.page-nav a:hover::after, .page-nav a.active::after {
  background: var(--border);
}
.page-nav a.active::after {
  max-height: 42px;
}

@media (max-width: 1024px) {
  .page-container {
    grid-template-columns: calc(100% - 192px) 144px;
  }
  .sidebar {
    grid-column: 1/3;
  }
}
@media (max-width: 768px) {
  .breadcrumbs {
    padding: 24px 0 0;
  }
  .breadcrumbs a {
    font-size: 10px;
    line-height: 20px;
  }
  .breadcrumbs img {
    margin: 0 4px;
  }
  .sidebar__list a {
    padding: 12px 24px;
    font-size: 12px;
    line-height: 23px;
  }
  .page-container h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .page-container h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .about-company__text {
    font-size: 12px;
    line-height: 16px;
  }
  .about-company__list li {
    font-size: 12px;
    line-height: 16px;
  }
  .about-company__block {
    padding: 16px;
    grid-template-columns: 100%;
    gap: 16px;
  }
  .about-company__block_name {
    font-size: 14px;
    line-height: 17px;
  }
  .about-company__block_text {
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0 0;
  }
  .about-company__block img {
    max-width: 70px;
    margin: 0 0 16px;
  }
  .sert .slick-dots button {
    max-width: 20px;
    height: 5px;
  }
}
@media (max-width: 600px) {
  .page-container {
    grid-template-columns: 100%;
  }
  .sidebar {
    grid-column: auto;
  }
  .page-nav {
    display: none;
  }
}
@media (max-width: 425px) {
  .page-container {
    padding: 24px 15px 48px;
  }
}
.contact__block {
  padding: 50px;
  background: var(--about);
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 26px;
}
.contact__block_text {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-blc);
}
.contact__block_link {
  display: block;
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--border);
}
.contact__block_link + h3 {
  margin: 24px 0 0;
}
.contact__block_item {
  position: relative;
}
.contact__block img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.contact__map {
  margin: 24px 0 0;
}

@media (max-width: 1150px) {
  .page-container__full {
    grid-template-columns: 227px calc(100% - 275px);
  }
}
@media (max-width: 1024px) {
  .page-container__full {
    grid-template-columns: 100%;
  }
  .page-container__full .sidebar {
    grid-column: auto;
  }
}
@media (max-width: 768px) {
  .contact__block {
    padding: 16px;
  }
  .contact__block_text {
    margin: 18px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  .contact__block_link {
    margin: 12px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
  .contact__block_link + h3 {
    margin: 16px 0 0;
  }
  .contact__block img {
    max-width: 190px;
  }
  .contact__map {
    height: 250px;
  }
  .contact__map iframe {
    height: 100%;
  }
}
@media (max-width: 500px) {
  .contact__block {
    grid-template-columns: 100%;
    gap: 16px;
  }
  .contact__block img {
    display: none;
  }
}
.news-page .news__wrapper {
  margin: 24px 0 0;
  grid-template-columns: 1fr 1fr 1fr;
}
.news-page__filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 42px 0 0;
}
.news-page__filter a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-blc);
  text-align: center;
  transition: all 0.3s;
}
.news-page__filter a.active, .news-page__filter a:hover {
  color: var(--border);
}
.news-page__prev {
  margin: 30px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.news-page__prev_img {
  height: 100%;
  width: 100%;
  border-radius: 16px 0px 0px 16px;
  overflow: hidden;
  position: relative;
}
.news-page__prev_img img {
  height: 1px;
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.news-page__prev_info {
  border: 1px solid #6C96F9;
  border-radius: 0 16px 16px 0;
  padding: 35px 35px 35px 24px;
  border-left: none;
}
.news-page__prev_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-blc);
}
.news-page__prev_name {
  margin: 12px 0 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--border);
}
.news-page__prev_text {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey);
}

@media (max-width: 768px) {
  .news-page__filter {
    gap: 0;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .news-page__filter a {
    font-size: 10px;
    line-height: 26px;
  }
  .news-page__prev_info {
    padding: 16px 8px;
  }
  .news-page__prev_date {
    font-size: 10px;
    line-height: 12px;
  }
  .news-page__prev_name {
    margin: 4px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
  .news-page__prev_text {
    margin: 8px 0 0;
    font-size: 10px;
    line-height: 12px;
  }
  .news-page__prev .news__more {
    margin: 10px 0 0;
  }
  .news-page .news__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 370px) {
  .news-page .news__wrapper {
    grid-template-columns: 100%;
  }
  .news-page__prev {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  .news-page__prev_img {
    border-radius: 16px 16px 0px 0px;
  }
  .news-page__prev_info {
    border-radius: 0px 0px 16px 16px;
    border: 1px solid #6C96F9;
    border-top: none;
  }
}
.news-article__img {
  display: block;
  width: 100%;
  border-radius: 16px;
}
.news-article__date {
  margin: 30px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--text-blc);
}
.news-article h2 {
  margin: 12px 0 0;
}
.news-article__text {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--text-blc);
}

.sidebar__list_drop {
  padding: 23px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: var(--text-blc);
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.sidebar__list_drop::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../icons/arrow-blue.svg") center no-repeat;
  background-size: contain;
  transition: all 0.3s;
}
.sidebar__list_drop + ul {
  display: none;
}
.sidebar__list_drop.active::after {
  transform: rotate(180deg);
}
.sidebar__list_drop.active + ul {
  display: block;
}
.sidebar__form {
  margin: 48px 0 0;
  padding: 30px;
  border: 1px solid #CEDDE9;
}
.sidebar__form_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-blc);
}
.sidebar__form_text {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: var(--breadcrumbs);
}
.sidebar__form_wrapper {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}
.sidebar__form_wrapper input {
  box-sizing: border-box;
  display: block;
  padding: 12px 5px 14px 30px;
  border: 1px solid #CEDDE9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.6px;
  color: var(--text-blc);
  width: 100%;
}
.sidebar__form_wrapper input::-moz-placeholder {
  color: rgba(190, 190, 190, 0.8);
}
.sidebar__form_wrapper input::placeholder {
  color: rgba(190, 190, 190, 0.8);
}
.sidebar__form .btn__blue {
  margin: 24px 0 0;
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__form .btn__blue span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 0 0 0 11px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.06);
}
.sidebar__form .btn__blue span::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url("../icons/btn.svg") center no-repeat;
  background-size: contain;
}

.about-company__cloud {
  margin: 30px 0 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 30px;
  align-items: center;
  padding: 24px 30px;
  background: var(--about);
}
.about-company__cloud_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-blc);
}
.about-company__cloud_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: var(--text-blc);
}

@media (max-width: 1200px) {
  .about-company__block {
    grid-template-columns: 100%;
  }
}
@media (max-width: 768px) {
  .about-company__cloud {
    grid-template-columns: 100%;
    justify-items: start;
    gap: 11px;
  }
  .about-company__cloud_name, .about-company__cloud_text {
    font-size: 12px;
    line-height: 16px;
  }
  .about-company__cloud .btn__green {
    margin: 0 0 0 auto;
  }
  .sidebar__list_drop {
    padding: 12px 24px;
    font-size: 12px;
    line-height: 23px;
  }
  .sidebar__form {
    margin: 24px 0 0;
    padding: 30px 20px;
  }
  .sidebar__form_name {
    font-size: 14px;
    line-height: 17px;
  }
  .sidebar__form_text {
    margin: 12px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  .sidebar__form_wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .sidebar__form_wrapper input {
    padding: 12px 14px 14px;
    font-size: 12px;
    line-height: 21px;
  }
  .sidebar__form .btn__blue {
    width: auto;
    padding: 12px 30px;
    margin: 18px 0 0 auto;
  }
  .sidebar__form .btn__blue span {
    width: 24px;
    height: 24px;
  }
  .sidebar__form .btn__blue span::before {
    width: 11px;
    height: 11px;
  }
  .btn__green {
    padding: 7px 16px;
    font-size: 10px;
    line-height: 24px;
  }
  .about-company__cloud {
    padding: 16px;
  }
}
@media (max-width: 370px) {
  .sidebar__form_wrapper {
    grid-template-columns: 100%;
  }
}
.header__light {
  background: var(--white);
}
.header__light h1,
.header__light p {
  color: var(--text-blc);
}
.header__light .header__wrapper {
  grid-template-columns: 1fr 520px;
  gap: 30px;
}
.header__light::before {
  background: url("../img/header_bg_light.svg") center no-repeat;
  background-size: 100% auto;
}

.about-company__har {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.about-company__har li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: grid;
  grid-template-columns: 8px 1fr;
  gap: 8px;
  align-items: center;
  color: var(--text-blc);
}
.about-company__har li::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--border);
}

.rate {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.rate__item {
  min-height: 480px;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.rate__item:nth-child(1) .rate__logo img {
  opacity: 0.5;
}
.rate__item:nth-child(2) .rate__logo img {
  opacity: 0.7;
}
.rate__logo {
  display: grid;
  grid-template-columns: 1fr 61px;
  gap: 5px;
  align-items: center;
  padding: 0 0 17px;
  border-bottom: 1px solid var(--breadcrumbs);
}
.rate__logo img {
  width: 100%;
  max-height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right center;
     object-position: right center;
}
.rate__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--text-blc);
}
.rate__name {
  margin: 5px 0 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-blc);
}
.rate ul {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  margin: 15px 0 auto;
}
.rate ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3px;
}
.rate ul p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--breadcrumbs);
}
.rate ul p + p {
  font-weight: 500;
  text-align: right;
  color: var(--text-blc);
  white-space: nowrap;
}
.rate__price {
  margin: 34px 0 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-blc);
}
.rate .btn__wht {
  border: 1px solid rgba(108, 150, 249, 0.35);
  border-radius: 4px;
  padding: 10px;
  display: block;
  margin: 12px 0 0;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: var(--border);
  font-weight: 600;
}
.rate__platform {
  margin: 12px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
}
.rate__platform img {
  width: 100%;
}

@media (max-width: 1250px) {
  .rate {
    grid-template-columns: 1fr 1fr;
  }
  .rate__info {
    font-size: 12px;
    line-height: 20px;
  }
  .rate__name {
    font-size: 16px;
    line-height: 25px;
  }
}
@media (max-width: 1024px) {
  .header__light .header__wrapper {
    grid-template-columns: 163fr 147fr;
  }
}
@media (max-width: 768px) {
  .rate {
    grid-template-columns: 100%;
  }
}
@media (max-width: 600px) {
  .rate {
    padding: 0 24px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    overflow-x: scroll;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
  .rate__item {
    margin: 0 24px 0 0;
    min-width: 275px;
  }
  .rate__item:last-child {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .rate {
    padding: 0 15px;
  }
}
.breadcrumbs a {
  white-space: nowrap;
}
.breadcrumbs a:last-child {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav__language_point {
  position: relative;
}

.nav__language_overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pagination {
  margin: 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-blc);
  padding: 7px 13px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.pagination__arrow.dis {
  border: 1px solid #CEDDE9;
  color: #ABABAB;
}
.pagination__arrow.dis::after, .pagination__arrow.dis::before {
  background: url("../icons/pag_grey.svg");
  background-size: contain;
}
.pagination__prev::before {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  margin: 0 16px 0 0;
  background: url("../icons/pag_blc.svg");
  background-size: contain;
  transform: rotate(180deg);
}
.pagination__next::after {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  margin: 0 0 0 16px;
  background: url("../icons/pag_blc.svg");
  background-size: contain;
}
.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination ul li {
  margin: 0 2px 0 0;
}
.pagination ul li:last-child {
  margin: 0;
}
.pagination ul a,
.pagination ul p {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ABABAB;
  border-radius: 8px;
}
.pagination ul a.active,
.pagination ul p.active {
  background: #F5F8FF;
  color: #6C96F9;
}

@media (max-width: 768px) {
  .pagination__arrow {
    font-size: 0;
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .pagination__arrow::before, .pagination__arrow::after {
    margin: 0;
  }
  .pagination ul li:nth-child(5), .pagination ul li:nth-child(6) {
    display: none;
  }
}
.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}/*# sourceMappingURL=style.css.map */