.light-theme {
    --text-blc: #474747;
    --white: #fff;
    --border: #6C96F9;
    --backgroung: #F9FBFF;
    --grey: #ABABAB;
    --text-grey: #BAC0C5;
    --breadcrumbs: #999999;
    --input: #CBD5E1;
    --about: #F5F8FF;
    --green: #73B73E;
}