@font-face {
    font-family: 'Brusnika';
    src: url('Brusnikanormal.woff2') format('woff2'),
        url('Brusnikanormal.woff') format('woff'),
        url('Brusnikanormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

