.cart {
    padding: 20px 0 0;
}

.cart__container {
    display: grid;
    grid-template-columns: calc(100% - 240px) auto;
    align-items: start;
    justify-content: space-between;
}

.cart__container .btn__arrow svg {
    transform: rotate(-90deg);
}

.cart__container .btn__arrow::before {
    left: 0;
    right: auto;
}

.cart__container .btn__arrow::after {
    left: auto;
    right: 0;
}

.cart__container .btn__arrow_norm {
    margin: 0 10px 0 0;
}

.cart__container .btn__arrow:hover .btn__arrow_hover {
    margin: 0 0 0 10px;
}

.cart__block {
    display: grid;
    grid-template-columns: 870px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "slider title""slider info";
    gap: 30px;
    align-content: start;
    align-items: start
}

.cart__btn {
    width: 54px;
    height: 54px;
    background: var(--primary-hunter-green);
    left: auto;
    right: 30px;
    border: 1px solid var(--primary-hunter-green);
    transition: all 0.3s ease;
    overflow: hidden;
}

.cart__btn svg {
    height: 12px;
    width: auto;
    transform: rotate(90deg);
}

.cart__btn svg path,
.cart__btn svg line {
    transition: all 0.3s ease;
}

.cart__btn::after {
    content: none;
}

.cart__btn::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: var(--primary-seashell-peach);
    transition: all 0.3s ease;
}

.cart__btn.swiper-button-disabled {
    border: 1px solid var(--primary-silver-rust, #C9C4BB);
    background: transparent;
    opacity: 1;
}

.cart__btn.swiper-button-disabled path,
.cart__btn.swiper-button-disabled line {
    stroke: var(--primary-silver-rust, #C9C4BB);
}

.cart__btn:hover {
    background: var(--primary-seashell-peach);
}

.cart__btn:hover path,
.cart__btn:hover line {
    stroke: #000;
}

.cart__btn:hover::before {
    transform: translateX(0);
}

.cart__back {
    left: 30px;
    right: auto;
}

.cart__back svg {
    transform: rotate(-90deg);
}

.cart .cart__pag {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    max-width: 570px;
    background: var(--primary-silver-rust);
    height: 1px;
}

.cart .cart__pag span {
    background: var(--primary-hunter-green);
}

.cart__slider {
    position: relative;
}

.cart__slider .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 25px;
    height: 800px;
    z-index: 1;
}

.cart__slider .swiper-slide::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--color);
}

.cart__slider .swiper-slide img {
    width: 581px;
    height: 581px;
    -o-object-fit: contain;
    object-fit: contain;
}

.cart__thumbs {
    margin: 30px 0 0;
}

.cart__thumbs .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
    background: var(--color);
    opacity: 0.4;
    transition: all 0.3s;
}

.cart__thumbs .swiper-slide img {
    width: 80px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain;
}

.cart__thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.cart__thumbs .swiper-slide:hover {
    opacity: 0.7;
}

.cart__wrapper {
    grid-area: slider;
}

.cart__info {
    grid-area: title;
}

.cart__har {
    grid-area: info;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
}

.cart__title h1 {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -3.44px;
    -webkit-font-smoothing: antialiased;
}

.cart__title p {
    color: var(--primary-tapa, #747474);
    font-family: Cocogoose Classic;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin: 5px 0 0;
}

.cart__type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 300px;
    padding: 15px 0 0;
}

.cart__type_coffee {
    display: grid;
    grid-template-columns: 13px 1fr;
    gap: 8px;
    align-items: center;
}

.cart__type_coffee img {
    width: 100%;
}

.cart__type_coffee p {
    color: var(--primary-hunter-green, #171717);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.cart__type_range {
    display: grid;
    grid-template-columns: repeat(5, 8px);
    gap: 8px;
    justify-content: space-between;
    align-items:center;
    max-width: 72px;
}

.cart__type_range span {
    border: 1px solid var(--primary-taupe, #453A33);
    border-radius: 100%;
    display: block;
    width: 8px;
    height: 8px;
}

.cart__type_range span.active {
    background: var(--primary-taupe, #453A33);
}

.cart__region {
    margin: 30px 0 0;
}

.cart__region p {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.cart__region p+p {
    color: var(--primary-tapa, #747474);
    font-family: Cocogoose Classic;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin: 5px 0 0;
    text-transform: none;
}

.cart__weight {
    margin: 30px 0 0;
}

.cart__weight_name {
    color: var(--primary-hunter-green, #171717);
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.cart__weight_tab {
    margin: 5px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.cart__weight_tab a {
    border-top: 1px solid var(--primary-silver-rust);
    color: var(--primary-tapa, #747474);
    text-align: center;
    font-family: Cocogoose Classic;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 0 19px;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 100%;
    max-width: 137px;
}

.cart__weight_tab a::after,
.cart__weight_tab a::before {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background: var(--primary-silver-rust);
    position: absolute;
    top: -1px;
    z-index: -1;
}

.cart__weight_tab a::after {
    left: 100%;
}

.cart__weight_tab a::before {
    right: 100%;
}

.cart__weight_tab a.active {
    background: var(--primary-hunter-green, #171717);
    color: var(--primary-white, #FFF);
    border-top: 1px solid var(--primary-hunter-green, #171717);
}

.cart__weight_tab a.active::after,
.cart__weight_tab a.active::before {
    content: none;
}

.cart__circle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart__circle p {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    text-align: center;
}

.cart__circle_item {
    border-right: 1px solid var(--primary-silver-rust);
}

.cart__circle_item:nth-child(4n) {
    border: none;
}

.cart__circle_block {
    margin: 5px auto 0;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.cart__circle_block::before {
    content: "";
    display: block;
    inset: 0;
    z-index: -1;
    position: absolute;
    border-radius: 100%;
    background-image: conic-gradient(#453A33 var(--circle), #FBF6ED var(--circle));
    /* -webkit-mask-image: radial-gradient(circle, transparent 55%, black 56%); */
    mask-image: radial-gradient(circle, transparent 55%, black 56%);
}

.cart__circle_block span {
    color: var(--primary-hunter-green, #171717);
    font-size: 12px;
    font-weight: 300;
    line-height: 130%;
    text-transform: none;
}

.cart__text {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
}

.cart__text div {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
}

.cart__text div p {
    color: var(--primary-tapa, #747474);
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;
}

.cart__text div span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.44px;
    color: var(--primary-hunter-green, #171717);
}

@media (max-width: 1700px) {
    .cart__circle {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        max-width: max-content;
    }

    .cart__circle_item {
        padding: 0 20px 0 0;
        margin: 0 20px 0 0; 
    }

    .cart__circle_item:nth-child(2n) {
        border: none;
    }
}

@media (max-width: 1500px) {
    .cart__block {
        grid-template-columns: 580px 1fr;
    }

    .cart__slider .swiper-slide {
        height: 586px;
    }

    .cart__slider .swiper-slide img {
        width: 387px;
        height: 387px;
    }

    .cart .cart__pag {
        max-width: 380px;
    }
}

@media (max-width: 1200px) {
    .cart__container {
        grid-template-columns: 100%;
        gap: 40px;
    }

    .cart__container .btn__arrow {
        order: -1;
    }
}

@media (max-width: 1024px) {
    .cart__block {
        grid-template-columns: 100%;
        grid-template-areas: none;
    }

    .cart__har,
    .cart__wrapper,
    .cart__info {
        grid-area: auto;
    }

    .cart__info {
        display: grid;
        grid-template-columns: 100%;
        gap: 0;
        -moz-column-gap: 20px;
        column-gap: 20px;
        align-items: center;
    }

    .cart__title {
        position: relative;
    }

    .cart__region {
        margin: 53px 0 0;
    }

    .cart__title h1 {
        font-size: 68px;
        letter-spacing: -2.72px;
        position: relative;
        line-height: 50px;
    }

    .cart__title p {
        position: absolute;
        top: 100%;
        left: 0;
    }

    .cart__type {
        padding: 0;
        margin: 66px 0  0;
        align-self: center;
        align-items: center
    }

    .cart__region,
    .cart__weight {
        grid-column: auto;
    }

    .cart__thumbs {
        display: none;
    }

    .cart__slider {
        margin: 0 -20px;
        width: calc(100% + 40px);
    }

    .cart__slider .swiper-slide {
        padding: 60px 0 100px;
        height: auto;
    }

    .cart__slider .swiper-slide img {
        height: 580px;
        width: 470px;
    }

    .cart__next {
        right: 20px;
    }

    .cart__back {
        left: 20px;
    }

    .cart .cart__pag {
        max-width: 353px;
        bottom: 60px;
    }

    .cart__circle {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 100%;
    }
    .cart__circle_item {
        padding: 0;
        margin: 0;
    }

    .cart__circle_item:nth-child(2n) {
        border-right: 1px solid var(--primary-silver-rust);
    }

    .cart__circle_item:nth-child(4n) {
        border: none;
    }
}

@media (max-width: 600px) {
    .cart__type {
        align-items: center;
        margin: 0;
    }
    .cart {
        position: relative;
        overflow: hidden;
    }

    .cart__title h1 {
        font-size: 32px;
        letter-spacing: -1.28px;
        line-height: 1;
    }

    .cart__title p {
        font-size: 12px;
        position: relative;
        top: auto;
        left: auto;
    }

    .cart__info {
        grid-template-columns: 100%;
        gap: 20px;
    }

    .cart__region {
        grid-column: auto;
        margin: 0;
    }

    .cart__weight {
        grid-column: auto;
        margin: 0;
    }

    .cart__weight_tab {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cart__weight_tab a {
        max-width: 100%;
    }

    .cart__slider {
        padding: 0 0 20px;
    }

    .cart__slider .swiper-slide {
        padding: 15px 0;
    }

    .cart__slider .swiper-slide img {
        width: 250px;
        height: 250px;
    }

    .cart .cart__pag {
        bottom: 0;
        max-width: 220px;
    }

    .cart__btn {
        display: none;
    }

    .cart__circle {
        grid-template-columns: 1fr 1fr;
    }

    .cart__circle_item:nth-child(2n) {
        border: none;
    }

    .cart__text .btn__icon {
        max-width: 100%;
    }

    .cart__type {
        padding: 0;
    }
}

.rec {
    padding: 120px 0 0;
    position: relative;
    overflow: hidden;
}

.rec h2 {
    color: var(--primary-hunter-green, #171717);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.48px;
}

.rec__slider {
    margin: 20px 0 0;
    overflow: visible;
}

.rec__btn {
    width: 54px;
    height: 54px;
    background: var(--primary-hunter-green);
    left: auto;
    right: 0;
    top: 235px;
    border: 1px solid var(--primary-hunter-green);
    transition: all 0.3s ease;
    overflow: hidden;
    transform: translate(50%, -50%);
    margin: 0;
}

.rec__btn svg {
    height: 12px;
    width: auto;
    transform: rotate(90deg);
}

.rec__btn svg path,
.rec__btn svg line {
    transition: all 0.3s ease;
}

.rec__btn::after {
    content: none;
}

.rec__btn::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: var(--primary-seashell-peach);
    transition: all 0.3s ease;
}

.rec__btn.swiper-button-disabled {
    border: 1px solid var(--primary-silver-rust, #C9C4BB);
    background: transparent;
    opacity: 1;
}

.rec__btn.swiper-button-disabled path,
.rec__btn.swiper-button-disabled line {
    stroke: var(--primary-silver-rust, #C9C4BB);
}

.rec__btn:hover {
    background: var(--primary-seashell-peach);
}

.rec__btn:hover path,
.rec__btn:hover line {
    stroke: #000;
}

.rec__btn:hover::before {
    transform: translateX(0);
}

.rec__back {
    left: 0;
    right: auto;
    transform: translate(-50%, -50%);
}

.rec__back svg {
    transform: rotate(-90deg);
}

.rec .rec__pag {
    bottom: auto;
    left: auto;
    top: auto;
    max-width: 570px;
    background: var(--primary-silver-rust);
    height: 1px;
    position: relative;
    margin: 60px auto 0;
}

.rec .rec__pag span {
    background: var(--primary-hunter-green);
}

.rec__padding {
    padding-bottom: 60px;
}

@media (max-width: 1440px) {
    .rec__next {
        right: 20px;
    }

    .rec__back {
        left: 20px;
    }

    .rec__btn {
        transform: translateY(-50%);
        top: 177px;
    }
}

@media (max-width: 1024px) {
    .rec {
        padding: 100px 0 0;
    }

    .rec__btn {
        display: none;
    }

    .rec .rec__pag {
        max-width: 354px;
    }

    .rec__padding {
        padding-bottom: 100px;
    }

    .rec h2 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .rec {
        padding: 60px 0 0;
    }

    .rec .rec__pag {
        max-width: 220px;
    }

    .rec__padding {
        padding-bottom: 60px;
    }
    .rec h2 {
        font-size: 24px;
    }
}

.modal-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 120px 0;
    background: var(--primary-white, #FFF);
    z-index: 100;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-gallery.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-gallery__slider {
    max-width: 870px;
    margin: 0 auto;
    overflow: visible;
}

.modal-gallery__slider_btn {
    width: 54px;
    height: 54px;
    background: var(--primary-hunter-green);
    left: calc(100% + 30px);
    right: auto;
    top: 50%;
    border: 1px solid var(--primary-hunter-green);
    transition: all 0.3s ease;
    overflow: hidden;
    transform: translate(50%, -50%);
}

.modal-gallery__slider_btn svg {
    height: 12px;
    width: auto;
    transform: rotate(90deg);
}

.modal-gallery__slider_btn svg path,
.modal-gallery__slider_btn svg line {
    transition: all 0.3s ease;
}

.modal-gallery__slider_btn::after {
    content: none;
}

.modal-gallery__slider_btn::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: var(--primary-seashell-peach);
    transition: all 0.3s ease;
}

.modal-gallery__slider_btn.swiper-button-disabled {
    border: 1px solid var(--primary-silver-rust, #C9C4BB);
    background: transparent;
    opacity: 1;
}

.modal-gallery__slider_btn.swiper-button-disabled path,
.modal-gallery__slider_btn.swiper-button-disabled line {
    stroke: var(--primary-silver-rust, #C9C4BB);
}

.modal-gallery__slider_btn:hover {
    background: var(--primary-seashell-peach);
}

.modal-gallery__slider_btn:hover path,
.modal-gallery__slider_btn:hover line {
    stroke: #000;
}

.modal-gallery__slider_btn:hover::before {
    transform: translateX(0);
}

.modal-gallery__slider_back {
    left: auto;
    right: calc(100% + 30px);
    transform: translate(-50%, -50%);
}

.modal-gallery__slider_back svg {
    transform: rotate(-90deg);
}

.modal-gallery .modal-gallery__pag {
    bottom: auto;
    left: auto;
    top: auto;
    max-width: 870px;
    background: var(--primary-silver-rust);
    height: 1px;
    position: relative;
    margin: 30px auto 0;
}

.modal-gallery .modal-gallery__pag span {
    background: var(--primary-hunter-green);
}

.modal-gallery .swiper-slide {
    position: relative;
    z-index: 1;
    padding: 110px;
}

.modal-gallery .swiper-slide::before {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
    background: var(--color);
    z-index: -1;
    opacity: 0.3;
}

.modal-gallery .swiper-slide img {
    height: calc(100vh - 460px);
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.modal-gallery__close {
    right: 20px;
    position: absolute;
    bottom: calc(100% + 34px);
}

.modal-gallery .container {
    position: relative;
}

@media (max-width: 1440px) {
    .modal-gallery .swiper-slide {
        padding: 50px;
    }
    .modal-gallery .swiper-slide img {
        height: calc(100vh - 370px);
    }
}

@media (max-width: 1200px) {
    .modal-gallery__slider_next {
        right: 20px;
        left: auto;
        transform: translateY(-50%);
    }

    .modal-gallery__slider_back {
        left: 20px;
        right: auto;
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .modal-gallery {
        padding: 90px 0 20px;
    }

    .modal-gallery__slider {
        margin: 0 -20px;
        width: calc(100% + 40px);
    }

    .modal-gallery .modal-gallery__pag {
        margin: 20px auto 0;
        max-width: 354px;
    }

    .modal-gallery .swiper-slide {
        padding: 150px 20px;
    }

    .modal-gallery .swiper-slide img {
        height: calc(100vh - 431px);
    }
}

@media (max-width: 500px) {
    .modal-gallery {
        padding: 70px 0 30px;
    }

    .modal-gallery .swiper-slide {
        padding: 90px 20px 70px;
    }

    .modal-gallery .swiper-slide img {
        height: calc(100vh - 281px);
    }

    .modal-gallery__close {
        bottom: calc(100% + 20px);
    }

    .modal-gallery .modal-gallery__pag {
        max-width: 220px;
    }
}

.rec__section {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}