.breadcrumbs {
    margin: 0 0 40px 0;
    position: relative;
}

.breadcrumbs__text,
.breadcrumbs__link {
    display: inline-block;
}

.breadcrumbs__text {
    margin: 0 25px 0 0;
    position: relative;
    color: var(--primary-tapa, #747474);
    font-family: Cocogoose Classic;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.breadcrumbs__text::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    left: calc(100% + 10px);
    top: 5.5px;
    transform: translateY(-50%);
    background: var(--primary-tapa, #747474);
    position: absolute;
}

.breadcrumbs__text:hover {
    color: var(--primary-hunter-green, #171717);
}

.breadcrumbs__link {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
	display: inline;
}

.nav {
    position: relative;
	z-index: 1;
}

.nav .container {
    position: relative;
}

.nav__logo {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
	z-index: 2;
}

.nav__logo img {
    width: 100%;
}

.nav__list {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
	z-index: 1;
	pointer-events: none;
}

.nav__list li {
    margin: 0 56px 0 0;
}

.nav__list li.right {
    margin-left: auto;
}

.nav__list li:last-child {
    margin: 0;
}

.nav__list a {
    color: var(--primary-hunter-green, #171717);
    text-align: center;
    font-family: Cocogoose Classic;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 1;
	pointer-events: auto;
}

.nav__list a:after {
	content: none;
}
.nav__list a::before {
	transition-delay: 0s
}

/* .nav__list a::before,
.nav__list a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    height: 8px;
    width: 1px;
    opacity: 0;
    transition: all 0.3s ease;
    background: var(--primary-hunter-green, #171717);
    z-index: -1;
    transform: scale(0.5);
	margin: 0 0 20%;
}

.nav__list a::after {
    right: 15%;
}

.nav__list a::before {
    left: 15%;
}

.nav__list a:hover::before,
.nav__list a:hover::after {
    opacity: 1;
    transform: scale(1);
}

.nav__list a:hover::after {
    right: -9px;
}

.nav__list a:hover::before {
    left: -9px;
} */

.footer {
    border-top: 1px solid var(--primary-silver-rust, #C9C4BB);
    padding: 60px 0 30px;
    position: sticky;
    top: 100%;
}

.footer__wrapper {
    display: grid;
    grid-template-areas: "logo catalog brand link""contact catalog brand link""footer footer footer footer";
    gap: 20px;
    align-items: start;
	/* grid-template-columns: 1fr 1fr 1fr 1fr ; */
}

.footer__logo {
    grid-area: logo;
    max-width: 190px;
}

.footer__logo img {
    width: 100%;
}

.footer__catalog {
    grid-area: catalog;
}

.footer__catalog_title {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.96px;
}

.footer__catalog_title::after {
	content: none;
}
.footer__catalog_title::before {
	transition-delay: 0s;
}

.footer__catalog ul {
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}

.footer__catalog ul a {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.footer__catalog ul a::after {
    content: none;
}

.footer__catalog ul a:hover::before {
    transition-delay: 0s;
}

.footer__brand {
    grid-area: brand;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    justify-items: start;
}

.footer__brand a {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.96px;
    position: relative;
}

.footer__brand a:after {
	content: none;
}
.footer__brand a::before {
	transition-delay: 0
}

/* .footer__brand a::before,
.footer__brand a::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    height: 17px;
    width: 1px;
    opacity: 0;
    transition: all 0.3s ease;
    background: var(--primary-hunter-green, #171717);
    z-index: -1;
    transform: scale(0.5);
}

.footer__brand a::after {
    right: 15%;
}

.footer__brand a::before {
    left: 15%;
}

.footer__brand a:hover::before,
.footer__brand a:hover::after {
    opacity: 1;
    transform: scale(1);
}

.footer__brand a:hover::after {
    right: -11px;
}

.footer__brand a:hover::before {
    left: -11px;
} */

.footer__link {
    grid-area: link;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footer__link ul {
    margin: 30px 0 0;
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
    justify-items: end;
}

.footer__link ul a {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    display: block;
    width: -moz-max-content;
    width: max-content;
    text-align: right;
}

.footer__footer {
    grid-area: footer;
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__footer p {
    color: var(--primary-tapa, #747474);
    font-family: Cocogoose Classic;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

.footer__footer a {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.footer__contact {
    grid-area: contact;
}

.footer__contact ul {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}

.footer__contact ul li {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
}

.footer__contact ul p {
    color: var(--primary-tapa, #747474);
    font-family: Cocogoose Classic;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

.footer__contact ul a {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.footer__soc {
    margin: 20px 0 0;
    display: grid;
    grid-template-columns: 32px 32px 32px;
    gap: 5px;
    align-items: center;
}

.footer__soc a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.footer__soc a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--primary-hunter-green, #171717);
    z-index: -1;
    transition: all 0.3s ease-out;
}

.footer__soc a svg {
    transition: all 0.3s ease-out;
}

.footer__soc a svg path {
    transition: all 0.3s ease-out;
}

.footer__soc a:hover::before {
    transition: all 0.3s ease-in;
    transform: scale(0);
}

.footer__soc a:hover svg {
    transition: all 0.3s ease-in;
    transform: scale(1.5);
}

.footer__soc a:hover svg path {
    transition: all 0.3s ease-in;
    fill: var(--primary-hunter-green, #171717);
}

.footer__up {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.footer__up::before {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
    border-radius: 33px;
    background: var(--primary-hunter-green, #171717);
    position: absolute;
    z-index: -1;
}

.footer__up::after {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    border-radius: 33px;
    background: var(--primary-hunter-green, #171717);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: scale(0.7);
}

.footer__up p {
    color: var(--primary-hunter-green, #171717);
    font-family: Cocogoose Classic;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.footer__up_norm,
.footer__up_hover {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
    transition: all 0.3s ease;
}

.footer__up_hover {
    margin: 0 10px 0 0;
    opacity: 0;
    width: 0;
}

.footer__up:hover .footer__up_norm {
    width: 0;
    opacity: 0;
}

.footer__up:hover .footer__up_hover {
    width: 33px;
    opacity: 1;
}

.footer__up:hover::before {
    opacity: 0;
    transform: scale(0.7);
}

.footer__up:hover::after {
    opacity: 1;
    transform: scale(1);
}

.footer__up:active::after {
    width: 100%;
    transition: all 0.3s ease;
}

.footer__up:active p {
    color: var(--primary-white);
}

.politics {
	padding: 20px 0 120px;
}

.politics__info a {
    position: relative;
    text-wrap: nowrap;
}

.politics__info a::before,
.politics__info a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--primary-hunter-green);
    transition: 1.1s var(--ease-out-expo);
}

.politics__info a::before {
    transform: scaleX(0);
    transform-origin: left;
}

.politics__info a::after {
    transform-origin: right;
    transition-delay: 0.25s;
}

.politics__info a:hover::before {
    transform: scaleX(1);
    transition-delay: 0.25s;
}

.politics__info a:hover::after {
    transform: scaleX(0);
    transition-delay: 0s;
}

.politics__info h1 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 86px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
	max-width: 1420px;
}

.politics__info h1+p {
	margin: 60px 0 0;
}

.politics__info h2 {
	margin: 60px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
	max-width: 1420px;
}

.politics__info h2+p {
	margin-top: 20px;
}

.politics__info h3 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -0.32px;
	max-width: 1420px;
	margin: 50px 0 0;
}

.politics__info p {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
	max-width: 1420px;
}

.politics__info p span {
	font-weight: 400;
}

.politics__info a {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -0.96px;
}

.politics__info ul {
	margin: 30px 0 50px;
	padding: 0 0 0 35px;
}

.politics__info ul li {
	position: relative;
}

.politics__info ul li p {
	margin: 0;
}

.politics__info ul li p a {
	display: inline;
}

.politics__info ul li::before {
	content: "";
	display: block;
	left: -20px;
	top: 14px;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background: var(--primary-hunter-green, #171717);
	position: absolute;
}

.politics__info ul:last-child {
	margin-bottom: 0;
}

.politics__info ul a {
	display: block;
	width: -moz-max-content;
	width: max-content;
}

.thanks {
	padding: 20px 0 150px;
	position: relative;
	overflow: hidden;
	margin: auto 0;
}

.thanks .breadcrumbs {
	margin: 0 0 150px;
}

.thanks h1 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 86px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
	text-align: center;
}

.thanks__subtitle {
	color: var(--primary-hunter-green, #171717);
	text-align: center;
	font-family: Cocogoose Classic;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.thanks__text {
	margin: 30px 0 0;
	color: var(--primary-tapa, #747474);
	font-family: Cocogoose Classic;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
	text-align: center;
}

.thanks__btn {
	margin: 40px auto 0;
}

.thanks__error {
	padding: 564px 0 156px;
}

.thanks__error .thanks__btn {
	max-width: 240px;
}

.thanks__error .thanks__text {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px;
}

.thanks__error .thanks__text br {
	display: none;
}

.thanks__num {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 500px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -20px;
	position: absolute;
	top: 130px;
	left: 50%;
	transform: translateX(-50%);
}

.buy {
	padding: 20px 0 60px;
}

.buy .breadcrumbs {
	margin: 0 0 40px;
}

.buy h1 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 86px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
}

.buy__tab {
	margin: 20px 0 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.buy__tab_item {
	border-top: 1px solid var(--primary-silver-rust);
	color: var(--primary-tapa, #747474);
	text-align: center;
	font-family: Cocogoose Classic;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 1.44px;
	text-transform: uppercase;
	text-align: center;
	padding: 18px 0 19px;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 100%;
	max-width: 293px;
}

.buy__tab_item::after,
.buy__tab_item::before {
	content: "";
	display: block;
	width: 1px;
	height: 15px;
	background: var(--primary-silver-rust);
	position: absolute;
	top: -1px;
	z-index: -1;
}

.buy__tab_item::after {
	left: 100%;
}

.buy__tab_item::before {
	right: 100%;
}

.buy__tab_item.active {
	background: var(--primary-hunter-green, #171717);
	color: var(--primary-white, #FFF);
	border-top: 1px solid var(--primary-hunter-green, #171717);
}

.buy__tab_item.active::after,
.buy__tab_item.active::before {
	content: none;
}

.buy__tab_wrapper {
	margin: 40px 0 0;
	display: none;
}

.buy__tab_wrapper.active {
	display: block;
}

.buy__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}

.buy__item {
	position: relative;
	border: 3px solid var(--primary-seashell-peach, #FBF6ED);
	background: var(--primary-seashell-peach, #FBF6ED);
	padding: 20px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.buy__item img {
	max-width: 100%;
	object-fit: contain;
}

.buy__link {
	position: absolute;
	display: flex;
	flex-direction: flex-end;
	align-items: center;
	cursor: pointer;
	z-index: 1;
	left: 50%;
	transform: translate(-50%, 15%) scale(0.7);
	bottom: 27px;
	opacity: 0;
	transition: all 0.3s;
	pointer-events: none;
	outline: none !important;
}

.buy__link svg {
	transform: rotate(90deg);
}

.buy__link::before {
	content: "";
	display: block;
	width: 33px;
	height: 33px;
	top: 0;
	right: 0;
	transition: all 0.3s ease;
	border-radius: 33px;
	background: var(--primary-hunter-green, #171717);
	position: absolute;
	z-index: -1;
}

.buy__link::after {
	content: "";
	display: block;
	width: 33px;
	height: 33px;
	top: 0;
	left: 0;
	transition: all 0.3s ease;
	border-radius: 33px;
	background: var(--primary-hunter-green, #171717);
	position: absolute;
	z-index: -1;
	opacity: 0;
	transform: scale(0.7);
}

.buy__link p {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 1.44px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.buy__link_norm,
.buy__link_hover {
	width: 33px;
	height: 33px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 10px;
	transition: all 0.3s ease;
}

.buy__link_hover {
	margin: 0 10px 0 0;
	opacity: 0;
	width: 0;
}

.buy__link:hover .buy__link_norm {
	width: 0;
	opacity: 0;
}

.buy__link:hover .buy__link_hover {
	width: 33px;
	opacity: 1;
}

.buy__link:hover::before {
	opacity: 0;
	transform: scale(0.7);
}

.buy__link:hover::after {
	opacity: 1;
	transform: scale(1);
}

.buy__link:active::after {
	width: 100%;
	transition: all 0.3s ease;
}

.buy__link:active p {
	color: var(--primary-white);
}

.buy__item:hover {
	border: 3px solid var(--primary-silver-rust, #C9C4BB);
}

.buy__item:hover .buy__link {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, 0) scale(1);
}

.about {
	padding: 20px 0 120px;
}

.about .breadcrumbs {
	margin: 0 0 40px;
}

.about h1 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 86px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
}

.about__fullscreen {
	margin: 20px 0 0;
	position: relative;
	overflow: hidden;
	opacity: 0;
	transform: translateY(100px) scale(0.8);
}

.about__fullscreen img {
	width: 100%;
	height: 800px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	transition: all 0.3s ease;
}

.about__fullscreen:hover img {
	transform: scale(1.1);
}

.about__block {
	margin: 120px 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	grid-template-areas: "title img""text img";
	align-items: start;
	grid-template-rows: auto 1fr;
}

.about__block_left {
	grid-template-areas: "img title""img text";
}

.about__block_img {
	grid-area: img;
	position: relative;
	overflow: hidden;
	opacity: 0;
	transform: translateY(5%) scale(0.9);
}

.about__block_img:hover img {
	transform: scale(1.1);
}

.about__block img {
	width: 100%;
	height: 870px;
	-o-object-fit: cover;
	object-fit: cover;
	transition: all 0.3s ease;
}

.about__block h3 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 52px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: 5.2px;
	text-transform: uppercase;
	grid-area: title;
}

.about__text {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
	grid-area: title;
}

.about__subtext {
	color: var(--primary-tapa, #747474);
	font-family: Cocogoose Classic;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
	max-width: 420px;
	grid-area: text;
}

.about__wrapper {
	margin: 120px 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
}

.about__item {
	border: 1px solid var(--primary-silver-rust, #C9C4BB);
	padding: 85px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transform: translateY(10%) scale(0.9);
}

.about__item_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: var(--primary-seashell-peach, #FBF6ED);
	transition-delay: 0.4s;
	opacity: 0;
	transform: scale(0.8);
}

.about__item_title {
	margin: 20px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -0.32px;
	text-align: center;
}

.about__item_text {
	margin: 5px 0 0;
	max-width: 246px;
	color: var(--primary-tapa, #747474);
	text-align: center;
	font-family: Cocogoose Classic;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
}

.form {
	padding: 120px 0;
	position: relative;
	background: var(--primary-seashell-peach, #FBF6ED);
	overflow: hidden;
}

.form__img {
	display: none;
}

.form__wrapper {
	max-width: calc(50% - 15px);
	opacity: 0;
	transform: translateY(20%);
}

.form h2 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.form__subtitle {
	margin: 5px 0 0;
	color: var(--primary-tapa, #747474);
	font-family: Cocogoose Classic;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
}

.form__block {
	margin: 20px 0 0;
	display: grid;
	grid-template-columns: 100%;
	gap: 20px;
}

.form__link {
	margin: 20px 0 0;
	display: grid;
	grid-template-columns: 190px 1fr;
	gap: 20px;
	align-items: center;
}

.form__link p {
	color: var(--primary-tapa, #747474);
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
	max-width: 460px;
}

.form__link a {
	color: var(--primary-hunter-green, #171717);
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
}

.form__bg {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(50vw - 15px);
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	opacity: 0;
	transform: translateY(20%);
	transition-delay: 0.4s;
}

@media (max-width: 1440px) {
	.about__fullscreen img {
		height: 500px;
	}

	.about__block h3 {
		font-size: 30px;
	}

	.about__block img {
		height: 500px;
	}

	.about__item_title {
		font-size: 25px;
	}

	.about__text {
		font-size: 30px;
	}
}

.contact {
	padding: 20px 0 120px;
}

.contact .breadcrumbs {
	margin: 0 0 40px;
}

.contact h1 {
	color: var(--primary-hunter-green, #171717);
	font-size: 86px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
}

.contact__info {
	border-top: 1px solid var(--primary-silver-rust, #C9C4BB);
	display: grid;
	grid-template-columns: 100%;
	gap: 30px;
	padding-top: 30px;
}

.contact__info_text {
	border-bottom: 1px solid var(--primary-silver-rust, #C9C4BB);
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.contact__info_text p {
	color: var(--primary-tapa, #747474);
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
}

.contact__info_text a {
	color: var(--primary-hunter-green, #171717);
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
}

.contact__hotline {
	border-bottom: 1px solid var(--primary-silver-rust, #C9C4BB);
	padding-bottom: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.contact__hotline p {
	color: var(--primary-hunter-green, #171717);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -0.96px;
}

.contact__hotline a {
	color: var(--primary-hunter-green, #171717);
	font-size: 48px;
	letter-spacing: -0.48px;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -0.96px;
}

.contact__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	align-items: start;
	margin: 20px 0 0;
}

.contact__subscribe {
	background: var(--primary-seashell-peach, #FBF6ED);
	padding: 60px;
}

.contact__subscribe h2 {
	color: var(--primary-hunter-green, #171717);
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.contact__subscribe .input {
	margin: 20px 0 0;
}

@media (max-width: 1600px) {

	.contact__info_text,
	.contact__hotline {
		grid-template-columns: 1fr 2fr;
	}
}

@media (max-width: 1440px) {
	.contact__hotline {
		display: flex;
		justify-content: space-between;
	}

	.contact__hotline p+p {
		font-size: 40px;
	}

	.contact__info_text {
		display: flex;
		justify-content: space-between;
	}

	.contact__subscribe {
		padding: 40px;
	}
}

@media (max-width: 1200px) {
	.contact__wrapper {
		grid-template-columns: 100%;
		gap: 40px;
	}
}

.modal-thanks {
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: scroll;
	transition: all 0.3s;
}

.modal-thanks.active {
	opacity: 1;
	pointer-events: auto;
}

.modal-thanks__overflow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.3;
	background: var(--primary-hunter-green, #171717);
}

.modal-thanks__block {
	margin: auto;
	width: 100%;
	max-width: 670px;
	padding: 60px 40px;
	background: var(--primary-seashell-peach, #FBF6ED);
	position: relative;
}

.modal-thanks__block h3 {
	text-align: center;
	color: var(--primary-hunter-green, #171717);
	font-size: 86px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
}

.modal-thanks__block p {
	color: var(--primary-hunter-green, #171717);
	text-align: center;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.modal-thanks__block .btn__icon {
	margin: 40px auto 0;
}

.modal-thanks__close {
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;
}

.article {
	padding: 120px 0;
}

.article__footer {
	display: none;
}

.article__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateY(20%);
	opacity: 0;
}

.article__title h2 {
	color: var(--primary-hunter-green, #171717);
	font-family: Cocogoose Classic;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.article__row {
	transform: translateY(20%) scale(0.8);
	opacity: 0;
}

.article__row .article__item {
	width: 100% !important;
	margin: 0 !important;
}

.article__row .article__item:nth-child(4)::before {
	content: none;
}

.article__row .swiper-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
	margin: 30px 0 0;
}

.article__prev {
	position: relative;
	overflow: hidden;
}

.article__prev_img img {
	width: 100%;
	transition: all 0.3s ease;
}

.article__prev_overflow {
	background: rgba(0, 0, 0, 0.3490196078);
	position: absolute;
	inset: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease 0.2s;
	transform: translateY(50px);
}

.article__prev_overflow .btn__icon {
	transition: all 0.2s ease;
	transform: translateY(50px);
	opacity: 0;
}

.article__item {
	position: relative;
}

.article__item::before {
	content: "";
	display: block;
	width: 1px;
	left: calc(100% + 14px);
	background: var(--primary-silver-rust);
	height: 100%;
	position: absolute;
	top: 0;
}

.article__item:hover .article__prev_overflow {
	transform: none;
	opacity: 1;
	transition: all 0.2s ease;
}

.article__item:hover .article__prev_overflow .btn__icon {
	opacity: 1;
	transform: none;
	transition: all 0.2s ease 0.2s;
}

.article__item:hover .article__prev_img img {
	transform: scale(1.2);
}

.article__name {
	margin: 12px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -0.96px;
}

.article__text {
	margin: 12px 0 0;
	color: var(--primary-tapa, #747474);
	font-family: Cocogoose Classic;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
}

.article__date {
	margin: 40px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.article__section {
	padding: 20px 0 120px;
}

.article h1 {
	color: var(--primary-hunter-green, #171717);
	font-size: 86px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
}

.article__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
	margin: 20px 0 0;
}

.article__wrapper .article__item:nth-child(4n)::before {
	content: none;
}

.article__wrapper_btn {
	margin: 40px auto 0;
	max-width: 280px;
}

.article__padding {
	padding: 120px 0 60px;
}

.article__blog {
	margin: 30px 0 0;
	transform: translateY(20%) scale(0.8);
	opacity: 0;
}

.article__blog .swiper-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0;
	max-width: 100%;
}

.catalog__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}

.catalog__block {
	height: 470px;
	width: 100%;
	position: relative;
}

.catalog__img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.catalog__img img {
	width: 432px;
	height: 432px;
	object-fit: contain;
}

.catalog__img::before {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
	background: var(--catalog-color);
	opacity: 0.3;
	z-index: -1;
}

.catalog__video {
	position: absolute;
	inset: 0;
	z-index: 2;
	transition: all 0.3s ease;
	opacity: 0;
	pointer-events: none;
}

.catalog__video .btn__icon {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease 0.2s;
}

.catalog__prev {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.catalog__info {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 12px 0 0;
}

.catalog__name {
	color: var(--primary-hunter-green, #171717);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 85%;
	letter-spacing: -0.96px;
}

.catalog__weight {
	color: var(--primary-tapa, #747474);
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
	margin: 0 0 0 5px;
	align-self: flex-end;
	/* align-self: end; */
}

.catalog__type {
	margin: 0 0 0 auto;
	display: grid;
	grid-template-columns: 13px 1fr;
	gap: 6px;
	align-items: center;
	align-self: flex-end;
}

.catalog__type img {
	width: 100%;
}

.catalog__type p {
	color: var(--primary-hunter-green, #171717);
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-align: right;
}

.catalog__item {
	position: relative;
}

.catalog__item:hover .catalog__video {
	opacity: 1;
	pointer-events: auto;
}

.catalog__item:hover .catalog__video .btn__icon {
	transform: translate(-50%, 0);
	opacity: 1;
}

@media (max-width: 1440px) {
	.catalog__block {
		height: 354px;
	}

	.catalog__img img {
		max-width: 100%;
		width: 300px;
		height: 300px;
		-o-object-fit: contain;
		object-fit: contain;
	}
}

@media (max-width: 1200px) {
	.catalog__type span {
		display: block;
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.blog {
	padding: 20px 0 0;
}

.blog__title p {
	margin: 10px 0 0;
	color: var(--primary-tapa, #747474);
	font-size: 10px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.blog__title h1 {
	color: var(--primary-hunter-green, #171717);
	font-size: 86px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -3.44px;
}

.blog__fullscreen {
	margin: 20px 0 0;
}

.blog__fullscreen img {
	width: 100%;
	height: 700px;
	-o-object-fit: cover;
	object-fit: cover;
}

.blog__info {
	max-width: 870px;
	margin: 0 auto;
}

.blog__info h2 {
	margin: 60px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 52px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.blog__info h3 {
	margin: 60px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 48px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.blog__info h4 {
	margin: 40px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 24px;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -0.96px;
}

.blog__info p {
	margin: 15px 0 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 18px;
	font-weight: 300;
	line-height: 120%;
}

.blog__info ul,
.blog__info ol {
	margin: 20px 0 0;
	display: grid;
	grid-template-columns: 100%;
	gap: 10px;
	padding: 0 0 0 25px;
	position: relative;
}

.blog__info ol {
	padding: 0;
	counter-reset: blog 0
}

.blog__info ul li {
	position: relative;
}

.blog__info ul li::before {
	content: "";
	display: block;
	left: -12px;
	top: 5px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background: var(--primary-hunter-green, #171717);
	position: absolute;
}

.blog__info ul p,
.blog__info ol p {
	margin: 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 18px;
	font-weight: 300;
	line-height: 120%;
}

.blog__info ul li,
.blog__info ol li {
	margin: 0;
	color: var(--primary-hunter-green, #171717);
	font-size: 18px;
	font-weight: 300;
	line-height: 120%;
}

.blog__info ol li {
	display: grid;
	grid-template-columns: 25px 1fr;
	counter-increment: blog 1
}
.blog__info ol li::before {
	content: counter(blog) '.';
	color: var(--primary-hunter-green, #171717);
	font-size: 15px;
	font-weight: 300;
	line-height: 120%;
}

.blog__info img {
	width: 100%;
	display: block;
	margin: 20px 0 0;
	object-fit: cover;
}

.blog__info table {
	margin: 20px 0 0;
	max-width: 100%;
	border: 1px solid var(--primary-silver-rust);
	table-layout: fixed;
  	width: 100%;
}

.blog__info table tr {
	border-bottom: 1px solid var(--primary-silver-rust);
}

.blog__info table tr:last-child {
	border-bottom: none
}

.blog__info table td {
	padding: 24px;
	border-right: 1px solid var(--primary-silver-rust);
}

.blog__info table td:last-child {
	border-right: none
}

.blog__info table td {
	color: var(--Primary-Hunter-Green, #171717);
	font-size: 16px;
	font-weight: 400;
	line-height: 110%; 
	letter-spacing: normal
}

.catalog__title {
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.catalog__title .btn__arrow svg {
    transform: rotate(-90deg);
}

.catalog__title .btn__arrow::before {
    left: 0;
    right: auto;
}

.catalog__title .btn__arrow::after {
    left: auto;
    right: 0;
}

.catalog__title .btn__arrow_norm {
    margin: 0 10px 0 0;
}

.catalog__title .btn__arrow:hover .btn__arrow_hover {
    margin: 0 0 0 10px !important;
}
.text-range__wrapper {
	min-height: 30px;
	padding: 0 0 0 30px;
	border-left: 1px solid var(--primary-silver-rust);
}
.text-range {
	font-size: 10px;
	font-weight: 500;
	line-height: 130%; 
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin: 9px 0 0;
}