$background: #f2f4f7
$white: #fff
$background-dark: #f2f5fa
$content-main: #283238
$content-secondary: #9da6b2
$content-white: #fbfdfe
$content-color: #5daddc
$font-family: "Manrope", sans-serif
$second-family: "Alumni Sans", sans-serif
$third-family: "Alana Pro RUS", sans-serif
@keyframes canAnim 
    0%
        transform: scale(1)
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)
@keyframes stepAnim 
    0%
        transform: translateX(-50%) scale(1)
    50%
        transform: translateX(-50%) scale(1.05)
    100%
        transform: translateX(-50%) scale(1)
@keyframes opacityAnim 
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1
html
    position: relative
    overflow-x: hidden
    &.fix
        overflow: hidden 
body
    position: relative
    overflow-x: hidden
    background: $background
    &.fix
        overflow: hidden 
section
    position: relative
.container
    max-width: 1160px
    padding: 0 20px
    margin: 0 auto
    box-sizing: content-box
    &__block
        padding: 100px 0
        margin: 0 20px
        border-radius: 20px
        overflow: hidden
        position: relative
        z-index: 1
        max-width: 1392px
        margin: 0 auto
        width: calc( 100% - 48px )
.btn
    &__blue
        width: 100%
        max-width: max-content
        box-shadow: inset 0 0 26px 0 rgba(255, 255, 255, 0.6)
        background: $content-color
        border: none
        padding: 12px 16px 12px 40px
        font: 700 14px / 1.5 $font-family
        color: $white
        border-radius: 100px
        display: grid
        grid-template-columns: 1fr 44px
        gap: 24px
        align-items: center
        transition: all .3s
        text-align: left
        z-index: 2
        position: relative
        span
            width: 44px
            height: 44px
            background: linear-gradient(315deg, #7cc7f2 0%, #1e86c2 100%)
            box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3)
            border-radius: 100%
            display: flex
            justify-content: center
            align-items: center
            transition: all .3s
            img
                width: 16px
                height: 16px
                object-fit: contain
                transition: all .3s
        &::before
            content: ''
            display: block
            position: absolute
            z-index: -1
            width: 100%
            height: 38px
            border-radius: 500px
            filter: blur(41.15754699707031px)
            background: radial-gradient(102.92% 371.47% at 50% 50%, #5daddc 0%, rgba(93, 173, 220, 0.6) 64.48%, rgba(93, 173, 220, 0) 100%)
            opacity: 0.8
            transition: all .3s
            bottom: -8px
            left: 0
        &:hover
            box-shadow: none
            span
                img
                    transform: rotate(45deg)
            &::before
                opacity: 0

.nav
    position: relative
    padding: 16px 0 
    overflow: hidden
    &__hum
        display: none
    .container
        display: flex
        justify-content: space-between
        align-items: center
        &__block
            padding: 12px 0
            background: url('../img/nav_bg.jpg') center no-repeat
            background-size: cover
            z-index: 1
            &::after
                content: ''
                width: 750px
                height: 400px
                background: url('../img/nav_con.png') center no-repeat
                background-size: cover
                position: absolute
                display: block
                top: -300px
                right: -300px
                z-index: -1
                mix-blend-mode: color-dodge
                opacity: 0.8
                transform: rotate(110deg)
                animation: opacityAnim 3s 0s infinite
            &::before
                content: ''
                width: 750px
                height: 400px
                background: url('../img/nav_con.png') center no-repeat
                background-size: cover
                position: absolute
                display: block
                top: -200px
                left: -300px
                z-index: -1
                mix-blend-mode: color-dodge
                opacity: 0.8
                transform: rotate(-110deg)
                animation: opacityAnim 3s 0s infinite
    &__logo
        display: block
        width: 245px
        img
            width: 100%
    &__list
        display: flex
        justify-content: center
        align-items: center
        gap: 40px
        a
            font: 700 14px / 1.5 $font-family
            color: $white
            transition: all .3s
            &.active,
            &:hover
                color: #69c5ec

.header
    position: relative
    .container
        display: grid
        grid-template-columns: 560px 1fr
        gap: 40px
        align-items: center
        &__block
            background: url('../img/header_bg.jpg') right no-repeat    
            background-size: cover
            &::after
                content: ''
                width: 1105px
                height: 620px
                background: url('../img/nav_con.png') center no-repeat
                background-size: cover
                position: absolute
                display: block
                top: -230px
                right: -400px
                z-index: -1
                mix-blend-mode: color-dodge
                opacity: 0.8
                transform: rotate(12deg)
                animation: opacityAnim 3s 0s infinite
            &::before
                content: ''
                width: 1105px
                height: 620px
                background: url('../img/nav_con.png') center no-repeat
                background-size: cover
                position: absolute
                display: block
                top: -200px
                left: -400px
                z-index: -1
                mix-blend-mode: color-dodge
                opacity: 0.8
                transform: rotate(-50deg)
                animation: opacityAnim 3s 0s infinite
    h1
        font: 500 52px / 0.9 $second-family
        text-transform: uppercase
        color: $content-white
        margin: 32px 0 0
        max-width: max-content
        span
            font-size: 3.11em
            display: block
    &__info
        position: relative
    &__banner
        width: 294px
        img
            width: 100%
    &__logo
        margin: 24px 0 0
        width: 100%
        font: 400 20px / 1.5 $font-family
        color: $content-white
        span
            font-weight: 700
    &__row
        margin: 40px 0 0
        display: grid
        grid-template-columns: auto 1fr
        gap: 40px
        align-items: start
    &__client
        max-width: 155px
        p
            font: 400 14px / 1.4 $font-family
            color: $content-white
            margin: 8px 0 0
            span
                font-weight: 700
        &_row
            display: flex
            justify-content: flex-start
            align-items: center
            img
                width: 36px
                height: 36px
                border-radius: 100% 
                border: 1px solid $white
                margin: 0 -4px 0 0
    &__arrow
        position: absolute
        left: 50%
        bottom: 0
        transform: translate(-50%, 50%)
        width: 60px
        height: 60px
        border: 6px solid $background
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        background: url('../img/header_bg.jpg') bottom center no-repeat    
        background-size: auto
        z-index: 2
        img
            width: 24px
            transition: all .3s
        &:hover
            img
                transform: scale(1.3)
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 24px
        padding: 0 42px 0 0
        position: relative
        &_text
            position: absolute
            width: 444px
            transform: rotate(90deg)
            top: 215px
            right: -200px
            display: grid
            grid-template-columns: auto 1fr auto
            gap: 16px
            align-items: center
            p
                font: 700 12px / 1.5 $font-family
                letter-spacing: 0.1em
                text-transform: uppercase
                color: #7ac7ff
            span
                width: 100%
                display: block
                height: 1px
                background: #7ac7ff
    &__item
        border-radius: 24px
        padding: 32px
        min-height: 210px
        display: flex
        flex-direction: column
        justify-content: space-between
        backdrop-filter: blur(32px)
        background: linear-gradient(225deg, rgba(163, 221, 255, 0.32) 0%, rgba(92, 169, 214, 0.32) 100%)
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.6)
        transition: all .3s
        p
            font: 700 18px / 1.5 $font-family
            color: $content-white
            transition: all .3s
            &+p
                font: 700 14px / 1.5 $font-family
                text-decoration: underline
                text-decoration-skip-ink: none
        &:nth-child(1)
            grid-column: 2/3
        &:hover
            box-shadow: 0px 0px 0px 3px hsla(0, 0%, 100%, .6)
            p
                color: #69c5ec

.school-desc
    padding: 160px 0 
    position: relative
    .container
        max-width: 755px
    h2
        font: 500 48px / 1 $second-family
        text-transform: uppercase
        text-align: center
        color: $content-main
        span
            color: $content-color
    p
        margin: 40px 0 0
        font: 400 18px / 1.5 $font-family
        text-align: center
        color: $content-main
        span
            font-weight: 700
    &__bg
        &_right
            content: ''
            width: 628px
            height: 371px
            // background: url('../img/school_con.png') center no-repeat
            background-size: cover
            position: absolute
            display: block
            top: -10px
            right: -350px
            z-index: -1
            opacity: 0.7
            transform: rotate(90deg)
            img
                width: 100%
                height: 100%
                min-height: 100%
                object-fit: contain
        &_left
            content: ''
            width: 628px
            height: 371px
            // background: url('../img/school_con.png') center no-repeat
            background-size: cover
            position: absolute
            display: block
            top: 20px
            left: -350px
            z-index: -1
            opacity: 0.7
            transform: rotate(-90deg) scale(-1)
            img
                width: 100%
                height: 100%
                min-height: 100%
                object-fit: contain

.can
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        text-align: center
        color: $content-main
        padding: 0 24px
    .container
        &__block
            position: relative
            margin-top: 40px
            z-index: 2
            height: 600px
    &__bg
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        z-index: -1
        object-fit: cover
        border-radius: 32px
        overflow: hidden
        &_pic
            height: 100%
            min-height: 100%
            width: 100%
            object-fit: cover
        &_left
            width: 35%
            position: absolute
            bottom: 0
            left: 4%
            animation: canAnim 5s 0s infinite
        &_right
            width: 35%
            position: absolute
            bottom: 0
            right: 4%
            animation: canAnim 5s 0s infinite
    h3
        font: 500 48px / 1 $second-family
        text-transform: uppercase
        text-align: center
        color: $content-main
        span
            color: $content-color
    &__subtitle
        margin: 0 0 24px
        font: 400 16px / 1.5 $font-family
        text-align: center
        color: $content-main
    &__text
        margin: 12px 0 0
        font: 700 16px / 1.5 $font-family
        color: $content-main
        text-align: center
    &__wrapper
        margin: 140px 0 0
        display: grid
        grid-template-columns: 614px 1fr
    &__btn
        max-width: 360px
        margin: 0 0 0 auto
        display: grid
        grid-template-columns: 100%
        gap: 16px
        width: 100%
        button
            max-width: 100%
            gap: 17px
    &__info
        h3
            text-align: left
        &_text
            margin: 40px 0 0
            display: grid
            grid-template-columns: 36px 1fr
            gap: 16px
            p
                font: 400 18px / 1.5 $font-family
                color: $content-main
                span
                    font-weight: 700
            div
                box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.48)
                background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%)
                border: none
                display: block
                width: 36px
                height: 36px
                border: 1px solid #73bbe5
                border-radius: 10px
                position: relative
                display: flex
                justify-content: center
                align-items: center
                margin: 4px 0 0
                img
                    width: 20px
                    height: 20px
                &::before
                    content: ''
                    display: block
                    position: absolute
                    z-index: -1
                    width: 100%
                    height: 38px
                    border-radius: 500px
                    filter: blur(41.15754699707031px)
                    background: radial-gradient(102.92% 371.47% at 50% 50%, #5daddc 0%, rgba(93, 173, 220, 0.6) 64.48%, rgba(93, 173, 220, 0) 100%)
                    opacity: 0.8
                    transition: all .3s
                    bottom: -8px
                    left: 0
    &__fix
        z-index: 1 
        position: relative

.unique
    padding: 160px 0 120px
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        text-align: center
        color: $content-main
    &__wrapper
        margin: 48px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 40px
    &__item
        position: relative
        border-radius: 32px
        background: linear-gradient(270deg, #07151a 0%, #07151a 57.53%, #172429 100%)
        height: 380px
        overflow: hidden
        z-index: 2
        padding: 24px
        transition: all .3s
        img
            position: absolute
            inset: 0
            display: block
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
            transition: all .3s
        &:hover
            box-shadow: 0 6px 24px 0 #73bbe5
            img
                transform: scale(1.1)
    &__info
        background: $white
        position: relative
        padding: 24px 24px 40px
        border-radius: 24px
    &__text
        font: 400 16px / 1.5 $font-family
        text-align: center
        color: $content-main
        span
            font-weight: 700
    &__num
        border: 5px solid #143652
        box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.48)
        background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%), url("path_to_image")
        border-radius: 10px
        width: 36px
        height: 36px
        display: flex
        justify-content: center
        align-items: center
        font: 500 22px / 1.5 $second-family
        text-align: center
        color: $white
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 50%)
    &__bg
        &_right
            content: ''
            width: 628px
            height: 371px
            // background: url('../img/school_con.png') center no-repeat
            background-size: cover
            position: absolute
            display: block
            top: -10px
            right: -350px
            z-index: -1
            opacity: 0.7
            transform: rotate(90deg)
            img
                width: 100%
                height: 100%
                min-height: 100%
                object-fit: contain
        &_left
            content: ''
            width: 628px
            height: 371px
            // background: url('../img/school_con.png') center no-repeat
            background-size: cover
            position: absolute
            display: block
            top: 50%
            left: -350px
            z-index: -1
            opacity: 0.7
            transform: rotate(-90deg) scale(-1)
            img
                width: 100%
                height: 100%
                min-height: 100%
                object-fit: contain

.code
    .container
        &__block
            background: url('../img/code_bg.jpg') top no-repeat
            background-size: cover
            position: relative
            z-index: 2
            &::before
                content: ''
                width: 750px
                height: 400px
                background: url('../img/nav_con.png') center no-repeat
                background-size: cover
                position: absolute
                display: block
                top: -100px
                left: -200px
                z-index: -1
                mix-blend-mode: color-dodge
                opacity: 0.8
                transform: rotate(-80deg)
                animation: opacityAnim 3s 0s infinite
    &__row
        display: grid
        grid-template-columns: 1fr 624px
        gap: 32px
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        color: $content-white
    &__subtitle
        margin: 0 0 16px
        font: 700 14px / 1.5 $font-family
        letter-spacing: 0.16em
        text-transform: uppercase
        color: #7ac7ff
    &__title
        max-width: 431px
        &_text
            font: 400 16px / 1.5 $font-family
            color: $content-white
            margin: 48px 0 0
            span
                font-weight: 700
    &__wrapper
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 32px
        &_item
            border-radius: 24px
            backdrop-filter: blur(16px)
            background: linear-gradient(234deg, rgba(192, 231, 255, 0.2) 0%, rgba(68, 162, 221, 0.2) 100%)
            padding: 32px
            box-shadow: 0px 0px 0px 1px hsla(0,0%,100%,.6)
        h3
            font: 500 32px / 1 $second-family
            text-transform: uppercase
            color: $content-white
        p
            font: 400 16px / 1.5 $font-family
            color: $content-white
            span
                font-weight: 700
        ul
            margin: 16px 0 0
            display: grid
            grid-template-columns: 100%
    &__for
        ul
            gap: 8px
        &_img
            border: 1px solid #73bbe5
            border-radius: 10px
            box-shadow: inset 0 0 7px 0 rgba(255, 255, 255, 0.48)
            background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%), url("path_to_image")
            width: 32px
            height: 32px
            display: flex
            justify-content: center
            align-items: center
        li
            display: grid
            grid-template-columns: 32px 1fr
            gap: 16px
            align-items: center
    &__list
        ul
            gap: 16px
        li
            display: grid
            grid-template-columns: 20px 1fr
            gap: 8px
            align-items: start
            &::before
                content: ''
                display: block
                width: 20px
                height: 20px
                background: url('../img/check_wht.svg') center no-repeat
                background-size: contain
    &__step
        height: 600px
        margin: 50px 0 0
        position: relative
        &_bg
            bottom: -100px
            height: 750px
            width: 100%
            left: 0
            position: absolute
            &::before
                content: ''
                display: block
                bottom: 0
                height: 100%
                width: 100%
                left: 0
                background: url('../img/code_ring.png') bottom no-repeat
                background-size: contain
                position: absolute
                mix-blend-mode: overlay
            img
                width: 57%
                display: block
                position: absolute
                bottom: 0
                left: 50%
                transform: translateX(-50%)
                animation: stepAnim 5s 0s infinite
        &_num
            font: 700 70px / 1.15 $font-family
            letter-spacing: -0.04em
            color: $white
            mix-blend-mode: overlay
            opacity: 0.25
            position: absolute
            z-index: -1
        &_step
            font: 500 14px / 1.5 $font-family
            color: #d1eefb
        &_name
            margin: 8px 0 0
            font: 500 32px / 1 $second-family
            text-transform: uppercase
            color: $content-white
        &_item
            position: absolute
            width: 100%
            max-width: 190px
            z-index: 1
            a
                display: block
                width: max-content
                margin: 24px 0 0
                font: 700 14px / 1.5 $font-family
                text-decoration: underline
                text-decoration-skip-ink: none
                color: $content-white
                transition: all .3s
                &:hover
                    color: #73bbe5
            &:nth-child(1)
                bottom: 0
                left: 60px
                .code__step_num
                    bottom: calc( 100% + 60px )
                    left: 35px
            &:nth-child(2)
                bottom: 350px
                left: 280px
                .code__step_num
                    bottom: calc( 100% + 19px )
                    left: calc( 100% + 50px )
            &:nth-child(3)
                bottom: 360px
                right: 280px
                .code__step_num
                    top: 140px
                    left: calc( 100% + 96px )
            &:nth-child(4)
                bottom: 0
                right: 0
                .code__step_num
                    top: calc( 100% + 17px )
                    left: 97px
    
.practic
    padding: 160px 0 0
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        color: $content-main
        text-align: center
    &__wrapper
        margin: 48px 0 0
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 40px
    &__name
        font: 500 32px / 1 $second-family
        text-transform: uppercase
        text-align: center
        color: $content-main
        transition: all .3s
    &__img
        position: relative
        border-radius: 20px
        overflow: hidden
        margin: 20px 0 0
        z-index: 1
        transition: all .3s
        img
            width: 100%
            height: 240px
            object-fit: cover   
            transition: all .3s
            z-index: -1
        p
            font: 600 14px / 1.5 $font-family
            color: $content-main
            padding: 5px 12px 6px
            border-radius: 32px
            background: #fafdff
            width: max-content
            position: absolute
            top: 16px
            right: 16px
            z-index: 2
    &__row
        margin: 20px 0 0
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        gap: 10px
    &__date
        display: grid
        grid-template-columns: 32px 1fr
        gap: 8px
        align-items: center
        &_img
            width: 32px
            height: 32px
            display: flex
            justify-content: center
            align-items: center
            border: 1px solid #73bbe5
            border-radius: 10px
            box-shadow: inset 0 0 7px 0 rgba(255, 255, 255, 0.48)
            background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%)
            img
                width: 20px
                height: 20px
                object-fit: contain
        p
            font: 400 18px / 1.5 $font-family
            color: $content-main
            white-space: nowrap
    &__price
        font: 600 22px / 1.5 $font-family
        color: $content-main
    &__link
        font: 700 16px / 1.5 $font-family
        text-decoration: underline
        text-decoration-skip-ink: none
        color: $content-main
        transition: all .3s
    &__more
        margin: 48px auto 0
    &__title
        display: grid
        grid-template-columns: 1fr auto
        gap: 34px
        align-items: center
        h2
            text-align: left
        &_text
            max-width: 344px
            display: grid
            grid-template-columns: 36px 1fr
            gap: 16px
            align-items: start
            span
                width: 36px
                height: 36px
                border: 1px solid #73bbe5
                border-radius: 10px
                box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.48)
                background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%)
                display: flex
                justify-content: center
                align-items: center
            img
                width: 20px
                height: 20px
                object-fit: contain
            p
                font: 500 18px / 1.5 $font-family
                color: $content-main
                &+p
                    margin: 8px 0 0
                    font: 400 16px / 1.3 $font-family
                    color: #93a0a6
    &__slider
        margin: 48px 0 0
        overflow: visible  
    &__bg
        &_right
            content: ''
            width: 628px
            height: 371px
            // background: url('../img/school_con.png') center no-repeat
            background-size: cover
            position: absolute
            display: block
            top: -10px
            right: -350px
            z-index: -1
            opacity: 0.7
            transform: rotate(90deg)
            img
                width: 100%
                height: 100%
                min-height: 100%
                object-fit: contain
        &_left
            content: ''
            width: 628px
            height: 371px
            // background: url('../img/school_con.png') center no-repeat
            background-size: cover
            position: absolute
            display: block
            top: 50%
            left: -350px
            z-index: -1
            opacity: 0.7
            transform: rotate(-90deg) scale(-1)
            img
                width: 100%
                height: 100%
                min-height: 100%
                object-fit: contain
    &__item
        border: 2px solid $white
        border-radius: 32px
        padding: 32px
        box-shadow: 0 6px 24px 0 rgba(175, 214, 237, 0.12)
        background: #fafcff
        transition: all .3s
        &:hover
            .practic
                &__link,
                &__name
                    color: #73bbe5
                &__img
                    img
                        transform: scale(1.1)

.consul
    padding: 160px 0 0
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        color: $content-main
    &__title
        display: grid
        grid-template-columns: 1fr 564px
        gap: 32px
        &_text
            display: grid
            grid-template-columns: 36px 1fr
            gap: 16px
            align-items: start
            p
                font: 400 18px / 1.5 $font-family
                color: $content-main
                span
                    font-weight: 700
        &_img
            width: 36px
            height: 36px
            display: flex
            justify-content: center
            align-items: center
            border: 1px solid #73bbe5
            border-radius: 10px
            box-shadow: inset 0 0 7px 0 rgba(255, 255, 255, 0.48)
            background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%), url("path_to_image")
            img
                width: 20px
                height: 20px
                object-fit: contain
    &__wrapper
        margin: 48px 0 0
        background-image: url('../img/consul_bg.jpg') 
        background-position: right 
        background-size: contain
        background-repeat: no-repeat
        border-radius: 32px 
        overflow: hidden
        display: grid
        grid-template-columns: 1fr 1fr
        h3
            font: 500 32px / 1 $second-family
            text-transform: uppercase
            color: $content-white
    &__block
        box-shadow: 0 6px 24px 0 rgba(175, 214, 237, 0.12)
        background: #fafcff
        padding: 48px 
        border-radius: 32px 
        position: relative
        h3
            color: $content-main
        &_wrapper
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 40px
            row-gap: 48px
            margin: 32px 0 0
        &_item
            display: grid
            grid-template-columns: 50px 1fr
            gap: 16px
            align-items: start
        &_img
            img
                width: 100%
                height: 50px
                border-radius: 8px
        &_text
            font: 400 16px / 1.45 $font-family
            color: $content-main
            span
                font-weight: 700
        &_arrow
            width: 40px
            height: 40px
            border-radius: 100%
            border: 4px solid $white
            display: flex
            justify-content: center
            align-items: center
            background: linear-gradient(270deg, #255d7d 0%, #0d3046 100%)
            position: absolute
            top: 50%
            right: 0
            transform: translate(50%, -50%)
            img
                transform: rotate(-90deg)
                width: 24px
                height: 24px
    &__need
        padding: 48px
        &_wrapper
            margin: 42px 0 0
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 32px
        &_item
            border-radius: 16px
            backdrop-filter: blur(10px)
            background: linear-gradient(136deg, rgba(122, 191, 234, 0.2) 0%, rgba(121, 184, 222, 0.2) 2.5%, rgba(18, 63, 91, 0.2) 100%)
            box-shadow: 0px 0px 0px 1px hsla(0,0%,100%,.6)
            position: relative
            padding: 24px
            p
                font: 500 16px / 1.45 $font-family
                color: $content-white
        &_check
            position: absolute
            top: 0
            left: 50%
            transform: translate(-50%, -50%)
            border: 1px solid #73bbe5
            border-radius: 100%
            width: 20px
            height: 20px
            box-shadow: inset 0 0 7px 0 rgba(255, 255, 255, 0.48)
            background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%)
            display: flex
            justify-content: center
            align-items: center
            img
                width: 15px
        &_text
            margin: 32px 0 0
            font: 400 14px / 1.5 $font-family
            color: $content-white
            span
                font-weight: 700
    &__help
        margin: 48px 0 0
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 32px
        align-items: center
        h3
            font: 500 48px / 1 $second-family
            text-transform: uppercase
            color: $content-main
            max-width: 508px
        &_wrapper
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 32px
        &_item
            max-width: 250px
            display: grid
            grid-template-columns: 56px 1fr
            gap: 16px
            a
                display: block
                width: max-content
                margin: 20px 0 0
                font: 700 16px / 1.5 $font-family
                text-decoration: underline
                text-decoration-skip-ink: none
                color: $content-main
                transition: all .3s
                &:hover
                    color: #69c5ec
        &_pers
            margin: 4px 0 0
            img
                width: 100%
                border-radius: 100%
                height: 56px
        &_name
            font: 600 20px / 1.5 $font-family
            color: $content-main
        &_text
            margin: 8px 0 0
            font: 500 14px / 1.4 $font-family
            color: $content-secondary
    &__bg_right
        content: ''
        width: 628px
        height: 371px
        // background: url('../img/school_con.png') center no-repeat
        background-size: cover
        position: absolute
        display: block
        bottom: -10px
        right: -350px
        z-index: -1
        opacity: 0.7
        transform: rotate(90deg)
        img
            width: 100%
            height: 100%
            min-height: 100%
            object-fit: contain
        
.expert
    padding: 160px 0 0
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        color: $content-main
    &__wrapper
        margin: 48px auto 0
        max-width: 960px
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 40px
    &__item
        position: relative
        padding: 320px 0 0
        z-index: 1
        ul
            margin: 16px 0 0
            display: grid
            grid-template-columns: 100%
            gap: 16px
            p
                font: 400 16px / 1.5 $font-family
                color: $content-main
                span
                    font-weight: 700
            li
                display: grid
                grid-template-columns: 6px 1fr
                gap: 15px
                &::before
                    content: ''
                    display: block
                    width: 6px
                    height: 6px
                    border-radius: 100%
                    background: $content-main
                    margin: 10px 0 0
    &__prev
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: -1
        border-radius: 32px 32px 0 0
        overflow: hidden
        img
            width: 100%
            height: 360px
            object-fit: cover
            object-position: top center
    &__info
        box-shadow: 0 6px 24px 0 rgba(175, 214, 237, 0.12)
        background: #fafcff
        border-radius: 32px
        padding: 48px 
    &__name
        display: grid
        grid-template-columns: 32px 1fr
        gap: 16px
        align-items: start
        span
            width: 32px
            height: 32px
            border: 1px solid #73bbe5
            border-radius: 10px
            box-shadow: inset 0 0 7px 0 rgba(255, 255, 255, 0.48)
            background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%), url("path_to_image")
            display: flex
            justify-content: center
            align-items: center
            img
                width: 24px
                height: 24px
                object-fit: contain 
        p
            font: 500 32px / 1 $second-family
            text-transform: uppercase
            color: $content-main
    &__row
        margin: 32px 0 0
        display: flex
        justify-content: space-between
        align-items: center
    &__link
        font: 600 14px / 1.5 $font-family
        text-decoration: underline
        text-decoration-skip-ink: none
        color: $content-main
        text-align: right
        transition: all .3s
        svg
            width: 16px
            height: 16px
            transform: translateY(3px)
            path
                transition: all .3s
        &:hover
            color: #73bbe5
            svg
                path
                    stroke: #73bbe5
    &__bg_left
        content: ''
        width: 628px
        height: 371px
        // background: url('../img/school_con.png') center no-repeat
        background-size: cover
        position: absolute
        display: block
        top: 50%
        left: -350px
        z-index: -1
        opacity: 0.7
        transform: rotate(-90deg) scale(-1)
        img
            width: 100%
            height: 100%
            min-height: 100%
            object-fit: contain

.comment
    padding: 160px 0 0
    position: relative
    // overflow: hidden
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        color: $content-main
        text-align: center
    &__subtitle
        display: grid
        grid-template-columns: 1fr 24px
        width: max-content
        margin: 16px auto 0
        font: 500 16px / 1.5 $font-family
        color: $content-secondary
        gap: 8px
        align-items: center
        &::after
            content: ''
            display: block
            width: 24px
            height: 24px
            background: url('../img/slide.svg') center no-repeat
            background-size: contain
    &__slider
        margin: 48px 0 0
        overflow: visible 
    &__slide
        width: 476px
        padding: 48px
        border: 2px solid $white
        border-radius: 32px
        box-shadow: 0 6px 24px 0 rgba(175, 214, 237, 0.12)
        background: #fafcff
    &__prev
        display: grid
        grid-template-columns: 56px 1fr
        gap: 16px
        align-items: center
        img
            border-radius: 100%
            width: 100%
            height: 56px
        p
            font: 600 20px / 1.5 $font-family
            color: $content-main
            &+p
                font: 500 14px / 1.5 $font-family
                color: $content-secondary
    &__text
        margin: 16px 0 0
        font: 400 16px / 1.5 $font-family
        color: $content-main
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 6
        line-clamp: 6
        -webkit-box-orient: vertical
    &__link
        display: block
        width: max-content
        margin: 32px 0 0
        font: 700 16px / 1.5 $font-family
        text-decoration: underline
        text-decoration-skip-ink: none
        color: $content-main
        transition: all .3s
        &:hover
            color: #69c5ec
    .comment-modal__close
        display: none 

.comment-modal
    padding: 30px 20px
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow-y: auto
    z-index: 10
    display: flex
    justify-content: flex-start
    align-items: center
    &__overflow
        z-index: -1
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: #000
        opacity: .5
    &__close
        position: absolute
        top: 20px
        right: 20px
        width: 20px
        height: 20px
        border-radius: 100%
        cursor: pointer
        display: block
        &::before
            content: ''
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) rotate(-45deg)
            width: 20px
            height: 1px
            background: $content-main
            transition: all .3s
        &::after
            content: ''
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) rotate(45deg)
            width: 20px
            height: 1px
            background: $content-main
            transition: all .3s
        &:hover
            &::before,
            &::after
                background: #69c5ec
    .comment
        &__slide
            margin: auto !important
            height: max-content
            width: 100%
            max-width: 1160px
        &__text
            -webkit-line-clamp: none
            line-clamp: none
            display: block
        &__link
            display: none

.article
    padding: 160px 0 0
    h2
        font: 500 80px / 1 $second-family
        text-transform: uppercase
        color: $content-main
        text-align: center
    &__prev
        position: relative
        overflow: hidden
        z-index: -1
        border-radius: 32px
        img
            width: 100%
            height: 1px
            min-height: 100%
            object-fit: cover
            transition: all .3s
    &__block
        padding: 48px
        border: 2px solid $white
        border-radius: 32px
        box-shadow: 0 6px 24px 0 rgba(175, 214, 237, 0.12)
        background: #fafcff
        transition: all .3s
    &__name
        display: grid
        grid-template-columns: 36px 1fr
        gap: 16px
        align-items: center
        transition: all .3s
        p
            font: 500 32px / 1 $second-family
            text-transform: uppercase
            color: $content-main
            transition: all .3s
        span
            width: 36px
            height: 36px
            border: 1px solid #73bbe5
            border-radius: 10px
            display: flex
            justify-content: center
            align-items: center
            box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.48)
            background: linear-gradient(311deg, #75c0eb 0%, #1e86c2 100%), url("path_to_image")
            img
                filter: invert(1)
    &__text
        font: 400 16px / 1.5 $font-family
        color: $content-main
        margin: 16px 0 0
    &__row
        margin: 16px 0 0
        display: flex
        justify-content: space-between
        align-items: center
    &__link
        font: 700 16px / 1.5 $font-family
        text-decoration: underline
        text-decoration-skip-ink: none
        color: $content-main
        transition: all .3s
    &__autor
        display: grid
        grid-template-columns: 40px 1fr
        gap: 12px
        width: max-content
        img
            width: 40px
            height: 40px
            border-radius: 100%
        p
            font: 500 12px / 1.5 $font-family
            color: $content-secondary
            &+p
                font: 600 14px / 1.5 $font-family
                color: $content-main
    &__more
        margin: 48px auto 0
    &__bg_left
        content: ''
        width: 628px
        height: 371px
        // background: url('../img/school_con.png') center no-repeat
        background-size: cover
        position: absolute
        display: block
        bottom: 50px
        left: -350px
        z-index: -1
        opacity: 0.7
        transform: rotate(-90deg) scale(-1)
        img
            width: 100%
            height: 100%
            min-height: 100%
            object-fit: contain
    &__item
        margin: 48px 0 0
        display: grid
        &_right
            grid-template-columns: 1fr calc( 50% + 40px )
            .article__prev
                margin: 0 -40px 0 0
        &_left
            grid-template-columns: calc( 50% + 40px ) 1fr
            .article__prev
                margin: 0 0 0 -40px
        &:hover
            .article
                &__link
                    color: #69c5ec
                &__name
                    p
                        color: #69c5ec
                &__prev
                    img
                        transform: scale(1.1)

.footer
    padding: 160px 0 24px
    .container
        display: flex
        justify-content: space-between
        align-items: start
        &__block
            padding: 60px 0 54px
            background: url('../img/footer_bg.jpg') center no-repeat
            background-size: cover
            z-index: 1
    &__logo
        max-width: 260px
        display: flex
        flex-direction: column
        img
            width: 100%
            margin: 0 0 32px
        p
            margin: auto 0 0
            font: 400 14px / 1.3 $font-family
            color: #d1eefb
    &__list
        display: grid
        grid-template-columns: auto auto
        gap: 120px
        row-gap: 16px
        a
            font: 500 16px / 1.5 $font-family
            color: $content-white
            transition: all .3s
            &:hover
                color: #69c5ec
    &__func
        display: flex
        flex-direction: column
        align-items: flex-end
        height: 100%
    &__link
        display: grid
        grid-template-columns: 100%
        gap: 6px
        a
            font: 500 16px / 1.5 $font-family
            color: $content-white
            display: grid
            grid-template-columns: 16px 1fr
            gap: 8px
            align-items: center
            transition: all .3s
            &:hover
                color: #69c5ec
    &__soc
        display: grid
        grid-template-columns: 48px 48px 48px
        gap: 16px
        margin: 29px 0 auto
        a
            width: 48px
            height: 48px
            border-radius: 10px
            display: flex
            justify-content: center
            align-items: center
            backdrop-filter: blur(50px)
            background: rgba(192, 231, 255, 0.2)
            transition: all .3s
            svg
                width: 24px
                height: 24px
                transition: all .3s
                path
                    transition: all .3s
            &:hover
                background: $white
                svg
                    transform: scale(1.2)
                    path
                        fill-opacity: 1
    &__policy
        margin: 56px 0 0
        font: 400 14px / 1.3 $font-family
        text-decoration: underline
        text-decoration-skip-ink: none
        color: #d1eefb
        transition: all .3s
        &:hover
            color: #69c5ec
    &__desc
        display: none

@media ( max-width: 1200px )
    .header
        .container
            grid-template-columns: 100%
        &__info
            max-width: 600px
        &__wrapper
            grid-template-columns: 1fr 1fr 1fr
            padding: 0 0 42px 0
            &_text
                transform: none
                bottom: 0
                left: 0
                width: 100%
                top: auto
        &__item
            grid-column: auto !important
    .code
        &__row
            grid-template-columns: 100%
        &__step
            height: auto
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr
            gap: 32px
            &_item
                position: relative !important
                inset: auto !important
                padding: 0 24px 0 0
                border-right: 1px solid $white
                width: 100%
                max-width: 100%
                &:nth-child(4)
                    padding: 0
                    border: none
            &_bg
                display: none
            &_num
                display: none
        &__title
            max-width: 100%
    .practic
        &__item
            padding: 32px 12px
    .consul
        &__block
            padding: 32px
            &_wrapper
                gap: 24px
        &__need
            padding: 32px
        &__help
            align-items: start
            &_wrapper
                grid-template-columns: 100%
            &_item
                max-width: 100%
        &__title
            grid-template-columns: 100%
    .footer
        &__list
            gap: 80px
            row-gap: 16px

@media ( max-width: 1024px )
    .nav
        transition: opacity .3s
        &__list
            display: none
        &.container
            &__block
                max-height: 100%
                transition: all .3s
        &__hum
            display: flex
            justify-content: center
            flex-direction: column
            width: 30px
            height: 20px
            margin: 0 0 0 auto
            cursor: pointer
            position: relative
            span,
            &::before,
            &::after
                content: ''
                display: block
                width: 100%
                height: 1px
                position: relative
                transition: all .3s
                background: #fff
            &::before
                position: absolute
                top: 0
            &::after
                position: absolute
                top: 100%
        &.active
            opacity: 1
            position: fixed
            top: 0
            left: 0
            width: 100vw
            height: 100vh
            background: $background
            z-index: 10
            .container
                flex-wrap: wrap
                &__block
                    height: calc( 100vh - 32px )
                    background: url('../img/consul_bg.jpg') center no-repeat
                    background-size: cover
                    &::before
                        transform: rotate(-120deg)
                        top: auto
                        bottom: -100px
                    &::after
                        transform: rotate(80deg)
            .nav
                &__hum
                    span
                        opacity: 0
                    &::before,
                    &::after
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%) rotate(45deg)
                    &::after
                        transform: translate(-50%, -50%) rotate(-45deg)
                &__list
                    display: flex
                    flex-direction: column
                    width: 100%
                    order: 2
                    margin: 30px 0 0
                    gap: 20px
                    align-items: flex-start
    .container
        &__block
            padding: 30px 0
    .header
        .container
            &__block
                background: url('../img/consul_bg.jpg') center no-repeat
                background-size: cover
        &__info
            display: flex
            flex-direction: column
        h1
            font-size: 50px
            margin: 12px 0 0
        &__banner
            order: -1
            width: 100%
            right: auto
            top: auto
            position: relative
        &__logo
            position: relative
            inset: auto
            margin: 15px 0 0
        &__row
            grid-template-columns: 100%
        &__item
            padding: 24px
            min-height: 180px
        &__banner
            img
                max-width: 350px
    .can
        h2
            font-size: 36px
        h3
            font-size: 28px
        .container
            &__block
                height: 300px
        &__bg
            img
                filter: brightness(110%)
            &_right
                right: -5%
            &_left
                left: -5%
        &__text
            font-size: 13px
        &__wrapper
            margin: 50px 0 0
            grid-template-columns: 1fr 1fr
            gap: 24px
    .school-desc
        padding: 100px 0 
        h2
            font-size: 36px
        p
            margin: 20px 0 0
    .unique
        padding: 100px 0
        h2
            font-size: 36px
        &__wrapper
            grid-template-columns: 100%
            gap: 24px
            max-width: 380px
            margin: 20px auto 0
    .code
        h2
            font-size: 36px
        &__step
            grid-template-columns: 1fr 1fr
            &_item
                &:nth-child(2)
                    border: none
        &__title
            &_text
                margin: 15px 0 0
    .practic
        padding: 100px 0 0
        h2
            font-size: 36px
        &__wrapper
            grid-template-columns: 1fr 1fr
            margin: 20px 0 0
    .consul
        padding: 100px 0 0
        h2
            font-size: 36px
        &__wrapper
            margin: 20px 0 0
            grid-template-columns: 100%
            background-position: bottom
            background-size: cover
        &__block
            &_arrow
                bottom: 0
                left: 50%
                transform: translate(-50%, 50%) rotate(90deg)
                top: auto
        &__help
            margin: 20px 0 0
            grid-template-columns: 100%
            h3
                max-width: 100%
    .expert
        padding: 80px 0 0
        h2
            font-size: 36px
        &__wrapper
            margin: 20px 0 0
            max-width: 100%
            gap: 20px
        &__info
            padding: 20px
        &__row
            flex-direction: column
            gap: 10px
            align-items: flex-start
        &__link
            text-align: left
        &__item
            padding: 250px 0 0
    .comment
        padding: 80px 0 0
        h2
            font-size: 36px
        &__slider
            margin: 20px 0 0
        &__slide
            padding: 20px 
            max-width: 400px
    .article
        padding: 80px 0 0
        h2
            font-size: 36px
        &__item
            margin: 20px 0 0
        &__block
            padding: 20px
    .practic
        &__title
            grid-template-columns: 100%
            gap: 20px
    .footer
        padding: 80px 0 24px
        .container
            flex-direction: column
            gap: 20px
        &__logo
            p
                display: none
            img
                margin: 0
        &__list
            grid-template-columns: 1fr 1fr
            max-width: 100%
            width: 100%
            gap: 20px
        &__func
            align-items: flex-start
        &__soc
            margin: 20px 0 0
        &__policy
            margin: 20px 0 0
        &__desc
            display: block
            font: 400 14px / 1.3 $font-family
            color: #d1eefb
            margin: 20px 0 0
        
@media ( max-width: 768px )
    .header
        &__wrapper
            grid-template-columns: 100%
        h1
            font-size: 40px
        &__banner
            img
                max-width: 200px
    .school-desc
        padding: 60px 0
        h2
            font-size: 28px
    .can
        &__bg
            img
                filter: brightness(50%)
        .container
            &__block
                height: 300px
                h3
                    color: $white
        &__subtitle
            margin: 0 0 15px
            color: $white
        &__text
            color: $white
        &__wrapper
            grid-template-columns: 100%
        &__btn
            max-width: 100%
        &__info
            &_text
                margin: 20px 0 0
    .code
        &__wrapper
            grid-template-columns: 100%
        &__step
            grid-template-columns: 100%
            &_item
                border: none !important
                border-bottom: 1px solid #fff !important
                padding: 0 0 12px
                &:nth-child(4)
                    border: none !important
    .practic
        &__wrapper
            grid-template-columns: 100%
            gap: 20px
    .consul
        &__block,
        &__need
            padding: 20px
            h3
                font-size: 24px
        &__need
            &_wrapper
                grid-template-columns: 100%
                gap: 20px
        &__help
            h3
                font-size: 24px
    .expert
        &__wrapper
            grid-template-columns: 100%
    .comment
        &__slide
            max-width: calc( 100vw - 60px )
    .article
        &__item
            grid-template-columns: 100%
        &__prev
            order: -1
            height: 200px
            margin: 0 0 -30px !important
        &__name
            p
                font-size: 24px

@media ( max-width: 600px )
    .footer
        &__list
            grid-template-columns: 100%
    .consul
        padding: 60px 0 0
        &__block
            &_wrapper
                grid-template-columns: 100%
                margin: 10px 0 0
    .header
        &__item
            min-height: auto
            gap: 15px
        &__wrapper
            &_text
                display: none
        h1
            font-size: 25px
        &__row
            margin: 25px 0 0
        &__logo
            font-size: 16px
    .nav
        &__logo
            max-width: 150px
    .container
        padding: 0 10px
        &__block
            width: calc( 100% - 20px )
    .can
        h2
            padding: 0 10px
            text-align: left
        &__bg
            &_left
                width: 45%
            &_right
                width: 45%
    .unique
        padding: 60px 0
        h2
            text-align: left
    .practic
        padding: 60px 0 0
        h2
            text-align: left
    .expert
        padding: 60px 0 0
    .comment
        padding: 60px 0 0
        h2
            text-align: left
        p
            text-align: left
        &__subtitle
            width: 100%
            max-width: max-content
            margin-left: 0
        &__prev
            grid-template-columns: 100%
            img
                width: 56px
    .article
        padding: 60px 0 0
        h2
            text-align: left
    .school-desc
        h2,
        p
            text-align: left